<!-- panel - quote overlay -->
<div class="container-fluid bg-overlay">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label m-b-20">Canvas panel headline here</h5>
		<blockquote>
					<p>
						This is a blockquote breakout, ipsum dolor sit amet. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit.
					</p>
					<cite>— Blockquote cite, CEO, <a href="javascript:void(0);" title="Title herehere">Link here</a></cite>
				</blockquote>
		</div>
		</div>
	</div>
