<!-- panel - canvas-image-overlay -->
<div class="container-fluid canvas-base fullbleed horizontal-08-vertical-03" style="background: none; overflow: visible;">
	<div class="container-fluid">
	<div class="container canvas-content">
		<div class="col-md-12">
            <video id="splash-video" class="video-js" muted>
<!--
  <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
  <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm">
-->
            </video>

	</div>
	</div>
</div>
</div>
