<!-- panel - canvas-intro -->
<div id="chicago-intro" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h1 class="display">Our home is as big as your dreams</h1>
			<p class="body intro">At Loyola, a world-class city serves as your extended campus. Chicago is second to none in offering the job opportunities, internships and cultural experiences that bring the classroom into the real world. And did we mention how much fun you'll have in the process?<a class="cta"> Read more</a></p>
		</div>
	</div>
</div>
