<!-- panel - canvas-image-overlay-partial -->
<div id="chicago-story" class="container-fluid canvas-base fullbleed">
	<div class="partial-overlay">
		<div class="container">
			<div class="bg-overlay col-lg-4 col-sm-6">
				<div class="canvas-content">
					<h5 class="label display-large reverse">Loyola’s in the News</h5>
					<p class="body">Broadcast major Blake Keller didn’t wait for graduation to start making his mark on the Chicago media landscape.</p>
				</div>
				<div>
					<a href="https://www.youtube.com/watch?v=iLm_rhDcgpw"><button type="submit" class="btn-overlay cta">Read More</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
