<!-- panel - canvas-4-col-numbers -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label m-b-20">Quick facts</h5>
		<div class="number col-sm-3 table-content">
			<h1 class="display number first-number">240+</h1>
			<p class="body small">Places to eat Pho in the Chicagoland area<a class="cta" href="http://luc.edu/about/chicago.shtml"> Read more</a></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-3 table-content">
			<div class="vertical-rule-right"></div>
			<h1 class="display number">70</h1>
			<p class="body small">World-famous museums<a class="cta" href="http://luc.edu/about/chicago.shtml"> Read more</a></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-3 table-content">
		<div class="vertical-rule-right"></div>
			<h1 class="display number">7</h1>
			<p class="body small">Major sports teams<a class="cta" href="http://luc.edu/about/chicago.shtml"> Read more</a></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-3 table-content">
		<div class="vertical-rule-right"></div>
			<h1 class="display number">5,800</h1>
			<p class="body small">Bike-sharing Divvy bikes<a class="cta" href="http://luc.edu/about/chicago.shtml"> Read more</a></p>
		</div>
	</div>
</div>
