<!-- panel - canvas-3-col-imgs -->
<div id="chicago-voices" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label display-large">Why is Chicago so special?</h5>
		</div>
		<div class="col-md-4 table-content">
			<img src="images/chicago/students-w-quotes/chicago-coale.jpg">
			<h5 class="label">Rianne E. Coale</h5>
      <!-- <h5 class="light m-t-0">Jesuit Refugee Service (JRS)</h5> -->
			<p class="body">“Outside the Tribune Tower, you can see the Magnificent Mile on either side of you. It makes me feel like I’m right at home.”</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="images/chicago/students-w-quotes/chicago-ramos.jpg"/>
			<h5 class="label">Salina Ramos</h5>
			<p class="body">“Summertime in Chicago is unlike anywhere else. The weather, the festivals, the food—I have enjoyed it all.”</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="images/chicago/students-w-quotes/chicago-phelps.jpg"/>
			<h5 class="label">Kailee Phelps</h5>
			<p class="body">“Seeing the water, grass, and artwork is a great way to blend the bustling city with nature and a small-town community feel.”</p>
			<div class="vertical-rule-left"></div>
		</div>
	</div>
</div>
