<!-- panel - canvas-2-col-imgs -->
<div class="container-fluid canvas-base grid">
	<div class="col-xs-12">
		<div class="col-xs-3"><img src="images/chicago/grid/1000x560-biker.jpg"></div>
		<div class="col-xs-3"><img src="images/chicago/grid/1000x560-bot.jpg"></div>
		<div class="col-xs-3"><img src="images/chicago/grid/1000x560-beach.jpg"></div>
		<div class="col-xs-3"><img src="images/chicago/grid/1000x560-hotdog.jpg"></div>

		<div class="col-xs-3"><img src="images/chicago/grid/1000x560-downtown.jpg"></div>
		<div class="col-xs-3"><img src="images/chicago/grid/1000x560-lake.jpg"></div>
		<div class="col-xs-3"><img src="images/chicago/grid/1000x560-skating.jpg"></div>
		<div class="col-xs-3"><img src="images/chicago/grid/1000x560-skyline.jpg"></div>

		<div class="col-xs-3"><img src="images/chicago/grid/1000x560-ramen.jpg"></div>
		<div class="col-xs-3"><img src="images/chicago/grid/1000x560-stoop.jpg"></div>
		<div class="col-xs-3"><img src="images/chicago/grid/1000x560-theater.jpg"></div>
		<div class="col-xs-3"><img src="images/chicago/grid/1000x560-baseball.jpg"></div>
	</div>
</div>
