<!-- panel - canvas-3-col-imgs -->
<div id="chicago-voices" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label display-large">Canvas panel headline here</h5>
		</div>
		<div class="col-md-4 table-content">
			<img src="http://placehold.it/1000x560"/>
			<h5 class="label">Jacquelyn Pavilon, BA '12</h5>
      <!-- <h5 class="light m-t-0">Jesuit Refugee Service (JRS)</h5> -->
			<p class="body">"I always wanted to work in international human rights but I didn’t know particularly what I’d do. When I studied abroad and did that internship, I knew I wanted to work specifically with refugees."</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="http://placehold.it/1000x560"/>
			<h5 class="label">Hedgeline is here.</h5>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="http://placehold.it/1000x560"/>
			<h5 class="label">Hedgeline is here.</h5>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a></p>
			<div class="vertical-rule-left"></div>
		</div>
	</div>
</div>
