<!-- panel - canvas-4-col-numbers -->
<div id="chicago-numbers-fun" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label display-large">Quick facts</h5>
		<div class="number col-sm-3 table-content">
			<h1 class="display number first-number">240+</h1>
			<p class="body small">Places to get Pho in the Chicagoland area</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-3 table-content">
		<div class="vertical-rule-right"></div>
			<h1 class="display number">5,800</h1>
			<p class="body small">Bike-sharing Divvy bikes</p>
		</div>
		<div class="number col-sm-3 table-content">
			<div class="vertical-rule-right"></div>
			<h1 class="display number">70</h1>
			<p class="body small">World-famous museums</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-3 table-content">
		<div class="vertical-rule-right"></div>
			<h1 class="display number">7</h1>
			<p class="body small">Major sports teams</p>
			<div class="vertical-rule-left"></div>
		</div>
	</div>
</div>
