<!-- panel - canvas-image-overlay-partial -->
<div id="chicago-story" class="container-fluid canvas-base fullbleed">
	<div class="partial-overlay">
		<div class="container">
			<div class="bg-overlay col-lg-4 col-sm-6">
				<div class="canvas-content">
					<h5 class="label display-large reverse">Hedgeline is here.</h5>
					<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a></p>
				</div>
				<div><a href="###"><button type="submit" class="btn-overlay cta">Button label here</button></a></div>
			</div>
		</div>
	</div>
</div>
