<!-- panel - canvas-2-col-accordion -->
<div id="" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label display-large m-b-20">Canvas panel headline here</h5>
			<p class="body">Our Centers of Excellence combine academics with action to address some of society’s largest challenges.</p>
		</div>
				<div class="card-hover">
					<img class="image" src="/images/ihm/grid-photos_0002_Daniel_McGowan.jpg"/>
					<div class="overlay">
    				<div class="text">
							“(My internship) taught me the role that social workers and government agencies play in helping immigrants in their new country—and it encouraged me to one day pursue a career in public service.”
						</br><span class="antenna"><a hef="#">–Aqela Rahman</a></span>
					</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="/images/ihm/grid-photos_0001_Cristina_Rodriguez.jpg"/>
					<div class="overlay">
    				<div class="text">Hello World</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="/images/ihm/grid-photos_0005_Father_Jim_Prehn.jpg"/>
					<div class="overlay">
    				<div class="text">Hello World</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="/images/ihm/grid-photos_0003_Candace_Musick.jpg"/>
					<div class="overlay">
    				<div class="text">Hello World</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="/images/ihm/grid-photos_0007_Hector_Garcia_Chavez.jpg"/>
					<div class="overlay">
    				<div class="text">Hello World</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="/images/ihm/grid-photos_0000_Clarisse_Mendoza.jpg"/>
					<div class="overlay">
    				<div class="text">Hello World</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="/images/ihm/grid-photos_0008_Theresa_Dear.jpg"/>
					<div class="overlay">
    				<div class="text">Hello World</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="/images/ihm/grid-photos_0004_ Sister_Norma_Pimentel.jpg"/>
					<div class="overlay">
    				<div class="text">Hello World</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="/images/ihm/grid-photos_0006_Andrew Trotter.jpg"/>
					<div class="overlay">
    				<div class="text">Hello World</div>
  				</div>
				</div>
			</div>
		</div>
