<!-- panel - canvas-intro -->
<div id="ihm-intro" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h1 class="display">Ingnatian Heritage Month</h1>
			<p class="body intro">St. Ignatius of Loyola encouraged his followers to seek God in all things, to serve those in need, and to become people for others. His mission can be seen in everything we do at Loyola—and it’s this living legacy that we celebrate throughout Ignatian Heritage Month. Watch the video at right to learn more about the month and see what Loyolans are doing every day to live out St. Ignatius’s mission to serve others. </p>
		</div>


		<div id="ihm-calendar" class="container-fluid canvas-base">
			<div class="container canvas-content">
				<div class="col-md-6 table-content width-100 m-t-20">
					<h2> Calendar of events</h2>
					<p class="body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>

					<div class="panel-group accord-blk" id="accordion">
						<div class="panel">
							<div class="panel-heading">
								<h3 class="standalone">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Week 1 <span class="light">November 1–5</span><i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
								</h3>
							</div>
							<div id="collapseOne" class="panel-collapse collapse">
								<div class="panel-body">
									<h6 class="category bold">Inauguration Food Drive </h6>
									<p class="explainer"> Lakeside Campuses • Through Nov. 3 </br> Sciences Campus • Through Nov. 16 </p>
									<p class="body small"> In recognition of the presidential inauguration and the focus of building a more just, humane, and sustainable world, Loyola is sponsoring a University-wide food drive to support local food pantries.</p>

									<h6 class="category bold">Ignatian Heritage Month Social Media Photo Contest </h6>
									<p class="explainer">All month</p>
									<p class="body small">For this year’s contest, show us how you’re creating a more just, humane, and sustainable world in your everyday life. The top photos will be featured on Loyola’s social media accounts—plus the winner will receive Loyola swag. </p>

									<h6 class="category bold">Java with a Jesuit</h6>
									<p class="explainer">Mondays-Wednesdays, and Fridays throughout November • 6:30–8:30 a.m. • Starbucks (State St. and Pearson St.)</p>
									<p class="body small">Come share a coffee and stimulating conversations with the School of Social Work chaplain, Jerry Overbeck, S.J. <a href="#" class="cta">LEARN MORE</a> </p>

									<h6 class="category bold">LUMA Gallery Talk: ‘Power and Piety Spanish Colonial Art’</h6>
									<p class="explainer">November 1 • 6 p.m. • LUMA (820 N. Michigan Avenue)</p>
									<p class="body small"> D. Scott Hendrickson, S.J., assistant professor of Spanish and graduate program director, will discuss how the art on display in the exhibition Power and Piety: Spanish Colonial Art functioned in the social and historical context in which it was produced. <a href="#" class="cta">LEARN MORE</a> </p>

									<h6 class="category bold">‘A Luminous Absence: Poetry and the Need for God’s Absence’</h6>
									<p class="explainer">November 3 • 3:30–5:30 p.m.  •  Palm Court • 4th Floor, Mundelein Center</p>
									<p class="body small">Irish poet and novelist John Deane will give a lecture focusing on the poetry of Irish poet Seamus Heaney and other notable writers, while exploring the poetry of faith. <a href="#" class="cta">LEARN MORE</a> </p>

								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h3 class="standalone">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Week 2 <span class="light">November 6–12</span><i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
								</h3>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="panel-body">
									<h6 class="category bold">Ignatian Heritage Month Social Media Photo Contest </h6>
									<p class="explainer">All month</p>
									<p class="body small">For this year’s contest, show us how you’re creating a more just, humane, and sustainable world in your everyday life. The top photos will be featured on Loyola’s social media accounts—plus the winner will receive Loyola swag. </p>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h3 class="standalone">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Week 3 <span class="light">November 13–19</span><i class="indicator glyphicon glyphicon-chevron-right pull-right"></i></a>
								</h>
							</div>
							<div id="collapseThree" class="panel-collapse collapse">
								<div class="panel-body">
									<p class="body small">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
								</div>
							</div>
						</div>
					</div>
					<!-- accordion close -->
					<div class="vertical-rule-left"></div>
				</div>

				@@include('canvas-divider-mobile.html')<!-- divider -->

				<div class="col-md-6 table-content m-t-20">
					<div class="vertical-rule-right"></div>
						<img src="http://placehold.it/1000x560"/>
						<p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.</p>
				</div>
			</div>
		</div>

	</div>
</div>
