<!-- panel - canvas-intro -->
<div id="ihm-intro" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label" style="font-family: Antenna Light;">Ignatian Heritage Month</h1>
			<h1 class="display">Seek God in all things</h1>
			<p class="body intro">St. Ignatius of Loyola encouraged his followers to seek God in all things, to serve those in need, and to become people for others. His mission can be seen in everything we do at Loyola—and it’s this living legacy that we celebrate throughout Ignatian Heritage Month. Watch the video at right to learn more about the month and see what Loyolans are doing every day to live out St. Ignatius’s mission to serve others. </p>
		</div>


		<div id="ihm-calendar" class="container-fluid canvas-base">
			<div class="container canvas-content">
				<div class="col-md-12 table-content width-100 m-t-20">
					<h2>Calendar of events</h2>

					<div class="panel-group accord-blk" id="accordion">

						<div class="panel">
							<div class="panel-heading">
								<h3 class="standalone">
									<a class="accordion-toggle collapsed uppercase" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Week 1 <span class="light inline">November 1–5</span><i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
								</h3>
							</div>
							<div id="collapseOne" class="panel-collapse collapse">
								<div class="panel-body">
									<h6 class="category bold m-b-10 m-t-0" style="line-height: 1.65;">
										Inauguration Food Drive
										<span class="explainer light m-l-05">
											— Lakeside Campuses through Nov. 3 • Sciences Campus through Nov. 16
										</span>
									</h6>
									<p class="body p-b-20 rule-bottom">
										In recognition of the presidential inauguration and the focus of building a more just, humane, and sustainable world, Loyola is sponsoring a University-wide food drive to support local food pantries.
									</p>

									<h6 class="category bold m-b-10" style="line-height: 1.65;">
										Ignatian Heritage Month Social Media Photo Contest
										<span class="explainer light m-l-05">
											— All month
										</span>
									</h6>
									<p class="body p-b-20">
										For this year’s contest, show us how you’re creating a more just, humane, and sustainable world in your everyday life. The top photos will be featured on Loyola’s social media accounts—plus the winner will receive Loyola swag.
									</p>
								</div>
							</div>
						</div>

						<div class="panel">
							<div class="panel-heading">
								<h3 class="standalone">
									<a class="accordion-toggle collapsed uppercase" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Week 2 <span class="light">November 6–12</span><i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
								</h3>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="panel-body">
									<h6 class="category bold m-b-10 m-t-0" style="line-height: 1.65;">
										Inauguration Food Drive
										<span class="explainer light m-l-05">
											— Lakeside Campuses through Nov. 3 • Sciences Campus through Nov. 16
										</span>
									</h6>
									<p class="body p-b-20 rule-bottom">
										In recognition of the presidential inauguration and the focus of building a more just, humane, and sustainable world, Loyola is sponsoring a University-wide food drive to support local food pantries.
									</p>

									<h6 class="category bold m-b-10" style="line-height: 1.65;">
										Ignatian Heritage Month Social Media Photo Contest
										<span class="explainer light m-l-05">
											— All month
										</span>
									</h6>
									<p class="body p-b-20">
										For this year’s contest, show us how you’re creating a more just, humane, and sustainable world in your everyday life. The top photos will be featured on Loyola’s social media accounts—plus the winner will receive Loyola swag.
									</p>
								</div>
							</div>
						</div>

						<div class="panel">
							<div class="panel-heading">
								<h3 class="standalone">
									<a class="accordion-toggle collapsed uppercase" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Week 3 <span class="light">November 13–19</span><i class="indicator glyphicon glyphicon-chevron-right pull-right"></i></a>
								</h>
							</div>
							<div id="collapseThree" class="panel-collapse collapse">
								<div class="panel-body">
									<h6 class="category bold m-b-10 m-t-0" style="line-height: 1.65;">
										Inauguration Food Drive
										<span class="explainer light m-l-05">
											— Lakeside Campuses through Nov. 3 • Sciences Campus through Nov. 16
										</span>
									</h6>
									<p class="body p-b-20 rule-bottom">
										In recognition of the presidential inauguration and the focus of building a more just, humane, and sustainable world, Loyola is sponsoring a University-wide food drive to support local food pantries.
									</p>

									<h6 class="category bold m-b-10" style="line-height: 1.65;">
										Ignatian Heritage Month Social Media Photo Contest
										<span class="explainer light m-l-05">
											— All month
										</span>
									</h6>
									<p class="body p-b-20">
										For this year’s contest, show us how you’re creating a more just, humane, and sustainable world in your everyday life. The top photos will be featured on Loyola’s social media accounts—plus the winner will receive Loyola swag.
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- accordion close -->
				</div>
		</div>
	</div>
</div>
