<!-- panel - canvas-image-overlay-partial -->
<div id="ihm-jesuit-quiz" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<h5 class="label display-large m-b-10">How Jesuit are you?</h5>
		<p class="body intro-medium">Test your knowledge of the Society of Jesus, Loyola history, Jesuit terms and education.</p>
		<div id="quiz">
			<h1 id="quiz-name"></h1>
				<button id="submit-button">Submit Answers</button>
				<button id="next-question-button">Next Question</button>
				<button id="prev-question-button">Previous</button>
				<div id="quiz-results">
					<p id="quiz-results-message"></p>
					<p id="quiz-results-score"></p>
				</div>
		</div>
	</div>
</div>
