<!-- panel - canvas-2-col-accordion -->
<div id="martyrs" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12 table-content">
			<h5 class="label display-large">A closer look at the Martyrs Memorial</h5>
			<p class="body intro">To honor the eight Salvadoran martyrs, Loyola built a memorial on campus in 2010. The structure, which curves along the sidewalk on the northwest side of Madonna della Strada Chapel, contains the names of each of the victims. These are the stories behind those names.</p>
              <div id="content-tabs">
    					<ul id="tabs img" class="nav nav-pills" data-tabs="tabs">
        				<li class="category"><a href="#highlight-1" data-toggle="tab"><span></span><img src="images/ihm/martyrs-desat-01-270-300-ignaci-martin-boro.jpg"></a></li>
        				<li class="category"><a href="#highlight-2" data-toggle="tab"><span></span><img src="images/ihm/martyrs-desat-02-270-300-amando-lopez-quitana.jpg"></a></li>
        				<li class="category"><a href="#highlight-3" data-toggle="tab"><span></span><img src="images/ihm/martyrs-desat-03-270-300-ignacio-ellacura.jpg"></a></li>
								<li class="category"><a href="#highlight-4" data-toggle="tab"><span></span><img src="images/ihm/martyrs-desat-04-270-300-montas-mozo.jpg"></a></li>
        				<li class="category"><a href="#highlight-5" data-toggle="tab"><span></span><img src="images/ihm/martyrs-desat-05-270-300-moreno.jpg"></a></li>
        				<li class="category"><a href="#highlight-6" data-toggle="tab"><span></span><img src="images/ihm/martyrs-desat-06-270-300-lopez-y-lopez.jpg"></a></li>
								<li class="category"><a href="#highlight-7" data-toggle="tab"><span></span><img src="images/ihm/martyrs-desat-08-270-300-celina-elba-ramos.jpg"></a></li>
    					</ul>
							<div id="my-tab-content" class="tab-content">
							<div class="tab-pane fade active in" id="highlight-1">
								<div class="col-md-3 p-r-0 back"><img src="images/ihm/martyrs-desat-01-270-300-ignaci-martin-boro.jpg"> </div>
								<div class="col-md-8 p-l-0">
                      <h3 class="standalone">IGNACIO MARTÍN-BARÓ, S.J. </h3>
								     <p><span class="explainer light maroon m-l-05">Born: November 7, 1942, in Spain</span> A social psychologist and philosopher, Martín-Baró was a preeminent figure in the intellectual community. He studied theology in Europe and taught briefly at the University of Central America (UCA) before getting his doctorate in psychology from the University of Chicago.   •   After receiving his doctorate, Martín-Baró returned to UCA. In 1981 he assumed the position of academic vice-rector and was also the head of the Psychology Department, where he taught about the psychology of liberation. Called "Padre Nacho" by his rural congregation, Martín-Baró founded UCA's Institute of Public Opinion, which measured popular opinion about the civil war.   •   The night before his assassination, Martín-Baró spoke on the phone with his sister, who asked him if the war would end soon. His response? "A lot more people will have to die yet. A lot more people will have to die."</p>
							 </div>
							 <div class="wall">
								<img src="images/ihm/martyrs-wall-active-1.png">
								</div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-2">
								<div class="col-md-3 p-r-0 back"><img src="images/ihm/martyrs-desat-02-270-300-amando-lopez-quitana.jpg"> </div>
								<div class="col-md-8 p-l-0">
                      <h3 class="standalone">AMANDO LÓPEZ QUINTANA, S.J.</h3>
								     	<p><span class="explainer light maroon m-l-05">Born: February 6, 1939, in Spain</span> López was a natural communicator with a passion for helping others. He entered the Society of Jesus in 1952 and would go on to study philosophy and classical humanities—and ultimately earn a doctorate in theology in France.   •   López returned to El Salvador to teach for a few years at the University of Central America before moving to Nicaragua. He returned to UCA in 1983 and eventually became the chair of the Philosophy Department. In his final years at UCA, he oversaw the campus's buildings and vegetable gardens.   •   Beyond the walls of UCA, López was the pastor of Tierra Virgen in the community of Soyapango. He also was an advocate for the nationwide literacy campaign headed by Fernando Cardenal, S.J., that reached hundreds of thousands of Salvadorans.</p>
									</div>
									<div class="wall">
									 <img src="images/ihm/martyrs-wall-active-2.png">
									 </div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-3">
								<div class="col-md-3 p-r-0 back"><img src="images/ihm/martyrs-desat-03-270-300-ignacio-ellacura.jpg"> </div>
								<div class="col-md-8 p-l-0">
												<h3 class="standalone">IGNACIO ELLACURÍA, S.J.</h3>
												<p><span class="explainer light maroon m-l-05">Born: November 9, 1930, in Spain</span> As a teenage seminarian in El Salvador, Ellacuría was known as the "Sun King" for his compelling presence. He would go on to study classical language, humanities, and philosophy in Ecuador before completing his doctoral studies in Spain. He also received an honorary degree from Loyola in 1986, just three years before he was murdered.   •   Ellacuría, who was the rector of the University of Central America, was a proponent of liberation theology and one of the loudest advocates for peace negotiations during El Salvador's civil war. He acted as an informal mediator between the guerrilla fighting forces Frente Farabundo Martí para la Liberación Nacional (FMLN) and the Salvadoran government, which made him an enemy of the far right.   •   Despite several threats to his life, Ellacuría continued to work for peace and the rights of innocent Salvadorans until his death.</p>
										</div>
										<div class="wall">
										 <img src="images/ihm/martyrs-wall-active-3.png">
										 </div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-4">
								<div class="col-md-3 p-r-0 back"><img src="images/ihm/martyrs-desat-04-270-300-montas-mozo.jpg"> </div>
								<div class="col-md-8 p-l-0">
												<h3 class="standalone">SEGUNDO MONTES MOZO, S.J.</h3>
												<p><span class="explainer light maroon m-l-05">Born: May 15, 1933, in Spain</span> Known as "Zeus" because of his long beard and tall build, Montes became a prominent figure in the intellectual community with his forceful and fiery energy. He entered the Society of Jesus in 1950 at the age of 17 and completed his novitiate at Santa Tecla, El Salvador, in 1951.   •   Over the next several years Montes taught physics, studied in Austria, and earned a doctorate in social anthropology in Spain. He returned to El Salvador in 1978 to become the chair of the Sociology Department at the University of Central America.   •   Like Ellacuría, Montes was a staunch advocate for the poor—and as such, he became a target of the political right. After "Death to the Communists of UCA" was painted on his car, Montes was asked about his safety. He simply said: "If they kill me, they kill me."</p>
										</div>
										<div class="wall">
										 <img src="images/ihm/martyrs-wall-active-4.png">
										 </div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-5">
								<div class="col-md-3 p-r-0 back"><img src="images/ihm/martyrs-desat-05-270-300-moreno.jpg"> </div>
								<div class="col-md-8 p-l-0">
												<h3 class="standalone">JUAN RAMÓN MORENO PARDO, S.J.</h3>
												<p><span class="explainer light maroon m-l-05">Born: August 29, 1933, in Spain</span> Moreno was a scholar, theologian, and key figure in the development of the University of Central America. He entered the Society of Jesus when he was in his early twenties and studied classical humanities in Ecuador. He then taught chemistry at the Jesuit College of Granada in Nicaragua.   •   It was not until 1965 that Moreno continued his own studies at St. Louis University in Missouri, where he earned a degree in theology. He then traveled to Rome to study Ignatian spirituality and to train young Jesuits. He eventually ended up in Panama, where he helped found the Ignatian Center of Central America.   •   In 1985 the Society sent him to UCA, and while he was there he organized the theological library, which would become one of the finest in all of El Salvador.</p>
										</div>
										<div class="wall">
										 <img src="images/ihm/martyrs-wall-active-5.png">
										 </div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-6">
								<div class="col-md-3 p-r-0 back"><img src="images/ihm/martyrs-desat-06-270-300-lopez-y-lopez.jpg"> </div>
								<div class="col-md-8 p-l-0">
												<h3 class="standalone">JOAQUÍN LÓPEZ Y LÓPEZ, S.J.</h3>
												<p><span class="explainer light maroon m-l-05">Born: August 16, 1918, in El Salvador</span> The oldest of the eight people killed, López was the only slain Jesuit who was born in El Salvador. He earned several degrees as a student in Texas and was ordained a priest in 1952 when he took his vows to the Society of Jesus.   •   López eventually returned to his native El Salvador and contributed to the University of Central America, but not as a professor. When engineering professor Jon Cortina, S.J., left to work among the repopulated communities of Chalatenango, López stepped in and took charge of the university's administration.   •   In 1969 López helped bring the Fe y Alegría (Faith and Joy) foundation to El Salvador to educate marginalized children, teens, and adults. Despite poor health, López dedicated much of his time and energy to the organization until his death at age 71.</p>
										</div>
										<div class="wall">
										 <img src="images/ihm/martyrs-wall-active-6.png">
										 </div>
									</div>
							<div class="tab-pane fade" id="highlight-7">
								<div class="col-md-3 p-r-0 back"><img src="images/ihm/martyrs-desat-09-270-300-ramos.jpg"> </div>
									<div class="col-md-8 p-l-0">
											<h3 class="standalone">CELINA RAMOS AND ELBA RAMOS</h3>
												<p><span class="explainer light maroon m-l-05">Elba born: March 5, 1947, in El Salvador; Celina born: February 21, 1973, in El Salvador </span>Elba Ramos was a cook and housekeeper at the University of Central America, and her husband, Obdulio, was a watchman and gardener at the college. Their daughter Celina was a high school student.   •   The family originally lived in a separate house on the UCA campus, but fearing for their safety, Elba and Celina moved into an empty room at the Jesuits' residence. The two were murdered in cold blood because the Salvadoran army did not want to leave any witnesses.   •   Obdulio found all eight bodies the following morning. He planted a circle of six red rose bushes for the Jesuits and two yellow rose bushes in the center of the circle for his wife and daughter. The roses still grow today.</p>
									</div>
									<div class="wall">
											<img src="images/ihm/martyrs-wall-active-7-8.png">
									</div>
								</div><!-- tab-pane - highlight-1 END -->
							</div><!-- tab-pane - highlight-1 END -->
					 </div><!-- my-tab-content END -->
				</div>
		 </div>
	 </div>
</div>
