<!-- panel - canvas-4-col-numbers -->
<div id="ihm-event" class="container-fluid canvas-base" style="background: rgba(0,0,0,.5) !important;">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label display-large reverse">Hunger week</h5>
			<p class="body intro bold reverse">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam.
				<cite class="cta" style="font-size: 80%; color: gold;">Learn more</a></cite>
			</p>
		</div>
	</div>
</div>
