<!-- nav - fixed -->

<nav id="canvas-navbar" class="navbar" data-spy="affix" data-offset-top="505">
	<div id="ihm-martyr-memorial" class="container-fluid">
    <div id="canvas-navigation" class="container">
      <ul class="nav navbar-nav">
        <li><a href="#ihm-martyrs-award">Martyr’s Award</a></li>
        <li><a href="#ihm-loyolan-stories">Loyolan stories</a></li>
        <li><a href="#ihm-service-gallery">Service Gallery</a></li>
				<li><a href="#ihm-hunger-week">Hunger Week</a></li>
				<li><a href="#ihm-jesuit-quiz">Novice or Priest</a></li>
				<li><a href="#ihm-martyrs-memorial">Martyrs Memorial</a></li>
      </ul>
    </div>
  </div>
</nav>
