<!-- panel - canvas-2-col-accordion -->
<div id="academics-excellence" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-6">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Cyj_e7tVhtk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		@@include('canvas-divider-mobile.html')<!-- divider -->
		<div class="col-md-6 table-content">
			<h5 class="label display-large m-t-0 m-b-10">Living out loud</h5>
			<p class="body intro-medium m-b-30">While the month of November often brings to mind images of falling leaves and the Thanksgiving holiday, members of the Loyola community are gearing up for Ignatian Heritage Month, a month-long celebration that highlights the living legacy of St. Ignatius Loyola.</p>
      <div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">Watch video</button></div>
		</div>
	</div>
</div>
