<!-- panel - canvas-image-overlay-partial -->
<div id="ihm-hunger-week" class="container-fluid canvas-base fullbleed">
	<div class="partial-overlay">
		<div class="container">
			<div class="bg-overlay col-lg-4 col-sm-6">
				<div class="canvas-content">
					<h5 class="label display-large reverse">Hunger Week</h5>
					<p class="body intro-medium">In 2011, Marcos Gonzales, S.J., joined the Society of Jesus, the Catholic order of priests and brothers that was founded more than 450 years ago by St. Ignatius of Loyola. After graduating with a master’s degree from the School of Social Work, Gonzales is sharing his passion for social justice with the Chicago community.</p>
				</div>
				<div>
					<a href="https://www.youtube.com/watch?v=JqOTNq9kICQ"><button type="submit" class="btn-overlay cta">Watch video</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
