<!-- panel - canvas-image-overlay-partial -->
<div id="ihm-jesuit-quiz" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<h5 class="label display-large m-b-10">How Jesuit are you?</h5>
		<p class="body intro-medium">Test your knowledge of the Society of Jesus, Loyola history, Jesuit terms and education.</p>
		<div id="quiz">
			<h1 id="quiz-name"></h1>
				<button id="submit-button">Submit Answers</button>
				<button id="next-question-button">Next Question</button>
				<button id="prev-question-button">Previous</button>
				<div id="quiz-results">
					<p id="quiz-results-message"></p>
					<p id="quiz-results-score"></p>
				</div>
		</div>
	</br>
		<div class="panel-group accord-blk" id="accordion">

			<div class="panel">
				<div class="panel-heading">
					<h5>
						<a class="accordion-toggle collapsed uppercase" data-toggle="collapse" data-parent="#accordion" href="#collapseQuiz"><span class="small">Learn more about the answers</span><i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
					</h5>
				</div>
				<div id="collapseQuiz" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="col-md-6">
						<h5>What year was the Society of Jesus formed?</h5>
						<p class="body">1540. While Saint Ignatius and six companions, fellow students at the University of Paris, first pronounced religious vows of poverty, chastity, and obedience in 1534, the order was formally recognized by the Catholic Church in 1540.</p>
						<h5>What does "cura personalis" mean?</h5>
						<p class="body">Care for the entire person. <em>Cura Personalis</em> is a Latin phrase that is considered a hallmark of Ignatian spirituality and centers on the belief that each individual is a unique creation of God.</p>
						<h5>When Loyola was founded, what was the official name of the University?</h5>
						<p class="body">St. Ignatius College. Founded in 1870 by Arnold Damen, S.J., St. Ignatius College was originally located at W. 12th St. in Chicago Heights, Illinois.</p>
						<h5>Some of the central goals of Jesuit education are: </h5>
						<p class="body">To form men and women for and with others. To graduate students who are open to growth. To provide a broad basis of knowledge that encourages students to seek more and find God in all things. (All of the above, of course!) Education is one of the most important aspects of the Jesuit mission. These are just some of the core tenets of Jesuit education.</p>
						<h5>How many Jesuit saints are there?</h5>
						<p class="body">53. St. Ignatius was canonized in 1622. 52 additional Jesuits have followed him into sainthood, including other Jesuit university namesakes Aloysius Gonzaga and Francis Xavier.</p>
						</div>
						<div class="col-md-6">
						<h5>What does <em> magis </em> mean?</h5>
						<p class="body">More or Better. <em>Magis</em> is Latin for “more or better.” The term, which challenges us to strive for generous excellence, refers to the Jesuit philosophy of doing more for Christ and other human beings in everyday life. </p>
						<h5>When was the tradition of holding the Convocation walk through the Cudahy Library’s Green Doors started?</h5>
						<p class="body">2009. Surprisingly, the Convocation walk through the Cudahy Library’s Green Doors is a new tradition for students that was started in 2009 to help build community among first-year students.</p>
						<h5>How many Jesuit universities exist in the United States?</h5>
						<p class="body">28 Jesuit universities across the United States educate students, and among them Loyola has the largest undergraduate population.</p>
						<h5>Along with educating the students of Loyola University Chicago, the Jesuits are responsible for the education of all but one of the following individuals:</h5>
						<p class="body">Liam Neeson. Though he is not Jesuit educated, he sent both his children to Jesuit schools.</p>
						<h5>What of these inventions are the Jesuits credited with creating?</h5>
						<p class="body">The trapdoor. Jesuits are famous educators with a long history of being proponents of theater and the arts, and they created trap doors for school plays in the 15th and 16th centuries. </p>
						<h5>What is Loyola’s motto?</h5>
						<p class="body"><em>Ad Majorem Dei Gloriam.</em> Loyola’s motto is <em>Ad Majorem Dei Gloriam</em>, which means: for the greater glory of God. This is also the motto of the Society of Jesus. It insinuates that everything is done is for God’s glory and to make the world a better place. </p>
					</div>
				</div>
					</div>
					</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
