<!-- panel - canvas-4-col-numbers -->
<div id="ihm-hunger-week" class="container-fluid canvas-base" style="background: rgba(0,0,0,.5) !important;">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label display-large reverse">Hunger week</h5>
			<p class="body intro bold reverse">
				For more than 40 years, this weeklong event has raised awareness and funds for local, national, and global organizations fighting hunger. Learn more about the student-run activities and programs planned starting November 6.
				<!-- <cite><a class="cta">Learn more</a></cite> -->
			</p>
		</div>
	</div>
</div>
