<!-- panel - canvas-intro -->
<div id="ihm-intro" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label" style="font-family: Antenna Light;">Ignatian Heritage Month</h1>
			<h1 class="display">Seek God in all things</h1>
			<p class="body intro">St. Ignatius of Loyola encouraged his followers to seek God in all things, to serve those in need, and to become people for others. His mission can be seen in everything we do at Loyola—and it’s this living legacy that we celebrate throughout Ignatian Heritage Month. Watch the video at right to learn more about the month and see what Loyolans are doing every day to live out St. Ignatius’s mission to serve others. </p>
		</div>


		<div id="ihm-calendar" class="container-fluid canvas-base">
			<div class="container canvas-content">
				<div class="col-md-12 table-content width-100 m-t-20">
					<h2>Calendar of events</h2>

					<div class="panel-group accord-blk" id="accordion">

						<div class="panel">
							<div class="panel-heading">
								<h3 class="standalone">
									<a class="accordion-toggle collapsed uppercase" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">November 1–5<i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
								</h3>
							</div>
							<div id="collapseOne" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="col-md-6">
									<h6 class="category bold m-b-10 m-t-0" style="line-height: 1.65;">
										November 2
									</h6>
										<span class="explainer light m-l-05" style="letter-spacing: .001em;">
											CATHOLIC MINDS, CATHOLIC MATTERS LECTURE — Series With Father Ian Boyd
										</span>
										<p class="body explainer m-t-0">3:30–5:30 p.m.  •  Coffey Hall, McCormick Lounge </p>

									<p class="body p-b-20 rule-bottom">

									</p>

									<h6 class="category bold m-b-10" style="line-height: 1.65;">
										November 3
									</h6>
										<span class="explainer light m-l-05">
											<em>IGNATIUS OF LOYOLA</em> SCREENING
										</span>
										<p class="body explainer m-t-0">11:30 a.m.–1:30 p.m. • Damen Cinema </p>

									<p class="body p-b-20">

									</p>
								</div>

								<div class="col-md-6">

									<h6 class="category bold m-b-10" style="line-height: 1.65;">
										November 5
									</h6>
										<span class="explainer light m-l-05">
											MASS OF REMEMBRANCE
										</span>
										<p class="body explainer m-t-0">5 p.m. • Madonna della Strada Chapel </p>

									<p class="body p-b-20">

									</p>
								</div>
								</div>
							</div>
						</div>

						<div class="panel">
							<div class="panel-heading">
								<h3 class="standalone">
									<a class="accordion-toggle collapsed uppercase" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">November 6–12<i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
								</h3>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="col-md-6">
									<h6 class="category bold m-b-10" style="line-height: 1.65;">
										November 6
									</h6>
										<span class="explainer light m-l-05">
											<em>IGNATIUS OF LOYOLA</em> SCREENING
										</span>
										<p class="body explainer m-t-0">3–5 p.m. • Damen Cinema </p>

									<p class="body p-b-20 rule-bottom">

									</p>

									<h6 class="category bold m-b-10" style="line-height: 1.65;">
										November 7
									</h6>
										<span class="explainer light m-l-05">
											IGNATIAN HERITAGE MONTH FALL BOOK CLUB
										</span>
										<p class="body explainer m-t-0 m-b-10 p-b-10">Noon–1:30 p.m. • Corboy Law Center, Room 727 </p>

										<span class="explainer light m-l-05">
											HOLOCAUST RESCUERS–OVERCOMING EVIL
										</span>
										<p class="body explainer m-t-0 p-b-10">Noon–1:30 p.m. • Corboy Law Center, Room 727 </p>

									<span class="explainer light m-l-05">
										SOCIAL CLASS DINNER
									</span>
									<p class="body explainer m-t-0 m-b-0"> 6–8 p.m. • Coffey Hall, McCormick Lounge</p>

								<p class="body m-t-0 p-b-20 rule-bottom">
									This dinner allows participants to experience, learn about, and reflect on the disparities amongst classes and resource availability that are seen globally.
								</p>

									<h6 class="category bold m-b-10" style="line-height: 1.65;">
										November 8
									</h6>
										<span class="explainer light m-l-05">
											IGNATIAN HERITAGE MONTH FALL BOOK CLUB
										</span>
									<p class="body explainer m-t-0 p-b-10"> Noon–1:30 p.m. • Health Sciences Division Library, Room C</p>

									<span class="explainer light m-l-05">
										SOCIAL CLASS DINNER
									</span>
									<p class="body explainer m-t-0 m-b-0"> 6–8 p.m. • Coffey Hall, McCormick Lounge</p>

									<p class="body m-t-0 p-b-10">
									This dinner allows participants to experience, learn about, and reflect on the disparities amongst classes and resource availability that are seen globally.
									</p>

									<span class="explainer light m-l-05">
											POVERTY SIMULATION
									</span>
									<p class="body explainer m-t-0 p-b-10"> 6–9 p.m. • Centennial Forum, Rambler Room</p>

									<span class="explainer light m-l-05">
										<em>VOICES BEYOND THE WALL</em> SCREENING
									</span>
								<p class="body explainer m-t-0 p-b-20">  6 p.m. • Damen Cinema</p>
								</div>

								<div class="col-md-6">
								<h6 class="category bold m-b-10" style="line-height: 1.65;">
									November 9
								</h6>
									<span class="explainer light m-l-05">
										PIERRE TEILHARD DE CHARDIN, S.J., LECTURE SERIES — With Uwem Akpan
									</span>
									<p class="body explainer m-t-0">3–5 p.m. • Coffey Hall, McCormick Lounge</p>

								<p class="body m-t-0 p-b-20 rule-bottom">

								</p>

								<h6 class="category bold m-b-10" style="line-height: 1.65;">
									November 10
								</h6>
									<span class="explainer light m-l-05">
										BUST IT FOR JUSTICE
									</span>
									<p class="body explainer m-t-0"> 7–9 p.m. • Damen Student Center, The Den</p>

								<p class="body p-b-20 rule-bottom">
									Enjoy an evening of food, music, and spoken word related to issues of hunger.
								</p>

								<h6 class="category bold m-b-10" style="line-height: 1.65;">
									November 11
								</h6>
									<span class="explainer light m-l-05">
										POVERTY SIMULATION
									</span>
								<p class="body explainer m-t-0 p-b-10"> 9 a.m.–Noon • Cuneo Center/Stritch Atrium</p>

								<span class="explainer light m-l-05">
										SECOND ANNUAL SOCIAL JUSTICE FORUM
								</span>
								<p class="body explainer m-t-0 p-b-10">9 a.m.–3 p.m. • Schreiber Center, Wintrust Hall</p>

								<span class="explainer light m-l-05">
									BREAKING OF THE FAST
								</span>
								<p class="body explainer m-t-0 m-b-0"> 4–7 p.m. • Damen Student Center, Sister Jean Multipurpose Room</p>
								<p class="body m-t-0 p-b-20">
									Join the Muslim Students' Association for dinner following the day's fast and a lecture on personal sacrifice.
								</p>
								</div>
								</div>
							</div>
						</div>

						<div class="panel">
							<div class="panel-heading">
								<h3 class="standalone">
									<a class="accordion-toggle collapsed uppercase" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">November 13–19<i class="indicator glyphicon glyphicon-chevron-right pull-right"></i></a>
								</h>
							</div>
							<div id="collapseThree" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="col-md-6">
									<h6 class="category bold m-b-10" style="line-height: 1.65;">
										November 13
									</h6>
										<span class="explainer light m-l-05">
											COUNTING TIME LIKE PEOPLE COUNT STARS — Friends of the Loyola Libraries Speaker Series with Spencer Reece
										</span>
										<p class="body explainer m-t-0 p-b-10">6:30 p.m. reception, 7 p.m. program • Information Commons, Fourth Floor</p>

									<span class="explainer light m-l-05">
										<em>IGNATIUS OF LOYOLA</em> SCREENING
									</span>
									<p class="body explainer m-t-0">7–9 p.m. • Damen Cinema </p>

								<p class="body p-b-20 rule-bottom">

								</p>
								<h6 class="category bold m-b-10" style="line-height: 1.65;">
									November 14
								</h6>
									<span class="explainer light m-l-05">
										"A RADICAL FAITH: MAURA CLARKE AND TRANSFORMATIONAL JUSTICE" SYMPOSIUM
									</span>
									<p class="body explainer m-t-0 p-b-10">3–5 p.m. • Piper Hall</p>

								<span class="explainer light m-l-05">
									AGAPE LATTE
								</span>
								<p class="body explainer m-t-0 p-b-10">7–9 p.m. • Damen Cinema </p>

								<span class="explainer light m-l-05">
									IGNATIAN HERITAGE MONTH FALL BOOK CLUB
								</span>
								<p class="body explainer m-t-0 p-b-10">Noon–1:30 p.m. • Cuneo Hall, Room 410</p>

							<p class="body p-b-20">

							</p>
								</div>
									<div class="col-md-6">
										<h6 class="category bold m-b-10" style="line-height: 1.65;">
											November 15
										</h6>
											<span class="explainer light m-l-05">
												IGNATIAN HERITAGE MONTH FALL BOOK CLUB
											</span>
											<p class="body explainer m-t-0 p-b-10">Noon–1:30 p.m. • Cuneo Hall, Room 410</p>

										<p class="body p-b-20 rule-bottom">

										</p>
										<h6 class="category bold m-b-10" style="line-height: 1.65;">
											November 16
										</h6>
											<span class="explainer light m-l-05">
												MARTYRS’ AWARD PRESENTATION
											</span>
											<p class="body explainer m-t-0 p-b-10">4 p.m. • Cuneo Center/Stritch 360</p>

										<span class="explainer light m-l-05">
											MARTYRS’ AWARD MEMORIAL MASS
										</span>
										<p class="body explainer m-t-0">5:15 p.m. • Maywood Atrium </p>

										<p class="body p-b-20">

										</p>

								</div>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h3 class="standalone">
									<a class="accordion-toggle collapsed uppercase" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">November 26–30<i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
								</h3>
							</div>
							<div id="collapseFour" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="col-md-6">
									<h6 class="category bold m-b-10" style="line-height: 1.65;">
										November 29
									</h6>
										<span class="explainer light m-l-05">
											CATHOLICISM: CALLED TO TRADITION OR REVOLUTION — With Mike Martinez, S.J.
										</span>
										<p class="body explainer m-t-0 p-b-10">7–8:30 p.m. • Damen Student Center, The Den (students only) </p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- accordion close -->
				</div>
		</div>
	</div>
</div>
