<!-- panel - canvas-2-col-accordion -->
<div id="" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label display-large m-b-20">Canvas panel headline here</h5>
			<p class="body intro-medium m-b-30">Our Centers of Excellence combine academics with action to address some of society’s largest challenges.</p>
		</div>
				<div class="card-hover">
					<img class="image" src="/images/ihm/grid-photos_0002_Daniel_McGown.jpg"/>
					<div class="overlay">
    				<div class="text">
							“You can make more impact doing 100 small things than doing one big thing.”
							</br><span class="antenna"><a hef="https://www.youtube.com/watch?v=6E1ax4U53VE">– Daniel McGowan (BS ’88)</a></span>
						</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="/images/ihm/grid-photos_0001_Cristina_Rodriguez.jpg"/>
					<div class="overlay">
						<div class="text">
							“I was able to become a student, an activist, a researcher, a mentor—and it’s been one of the greatest experiences I’ve ever had.”
							</br><span class="antenna"><a hef="https://www.youtube.com/watch?v=zOjLhVmHH58">– Cristina Rodriguez (BA '17)</a></span>
						</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="/images/ihm/grid-photos_0005_Father_Jim_Prehn.jpg"/>
					<div class="overlay">
    				<div class="text">
							“We are working toward social justice because of our faith, and those two go hand in hand.”
							</br><span class="antenna"><a hef="https://www.youtube.com/watch?v=sIGgy2AjnYQ">– Father James Prehn, S.J.</a></span>
						</div>
					</div>
				</div>
				<div class="card-hover">
					<img class="image" src="/images/ihm/grid-photos_0003_Candace_Musick.jpg"/>
					<div class="overlay">
						<div class="text">
							“You’re not always doing the change; you’re helping empower people to make changes for themselves.”
							</br><span class="antenna"><a hef="http://www.luc.edu/umc/loyola-magazine/summer2015/archive/candacemusickstory.shtml">– Candace Musick (BSW ’08, MSW ’09)</a></span>
						</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="/images/ihm/grid-photos_0007_Hector_Garcia_Chavez.jpg"/>
					<div class="overlay">
						<div class="text">
							“I tell my students, ‘Let’s go out. Let’s make this course one that takes us to different parts of the city.”
						</br><span class="antenna"><a hef="https://www.luc.edu/cas/stories/archive/9-27-17-hectorgarciachavez.shtml">– Héctor García Chávez</a></span>
						</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="/images/ihm/grid-photos_0000_Clarisse_Mendoza.jpg"/>
					<div class="overlay">
						<div class="text">
							“People say at the end of the day it is just a job. But in keeping with my Jesuit upbringing, this is my calling.”
							</br><span class="antenna"><a hef="https://www.youtube.com/watch?v=krPC7jqzPa4">– Clarisse Mendoza (JFRC Spring ’05, BA ’06)</a></span>
						</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="/images/ihm/grid-photos_0008_Theresa_Dear.jpg"/>
					<div class="overlay">
						<div class="text">
							“I just think of how rich my life has been, when I could’ve been a statistic.”
							</br><span class="antenna"><a hef="https://www.luc.edu/loyolamagazine/almamatters/extraordinaryalumni/archive/theresadear.shtml">– Theresa Dear (MUND ’90, MSIR ’99)</a></span>
						</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="/images/ihm/grid-photos_0004_ Sister_Norma_Pimentel.jpg"/>
					<div class="overlay">
						<div class="text">
							“Social justice is actually at the heart of who we are, and we need to step up and speak up.”
							</br><span class="antenna"><a hef="https://www.youtube.com/watch?v=uHYJWE1YySM">– Sister Norma Pimentel (MA ’95)</a></span>
						</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="/images/ihm/grid-photos_0006_Andrew Trotter.jpg"/>
					<div class="overlay">
						<div class="text">
							“You realize that you can touch and impact more than just one patient at a time—through teaching other students, residents, and nurses.”
							</br><span class="antenna"><a hef="https://www.luc.edu/loyolamagazine/stories/archive/andrew-trotter.shtml">– Andrew Trotter (MD ’07)</a></span>
						</div>
  				</div>
				</div>
			</div>
		</div>
