<!-- panel - canvas-image-overlay-partial -->
<div id="ihm-martyrs" class="container-fluid canvas-base fullbleed">
	<div class="partial-overlay">
		<div class="container">
			<div class="bg-overlay col-lg-4 col-sm-6">
				<div class="canvas-content">
					<h5 class="label display-large reverse">The Martyrs Award</h5>
					<p class="body intro-medium">This year, Loyola presented its Martyrs Award to the Quinn Community Center. Working in Maywood and Broadview, Illinois, the center offers community and education programs for all ages. The award, now in its third year, honors the slain Salvadoran martyrs and their commitment to service and social justice.</p>
				</div>
				<div>
					<a href="https://www.luc.edu/mission/ignatianheritagemonth/martyrsaward/"><button type="submit" class="btn-overlay cta">Learn more</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
