<!-- panel - canvas-2-col-accordion -->
<div id="ihm-jesuits-follow" class="container-fluid canvas-base">
	<div id="connect" class="container-fluid canvas-base">
	<div class="container canvas-content">

<div class="col-md-12 ">
  <h2>Jesuits to follow</h2>
	<p class="body intro">Lorem ipsum dolor jesuits to follow. Ipsum more text.</p>

   <div class="width10">
				<div class="social-icons"><a href="https://twitter.com/Pontifex"><img src="images/ihm/twitter.png"></a><a href="https://www.facebook.com/PopeFrancisEnglish/"><img src="images/ihm/facebook.png"></a></div>
  			<h6 class="category">Pope Francis </h6>
	      <p class="explainer small">His Holiness, Bishop of Rome, more words about Pope Francis ten</p>
   </div>

	 <div class="width10">
			 <div class="social-icons"><a href="https://twitter.com/JamesMartinSJ"><img src="images/ihm/twitter.png"></a><a href="https://www.facebook.com/FrJamesMartin/?ref=br_rs"><img src="images/ihm/facebook.png"></a></div>
			 <h6 class="category">James Martin, S.J. </h6>
			 <p class="explainer small">America magazine editor and author</p>
	 </div>

	 <div class="width10">
			 <div class="social-icons"><a href="https://twitter.com/Americaeditor"><img src="images/ihm/twitter.png"></a><a href="https://www.facebook.com/americamag"><img src="images/ihm/facebook.png"></a></div>
			 <h6 class="category">Matt Malone,<span class="small"> S.J.</span> </h6>
			 <p class="explainer small">Editor in chief of America magazine</p>
	 </div>

	 <div class="width10">
			 <div class="social-icons"><a href="https://twitter.com/paddygilgersj"><img src="images/ihm/twitter.png"></a></div>
			 <h6 class="category">Paddy Gilger,<span class="small"> S.J.</span> </h6>
			 <p class="explainer small">Culture editor at America magazine</p>
	 </div>

	 <div class="width10">
			 <div class="social-icons"><a href="https://twitter.com/KatsourosSj"><img src="images/ihm/twitter.png"></a><a href="https://www.facebook.com/ArrupeChicago/"><img src="images/ihm/facebook.png"></a></div>
			 <h6 class="category">Steve Katsouros,<span class="small"> S.J.</span> </h6>
			 <p class="explainer small">Dean and executive director of Arrupe College</p>
	 </div>

	 <div class="width10">
			 <div class="social-icons"><a href="https://twitter.com/FrTimSJ"><img src="images/ihm/twitter.png"></a><a href="https://www.facebook.com/Jesuits/"><img src="images/ihm/facebook.png"></a></div>
			 <h6 class="category">Tim Kesicki,<span class="small"> S.J. </span> </h6>
			 <p class="explainer small">President of the Jesuit Conference</p>
	 </div>

	 <div class="width10">
			 <div class="social-icons"><a href="https://twitter.com/OptimistPanda"><img src="images/ihm/twitter.png"></a></div>
			 <h6 class="category">Shane Liesegang,<span class="small">  S.J.</span> </h6>
			 <p class="explainer small">Jesuit scholastic</p>
	 </div>

	 <div class="width10">
			 <div class="social-icons"><a href="https://twitter.com/FrGregBoyle"><img src="images/ihm/twitter.png"></a><a href="https://www.facebook.com/HomeboyIndustries/"><img src="images/ihm/facebook.png"></a></div>
			 <h6 class="category">Greg Boyle,<span class="small"> S.J.</span> </h6>
			 <p class="explainer small">Founder of <span class="unital">Homeboy</span> Industries</p>
	 </div>

	 <div class="width10">
			 <div class="social-icons"><a href="https://twitter.com/ThomasReeseSJ"><img src="images/ihm/twitter.png"></a><a href="https://www.facebook.com/ThomasReeseSJ/"><img src="images/ihm/facebook.png"></a></div>
			 <h6 class="category">Thomas Reese, <span class="small"> S.J. </span> </h6>
			 <p class="explainer small">Senior analyst with Religion News Services</p>
	 </div>

	 <div class="width10">
			 <div class="social-icons"><a href="https://twitter.com/sunnydsj"><img src="images/ihm/twitter.png"></a></div>
			 <h6 class="category">Eric Sundrup,<span class="small"> S.J. </span></h6>
			 <p class="explainer small">Associate editor and director at America magazine</p>
	 </div>

</div> <!--span12-->



  </div> <!-- .container -->
</div>
