<!-- main-content -->
	<div class="container-fluid" id="main-content-canvas">
		<div class="row">
			@@include('./luc-canvas/luc-ihm/canvas-intro-ihm.html')
			@@include('./luc-canvas/luc-ihm/canvas-2-col-img-accordion-ihm.html')
			@@include('./luc-canvas/luc-ihm/canvas-overlay-quote-ihm.html')
			@@include('./luc-canvas/luc-ihm/canvas-slider-ihm.html')
			@@include('./luc-canvas/luc-ihm/canvas-3-col-imgs-ihm.html')
			@@include('./luc-canvas/luc-ihm/canvas-image-overlay-partial-ihm.html')
			@@include('./luc-canvas/luc-ihm/canvas-combo-col-numbers-ihm.html')
			@@include('./luc-canvas/luc-ihm/canvas-image-grid-ihm.html')
		</div>
	</div>
<!-- main-content -->
