<!-- main-content -->
	<div class="container-fluid" id="main-content-canvas">
		<div class="row">
			@@include('./luc-canvas/luc-ihm/canvas-lede-text-ihm.html')
			@@include('./luc-canvas/luc-ihm/canvas-nav-fixed.html')
			@@include('./luc-canvas/luc-ihm/canvas-intro-ihm.html')
			@@include('./luc-canvas/luc-ihm/canvas-image-overlay-partial-martyrs-award-ihm.html')
			@@include('./luc-canvas/luc-ihm/canvas-grid-9-jesuit-stories-ihm.html')
			@@include('./luc-canvas/luc-ihm/canvas-slider-ihm.html')
			@@include('./luc-canvas/luc-ihm/canvas-2-col-img-text.html')
			@@include('./luc-canvas/luc-ihm/canvas-event-hunger-week-ihm.html')
			@@include('./luc-canvas/luc-ihm/canvas-quiz-ihm.html')
			@@include('./luc-canvas/luc-ihm/canvas-tabs.html')
			@@include('./luc-canvas/luc-ihm/jesuits-to-follow.html')
		</div>
	</div>
<!-- main-content -->
