<!-- main-content -->
	<div class="container-fluid" id="main-content-canvas">
		<div class="row">
			@@include('./luc-canvas/luc-ihm/canvas-lede-ihm.html')
			@@include('./luc-canvas/luc-ihm/canvas-intro-ihm.html')
			@@include('./luc-canvas/luc-ihm/canvas-image-overlay-partial-ihm.html')
			@@include('./luc-canvas/luc-ihm/canvas-quiz-ihm.html')
			@@include('./ug-canvas/canvas-spacer.html')
			@@include('./ug-canvas/canvas-spacer.html')
			@@include('./ug-canvas/canvas-spacer.html')
			@@include('./luc-canvas/luc-ihm/canvas-slider-ihm.html')
			@@include('./luc-canvas/luc-ihm/canvas-grid-9-ihm.html')
			@@include('./luc-canvas/luc-ihm/canvas-image-overlay-partial-ihm-2.html')
		</div>
	</div>
<!-- main-content -->
