<!-- main-content -->
	<div class="container-fluid" id="main-content">
		<div class="row">
			@@include('./ug-canvas/ug-chicago/canvas-image-overlay-chicago.html')
			@@include('./ug-canvas/ug-chicago/canvas-intro-chicago.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/ug-chicago/canvas-4-col-numbers-chicago.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/ug-chicago/canvas-4-col-imgs-chicago.html')
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/ug-chicago/canvas-slider-chicago.html')
			@@include('./ug-canvas/ug-chicago/canvas-combo-col-numbers-chicago.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/ug-chicago/canvas-2-col-img-accordion-chicago.html')
		</div>
	</div>
<!-- main-content -->
