<!-- main-content -->
	<div class="container-fluid" id="main-content">
		<div class="row">
			@@include('./ug-canvas/canvas-image-overlay.html')
			@@include('./ug-canvas/canvas-intro.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/canvas-4-col-numbers.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/canvas-4-col-imgs.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/canvas-tabs.html')

		</div>
	</div>
<!-- main-content -->
