<!-- main-content -->
	<div class="container-fluid" id="main-content-canvas">
		<div class="row">
			@@include('./ug-canvas/ug-chicago/canvas-lede-video-chicago.html')
			@@include('./ug-canvas/ug-chicago/canvas-intro-chicago.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- spacer -->
			@@include('./ug-canvas/ug-chicago/canvas-slider-chicago-opportunity.html')
			@@include('./ug-canvas/ug-chicago/canvas-4-col-numbers-chicago.html')
			@@include('./ug-canvas/ug-chicago/canvas-combo-col-numbers-chicago.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- spacer -->
			@@include('./ug-canvas/ug-chicago/canvas-slider-chicago-opportunity.html')
			@@include('./ug-canvas/ug-chicago/canvas-3-col-imgs-chicago.html')
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/ug-chicago/canvas-1-col-accordion-chicago.html')
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
		</div>
	</div>
<!-- main-content -->
