<!-- main-content -->
	<div class="container-fluid" id="main-content-canvas">
		<div class="row">
			@@include('./ug-canvas/ug-cost/canvas-lede-video-cost.html')
			@@include('./ug-canvas/ug-cost/canvas-intro-cost.html')
			@@include('./ug-canvas/ug-cost/canvas-image-overlay-partial-cost.html')
			@@include('./ug-canvas/ug-cost/canvas-image-overlay-cost.html')
			@@include('./ug-canvas/ug-cost/canvas-3-col-imgs-cost.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/ug-cost/canvas-overlay-quote-cost.html')
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/ug-cost/canvas-3-col-resources-cost.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/ug-cost/resources.html')
		</div>
	</div>
<!-- main-content -->
