</div>
<div id="ug-tips">
  <h3 class="standalone">Headline here</h3>
  <div class="col-md-1">
    <div class="ug-tips-icon">
      <img src="images/icon-book.png" />
    </div>
    <p class="ug-tips-label">Likely to recommend…</p>
  </div>
  <div class="col-md-11 ug-tips-list">
    <ul class="ug-tips-columns">
      <li class="col-sm-2"><span class="col-sm-2 circle-wrapper"><span class="circle">1</span></span>Lorem ipsum sit amet consectetur adipiscing elit lorem.</li>
      <li class="col-sm-2"><span class="col-sm-2 circle-wrapper"><span class="circle">2</span></span>Lorem ipsum sit amet consectetur adipiscing elit lorem.</li>
      <li class="col-sm-2"><span class="col-sm-2 circle-wrapper"><span class="circle">3</span></span>Lorem ipsum sit amet consectetur adipiscing elit lorem.</li>
      <li class="col-sm-2"><span class="col-sm-2 circle-wrapper"><span class="circle">4</span></span>Lorem ipsum sit amet consectetur adipiscing elit lorem.</li>
      <li class="col-sm-2"><span class="col-sm-2 circle-wrapper"><span class="circle">5</span></span>Lorem ipsum sit amet consectetur adipiscing elit lorem.</li>
    </ul>
  </div>
</div>
</div>
</div>
</div>
<!-- rightColumn - aside -->
<div id="rightColumn" class="col-md-3 col-md-height col-lg-height">
<div class="inside inside-full-height">
<div id="interior-wrapper-right" class="col-md-12">

  <!-- build:ledecaption -->
  <div class="aside-caption">
  <p class="explainer">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus.
  </p>
  </div>
  <!-- endbuild -->

<!-- build:rightcolumn -->
<div class="aside-image">
  <div class="aside-image-panel">
    <div class="col-md-3"><img src="images/ug-profile.png" /></div>
  </div>
</div>
<div class="aside-quote">
  <blockquote>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.
  </blockquote>
  <cite>
          <p class="body">Sombody Namehere, Junior</p>
          <p class="explainer">Title Herehere</p>
        </cite>
</div>
<!-- endbuild -->
</div>
</div>
</div>
</div>
</div>
</div>
<!-- interior-wrapper close -->
</div>
<!-- main-content -->
