<!-- road-to-loyola -->

<div class="panel-group" id="accordion">
	@@include('ug-freshman-process-01-about.html')		<!-- accordion-01 -->
	@@include('ug-freshman-process-02-visit.html')		<!-- accordion-02 -->
	@@include('ug-freshman-process-03-apply.html')		<!-- accordion-03 -->
	@@include('ug-freshman-process-04-status.html')		<!-- accordion-04 -->
	@@include('ug-freshman-process-05-cost.html')		<!-- accordion-05 -->
	@@include('ug-freshman-process-06-transition.html')	<!-- accordion-06 -->
</div>

<!-- road-to-loyola close -->
