<!-- ug-footer-cta -->
<nav class="container-fluid" id="ug-cta">
	<div class="container">
		<div class="row">
			<div id="navbar" class="col-md-7">
				<ul id="nav" class="nav navbar-nav" role="navigation">
					<li><a href="###">Visit</a></li>
					<li><a href="###">Apply</a></li>
					<li><a href="###">Info</a></li>
					<li><a href="###">Deposit</a> 
				</ul>
			</div>
			<div id="ug-social-wrapper" class="col-md-5">
				<ul class="social social-gold" id="social">
					<li><a target="_blank" href="###" class='icon-fb' target="_self" title="Follow Us on Facebook"></a></li>
					<li><a target="_blank" href="###" class='icon-fl' target="_self" title="Follow Us on Flickr"></a></li>
					<li><a target="_blank" href="###" class='icon-gg' target="_self" title="Follow Us on Google"></a></li>
					<li><a target="_blank" href="###" class='icon-ig' target="_self" title="Follow Us on Instagram"></a></li>
					<li><a target="_blank" href="###" class='icon-li' target="_self" title="Follow Us on LinkedIn"></a></li>
					<li><a target="_blank" href="###" class='icon-pi' target="_self" title="Follow Us on Pinterest"></a></li>
					<li><a target="_blank" href="###" class='icon-tw' target="_self" title="Follow Us on Twitter"></a></li>
					<li><a target="_blank" href="###" class='icon-wp' target="_self" title="Follow Us on Wordpress"></a></li>					
					<li><a target="_blank" href="###" class='icon-yt' target="_self" title="Follow Us on You Tube"></a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
