<!-- main-content -->
<div class="container-fluid" id="main-content">
	<!-- top-wrapper -->
	<!--
<div id="top-wrapper">
	<img class="m-t-0 m-b-0" src="http://placehold.it/1800x450">
</div>
-->
	<!-- interior-wrapper -->
	<div class="container" id="interior-wrapper">
		<div class="row">
			<div class="row-height">
				<!-- leftColumn -->
				<div id="leftColumn" class="col-md-3 col-md-height col-lg-height" style="border-right: solid 1px #cccccc;">
					<div class="inside inside-full-height">
						<div id="interior-wrapper-left" class="col-md-12">
							<h4 class="subhead">Headline here</h4>
							<p class="body">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus.
							</p>
						</div>
					</div>
				</div>
				<!-- centerColumn -->
				<div id="centerColumn" class="col-md-9 col-md-height col-lg-height">
					<div class="inside inside-full-height">
						<div id="interior-wrapper-center" class="col-md-12">
							<div id="ug-body" class="">
								<section id="interior-intro" class="col-sm-12 p-b-0">
									<h1 class="label">
										SEO H1 LABEL HERE
									</h1>
									<h2 class="display process-headline">
										Let's get started
									</h2>
									<p class="body intro" style="margin: 0 0 80px 0;">
										<span class="leadin small" style="margin: 0;">Lead in here here here.</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc.
									</p>
									<h1 class="label">
										SEO H1 LABEL HERE
									</h1>
									<h2 class="display process-headline">
										Welcome. You’ve arrived.
									</h2>
									<p class="body intro" style="margin: 0 0 80px 0;">
										<span class="leadin small" style="margin: 0;">Let’s get started.</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc.
									</p>
									<h1 class="label">
										SEO H1 LABEL HERE
									</h1>
									<h2 class="display process-headline">
										You’re curious. We like that.
									</h2>
									<p class="body intro" style="margin: 0 0 80px 0;">
										<span class="leadin small" style="margin: 0;">Let’s get started.</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc.
									</p>
									<h1 class="label">
										SEO H1 LABEL HERE
									</h1>
									<h2 class="display process-headline">
										Yes, you’ve arrived.
									</h2>
									<p class="body intro" style="margin: 0 0 80px 0;">
										<span class="leadin small" style="margin: 0;">Now let’s get started.</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc.
									</p>
									<h1 class="label">
										SEO H1 LABEL HERE
									</h1>
									<h2 class="display process-headline">
										Are you ready to go forth?
									</h2>
									<p class="body intro" style="margin: 0 0 80px 0;">
										<span class="leadin small" style="margin: 0;">Let us help you along the way.</span> Consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc.
									</p>
								</section>
								<section id="interior-body" class="col-sm-12">
									<!-- road-to-loyola -->
									<div class="panel-group" id="accordion">
										@@include('freshman-process-steps/ug-freshman-process-01-about.html')
										<!-- accordion-01 -->
										@@include('freshman-process-steps/ug-freshman-process-02-visit.html')
										<!-- accordion-02 -->
										@@include('freshman-process-steps/ug-freshman-process-03-apply.html')
										<!-- accordion-03 -->
										@@include('freshman-process-steps/ug-freshman-process-04-status.html')
										<!-- accordion-04 -->
										@@include('freshman-process-steps/ug-freshman-process-05-cost.html')
										<!-- accordion-05 -->
										@@include('freshman-process-steps/ug-freshman-process-06-transition.html')
										<!-- accordion-06 -->
									</div>
									<!-- road-to-loyola close -->
								</section>
							</div>
						</div>
					</div>
				</div>
				<!-- rightColumn - aside -->
				<div id="rightColumn" class="col-md-3 col-md-height col-lg-height">
					<div class="inside inside-full-height">
						<div id="interior-wrapper-right" class="col-md-12">
							<div class="aside-caption">
								<p class="explainer">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus.
								</p>
							</div>
							<div class="aside-image">
								<div class="aside-image-panel">
									<div class="col-md-3"><img src="images/ug-profile.png" /></div>
								</div>
							</div>
							<div class="aside-quote">
								<blockquote>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.
								</blockquote>
								<cite>
									<p class="body">Sombody Namehere, Junior</p>
									<p class="explainer">Title Herehere</p>
								</cite>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- interior-wrapper close -->
</div>
<!-- main-content -->
