<!-- main-content -->
	<div class="container-fluid" id="main-content-canvas">
		<div class="row">
			@@include('./ug-canvas/ug-green/canvas-lede-video-green.html')
			@@include('./ug-canvas/ug-green/canvas-intro-green.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/ug-green/canvas-slider-green.html')
			@@include('./ug-canvas/ug-green/canvas-tabs-green.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/ug-green/canvas-4-col-numbers-green.html')
			@@include('./ug-canvas/ug-green/canvas-image-overlay-partial-green.html')
		  @@include('./ug-canvas/ug-green/canvas-overlay-quote-green.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
		  @@include('./ug-canvas/ug-green/canvas-tabs-green-2.html')
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
		</div>
	</div>
<!-- main-content -->
