<!-- ug-header -->
<div class="container-fluid ug-header" id="header">
	<div class="container">
		<div class="row">
			<div id="wordmark-wrapper" class="col-sm-6">
				<a href="http://www.luc.edu"><img class="img-responsive" id="wordmark" src="http://www.luc.edu/media/home/images/luc-logo.png" /></a> 
			</div>
		</div>
	</div>
</div>
<div class="ug-global-nav-wrapper ug-global-nav-wrapper-mobile">
	<div class="ug-global-search">
		<span class="glyphicon glyphicon-search"></span>
	</div>
	<div class="ug-global-nav">
		<span class="glyphicon glyphicon-menu-hamburger"></span>
	</div>
</div>