<!-- ug-header -->
<div id="header" class="container-fluid ug-header affix">
	<div class="container">
		<div class="row">
			<div id="wordmark-wrapper" class="col-sm-6">
				<a href="/"><img class="img-responsive" id="wordmark" src="http://www.luc.edu/media/home/images/luc-logo.png" /></a>
			</div>
		</div>
	</div>
</div>
<div class="ug-global-nav-wrapper ug-global-nav-wrapper-mobile affix">

	<a class="ug-global-search">
		<span class="glyphicon glyphicon-search search-open"></span>
	</a>
	<a class="ug-global-nav">
		<span class="glyphicon glyphicon-menu-hamburger side-menu-open"></span>
	</a>
</div>
