<!-- ug-header -->
<div id="header" class="container-fluid ug-header affix">
	<div class="container">
		<div class="row">
			<div id="wordmark-wrapper" class="col-sm-12">
				<a class="col-sm-6" href="/"><img class="img-responsive" id="wordmark" src="http://www.luc.edu/media/home/images/luc-logo.png" /></a>
				<a class="col-sm-6" id="undergrad-admission" href="/"><span class="home-circle"></span><h6 class="category display">Undergraduate admission</h6></a>
			</div>
		</div>
	</div>
</div>
<div class="ug-global-nav-wrapper ug-global-nav-wrapper-mobile affix">
	<a class="ug-global-nav">
		<span class="glyphicon glyphicon-search search-open" id="search-icon"></span>
		<span class="glyphicon glyphicon-menu-hamburger menu-open" id="menu-icon"></span>
	</a>
</div>
