<!-- main-content -->

<style>
#explore-why-loyola:after,
#explore-social-justice:after,
#explore-academics-chicago:after,
#explore-study-abroad:after,
#explore-residential-life:after,
#explore-cost-value:after,
#explore-apply-visit-info:after {
    content: "";
    background: url(../images/explore/explore-grid-dark-small.png) repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 1;
}
</style>

<div id="wrapper">
	<div id="content" data-script="Articles">
		@@include('parallax-partials/explore-arrived.html')
		@@include('parallax-partials/explore-why-loyola.html')
		@@include('parallax-partials/explore-social-justice.html')
		@@include('parallax-partials/explore-chicago.html')
		@@include('parallax-partials/explore-study-abroad.html')
		@@include('parallax-partials/explore-life-tour.html')
		@@include('parallax-partials/explore-apply-visit-info.html')
	</div>
</div>
<!--wrapper-->
<!-- main-content -->
