<!-- main-content -->
<div id="wrapper">
	<div id="content" data-script="Articles">
		@@include('parallax-partials/explore-intro.html')
		@@include('parallax-partials/explore-social-justice.html')
		@@include('parallax-partials/explore-academics-chicago.html')
		@@include('parallax-partials/explore-study-abroad.html')
		@@include('parallax-partials/explore-residential-life.html')
		@@include('parallax-partials/explore-cost-value.html')
		@@include('parallax-partials/explore-apply-visit-info.html')
	</div>
</div>
<!--wrapper-->
<!-- main-content -->
