<!-- main-content -->
<div id="main-content" class="container-fluid">
<div id="homepage-media-wrapper">
	<div id="homepage-left-rail">
		<div class="homepage-rail-top">
			<h5 class="category">Lorem ipsum hereum lorem unum ipsi doscir lorem</h5>
		</div>
		<div class="homepage-rail-middle aside-number number table-content">
			<img src="images/icons/ug-icon_beaker.png"/>
			<h1 class="number display">Learn</h1>
			<h5 class="label">broadly</5>
		</div>
		</div>
		<div class="homepage-rail-bottom">
			<h5 class="category">Lorem ipsum hereum lorem unum ipsi doscir lorem</h5>
		</div>
	</div>
	<div id="homepage-cta">
		<h1>Explore</h1>
		<h5 class="label reverse">Loyola University Chicago</h5>
	</div>
	<div id="homepage-cta-button">
		<img src="images/homepage/homepage-arrow.png">
	</div>
	<div id="homepage-right-rail">
		<div class="homepage-rail-top">
			<h5 class="category">Lorem ipsum hereum lorem unum ipsi doscir lorem</h5>
		</div>
		<div class="homepage-rail-middle">
			<h5 class="category">Lorem ipsum hereum lorem unum ipsi doscir lorem</h5>
		</div>
		<div class="homepage-rail-bottom">
			<h5 class="category">Lorem ipsum hereum lorem unum ipsi doscir lorem</h5>
		</div>
	</div>
</div> <!-- homepage-media-wrapper -->
</div> <!-- main-content -->
