<div id="social-share-modal" style="display:none;">
  <div id="social-share-wrapper">
    <div id="social-share">
      <div id="social-share-header">
        <span><h3>My ideal college <span class="social-share-bold">major</span> is…</h3>
        </span>
<span><a id="facebook" href="https://www.facebook.com/dialog/feed?app_id=245289005566649&amp;link=http%3A%2F%2Fwww.luc.edu%2Fundergrad%2Facademiclife%2Fwhatsmymajorquiz%2Findex.html&amp;name=Loyola University Chicago's, Choose your Major Quiz pointed me to Mathematics. What should your major be?&amp;description=Answer the questions as they appear on the quiz and we'll analyze your results and show you which majors may be a good fit.&amp;redirect_uri=http://facebook.com/&amp;picture=http://www.luc.edu/undergrad/media/prospectivestudents/images/Sunrise_chapel_doors_lake.jpg"></a>
          </span>
        <span><a id="twitter" class=“twitter-share-button” href="https://twitter.com/intent/tweet?url=http%3A%2%2Fwww.luc.edu%2Fundergrad%2Facademiclife%2Fwhatsmymajorquiz%2Findex.html&amp;text=Loyola University Chicago's, Choose your Major Quiz pointed me to Mathematics. What should your major be?"></a></span>
      </div>
      <div id="social-share-content">
        <div id="quiz-results-image">
          <img id="major-image" src="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1692337426">
        </div>
        <div id="quiz-results" style="display:none;"></div>
        <div id="quiz-rfi"><a href="https://uao.luc.edu/register/MajorWizardRFI/?utm_source=undergradsite&utm_medium=insite&utm_campaign=majorquiz" target="_blank"><span class="btn-wizard">Request information</span></a></div>
      </div>
      <div id="results-close"><a href=" ">X</a></div>
    </div>
  </div>
</div>
