<h1 class="label">Label</h1>
<h1>Headline here Lorem ipsum Lorem ipsum unum hereum</h1>
<p class="body">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc.
</p>
<p class="body">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc.
</p>
<nav id="inset-nav">
	<ul class="nav nav-pills nav-stacked">
		<h5 class="label">You might also be intereted in...</h5>
		<li><h5 class="category"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=103626&amp;chid=30&amp;lang=en">Our Campuses</a></h5></li>
		<li><h5 class="category"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=103628&amp;chid=30&amp;lang=en">Freshman Class Profile</a></h5></li>
		<li><h5 class="category"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=104253&amp;chid=30&amp;lang=en">Chicago</a></h5></li>
	</ul>
</nav>
<p class="body">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc.
</p>
<section id="video" class="col-sm-12">
	<div class="embed-responsive embed-responsive-16by9">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/xVeTp2L9Kjg" frameborder="0" allowfullscreen></iframe>
	</div>
</section>
<section class="accordion-stack">
	<div class="panel-group" id="accordion">
		@@include('ug-accordions/first-year-01-programs.html')
		@@include('ug-accordions/first-year-02-loyola-360.html')
		@@include('ug-accordions/first-year-03-univ-102-seminars.html')
		@@include('ug-accordions/first-year-04-transitions.html')
	</div>
</section>
