<!-- main-content -->
<div class="container-fluid" id="main-content">
<!-- interior-wrapper -->
<div class="container" id="interior-wrapper">
	<div class="development-nav">
		<ul>
			<h5 class="category">Page Templates</h5>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-home.html">Homepage</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-freshman.html">Gold Page - Freshman Start</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-gold.html">Gold Page</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-master-canvas.html">Canvas - Master</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-master-canvas.html">Canvas - Master</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-explore-canvas.html">Canvas - Explore</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-glance-canvas.html">Canvas - Loyola at a glance</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-explore-canvas-simple.html">Canvas - Explore - Simple</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-explore-canvas-mobile.html">Canvas - Explore - Mobile</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-residence-life-canvas.html">Canvas - Residence Life</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-chicago-canvas.html">Canvas - Chicago</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-cost-value-canvas.html">Canvas - Cost and Value</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-outcomes-canvas.html">Canvas - Outcomes</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-study-abroad-canvas.html">Canvas - Study Abroad</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-green-campus-canvas.html">Canvas - Green Campus</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-search-results.html">Search Results</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-module-grid.html">Module Grid</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-quiz.html">Major Quiz</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-return-quiz.html">Major Quiz Return</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-typography.html">Typography</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-majors-minors.html">Majors and Minors</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="ug-search-landing.html">Search landing page</a></li>
		</ul>
	</div>
</div>
<!-- interior-wrapper close -->
</div>
<!-- main-content -->
