<!-- main-content -->
<div class="container-fluid" id="main-content">
<!-- interior-wrapper -->
<div class="container" id="interior-wrapper">
	<div class="development-nav">
		<ul>
			<h5 class="category">Page Templates</h5>
			<li><a href="ug-home.html">Homepage</a></li>
			<li><a href="ug-freshman.html">Freshman Start</a></li>
			<li><a href="ug-gold.html">Gold Page</a></li>
			<li><a href="ug-purple-narrative.html">Purple Page - Narrative</a></li>
			<li><a href="ug-purple-canvas.html">Purple Page - Canvas - Master</a></li>
			<li><a href="ug-chicago-canvas.html">Purple Page - Canvas - Chicago</a></li>
			<li><a href="ug-residence-life-canvas.html">Purple Page - Canvas - Residence Life</a></li>
			<li><a href="ug-study-abroad-canvas.html">Purple Page - Canvas - Study Abroad</a></li>
			<li><a href="ug-green-campus-canvas.html">Purple Page - Canvas - Green Campus</a></li>
			<li><a href="ug-cost-value-canvas.html">Purple Page - Canvas - Cost and Value</a></li>
			<li><a href="ug-bluepage.html">Blue Page</a></li>
			<li><a href="ug-typography.html">Typography</a></li>	
		</ul>
	</div>
</div>
<!-- interior-wrapper close -->
</div>
<!-- main-content -->