<!-- main-content -->
<div id="main-content-home" class="container-fluid">
<div id="homepage-media-wrapper">
	<div id="homepage-left-rail">
		<div class="homepage-rail-top">
			<img src="images/icons/book-open@2X.png"/>
		</div>
		<div class="homepage-rail-middle aside-number number table-content">
			<div class="content-center">
				<img src="images/icons/beaker@2X.png"/>
				<div class="text-wrapper">
					<h1 class="number display">Learn</h1>
					<h5 class="label">broadly</h5>
				</div>
			</div>
		</div>
		<div class="homepage-rail-bottom">
			<h5 class="category">Lorem ipsum hereum lorem unum ipsi doscir lorem</h5>
		</div>
	</div>
	<div id="homepage-cta">
		<h1>Explore</h1>
		<h5 class="label reverse">Loyola University Chicago</h5>
	</div>
	<div id="homepage-cta-button">
		<img src="images/homepage/homepage-arrow.png">
	</div>
	<div id="homepage-right-rail">
		<div class="homepage-rail-top">
			<h5 class="category">Lorem ipsum hereum lorem unum ipsi doscir lorem</h5>
		</div>
		<div class="homepage-rail-middle aside-number number table-content">
			<img src="images/icons/globe@2X.png"/>
			<div class="text-wrapper">
				<h1 class="number display">Shape</h1>
				<h5 class="label">your world</h5>
			</div>
		</div>
		<div class="homepage-rail-bottom">
			<img src="images/icons/gears@2X.png"/>
		</div>
	</div>
</div> <!-- homepage-media-wrapper -->
</div> <!-- main-content -->
