<!-- EXPLORE SIMPLE -->
<!-- main-content -->
<div class="container-fluid" id="main-content-canvas">
	<div class="row">
		<div id="explore-simple visible-xs">
			<div class="col-xs-12">
				<img src="http://placehold.it/1000x560">
				<h1 class="display-large">Possibilities come as often as trains</h1>
				<h5 class="label">Meet Chicago, our extended campus</h5>
			</div>
			<div class="col-xs-12">
				<img src="http://placehold.it/1000x560">
				<h1 class="display-large">Possibilities come as often as trains</h1>
				<h5 class="label">Meet Chicago, our extended campus</h5>
			</div>
			<div class="col-xs-12">
				<img src="http://placehold.it/1000x560">
				<h1 class="display-large">Possibilities come as often as trains</h1>
				<h5 class="label">Meet Chicago, our extended campus</h5>
			</div>
			<div class="col-xs-12">
				<img src="http://placehold.it/1000x560">
				<h1 class="display-large">Possibilities come as often as trains</h1>
				<h5 class="label">Meet Chicago, our extended campus</h5>
			</div>
			<div class="col-xs-12">
				<img src="http://placehold.it/1000x560">
				<h1 class="display-large">Possibilities come as often as trains</h1>
				<h5 class="label">Meet Chicago, our extended campus</h5>
			</div>
		</div>
	</div>
</div>
