<!-- main-content -->
<div class="container-fluid" id="main-content">
<!-- interior-wrapper -->
	<div class="container m-t-30" id="interior-wrapper">
		<div class="row">
      @@include('ug-module.html')
      @@include('ug-module.html')
      @@include('ug-module.html')
      @@include('ug-module.html')
    </div>
    <div class="row">
      @@include('ug-module.html')
      @@include('ug-module.html')
      @@include('ug-module.html')
      @@include('ug-module.html')
    </div>
    <div class="row">
      @@include('ug-module.html')
      @@include('ug-module.html')
      @@include('ug-module.html')
      @@include('ug-module.html')
    </div>
  </div>
</div>
