<!-- main-content -->
	<div class="container-fluid" id="main-content">
		<div class="row">
			@@include('./ug-canvas/ug-glance/canvas-lede-video-outcomes.html')
			@@include('./ug-canvas/ug-glance/canvas-intro-outcomes.html')
			@@include('./ug-canvas/ug-glance/canvas-image-overlay-partial-outcomes1.html')
			@@include('./ug-canvas/ug-glance/canvas-4-col-numbers-outcomes.html')
			@@include('./ug-canvas/ug-glance/canvas-image-overlay-partial-outcomes2.html')
		</div>
	</div>
<!-- main-content -->
