<h1 class="label">MEET YOUR COUNSELOR</h1>
<h2 class="label-chapter-secondary">YOU'VE GOT A LOT OF QUESTIONS. WE'VE GOT PEOPLE WHO CAN ANSWER THEM</h2>
<p>Below you'll find a directory of every staff member in Loyola's Undergraduate Admission Office, except for our <a href="/undergrad/apply/transfer/transfercontacts/">transfer admission staff</a>.</p>
<p><span data-redactor-tag="strong">For Illinois students:</span>&nbsp;Please e-mail us at&nbsp;<a href="mailto:admission@luc.edu">admission@LUC.edu</a>&nbsp;with what high school you attend, and we will connect you with your admission counselor contact.</p>

<div id="map" style="width: 350px; height: 250px;"></div>
<div id="clicked-state"></div>

<script>

$('#map').usmap({
  // The click action
  click: function(event, data) {
    $('#clicked-state')
      .text('You clicked: '+data.name)
      .parent().effect('highlight', {color: '#C7F464'}, 2000);
  }
});
</script>
