<!-- EXPLORE SIMPLE -->
<!-- main-content -->
<div id="main-content-canvas" class="container-fluid explore-simple-wrapper">
	<div class="container">
	<div class="row">
		<div id="explore-simple">
			<!-- ARRIVED -->
			<div class="col-md-12 explore-simple-module smooth-scroll" id="explore-simple-arrived">
				<div class="explore-cta">
					<img src="images/explore-simple/explore-simple-campus-lake-1000-560.jpg">
					<h1 class="display-large">You’ve arrived</h1>
					<h5 class="label">Welcome to your future.</h5>
				</div>
				<div class="row">
					<a href="#explore-simple-why-loyola">
						<div class="explore-cta-button">
							<img src="images/homepage/homepage-arrow-patina.png">
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-12 explore-simple-module smooth-scroll" id="explore-simple-why-loyola">
				<div class="explore-cta">
					<img src="images/explore-simple/explore-simple-flag-1000-560.jpg">
					<h1 class="display-large">Why Loyola?</h1>
					<h5 class="label">Exploration, curiousity, and the joy of discovery are all hallmarks of a Jesuit education.</h5>
				</div>
				<div class="row">
					<a href="#explore-simple-social-justice">
						<div class="explore-cta-button">
							<img src="images/homepage/homepage-arrow-patina.png">
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-12 explore-simple-module smooth-scroll" id="explore-simple-social-justice">
				<div class="explore-cta">
					<img src="images/explore-simple/explore-simple-social-justice-1000-560.jpg">
					<h1 class="display-large display-mobile">College with a conscience</h1>
					<h5 class="label">Social justice isn’t just an ideal. It’s what we work toward every single day.</h5>
				</div>
				<div class="row">
					<a href="#explore-simple-campus-chicago">
						<div class="explore-cta-button">
							<img src="images/homepage/homepage-arrow-patina.png">
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-12 explore-simple-module smooth-scroll" id="explore-simple-campus-chicago">
				<div class="explore-cta">
					<img src="images/explore-simple/explore-simple-academics-chicago-1000-560.jpg">
					<h1 class="display-large display-mobile">Not your typical college town</h1>
					<h5 class="label">Fortune 500 companies, world-class museums, endless possibilities. Think of Chicago as a really big classroom.</h5>
				</div>
				<div class="row">
					<a href="#explore-simple-study-abroad">
						<div class="explore-cta-button">
							<img src="images/homepage/homepage-arrow-patina.png">
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-12 explore-simple-module smooth-scroll" id="explore-simple-study-abroad">
				<div class="explore-cta">
					<img src="images/explore-simple/explore-simple-study-abroad-1000-560.jpg">
					<h1 class="display-large display-mobile">The world is calling</h1>
					<h5 class="label">Explore a new culture, and you’ll likely return with a new perspective.</h5>
				</div>
				<div class="row">
					<a href="#explore-simple-tour">
						<div class="explore-cta-button">
							<img src="images/homepage/homepage-arrow-patina.png">
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-12 explore-simple-module smooth-scroll" id="explore-simple-tour">
				<div class="explore-cta">
					<img src="images/explore-simple/explore-simple-fans-1000-560.jpg">
					<h1 class="display-large display-mobile">We’re always doing something new</h1>
				</div>
				<div class="row">
					<div class="col-md-6">
						<a href="https://www.youvisit.com//62140/?pl=v&hover=0">
							<button type="submit" class="btn-overlay cta tour-button-left" href="https://www.youvisit.com//62140/?pl=v&hover=0">
								Take a virtual tour
							</button>
						</a>
					</div>
					<div class="col-md-6">
						<a href="http://www.luc.edu/undergrad/getmore/college-visits.html">
							<button type="submit" class="btn-overlay cta tour-button-right" href="http://www.luc.edu/undergrad/getmore/college-visits.html">
								Register for a tour
							</button>
						</a>
					</div>
				</div>
				<div class="row">
					<a href="#explore-simple-cta">
						<div class="explore-cta-button" style="margin-top: 15px !important;">
							<img src="images/homepage/homepage-arrow-patina.png">
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-12 explore-simple-module" id="explore-simple-cta">
				<img src="images/explore-simple/explore-simple-apply-visit-info-1000-560.jpg">
				<div class="col-md-4">
					<a href="https://uao.luc.edu/apply/">
						<button type="submit" class="btn-overlay cta tour-button-right" href="https://uao.luc.edu/apply/">
							Apply now
						</button>
					</a>
				</div>
				<div class="col-md-4">
					<a href="http://www.luc.edu/undergrad_work/comevisit/">
						<button type="submit" class="btn-overlay cta tour-button-right" href="http://www.luc.edu/undergrad_work/comevisit/">
							Come visit
						</button>
					</a>
				</div>
				<div class="col-md-4">
					<a href="https://uao.luc.edu/register/?id=09e1ac8b-c620-43cc-afe7-325cad54eec2">
						<button type="submit" class="btn-overlay cta tour-button-right" href="https://uao.luc.edu/register/?id=09e1ac8b-c620-43cc-afe7-325cad54eec2">
							Get Info
						</button>
					</a>
				</div>
				<div class="row" id="explore-simple-links">
					<div class="col-md-12">
						<h2 class="display-small text-center">Learn more</h2>
						<h5 class="label text-center">
							<a href="http://www.luc.edu/undergrad_work/featurecontent/canvases/studyabroad/">
								Social justice and service
							</a>
							<span class="bullet">&#8226;</span>
							<a href="http://www.luc.edu/undergrad_work/featurecontent/canvases/loyolaandchicago/">
								The city of Chicago
							</a>
						</h5>
						<h5 class="label text-center">
							<a href="http://www.luc.edu/undergrad_work/featurecontent/canvases/studyabroad/">
								Studying abroad
							</a>
							<span class="bullet">&#8226;</span>
							<a href="http://www.luc.edu/undergrad_work/featurecontent/canvases/residencelife/">
								Living on campus
							</a>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
