<!-- main-content -->
	<div class="container-fluid" id="main-content">
		<div class="row">
			@@include('./ug-canvas/canvas-lede-video.html')
			@@include('./ug-canvas/canvas-intro.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/canvas-2-col.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/canvas-image-grid.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/canvas-2-col-imgs.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/canvas-2-col-img-text.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/canvas-3-col-imgs.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/canvas-4-col-imgs.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/canvas-6-col-icons.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/canvas-tabs.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/canvas-tabs-interior-accordion.html')
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/canvas-3-col-numbers.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/canvas-4-col-numbers.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/canvas-combo-col-numbers.html')
			@@include('./ug-canvas/canvas-slider.html')
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/canvas-buttons.html')
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/canvas-2-col-img-accordion.html')
			@@include('./ug-canvas/canvas-overlay-quote.html')
			@@include('./ug-canvas/canvas-1-col-accordion.html')
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/canvas-overlay-quote.html')
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/canvas-image-overlay-partial.html')
		</div>
	</div>
<!-- main-content -->