<!-- main-content -->
<div id="wrapper">
	<div id="content" data-script="Articles">
		@@include('parallax-partials/explore-01-intro-apply.html')
		@@include('parallax-partials/explore-02-why-loyola.html')
		@@include('parallax-partials/explore-03-service-grid.html')
		@@include('parallax-partials/explore-04-social-justice.html')
		@@include('parallax-partials/explore-05-academics-chicago.html')
		@@include('parallax-partials/explore-06-study-abroad.html')
		@@include('parallax-partials/explore-07-life-grid.html')
		@@include('parallax-partials/explore-08-residential-life.html')
		@@include('parallax-partials/explore-09-cost-value.html')
		@@include('parallax-partials/explore-10-apply-visit-info.html')
	</div>
</div>
<!--wrapper-->
<!-- main-content -->
