<!-- main-content -->
<div id="wrapper">
	<div id="content" data-script="Articles">
		@@include('./parallax-partials/full-page-opener.html')
		@@include('./parallax-partials/full-page-full-image.html')
		@@include('./parallax-partials/full-page-gallery-square.html')
		@@include('./parallax-partials/full-page-gallery-wide.html')
		@@include('./parallax-partials/full-page-graphic.html')
		@@include('./parallax-partials/full-page-full-image.html')
		@@include('./parallax-partials/full-page-closer.html')
	</div>
</div>
<!--wrapper-->
<!-- main-content -->
