<!-- main-content -->
	<div class="container-fluid" id="main-content">
		<div class="row">
			@@include('./ug-canvas/canvas-lede-video.html')
			@@include('./ug-canvas/canvas-intro.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/canvas-grid-9-img.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/ug-chicago/canvas-combo-col-numbers-chicago.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/ug-chicago/canvas-image-grid-chicago.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/ug-chicago/canvas-3-col-imgs-chicago.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/ug-chicago/canvas-slider-chicago-opportunity.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/ug-cost/canvas-3-col-numbers-cost.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/ug-cost/canvas-3-col-resources-cost.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/ug-cost/canvas-image-overlay-cost.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/ug-cost/canvas-overlay-quote-cost.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/ug-green/canvas-image-overlay-partial-green.html')
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/ug-res-life/canvas-tabs-res-life.html') 
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
			@@include('./ug-canvas/canvas-2-col-img-accordion.html')
		</div>
	</div>
<!-- main-content -->
