<!-- EXPLORE SIMPLE -->
<!-- main-content -->
<div id="main-content-canvas" class="container-fluid explore-simple-wrapper">
	<div class="container">
	<div class="row">
		<div id="explore-simple">
			<!-- ARRIVED -->
			<div class="col-md-12 explore-simple-module" id="explore-simple-arrived">
				<div class="explore-cta">
					<img src="http://placehold.it/1000x560">
					<h1 class="display-large">You’ve arrived</h1>
					<h5 class="label">It's time to get started</h5>
				</div>
				<div class="row">
					<a href="#explore-simple-why-loyola">
						<div class="explore-cta-button">
							<img src="images/homepage/homepage-arrow-patina.png">
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-12 explore-simple-module" id="explore-simple-why-loyola">
				<div class="explore-cta">
					<img src="http://placehold.it/1000x560">
					<h1 class="display-large">Why Loyola?</h1>
					<!-- <h5 class="label">It's time to get started</h5> -->
				</div>
				<div class="row">
					<a href="#explore-simple-social-justice">
						<div class="explore-cta-button">
							<img src="images/homepage/homepage-arrow-patina.png">
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-12 explore-simple-module" id="explore-simple-social-justice">
				<div class="explore-cta">
					<img src="http://placehold.it/1000x560">
					<h1 class="display-large display-mobile">Social justice isn’t just an ideal</h1>
					<h5 class="label">It’s what we work toward every single day</h5>
				</div>
				<div class="row">
					<a href="#explore-simple-campus-chicago">
						<div class="explore-cta-button">
							<img src="images/homepage/homepage-arrow-patina.png">
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-12 explore-simple-module" id="explore-simple-campus-chicago">
				<div class="explore-cta">
					<img src="http://placehold.it/1000x560">
					<h1 class="display-large display-mobile">Possibilities come as often as trains</h1>
					<h5 class="label">Meet Chicago, our extended campus</h5>
				</div>
				<div class="row">
					<a href="#explore-simple-study-abroad">
						<div class="explore-cta-button">
							<img src="images/homepage/homepage-arrow-patina.png">
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-12 explore-simple-module" id="explore-simple-study-abroad">
				<div class="explore-cta">
					<img src="http://placehold.it/1000x560">
					<h1 class="display-large display-mobile">Curious minds can go further and farther</h1>
					<h5 class="label">Search for the unexpected</h5>
				</div>
				<div class="row">
					<a href="#explore-simple-tour">
						<div class="explore-cta-button">
							<img src="images/homepage/homepage-arrow-patina.png">
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-12 explore-simple-module" id="explore-simple-tour">
				<div class="explore-cta">
					<img src="http://placehold.it/1000x560">
					<h1 class="display-large display-mobile">We’re always doing something new</h1>
					<h5 class="label">Lorem ipsum unum here</h5>
				</div>
				<div class="row">
					<div class="col-md-6">
						<a href="###"><button type="submit" class="btn-overlay cta tour-button-left" href="###">Take a virtual tour</button></a>
					</div>
					<div class="col-md-6">
						<a href="###"><button type="submit" class="btn-overlay cta tour-button-right" href="###">Register for a campus tour</button></a>
					</div>
				</div>
				<div class="row">
					<a href="#explore-simple-cta">
						<div class="explore-cta-button" style="margin-top: 15px !important;">
							<img src="images/homepage/homepage-arrow-patina.png">
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-12 explore-simple-module" id="explore-simple-cta">
				<img src="http://placehold.it/1000x560">
				<div class="col-md-4">
					<a href="###"><button type="submit" class="btn-overlay cta tour-button-right" href="###">Apply now</button></a>
				</div>
				<div class="col-md-4">
					<a href="###"><button type="submit" class="btn-overlay cta tour-button-right" href="###">Come visit</button></a>
				</div>
				<div class="col-md-4">
					<a href="###"><button type="submit" class="btn-overlay cta tour-button-right" href="###">Get Info</button></a>
				</div>
				<div class="row" id="explore-simple-links">
					<div class="col-md-12">
						<h2 class="display-small text-center">Learn more about</h2>
						<h5 class="label text-center"><a href="">Social justice and service</a><span class="bullet">&#8226;</span><a href="">The city of Chicago</a></h5>
						<h5 class="label text-center"><a href="">Studying abroad</a><span class="bullet">&#8226;</span><a href="">Living on campus</a></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
