<!-- begin fb sdk -->
<script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '419563574901658',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

</script>
<!-- end fb sdk -->

<div class="container">
<div class="row">
<section id="interior-intro" class="col-sm-8 p-b-0">
  <h1 class="label reverse">Major Quiz</h1>
    <h1 class="reverse">"What’s my major?" <span>Quiz</span></h1>
      <p class="body intro reverse"><span class="leadin small">Answer the questions as they appear below and we'll analyze your results and show you which majors may be a good fit.</span></p>

  <div class="row">
    <div class="question-wrap col-sm-12">
      <!-- 01 -->
      <div class="question reverse" data-associated-colleges="Advertising and Public Relations,Communication Studies,Environmental Policy,Journalism,History,Marketing,Political Science,Sociology">I have multiple interests and a natural curiosity about the world.</div>
      <!-- 02 -->
      <div class="question reverse" data-associated-colleges="Advertising and Public Relations,Communication Studies,Education,English,Journalism,Marketing,Sports Management,Exercise Science">I enjoy working with people, and I have strong verbal and written communication skills.</div>
      <!-- 03 -->
      <div class="question reverse" data-associated-colleges="Art History,Studio Art,Visual Communication,Dance">I have interest and/or ability in art.</div>
      <!-- 04 -->
      <div class="question reverse" data-associated-colleges="Computer Science,Visual Communication">I'm interested in graphic and/or Web design.</div>
      <!-- 05 -->
      <div class="question reverse" data-associated-colleges="Theatre">I love acting. I was born to be on stage, or at least work behind the curtain.</div>
      <!-- 06 -->
      <div class="question reverse" data-associated-colleges="Music">I like to sing and/or play musical instruments.</div>
      <!-- 07 -->
      <div class="question reverse" data-associated-colleges="Film and Digital Media">I'm interested in filmmaking and media production.</div>
      <!-- 08 -->
      <div class="question reverse" data-associated-colleges="Advertising and Public Relations,Anthropology,Education,History,Journalism,Political Science,Sociology,Sociology and Anthropology">I like working with people, and I enjoy variety in my work.</div>
      <!-- 09 -->
      <div class="question reverse" data-associated-colleges="History,Philosophy,Religious Studies,Social Work,Theology">I'm interested in intellectual ideas, including those that are shaped by religious beliefs.</div>
      <!-- 10 -->
      <div class="question reverse" data-associated-colleges="African Studies and the African Diaspora,Classical Civilization,English,French,Greek,History,Italian,Latin,Spanish,Womens Studies and Gender Studies">I have strong verbal ability and enjoy learning about other cultures and civilizations through language and literature.</div>
      <!-- 11 -->
      <div class="question reverse" data-associated-colleges="Biochemistry,Bioinformatics,Biology,Biophysics,Chemistry,Environmental Policy,Environmental Science,Forensic Science,Physics,Theoretical Physics and Applied Mathematics">I'm interested in science and in the ability to think logically.</div>
      <!-- 12 -->
      <div class="question reverse" data-associated-colleges="Biochemistry,Bioinformatics,Biology,Biophysics,Chemistry,Education,Environmental Policy,Environmental Science,Forensic Science,Physics">I enjoy learning about living things.</div>
      <!-- 13 -->
      <div class="question reverse" data-associated-colleges="Biochemistry,Bioinformatics,Biology,Biophysics,Chemistry,Environmental Science,Forensic Science,Physics">I like to experiment with better and faster ways of doing things.</div>
      <!-- 14 -->
      <div class="question reverse" data-associated-colleges="Biochemistry,Bioinformatics,Biology,Biophysics,Chemistry,Environmental Science,Forensic Science,Physics">I have a great memory and have the ability to recognize general principles in particular situations.</div>
      <!-- 15 -->
      <div class="question reverse" data-associated-colleges="Bioinformatics,Communications Networks and Security,Computer Science,Forensic Science,Information Technology,Mathematics and Computer Science,Engineering Science,Software Engineering,Statistics">I like science and math, and I have mechanical aptitude.</div>
      <!-- 16 -->
      <div class="question reverse" data-associated-colleges="Bioinformatics,Communications Networks and Security,Computer Science,Forensic Science,Information Technology,Information Systems,Mathematics and Computer Science,Engineering Science,Software Engineering,Statistics">I can work on projects very carefully and thoroughly, with patience and determination.</div>
      <!-- 17 -->
      <div class="question reverse" data-associated-colleges="Environmental Policy,History,Political Science,PreLaw">I'm interested in law, debate, government, and politics.</div>
      <!-- 18 -->
      <div class="question reverse" data-associated-colleges="Communication Studies,Education,Human Services,Journalism,Psychology,Sociology,Exercise Science">I'm very independent and inquiring, and I love working with people.</div>
      <!-- 19 -->
      <div class="question reverse" data-associated-colleges="Criminal Justice and Criminology,Political Science,PreLaw">I'm interested in law and human nature, and I have the ability to correlate and reason.</div>
      <!-- 20 -->
      <div class="question reverse" data-associated-colleges="Education,Environmental Policy,Human Services,Nursing,Social Work">I have strong morals and enjoy helping people.</div>
      <!-- 21 -->
      <div class="question reverse" data-associated-colleges="Accounting">I'm good with numbers and have a creative imagination.</div>
      <!-- 22 -->
      <div class="question reverse" data-associated-colleges="Economics,Finance,Information Systems">I'm good at analyzing, comparing, and interpreting data.</div>
      <!-- 23 -->
      <div class="question reverse" data-associated-colleges="Human Resources Mgmt">I'm interested in the way people make their living and how that affects society.</div>
      <!-- 24 -->
      <div class="question reverse" data-associated-colleges="Operations Management,Sports Management">I have an analytic and systematic mind. I'm also good at organizing and delegating responsibilities.</div>
      <!-- 25 -->
      <div class="question reverse" data-associated-colleges="Education">I'm patient and active, and I love working with children.</div>
      <!-- 26 -->
      <div class="question reverse" data-associated-colleges="Health Systems Management,Nursing">I'm interested in working with sick people, and I have a strong sense of responsibility and sound judgment.</div>
      <!-- 27 -->
      <div class="question reverse" data-associated-colleges="Environmental Policy,Health Systems Management,PreHealth,Exercise Science">I'm interested in science, enjoy helping people, and have very strong morals.</div>
      <!-- 28 -->
      <div class="question reverse" data-associated-colleges="Entrepreneurship,Sports Management">I'm very ambitious, highly organized, and love coming up with my own ideas.</div>
      <!-- 29 -->
      <div class="question reverse" data-associated-colleges="Environmental Policy,Environmental Studies">I'm interested in sustainability initiatives and the environment.</div>
      <!-- 30 -->
      <div class="question reverse" data-associated-colleges="History,International Business, Global and International Studies">I enjoy learning about different parts of the world.</div>
      <!-- 31 -->
      <div class="question reverse" data-associated-colleges="Environmental Policy">I am interested in sustaining the environment.</div>
      <!-- 32 -->
      <div class="question reverse" data-associated-colleges="Dance">I need the freedom to create and be creative.</div>
      <!-- 33 -->
      <div class="question reverse" data-associated-colleges="Sports Management">I love sports.</div>
      <!-- 34 -->
      <div class="question reverse" data-associated-colleges="Exercise Science">I am interested in physical therapy.</div>
      <!-- 35 -->
      <div class="question reverse" data-associated-colleges="Dance">Music is part of my everyday routine. People catch me dancing around a lot.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12"> <input type="radio" id="yes" /><label for="yes" class="reverse">Yes</label><input type="radio" id="no" /><label for="no" class="reverse">No</label></div>
  </div>
  <div class="row">
    <div id="position" class="col-sm-3 reverse">1/35</div>
  </div>
  <div class="row">
    <div class="col-sm-3"><a id="reset" href="#">Start Over</a></div>
  </div>
</section>
<section id="majors-list">
  <ul class="colleges col-sm-4 reverse">
    <li><a href="http://www.luc.edu/gist/" target="_blank" data-college-info="understanding international issues to bridge perspectives and cultures across the globe." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1498551139">Global and International Studies</a></li>
    <li><a href="http://www.luc.edu/quinlan/undergraduate/marketing/index.shtml" target="_blank" data-college-info="recognizing knowledge, skills, and talents of others to achieve superior organizational performance." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=460781157">Marketing</a></li>
    <li><a href="http://www.luc.edu/physics/index.shtml" target="_blank" data-college-info="applying knowledge of nature, energy and matter to develop innovative scientific and engineering methods." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=522874617">Physics</a></li>
    <li><a href="http://www.luc.edu/africanstudies/" target="_blank" data-college-info="understanding global black history to help make our world a home for all." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=450604395">African Studies and the African Diaspora</a></li>
    <li><a href="http://www.luc.edu/humanservices/index.shtml" target="_blank" data-college-info="meeting the needs of individuals and communities through interdisciplinary knowledge and practice." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1280727443">Human Services</a></li>
    <li><a href="http://www.luc.edu/finearts/academics/majorinvisualcommunication/" target="_blank" data-college-info="applying various visual media skills in careers such as advertising, design, or copywriting." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=957540620">Visual Communication</a></li>
    <li><a href="http://www.luc.edu/biology/index.shtml" target="_blank" data-college-info="applying extensive knowledge of living organisms to careers in education, research, or medicine." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=142749722">Biology</a></li>
    <li><a href="http://www.luc.edu/quinlan/undergraduate/sportmanagement/index.shtml" target="_blank" data-college-info="Advancing the sport industry through work in fields such as finance, law, and marketing." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=455343955">Sports Management</a></li>
    <li><a href="http://www.luc.edu/nursing/exercise/" target="_blank" data-college-info="helping people lead healthier lives through careers such as adult fitness or personal training." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1481617424">Exercise Science</a></li>
    <li><a href="http://www.luc.edu/cs/academics/undergraduateprograms/bsit/" target="_blank" data-college-info="designing and implementing information bases for today's sophisticated technological world." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1471158203">Information Technology</a></li>
    <li><a href="http://www.luc.edu/cs/academics/undergraduateprograms/bscns/" target="_blank" data-college-info="advancing today's expanding networking communication infrastructure." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1776689910">Communications Networks and Security</a></li>
    <li><a href="http://www.luc.edu/psychology/index.shtml" target="_blank" data-college-info="applying knowledge of social and psychological development to address individual and social issues." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=67205835">Psychology</a></li>
    <li><a href="http://www.luc.edu/math/bsstat.shtml" target="_blank" data-college-info="applying statistical theory and mathematics tools to generate quantitative results." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=2099554170">Statistics</a></li>
    <li><a href="http://www.luc.edu/modernlang/italian.shtml" target="_blank" data-college-info="applying Italian language and cultural learning in fields such as education, business, or the arts." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1903131333">Italian</a></li>
    <li><a href="http://www.luc.edu/politicalscience/index.shtml" target="_blank" data-college-info="analyzing social sciences and governmental activity to prepare for a future in politics." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1306875313">Political Science</a></li>
    <li><a href="http://www.luc.edu/cs/academics/undergraduateprograms/bsse/" target="_blank" data-college-info="applying technological and quantitative knowledge to various areas of software development." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnfnno=60&ceid=190644075">Software Engineering</a></li>
    <li><a href="http://www.luc.edu/chemistry/index.shtml" target="_blank" data-college-info="applying knowledge of chemical processes in fields such as medicine, research, academics, and business." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=109367201">Chemistry</a></li>
    <li><a href="http://www.luc.edu/quinlan/undergraduate/informationsystems/" target="_blank" data-college-info="advancing professional technology with information systems and data analysis." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=2036029022">Information Systems</a></li>
    <li><a href="http://www.luc.edu/classicalstudies/academics.shtml#GREK" target="_blank" data-college-info="exploring ancient Greek language and culture to draw parallels in today's society." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1535341456">Greek</a></li>
    <li><a href="http://www.luc.edu/prelaw/" target="_blank" data-college-info="interest in the rule of law and its application." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=320348640">PreLaw</a></li>
    <li><a href="http://www.luc.edu/soc/undergrad/film-digital-media/" target="_blank" data-college-info="utilizing multiple digital outlets to effectively convey messages to influence our society." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=358089451">Film and Digital Media</a></li>
    <li><a href="http://www.luc.edu/cs/index.shtml" target="_blank" data-college-info="applying theoretical foundations to software development or database administration." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1160224063">Computer Science</a></li>
    <li><a href="http://www.luc.edu/modernlang/french.shtml" target="_blank" data-college-info="immersion in the French language and culture to support careers in education, business, or the arts. " data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=734312081">French</a></li>
    <li><a href="http://www.luc.edu/quinlan/undergraduate/humanresources/index.shtml" target="_blank" data-college-info="utilizing interpersonal skills to motivate, manage, & evaluate people in the workforce." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=2142109705">Human Resources Mgmt</a></li>
    <li><a href="http://www.luc.edu/quinlan/undergraduate/economics/index.shtml" target="_blank" data-college-info="understanding and analyzing complex markets and industries for work in the private and public sector." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=2021953627">Economics</a></li>
    <li><a href="http://www.luc.edu/criminaljustice/index.shtml" target="_blank" data-college-info="addressing the nation's complex criminal justice system and social standards." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1193378861">Criminal Justice and Criminology</a></li>
    <li><a href="http://www.luc.edu/dance/" target="_blank" data-college-info="learning a holistic practice and approach to dance training and developing an aesthetic literacy." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1768737494">Dance</a></li>
    <li><a href="http://www.luc.edu/modernlang/spanish.shtml" target="_blank" data-college-info="applying Spanish language and cultural learning in fields such as education, business, or the arts." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1702419884">Spanish</a></li>
    <li><a href="http://www.luc.edu/english/index.shtml" target="_blank" data-college-info="applying textual studies and literary theory to become a clear and effective writer." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1646361407">English</a></li>
    <li><a href="http://www.luc.edu/hsm/bshsm/" target="_blank" data-college-info="contributing to complex health care systems to promote a more healthy society.
  " data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=69375854">Health Systems Management</a></li>
    <li><a href="http://www.luc.edu/chemistry/bachelorofsciencebsmajorinbiochemistry/" target="_blank" data-college-info="applying principles of living things and biological processes to expand human knowledge." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=2063841504">Biochemistry</a></li>
    <li><a href="http://www.luc.edu/theatre/" target="_blank" data-college-info="cultivating theatrical skills in acting, directing, and design for future performing arts roles." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=828291384">Theatre</a></li>
    <li><a href="http://www.luc.edu/education/" target="_blank" data-college-info="focused on leading the pursuit of knowledge within a classroom environment." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1104291034">Education</a></li>
    <li><a href="http://www.luc.edu/finearts/" target="_blank" data-college-info=" concentrate on the creative, technical, and practical aspects of drawing, design, painting, and sculpture" data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1265731064">Studio Art</a></li>
    <li><a href="http://www.luc.edu/anthropology/index.shtml" target="_blank" data-college-info="incorporating the history of humankind to better shape future human development." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=168985466">Anthropology</a></li>
    <li><a href="http://www.luc.edu/sociology/index.shtml" target="_blank" data-college-info="understanding how people interact with each other and how social structure influences our lives." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1165345728">Sociology</a></li>
    <li><a href="http://www.luc.edu/math/bsmathcs.shtml" target="_blank" data-college-info="utilizing mathematical skills to understand modern areas of computer science." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=914789856">Mathematics and Computer Science</a></li>
    <li><a href="http://www.luc.edu/engineeringscience/" target="_blank" data-college-info="applying mathematical and scientific literacy to provide innovative solutions to problems." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1037680919">Engineering Science</a></li>
    <li><a href="http://www.luc.edu/sustainability/academics/undergraduateprograms/environmental-policy/index.shtml" target="_blank" data-college-info="applying policies, procedures, and theory to drive sustainability in civilization." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=588508346">Environmental Policy</a></li>
    <li><a href="http://www.luc.edu/biophysics/index.shtml" target="_blank" data-college-info="analyzing natural processes and forces to contribute to new developments within the sciences." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1897576787">Biophysics</a></li>
    <li><a href="http://www.luc.edu/anthropology/anthropology-sociology.shtml" target="_blank" data-college-info="connecting both of these social to better understand human culture and phenomena." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=293417512">Sociology and Anthropology</a></li>
    <li><a href="http://www.luc.edu/wsgs/index.shtml" target="_blank" data-college-info="applying sociological theories to advance current female and gender roles." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=845670672">Womens Studies and Gender Studies</a></li>
    <li><a href="http://www.luc.edu/philosophy/index.shtml" target="_blank" data-college-info="posing fundamental questions and using critical analysis to enhance the ethics and morals of society." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1140208458">Philosophy</a></li>
    <li><a href="http://luc.edu/sustainability/academics/undergraduateprograms/bsinenvironmentalscience/" target="_blank" data-college-info="addressing complex environmental challenges through extensive lab and field research." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1486971425">Environmental Science</a></li>
    <li><a href="http://www.luc.edu/soc/undergrad/advertising-pr/" target="_blank" data-college-info="promoting and branding products and entities to increase market presence." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1261539836">Advertising and Public Relations</a></li>
    <li><a href="http://www.luc.edu/music/" target="_blank" data-college-info="developing musical performance, theory, and composition skills for performing, teaching or writing careers." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=593976821">Music</a></li>
    <li><a href="http://www.luc.edu/socialwork/" target="_blank" data-college-info="working to improve society's overall well-being by providing individual and group services. " data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1464439291">Social Work</a></li>
    <li><a href="http://www.luc.edu/quinlan/undergraduate/accounting/" target="_blank" data-college-info="calculating financial health of industries for work in areas such as auditing, taxation or management." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=521085570">Accounting</a></li>
    <li><a href="http://www.luc.edu/sustainability/academics/undergraduateprograms/environmental-studies/index.shtml" target="_blank" data-college-info="applying environmental understanding to address economic, societal, and ethical needs." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=446862524">Environmental Studies</a></li>
    <li><a href="http://www.luc.edu/history/index.shtml" target="_blank" data-college-info="exploring civilizations across time and space with emphasis on research, writing, and problem-solving." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=668127309">History</a></li>
    <li><a href="http://www.luc.edu/quinlan/undergraduate/operationsmanagement/" target="_blank" data-college-info="efficiently running an organization through managerial decisions." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=23692200">Operations Management</a></li>
    <li><a href="http://www.luc.edu/prehealth/" target="_blank" data-college-info="invetigating the human body and how it can be healed" data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=910330705">PreHealth</a></li>
    <li><a href="http://www.luc.edu/quinlan/undergraduate/internationalbusiness/" target="_blank" data-college-info="initiating global trade, communication, and commerce to advance international economy." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1254657707">International Business</a></li>
    <li><a href="http://www.luc.edu/quinlan/undergraduate/entrepreneurship/" target="_blank" data-college-info="starting new business ventures to lead our market economy into the future." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=890151656">Entrepreneurship</a></li>
    <li><a href="http://www.luc.edu/soc/undergrad/communication-studies/" target="_blank" data-college-info="Effectively utilize communication to convey the appropriate information to spark change. " data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1407797390">Communication Studies</a></li>
    <li><a href="http://www.luc.edu/classicalstudies/academics.shtml#LATN" target="_blank" data-college-info="applying Latin language and cultural learning in fields such as education, business, or the arts." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=2023394731">Latin</a></li>
    <li><a href="http://www.luc.edu/forensicscience/index.shtml" target="_blank" data-college-info="applying biology and chemistry to the criminal justice system to decipher and analyze evidence." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1791693672">Forensic Science</a></li>
    <li><a href="http://www.luc.edu/bioinformatics/index.shtml" target="_blank" data-college-info="analyzing complex data for careers in healthcare, biotechnology, pharmaceutics, or research." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=979847070">Bioinformatics</a></li>
    <li><a href="http://www.luc.edu/theology/index.shtml" target="_blank" data-college-info="expanding on traditional or contemporary religions to better understand spirituality across the globe." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1385100294">Theology</a></li>
    <li><a href="http://www.luc.edu/quinlan/undergraduate/finance/" target="_blank" data-college-info="analyzing market trends and utilizing financial tools in areas such as financial or risk management." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=657907778">Finance</a></li>
    <li><a href="http://www.luc.edu/classicalstudies/academics.shtml#CCIV" target="_blank" data-college-info="applying historical knowledge to make connections between the past and the present." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=62726443">Classical Civilization</a></li>
    <li><a href="http://www.luc.edu/finearts/academics/majorinarthistory/" target="_blank" data-college-info="exploring civilizations across time and space with emphasis on research, writing, and problem-solving." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1976340471">Art History</a></li>
    <li><a href="http://www.luc.edu/theology/academics_undergraduate_degreeprograms.shtml" target="_blank" data-college-info="understanding the cultural significance and human phenomenon of spirituality across the globe." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1224727948">Religious Studies</a></li>
    <li><a href="http://www.luc.edu/soc/undergrad/journalism/" target="_blank" data-college-info="reporting the world's latest news and disseminating information through various media outlets." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=371865541">Journalism</a></li>
    <li><a href="http://www.luc.edu/nursing/" target="_blank" data-college-info="providing clinical care to people with health concerns in healthcare settings and throughout communities." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=766734817">Nursing</a></li>
    <li><a href="http://www.luc.edu/math/bsphysapp.shtml" target="_blank" data-college-info="applying analytical and computational skills in various industries." data-college-image="https://cms4.luc.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=1610187319">Theoretical Physics and Applied Mathematics</a></li>
  </ul>
</section>
</div>
</div>

<div id="social-share-modal" style="display:none;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="social-share-wrapper">
          <div id="social-share">
            <div id="social-share-header">
              <span>
                <h3>My ideal college <span class="social-share-bold">major</span> is…</h3>
              </span>
              <span>
                <a id="facebook" href="https://www.facebook.com/dialog/feed?app_id=245289005566649&amp;link=http%3A%2F%2Fwww.luc.edu%2Fundergrad%2Facademiclife%2Fwhatsmymajorquiz%2Findex.html&amp;name=Loyola University Chicago's, Choose your Major Quiz pointed me to Mathematics. What should your major be?&amp;description=Answer the questions as they appear on the quiz and we'll analyze your results and show you which majors may be a good fit.&amp;redirect_uri=http://facebook.com/&amp;picture=http://www.luc.edu/undergrad/media/prospectivestudents/images/Sunrise_chapel_doors_lake.jpg"></a>
              </span>
              <span>
                <a id="twitter" class=“twitter-share-button” href="https://twitter.com/intent/tweet?url=http%3A%2%2Fwww.luc.edu%2Fundergrad%2Facademiclife%2Fwhatsmymajorquiz%2Findex.html&amp;text=Loyola University Chicago's, Choose your Major Quiz pointed me to Mathematics. What should your major be?"></a>
              </span>
            </div>
            <div id="social-share-content">
              <div id="quiz-results-image"><img id="major-image" style="display:none;" scr="" /></div>
              <div id="quiz-results" style="display:none;"></div>
              <div id="quiz-rfi"><a href="https://uao.luc.edu/register/MajorWizardRFI/?utm_source=undergradsite&utm_medium=insite&utm_campaign=majorquiz" target="_blank"><span class="btn-overlay">Request information</span></a></div>
            </div>
            <div id="results-close"><a href="#">X</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$("#results-close").click(function() {
$("#social-share-modal").fadeOut(200)
});
</script>
