<h1 class="label">Label (blue page below)</h1>
<h1 class="display basic">Headline here Lorem ipsum Lorem ipsum unum hereum</h1>
<p class="body">
	Lorem ipsum dolor <a style="font-style:bold;" href="#">sit amet, consectetur</a> adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc.
</p>
<nav id="inset-nav">
	<ul class="nav nav-pills nav-stacked">
		<h5 class="label">You might also be interested in...</h5>
		<li><h5 class="category"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=103626&amp;chid=30&amp;lang=en">Our Campuses</a></h5></li>
		<li><h5 class="category"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=103628&amp;chid=30&amp;lang=en">Freshman Class Profile</a></h5></li>
		<li><h5 class="category"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=104253&amp;chid=30&amp;lang=en">Chicago</a></h5></li>
	</ul>
</nav>
<p class="body">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc.
</p>


<div class="spacer-section-no-rule" style="height:50px"></div>

<h1 class="label">Label (gold page below)</h1>
<section id="video" class="col-sm-12">
	<div class="embed-responsive embed-responsive-16by9">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/xVeTp2L9Kjg" frameborder="0" allowfullscreen></iframe>
	</div>
</section>
<h1 class="display">Lorem ipsum</h1>
<p class="body">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc.	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc.
</p>
<nav id="inset-nav">
	<ul class="nav nav-pills nav-stacked">
		<h5 class="label">You might also be intereted in...</h5>
		<li><h5 class="category"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=103626&amp;chid=30&amp;lang=en">Our Campuses</a></h5></li>
		<li><h5 class="category"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=103628&amp;chid=30&amp;lang=en">Freshman Class Profile</a></h5></li>
		<li><h5 class="category"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=104253&amp;chid=30&amp;lang=en">Chicago</a></h5></li>
	</ul>
</nav>
<p class="body">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc.	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc.
</p>
<section class="accordion-stack">
	<div class="panel-group" id="accordion">
		@@include('ug-accordions/first-year-01-programs.html')
		@@include('ug-accordions/first-year-02-loyola-360.html')
		@@include('ug-accordions/first-year-03-univ-102-seminars.html')
		@@include('ug-accordions/first-year-04-transitions.html')
	</div>
</section>
<hr>
<div class="grid-light">
	<div class="card col-one-third">
		<!-- <h6 class="category light">category here</h6> -->
		<a class="" href="https://youtu.be/Dob-s35Q9BU?list=PL8251362856AA8900"><img src="/images/gold/eunice-scholar.jpg"></a>
		<p class="card-title">Eunice Brobby</p>
		<p class="card-text explainer">Biology, Umeh Scholarship</p>
	</div>
	<div class="card col-one-third">
		<!-- <h6 class="category light">category here</h6> -->
		<a class="" href="https://youtu.be/fkLwodf8tRI?list=PL8251362856AA8900"><img src="/images/gold/addy-scholar.jpg"></a>
		<p class="card-title">Addy Menayang</p>
		<p class="card-text explainer">Journalism, Kelly Scholarship, Ricci Scholarship</p>
	</div>
	<div class="card col-one-third">
		<!-- <h6 class="category light">category here</h6> -->
		<a class="" href="https://youtu.be/04JYPiqO6AU?list=PL8251362856AA8900"><img src="/images/gold/wendolyn-scholar.jpg"></a>
		<p class="card-title">Wendolyn Gomez</p>
		<p class="card-text explainer">Human Services, Jesuit Heritage Award, Croghan Scholarship, STARS Mentorship Scholarship, Christo Rey Scholar, Scholarship Chicago Fund</p>
	</div>
</div>
