<!-- main-content -->
<div class="container" id="main-content">
<!-- interior-wrapper -->
	<div class="row" id="interior-wrapper">
<!-- top -->
<!--
		<section id="interior-pano-image" class="col-md-12">
			<div class="col-sm-12">
				<img src="images/freshman-pano-campus.jpg"/>
			</div>
		</section>
-->
<!-- centerColumn - leads on mobile -->
		<div id="centerColumn" class="col-md-6">
			<div id="interior-wrapper-center" class="col-sm-12">
<!-- navigation object: Get B3 center  - this used to be nav548-->
				<section id="interior-intro" class="col-sm-12">
					<h5 class="label">
						Interested freshman
					</h5>
					<h1 class="display">
						Your road<br> to Loyola
					</h1>
					<p class="body intro">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc.
					</p>
				</section>
				<section id="interior-body" class="col-sm-12">
				</section>
			</div>
		</div>
<!-- rightColumn - second on mobile -->
		<div id="rightColumn" class="col-md-3 module">
			<div id="interior-wrapper-right" class="col-sm-12">
<!-- navigation object: Get B3 right_column  - this used to be nav547-->
				<h1>
					This is the related content module 
				</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.</p>
			</div>
		</div>
<!-- leftColumn - on interior-full hidden on desktop and mobile -->
		<div id="leftColumn" class="col-md-3">
			<div id="interior-wrapper-left"" class="col-sm-12">
				<h5 class="category">
					Navigation 
				</h5>
				<ul id="interior-navigation" class="small">
					<li>Link here</li>
					<li>Link here</li>
					<li>Link here</li>
					<li>Link here</li>
					<li>Link here</li>
				</ul>
			</div>
		</div>
	</div>
<!-- interior-wrapper close -->
</div>
<!-- main-content -->
