<!-- main-content -->
<div id="main-content" class="container-fluid">
<!-- homepage-wrapper -->
<div id="homepage-media-wrapper">
	<div id="homepage-left-rail">
		<div class="homepage-rail-top">
			<h5 class="category">Lorem ipsum hereum lorem unum ipsi doscir lorem</h5>
		</div>
		<div class="homepage-rail-middle">
			<h5 class="category">Lorem ipsum hereum lorem unum ipsi doscir lorem</h5>
		</div>
		<div class="homepage-rail-bottom">
			<h5 class="category">Lorem ipsum hereum lorem unum ipsi doscir lorem</h5>
		</div>
	</div>
	<div id="homepage-cta">
		<h1>Explore</h1>
		<h5 class="label reverse">Loyola University Chicago</div>
	</div>
	<div id="homepage-cta-button">
		<img src="images/homepage/homepage-arrow.png">
	</div>
	<div id="homepage-left-rail">
		<div class="homepage-rail-top">
			<h5 class="category">Lorem ipsum hereum lorem unum ipsi doscir lorem</h5>
		</div>
		<div class="homepage-rail-middle">
			<h5 class="category">Lorem ipsum hereum lorem unum ipsi doscir lorem</h5>
		</div>
		<div class="homepage-rail-bottom">
			<h5 class="category">Lorem ipsum hereum lorem unum ipsi doscir lorem</h5>
		</div>
	</div>
</div> <!-- homepage-media-wrapper -->

</div> <!-- main-content -->
