<!-- ug-nav-fixed -->
<nav class="container-fluid" id="ug-nav">
	<div class="container">
		<div class="row">
			<div id="navbar">
				<ul id="nav" class="nav navbar-nav" role="navigation">
					<li><a href="/about_loyola.shtml">Freshman</a></li>
					<li><a href="/academicsresearch.shtml">Transfer</a></li>
					<li><a href="/admission.shtml">International</a></li>
					<li><a href="/alumni/">Other<span> applicants</span></a>
				</ul>
			</div>
		</div>
	</div>
	<div class="ug-global-nav-wrapper ug-global-nav-wrapper-desktop">
		<a class="ug-global-search">
			<div class="glyphicon glyphicon-search" id="search-icon"></div>
		</a>
		<a class="ug-global-nav">
			<div class="glyphicon glyphicon-menu-hamburger" id="menu-icon"></div>
		</a>
	</div>
</nav>

<div id="hidden-menu">
<div class="ug-global-nav-wrapper ug-global-nav-wrapper-desktop">
	<div class="ug-global-search">
		<div class="glyphicon glyphicon-search"></div>
	</div>
	<div class="ug-global-nav">
		<div class="glyphicon glyphicon-menu-hamburger"></div>
	</div>
</div>
</div>

<div class="container-fluid" id="ug-explore">
	<div class="container">
		<div class="row">
			<div id="navbar">
				<ul id="nav" class="nav navbar-nav" role="navigation">
					<li><a href="/about_loyola.shtml">Explore</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
