<!-- ug-nav-fixed -->
<nav class="container-fluid" id="ug-nav">
	<div class="container">
		<div class="row">
			<div id="navbar" class="collapse navbar-collapse">
				<ul id="nav" class="nav navbar-nav" role="navigation">
					<li><a href="/about_loyola.shtml">Freshman</a></li>
					<li><a href="/academicsresearch.shtml">Transfer</a></li>
					<li><a href="/admission.shtml">International</a></li>
					<li><a href="/alumni/">Other applicants</a> 
				</ul>
			</div>
		</div>
	</div>
	<div class="ug-global-nav-wrapper">
		<div class="ug-global-search">
			<span class="glyphicon glyphicon-search"></span>
		</div>
		<div class="ug-global-nav">
			<span class="glyphicon glyphicon-menu-hamburger"></span>
		</div>
	</div>
</nav>

