<!-- main-content -->
	<div class="container-fluid" id="main-content">
		<div class="row">
			@@include('./ug-canvas/ug-outcomes/canvas-lede-video-outcomes.html')
			@@include('./ug-canvas/ug-outcomes/canvas-intro-outcomes.html')
			@@include('./ug-canvas/ug-outcomes/canvas-4-col-numbers-outcomes.html')
			@@include('./ug-canvas/ug-outcomes/canvas-image-overlay-partial-outcomes.html')
			@@include('./ug-canvas/ug-outcomes/canvas-overlay-quote-outcomes.html')
			@@include('./ug-canvas/ug-outcomes/canvas-3-col-NO-imgs-outcomes.html')
		</div>
	</div>
<!-- main-content -->
