<!-- main-content -->
	<div class="container-fluid" id="main-content-canvas">
		<div class="row">
			@@include('./ug-canvas/ug-res-life/canvas-lede-video-res-life.html')
			@@include('./ug-canvas/ug-res-life/canvas-intro-res-life.html')
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/ug-res-life/canvas-slider-res-life.html')
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/ug-res-life/canvas-3-col-imgs-res-life.html')
			@@include('./ug-canvas/canvas-divider.html') <!-- divider -->
		  @@include('./ug-canvas/ug-res-life/canvas-tabs-res-life.html')
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/ug-res-life/canvas-image-overlay-partial-res-life.html')
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/ug-res-life/canvas-3-col-imgs-res-life-2.html')
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/ug-res-life/canvas-image-overlay-partial-res-life-2.html')
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./ug-canvas/canvas-spacer.html') <!-- spacer -->
			<!--@@include('./ug-canvas/ug-res-life/canvas-2-col-img-accordion-res-life.html') -->
		</div>
	</div>
<!-- main-content -->
