<div class="main-sidebar main-sidebar-right" id="main-sidebar">



  <div class="panel-group accord-blk active" id="search-input">
    <div id="compass">
      <img src="images/compass_icon-colored-b-01.png">
    </div>
      <input type="text" />
    </div>

    <div class="panel-group accord-blk active" id="first-menu">
      <div id="compass">
        <img src="images/compass_icon-colored-b-01.png">
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="subhead">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">LOYOLA AT A GLANCE<i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li> <a href="#"> Clubs, Activities and Organizations</a> </li>
              <li> <a href="#"> link</a> </li>
              <li> <a href="#"> link</a> </li>
              <li> <a href="#"> link</a> </li>
              <li> <a href="#"> link</a> </li>
              <li> <a href="#"> link</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="subhead">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">CAMPUS LIFE<i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li> <a href="#"> link</a> </li>
              <li> <a href="#"> link</a> </li>
              <li> <a href="#"> link</a> </li>
              <li> <a href="#"> link</a> </li>
              <li> <a href="#"> link</a> </li>
              <li> <a href="#"> link</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="subhead">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">ADMISSION &amp; COST<i class="indicator glyphicon glyphicon-chevron-right pull-right"></i></a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li> <a href="#"> link</a> </li>
              <li> <a href="#"> link</a> </li>
              <li> <a href="#"> link</a> </li>
              <li> <a href="#"> link</a> </li>
              <li> <a href="#"> link</a> </li>
              <li> <a href="#"> link</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="subhead">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">APPLY<i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li> <a href="#"> link</a> </li>
              <li> <a href="#"> link</a> </li>
              <li> <a href="#"> link</a> </li>
              <li> <a href="#"> link</a> </li>
              <li> <a href="#"> link</a> </li>
              <li> <a href="#"> link</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="subhead">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">ACADEMICS<i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
          <div class="panel-body">
            <p class="body small">
              <ul>
                <li> <a href="#"> link</a> </li>
                <li> <a href="#"> link</a> </li>
                <li> <a href="#"> link</a> </li>
                <li> <a href="#"> link</a> </li>
                <li> <a href="#"> link</a> </li>
                <li> <a href="#"> link</a> </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="subhead">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">VALUE OF A JESUIT EDUCATION<i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
            </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
          <div class="panel-body">
            <p class="body small">
              <ul>
                <li> <a href="#"> link</a> </li>
                <li> <a href="#"> link</a> </li>
                <li> <a href="#"> link</a> </li>
                <li> <a href="#"> link</a> </li>
                <li> <a href="#"> link</a> </li>
                <li> <a href="#"> link</a> </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- accordion close -->
<div id="side-cta">

        <div id="cta-1" class="but-text">
          <a href="#">Apply</a>
        </div>
        <div id="cta-2" class="but-text">
          <a href="#">Visit</a>
        </div>
        <div id="cta-3" class="but-text">
          <a href="#">Check Status</a>
        </div>
</div>
  </div>
