<div class="main-sidebar main-sidebar-right" id="main-sidebar">
    <div class="sb-controls">
        <div class="search-open">search</div>
        <div class="close-sb">close</div>
    </div>
    <div class="main-sidebar-wrapper" id="main-sidebar-wrapper">
        <div id="search-input" class="">
          <input type="text" />
        </div>
        <nav id="first-menu"  class="active">
            <li class="close-sb">
              <a href="#">Link (1)</a>
            </li>
            <li class="close-sb">
              <a href="#">Link (2)</a>
            </li>
            <li class="close-sb">
              <a href="#">Link (3)</a>
        </nav>
        <nav>
          <ul>
            <li class="close-sb">
              <a href="#">Link (1)</a>
            </li>
            <li class="close-sb">
              <a href="#">Link (2)</a>
            </li>
            <li class="close-sb">
              <a href="#">Link (3)</a>
            </li>
          </ul>
        </nav>
    </div>
</div>
