<!-- main-content -->
	<div class="container-fluid" id="main-content">
		<div class="row">
			@@include('./ug-canvas/canvas-lede-video-study-abroad.html')
			@@include('./ug-canvas/canvas-intro-study-abroad.html')
			@@include('./ug-canvas/canvas-slider-study-abroad.html')
			@@include('./ug-canvas/canvas-3-col-numbers-study-abroad.html')
			@@include('./ug-canvas/canvas-image-overlay-partial-study-abroad.html')
      @@include('./ug-canvas/canvas-3-col-imgs-study-abroad.html')
			@@include('./ug-canvas/canvas-slider-study-abroad.html')
		</div>
	</div>
<!-- main-content -->
