<!-- main-content -->
	<div class="container-fluid" id="main-content-canvas">
		<div class="row">
			@@include('./ug-canvas/ug-study-abroad/canvas-lede-video-study-abroad.html')
			@@include('./ug-canvas/ug-study-abroad/canvas-intro-study-abroad.html')
			@@include('./ug-canvas/ug-study-abroad/canvas-slider-study-abroad.html')
			@@include('./ug-canvas/ug-study-abroad/canvas-4-col-numbers-study-abroad.html')
			@@include('./ug-canvas/ug-study-abroad/canvas-image-overlay-partial-study-abroad.html')
      @@include('./ug-canvas/ug-study-abroad/canvas-3-col-imgs-study-abroad.html')
			@@include('./ug-canvas/ug-study-abroad/canvas-slider-2-study-abroad.html')
		</div>
	</div>
<!-- main-content -->
