<!-- Placed at the end for a faster -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</script>


<!-- JS Name:grid-->
<script>
	$(function() {
		// See if this is a touch device
		if ('ontouchstart' in window) {
			// Set the correct [touchscreen] body class
			$('body').removeClass('no-touch').addClass('touch');
			// Add the touch toggle to show text when tapped
			$('div.grid-image').click(function() {
				$('div.grid-image').not(this).removeClass('touchFocus');
				$(this).closest('.grid-image').addClass('selected').toggleClass('touchFocus');
			});
		}
	});
</script>
<!-- Custom JS files-->
<!-- build:customjs -->
<!-- endbuild -->


<script>
	$("document").ready(function() {

		_navOffSet = 175;
		$(".ug-global-nav-wrapper a").click(function(e) {
			var offSet = $(e.target).parent().parent().offset();
			console.log(offSet.top, $(window).scrollTop());
			_navOffSet = offSet.top - $(window).scrollTop();
		});

		$("#main-sidebar").simplerSidebar({
			selectors: {
				trigger: ".ug-global-nav-wrapper a",
				quitter: ".close-sb"
			},
			animation: {
				duration: 300
			},
			sidebar: {
				width: 400,
			},
			mask: {
				display: true,
				css: {
					backgroundColor: "black",
					opacity: 0.85,
					filter: "Alpha(opacity=85)"
				}
			},
			zIndex: 30001
		});

		var menuSearchToggleActive = false;

		function toggleMenuSearch(isSearch) {
			if (menuSearchToggleActive) return;
			menuSearchToggleActive = true;
			var tmpItems = isSearch ? [
				$('#first-menu'),
				$('#search-input'),
				$('.sb-controls .search-open'),
				$('.sb-controls .menu-open')
			] : [
				$('#search-input'),
				$('#first-menu'),
				$('.sb-controls .menu-open'),
				$('.sb-controls .search-open')
			];
			if (tmpItems[2].hasClass('glyphicon-remove-circle')) {
				$('.sb-controls .close-sb').click();
				menuSearchToggleActive = false;
				return;
			}
			tmpItems[0].removeClass('active');
			tmpItems[1].addClass('active');
			//        tmpItems[2].addClass('glyphicon-remove-circle');
			//        tmpItems[3].removeClass('glyphicon-remove-circle');
			//        if(isSearch){
			//            tmpItems[2].removeClass('glyphicon-search');
			//            tmpItems[3].addClass('glyphicon-menu-hamburger');
			//        }
			//        else {
			//            tmpItems[2].removeClass('glyphicon-menu-hamburger');
			//            tmpItems[3].addClass('glyphicon-search');
			//        }
			menuSearchToggleActive = false;
		};

		$('.side-menu-open').click(function() {
			toggleMenuSearch(false);
		});
		$('.search-open').click(function() {
			toggleMenuSearch(true);
		});
		$('.menu-open').click(function() {
			toggleMenuSearch(false);
		});

		$('#first-menu .panel a span').click(function(e) {
			e.preventDefault();
			return false;

		});

		var t4Lists = $('#first-menu > ul > li'),
			panelTemplate = '<div class="panel">' +
			'<div class="panel-heading">' +
			'<h4 class="subhead">' +
			'<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#first-menu" href=""><span></span><i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>' +
			'</h4>' +
			'</div>' +
			'<div class="panel-collapse collapse">' +
			'<div class="panel-body">' +
			'</div>' +
			'</div>' +
			'</div>',
			firstMenu = $('#first-menu'),
			tmpPanel;
		t4Lists.each(function(i) {
			var item = $(this),
				subList = $('ul', item);
			firstMenu.append(panelTemplate);
			tmpPanel = $('div.panel:last', firstMenu).eq(0);
			if (subList.length > 0) {
				$('div .panel-body', tmpPanel).append(subList);
				$('.panel-heading .accordion-toggle', tmpPanel).attr('href', '#collapse-' + i);
				$('.panel-collapse', tmpPanel).attr('id', 'collapse-' + i);


			} else {
				$('.panel-heading .accordion-toggle i', tmpPanel).hide();
				$('.collapse').on('show.bs.collapse', function(e) {
					// Get clicked element that initiated the collapse...
					clicked = $(document).find("[href='#" + $(e.target).attr('id') + "']");
					$(clicked.selector + ' i').removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down');
				});
				$('.collapse').on('hide.bs.collapse', function(e) {
					// Get clicked element that initiated the hide...
					clicked = $(document).find("[href='#" + $(e.target).attr('id') + "']");
					$(clicked.selector + ' i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-right');
				});

			}
			$('.panel-heading .subhead', tmpPanel).append(item.html());
			item.hide();
		});
	});
</script>
<script>
	$("document").ready(function() {
        $('#navbar #nav li:nth-child(4) a').html('Other<span class="hidden-md"> applicants</span>');
        
        if(!$('#splash-video').length)return;
        var player = videojs('splash-video',{
            autoplay: true,
            volume: 0, 
            muted: true,
            fluid: true,
            loadingSpinner: false
        });
        
        player.playlist([
            {
                sources: [
                  {
                    src: '/videos/P2_GREEN_S1.mp4',
                    type: 'video/mp4'
                  }
              ],
                poster: '/videos/P2_GREEN_S1.png'
            },
            {
                sources: [
                  {
                    src: '/videos/P2_GREEN_S2.mp4',
                    type: 'video/mp4'
                  }
                ],
                poster: '/videos/P2_GREEN_S2.png'
            },
            {
                sources: [
                  {
                    src: '/videos/P2_GREEN_S3.mp4',
                    type: 'video/mp4'
                  }
                ],
                poster: '/videos/P2_GREEN_S3.png'
            },
            {
                sources: [
                  {
                    src: '/videos/P2_GREEN_S4.mp4',
                    type: 'video/mp4'
                  }
                ],
                poster: '/videos/P2_GREEN_S4.png'
            },
            {
                sources: [
                  {
                    src: '/videos/P2_GREEN_S5.mp4',
                    type: 'video/mp4'
                  }
                ],
                poster: '/videos/P2_GREEN_S5.png'
            }
        ]);

        // Play through the playlist automatically.
        player.playlist.autoadvance(0);                           
        player.playlist.repeat(true);
    });
	var el = document.getElementById("interior-wrapper-right");if(($(el).children('div.aside-caption').length > 0) || ($(el).children('div.aside-quote').length > 0) || ($(el).children('div.aside-number').length > 0)) {
        console.log("Found");
     }else {console.log("Not Found");$("#main-content").css('background-image', 'none');}
	</script>
