<!-- panel - canvas-3-col-imgs -->
<div id="res-life-voices" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label m-b-20">Loyola Voices</h5>
		</div>
		<div class="col-md-4 table-content">
			<img src="http://placehold.it/1000x560"/>
			<h4>Julie Murphy '14</h4>
			<p class="body">“I would advise students to attend the Student Organization Fair, Clubs are always looking for new members and joining clubs is a great way to meet new people.”</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="http://placehold.it/1000x560"/>
			<h4>Nick Kimble '17</h4>
			<p body="explainer"></p>
			<p class="body">“I think Loyola’s community represents the best of what Greek life was intended to be: a closely connected community driven by service.”</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="http://placehold.it/1000x560"/>
			<h4>Devan Patel 'XX</h4>
			<p body="explainer"></p>
			<p class="body">“I have made many lifelong friends, met unique people from completely different backgrounds and so many have inspired me.”</p>
		</div>
	</div>
</div>
