<!-- panel - canvas-intro -->
<div id="res-life-intro" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h1 class="display">Make Loyola home </h1>
			<p class="body intro">Finally, a neighborhood filled with people your own age&mdash;a place to live, dine, study and play in a true urban oasis. Our residence halls will help you make connections as you learn together in a variety of settings. It's all happening here. And your new best friends are awaiting your arrival.</p>
				<div class="number col-sm-4 table-content">
					<h1 class="display number first-number">84<span class="glyphs">%</span></h1>
					<p class="body small">students live on campus</p>
					<div class="vertical-rule-left"></div>
				</div>
				<div class="number col-sm-4 table-content">
					<div class="vertical-rule-right"></div>
					<h1 class="display number">20</h1>
					<p class="body small">Residence halls</p>
					<div class="vertical-rule-left"></div>
				</div>
				<div class="number col-sm-4 table-content">
				<div class="vertical-rule-right"></div>
					<h1 class="display number">2<span class="glyphs">years</span></h1>
					<p class="body small">of residency on campus</p>
					<div class="vertical-rule-left"></div>
				</div>
				</div>
			</div>
</div>
