<!-- panel - canvas-2-col-imgs -->
<div class="container-fluid canvas-base grid">
	<div class="col-xs-12 bg-overlay-dark">
		<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-12.jpg"></div>
		<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-14.jpg"></div>
		<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-5.jpg"></div>
		<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-7.jpg"></div>
		<div class="col-xs-3 hide"><img src="images/res-life/photo-grid/student-life-grid-8.jpg"></div>
		<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-1.jpg"></div>
		<div class="col-xs-3 grid-title-box responsive-embed-16-9">
			<div class="grid-title-text-box">
				<h5 class="label reverse">Virtual tour</h5>
				<p class="body">Get an sneak preview of campus. <a href="###"class="cta">Check it out</a>
				</p>
			</div>
		</div>
		<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-6.jpg"></div>
		<div class="col-xs-3 hide"><img src="images/res-life/photo-grid/student-life-grid-11.jpg"></div>
		<div class="col-xs-3 hide"><img src="images/res-life/photo-grid/student-life-grid-10.jpg"></div>
		<div class="col-xs-3 hide"><img src="images/res-life/photo-grid/student-life-grid-17.jpg"></div>
		<div class="col-xs-3 hide"><img src="images/res-life/photo-grid/student-life-grid-9.jpg"></div>
	</div>
</div>
