<!-- panel - canvas-3-col-imgs -->
<div id="res-life-voices" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label display-large">Why should you get involved?</h5>
		</div>
		<div class="col-sm-4 first-column table-content">
			<img src="images/res-life/res-life-voice-4.jpg"/>
			<h5 class="label bold">Grace Runkel</h5>
			<p class="body explainer">Journalism</p>
			<p class="body">“Get involved early. It can be intimidating to go a club meeting all by yourself, but it’s always worth it.”</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-sm-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="images/res-life/res-life-voice-2.jpg"/>
			<h5 class="label bold">Nick Kimble</h5>
			<p class="body explainer">Political Science</p>
			<p class="body">“I think Loyola’s community represents the best of what Greek life was intended to be: a closely connected community driven by service.”</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-sm-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="images/res-life/res-life-voice-3.jpg"/>
			<h5 class="label bold">Devan Patel</h5>
			<p class="body explainer">Health Systems Management</p>
			<p class="body">“I have made many lifelong friends, met unique people from completely different backgrounds and so many have inspired me.”</p>
		</div>
	</div>
</div>
