<!-- panel - canvas-image-overlay-partial -->
<div id="res-life-dining" class="container-fluid canvas-base fullbleed">
	<div class="partial-overlay">
		<div class="container">
			<div class="bg-overlay col-lg-4 col-sm-6">
				<div class="canvas-content">
					<h3>Dining</h3>
					<p class="body">At Loyola, dining is a social activity. Meet friends and make new ones. You'll eat healthy and well in a variety of community settings.</p>
				</div>
				<div><a href="###"><button type="submit" class="btn-overlay cta">dining plans</button></a></div>
			</div>
		</div>
	</div>
</div>
