<!-- panel - canvas-3-col-imgs -->
<div id="res-life-dorms" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label display-large">What are the dorms like? </h5>
		</div>
		<div class="col-md-4 table-content">
			<img src="images/res-life/room-type/traditional.jpg"/>
			<h5 class="label">Traditional</h5>
			<p class="body">This is your typical dorm with community bathrooms. We offer triple-, double-, and limited single-occupancy rooms. </p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="images/res-life/room-type/suite.jpg"/>
			<h5 class="label">Suite-style</h5>
			<p>You'll have a roomate(s) and suitemates. And you won't have to share a bathroom with the whole floor, so that's pretty cool. </p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="images/res-life/room-type/private.jpg"/>
			<h5 class="label">Private</h5>
			<p class="body">There's a private bathroom in your dorm room. Sounds pretty unheard of, but we like that amentity and think you will too.</p>
		</div>
	</div>
</div>
