<!-- panel - canvas-image-overlay-partial -->
<div id="res-life-clubs" class="container-fluid canvas-base fullbleed">
	<div class="partial-overlay">
		<div class="container">
			<div class="bg-overlay-dark col-lg-4 col-sm-6">
				<div class="canvas-content" style="padding-top:20px;">
					<h3>Get involved</h3>
					<p class="body">You'll can choose from more than 250 student clubs and organizations in these categories:</p>
					<ul style="margin:0px;">
						<li>Academic and Honors</li>
						<li>Government and Programming</li>
						<li>Political and Social</li>
						<li>Greek Life</li>
						<li>Interest Clubs</li>
						<li>Sports</li>
						<li>Service and Spiritual</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
