<!-- panel - canvas-tabs -->
<div id="res-life-campus" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12 table-content">
				<h5 class="label display-large">Where will you live?</h5>
						<div id="content-tabs">
    					<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        				<li class="active category"><a href="#highlight-1" data-toggle="tab"><span></span>Freshman</a></li>
        				<li class="category"><a href="#highlight-2" data-toggle="tab"><span></span>Transfer</a></li>
        				<li class="category"><a href="#highlight-3" data-toggle="tab"><span></span>International House</a></li>
    					</ul>
							<div id="my-tab-content" class="tab-content">
							<div class="tab-pane fade active in" id="highlight-1">
								<div class="col-md-12">
                      <h3 class="standalone">First-year housing</h3>
								      <p>Residence halls are where you'll meet your new friends and create some of your fondest memories. And, first-year students, we have some nice amenities for you. All first-year halls have air conditioning, internet access, laundry rooms, study and social lounges, a 24-hour reception desk. </p>
											<ul class="content-schematic">
												<li class="content-schematic-image"><span class="number-circle-small one-one">1</span><span class="number-circle-small one-two">2</span><span class="number-circle-small one-three">3</span><span class="number-circle-small one-four">4</span><span class="number-circle-small one-five">5</span><span class="number-circle-small one-six">6</span><img src="images/res-life/lsc_campus_full_1800.jpg"/></li>
											</ul>
											<div class="number ug-map-key col-sm-2 table-content">
											<ul class="ug-tips-columns">
											<span class="circle">1</span>
												<h5 class="bold">San Francisco Hall</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal and suite-style rooms</li>
													<li class="res-life">Home to the Institute of Environmental Sustainability (IES)</li>
													<li class="res-life">LEED-certified with eco-friendly features regulating heating and cooling</li>
												</ul>
											</ul>
											</div>
											<div class="number ug-map-key col-sm-2 table-content">
												<div class="vertical-rule-right"></div>
												<ul class="ug-tips-columns">
												<span class="circle">2</span>
											<h5 class="bold">de Nobili Hall</h5>
											<ul class="res-life">
												<li class="res-life">Traditonal rooms</li>
												<li class="res-life">Two-story entertainment lounge</li>
												<li class="res-life">Four study lounges and two community kitchens</li>
												<li class="res-life">Dining Hall, with late-night dining options </li>
											</ul>
										</ul>
											<div class="vertical-rule-left"></div>
										</div>
										<div class="number ug-map-key col-sm-2 table-content">
										<div class="vertical-rule-right"></div>
										<ul class="ug-tips-columns">
										<span class="circle">3</span>
											<h5 class="bold">Simpson Hall</h5>
											<ul class="res-life">
												<li class="res-life">Traditonal and suite-style rooms</li>
												<li class="res-life">Centrally-located on Sheridan Road</li>
												<li class="res-life">Eight community kitchens</li>
												<li class="res-life">Double and single-occupancy rooms with unique layouts</li>
											</ul>
										</ul>
											<div class="vertical-rule-left"></div>
										</div>
										<div class="number ug-map-key col-sm-2 table-content">
										<div class="vertical-rule-right"></div>
										<ul class="ug-tips-columns">
										<span class="circle">4</span>
											<h5 class="bold">Regis Hall</h5>
											<ul class="res-life">
												<li class="res-life">Private rooms</li>
												<li class="res-life">Open to first-year and transfer students</li>
												<li class="res-life">Single and double rooms, each with a private bathroom</li>
												<li class="res-life">Study lounges, social lounges and community kitchens</li>
											</ul>
										</ul>
										</div>
												<div class="vertical-rule-left"></div>
											<div class="vertical-rule-left"></div>
											<div class="number ug-map-key col-sm-2 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">5</span>
												<h5 class="bold">Mertz Hall</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal rooms</li>
													<li class="res-life">Largest residence hall (19 stories) on Lake Shore Campus</li>
													<li class="res-life">Connected to the Centennial Forum</li>
													<li class="res-life">Large lounges and community kitchens</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="number ug-map-key col-sm-2 table-content">
												<ul class="ug-tips-columns">
													<div class="vertical-rule-right"></div>
												<span class="circle">6</span>
												<h5 class="bold">Campion Hall</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal rooms</li>
													<li class="res-life">Convenient access to student center, public transportation</li>
													<li class="res-life">Honors program offices and classes </li>
													<li class="res-life">Study lounges, social lounges, and a community kitchen</li>
												</ul>
											</ul>
													<div class="vertical-rule-left"></div>
										</div>
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-2">
								<div class="col-md-12">
                      <h3 class="standalone">Transfer housing</h3>
								      <p>Join a community of transfer students by living in Regis Hall on the Lake Shore Campus. If high-rises are more your scence, try Baumhart Hall located just steps off Michigan Avenue. And if you're still not finding what you like, other options may be available. <a href="#" class="cta">Learn more</a></p>
											<ul class="content-schematic">
												<li class="content-schematic-image"><span class="number-circle-small two-one">1</span><img src="images/res-life/lsc_campus_full_1800.jpg"/></li>
											</ul>
											<div class="number ug-map-key col-sm-2 table-content">
											<ul class="ug-tips-columns">
											<span class="circle">1</span>
											<h5 class="bold">Regis Hall</h5>
											<ul class="res-life">
												<li class="res-life">Private rooms</li>
												<li class="res-life">Open to first-year and transfer students</li>
												<li class="res-life">Single and double rooms, each with a private bathroom</li>
												<li class="res-life">Study lounges, social lounges and community kitchens</li>
											</ul>
											</div>
											<div class="number ug-map-key col-sm-2 table-content">
												<div class="vertical-rule-right"></div>
												<ul class="ug-tips-columns">
												<span class="circle">2</span>
											<h5 class="bold">Baumhart Hall</h5>
											<ul class="res-life">
												<li class="res-life">Private rooms</li>
												<li class="res-life">Located just steps from Chicago's Magnificent Mile</li>
												<li class="res-life">Kitchen in unit</li>
												<li class="res-life">Wellness Center, Ministry Services, a chapel, study space, and a fitness center </li>
											</ul>
										</ul>
											<div class="vertical-rule-left"></div>
									</div>

										<div class="number ug-map-key col-sm-5 table-content"><p class="small">Water Tower Campus</p><img src="images/res-life/baumhart-map.jpg"/></div>
								</div>
							</div><!-- tab-pane - highlight-2 END -->
							<div class="tab-pane fade" id="highlight-3">
								<div class="col-md-12">
											<h3 class="standalone">International house</h3>
											<p>The mission of the International House is to promote cross-cultural learning by creating a community in which students live and interact with other students from different countries. We have had students from over 26 different countries, including Brazil, China, Japan, Spain, Ireland, and Angola.</p>
											<ul class="content-schematic">
												<li class="content-schematic-image"><span class="number-circle-small three-one">1</span><img src="images/res-life/lsc_campus_full_1800.jpg"/></li>
											</ul>
											<div class="number ug-map-key col-md-4">
												<ul class="ug-tips-columns">
												<span class="circle">1</span>
											<h5 class="bold">International House</h5>
											<ul class="res-life">
												<li class="res-life">Suite-style rooms</li>
												<li class="res-life">Provides opportunities for cross-cultural collaboration</li>
												<li class="res-life">Lounge, dining room, kitchen, on-site laundry, computer lab</li>
											</ul>
										</ul>
									</div>
							</div>
					</div><!-- tab-pane - highlight-3 END -->
				</div><!-- my-tab-content END -->
			</div>
		</div>
	</div>
</div>
