<!-- panel - canvas-tabs -->
<div id="res-life-campus" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12 table-content">
				<h5 class="label display-large">Canvas panel headline here</h5>
						<div id="content-tabs">
    					<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        				<li class="active category"><a href="#highlight-1" data-toggle="tab"><span></span>Freshman</a></li>
        				<li class="category"><a href="#highlight-2" data-toggle="tab"><span></span>Transfer</a></li>
        				<li class="category"><a href="#highlight-3" data-toggle="tab"><span></span>International</a></li>
    					</ul>
							<div id="my-tab-content" class="tab-content">
							<div class="tab-pane fade active in" id="highlight-1">
								<div class="col-md-12">
                      <h3 class="standalone">First-year housing</h3>
								      <p>The image below is FPO. The numbers will correspond with the appropriate buildings on the map. </p>
											<img src="images/green/lsc-campus-d3.png"/>
											<div class="number col-sm-2 table-content">
												<div class="icon-number">1</div>
												<h5 class="bold">Campion Hall</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal-style rooms</li>
													<li class="res-life">Convenient access to student center, public transportation</li>
													<li class="res-life">Honors program offices and classes </li>
													<li class="res-life">Social and study lounges on all floors</li>
													<li class="res-life">Community kitchen </li>
												</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="number col-sm-2 table-content">
												<div class="vertical-rule-right"></div>
												<div class="icon-number">2</div>
												<h5 class="bold">de Nobili Hall</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal-style rooms</li>
													<li class="res-life">Two-story entertainment lounge</li>
													<li class="res-life">Four study lounges and two community kitchens</li>
													<li class="res-life">Dining Hall, with late-night dining options </li>
												</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="number col-sm-2 table-content">
											<div class="vertical-rule-right"></div>
												<div class="icon-number">3</div>
												<h5 class="bold">Mertz Hall</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal-style rooms</li>
													<li class="res-life">Largest residence hall (19 stories) on the Lakeshore campus</li>
													<li class="res-life">Connected to the Centennial Forum</li>
													<li class="res-life">Large lounges and community kitchens</li>
												</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="number col-sm-2 table-content">
											<div class="vertical-rule-right"></div>
												<div class="icon-number">4</div>
												<h5 class="bold">San Francisco Hall</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal and suite-style rooms</li>
													<li class="res-life">Home to the Institute of Environmental Sustainability (IES)</li>
													<li class="res-life">LEED-certified with eco-friendly features regulating heating and cooling</li>
												</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="number col-sm-2 table-content">
											<div class="vertical-rule-right"></div>
												<div class="icon-number">5</div>
												<h5 class="bold">Simpson Hall</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal and suite-style rooms</li>
													<li class="res-life">Centrally-located on Sheridan Road</li>
													<li class="res-life">Eight community kitchens</li>
													<li class="res-life">Double and single-occupancy rooms with unique layouts</li>
												</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="number col-sm-2 table-content">
											<div class="vertical-rule-right"></div>
												<div class="icon-number">6</div>
												<h5 class="bold">Regis Hall</h5>
												<ul class="res-life">
													<li class="res-life">Private-style rooms</li>
													<li class="res-life">Open to first-year students and transfers</li>
													<li class="res-life">Single and double rooms, each with a private bathroom</li>
													<li class="res-life">Study lounges, social lounges and community kitchens on every floor</li>
												</ul>
											</div>
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-2">
								<div class="col-md-12">
                      <h3 class="standalone">Transfer housing</h3>
								      <p>The image below is FPO. The numbers will correspond with the appropriate buildings on the map.  </p>
                      <img src="images/green/lsc-campus-d3.png"/>
											<div class="number col-sm-4 table-content">
												<div class="icon-number">1</div>
												<h5 class="bold">Regis Hall</h5>
												<ul class="res-life">
													<li class="res-life">Private-style rooms</li>
													<li class="res-life">Open to first-year students and transfers</li>
													<li class="res-life">Single and double rooms, each with a private bathroom</li>
													<li class="res-life">Study lounges, social lounges and community kitchens on every floor</li>
												</ul>
												<div class="vertical-rule-left"></div>
											</div>
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-3">
								<div class="col-md-12">
											<h3 class="standalone">International housing</h3>
											<p>The image below is FPO. The numbers will correspond with the appropriate buildings on the map.  </p>
											<img src="images/green/lsc-campus-d3.png"/>
											<div class="number col-sm-4 table-content">
												<div class="icon-number">1</div>
												<h5 class="bold">International House</h5>
												<ul class="res-life">
													<li class="res-life">Suite-style rooms</li>
													<li class="res-life">Open to international students and transfers</li>
													<li class="res-life">Operated by the Office of International Programs</li>
													<li class="res-life">Lounge, full kitchen with cooking supplies, dining room, computer lab, and laundry</li>
												</ul>
												<div class="vertical-rule-left"></div>
											</div>
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							</div><!-- my-tab-content END -->
					</div>
		</div>
	</div>
</div>
