<!-- panel - canvas-3-col-imgs -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label m-b-20">Study abroad firsthand</h5>
		</div>
		<div class="col-md-4 table-content">
			<img src="images/ug-study-abroad-godson.jpg"/>
			<h4>Saeger Godson, International Studies and Economics</h4>
			<h5>The Beijing Center</h5>
			<p class="body">"[A]n upperclassman told me that studying abroad would be the highlight of my college experience. And I would absolutely agree with that."
				<!-- <a class="cta"> Read more</a> -->
			</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="http://placehold.it/1000x560"/>
			<h4>Salina Ramos, Nursing</h4>
			<h5> Lourdes, France</h5>
			<p class="body">"It was incredible to see that I could communicate compassion and love to complete strangers without speaking a word of their language."</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="http://placehold.it/1000x560"/>
			<h4>Emmett Burns</h4>
			<h5>Finance and Management, John Felice Rome Center</h5>
			<p class="body">"It was surreal experiencing the Eternal City in the company of some of the best people I’ve met in my time at Loyola."</p>
		</div>
	</div>
</div>
