<!-- panel - canvas-intro -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h1 class="display">
				See the world. <br>
				Change the world.</h1>
			<p class="body intro">Study abroad and you'll broaden your horizons. Your new world view means you'll grow as a person as you explore new cultures, make a difference and create memories for a lifetime.</p>
		</div>
		<div class="col-md-12 m-t-30 p-l-0 p-r-0">
			<div class="col-md-6 table-content">
				<div class="row">
					<div class="col-md-6 p-l-0">
						<img src="images/study-abroad/global-center-images/rome-tiberis-1000x560.jpg">
					</div>
				</div>
				<div class="row">
					<h3>The John Felice Rome Center</h3>
					<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a></p>
				</div>
				<div class="vertical-rule-left"></div>
			</div>

			<div class="col-md-6 table-content">
				<div class="row">
					<div class="col-md-6 p-l-0">
						<img src="images/study-abroad/global-center-images/vietnam-scooters-1000x560.jpg">
					</div>
				</div>
				<div class="row">
					<h3>The Vietnam Center</h3>
					<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a></p>
				</div>
				<div class="vertical-rule-left"></div>
			</div>
		</div>
	</div>
</div>
