<!-- panel - canvas-3-col-numbers -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label display-large">No limits to studying abroad</h5>
		<div class="number col-sm-4 table-content">
			<h1 class="display number first-number">70</h1>
			<p class="body small">countries where Loyola students study, including the two global centers.</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-4 table-content">
			<div class="vertical-rule-right"></div>
			<h1 class="display number">150</h1>
			<p class="body small">programs Loyola students utilize.</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-4 table-content">
			<div class="vertical-rule-right"></div>
			<h1 class="display number">> 35% </h1>
			<p class="body small">More than 35% of Loyola students study abroad</p>
		</div>
	</div>
</div>
