<!-- panel - canvas-image-overlay-partial -->
<div id="study-abroad-story" class="container-fluid canvas-base fullbleed">
	<div class="partial-overlay">
		<div class="container">
			<div class="bg-overlay col-lg-4 col-sm-6">
				<div class="canvas-content">
					<h3>In her own words</h3>
					<p class="body">After four months in Vietnam, Kelly Ravenscraft looks back at what she’s experienced and what she plans to do next.
				</div>
				<div><a href="###"><button type="submit" class="btn-overlay cta" href="http://blogs.luc.edu/goglobal/uncategorized/reflection-turns-to-action/">Read Kelly’s Blog</button></a></div>
			</div>
		</div>
	</div>
</div>
