<!-- panel - canvas-3-col-imgs -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label m-b-20">Study abroad firsthand</h5>
		</div>
		<div class="col-md-4 table-content">
			<img src="images/study-abroad/students-4-quotes/ug-study-abroad-godson.jpg"/>
			<h4>Saeger Godson</h4>
			<h6>International Studies and Economics<br>
				The Beijing Center</h6>
			<p class="body">"[A]n upperclassman told me that studying abroad would be the highlight of my college experience. And I would absolutely agree with that."
				<!-- <a class="cta"> Read more</a> -->
			</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="images/study-abroad/students-4-quotes/ug-study-abroad-ramos.jpg"/>
			<h4>Salina Ramos</h4>
			<h6>  Nursing
				Lourdes, France</h6>
			<p class="body">"It was incredible to see that I could communicate compassion and love to complete strangers without speaking a word of their language."</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="images/study-abroad/students-4-quotes/ug-study-abroad-davis.jpg"/>
			<h4>Emmett Burns</h4>
			<h6>College of Arts &amp; Sciences<br>
				John Felice Rome Center</h6>
			<p class="body">"Giving Pope Francis a high five as he drove by in the Popemobile…and watching the sunrise over the Great Wall of China."</p>
		</div>
	</div>
</div>
