<!-- panel - canvas-image-overlay-partial -->
<div id="study-abroad-story" class="container-fluid canvas-base fullbleed">
	<div class="partial-overlay">
		<div class="container">
			<div class="bg-overlay col-lg-4 col-sm-6">
				<div class="canvas-content">
					<h5 class="label display-large reverse">In her own words</h3>
					<p class="body">After four months in Vietnam, Kelly Ravenscraft looks back at what she’s experienced and what she plans to do next.
				</div>
				<div><a href="###"><button type="submit" class="btn-overlay cta" href="http://blogs.luc.edu/goglobal/uncategorized/reflection-turns-to-action/">Read Kelly’s Blog</button></a></div>
				<div class="blog-hide m-t-30"><p class="body small">“I’ll be leaving the country in January.” “Oh, where to/what for?” “I’ll be studying abroad in Vietnam for four months”. A nice thought, this more or less summarizes more than half of the conversations...</p>
				</div>
			</div>
		</div>
	</div>
</div>
