<!-- panel - canvas-divider -->
		<div id="myCarousel" class="container-fluid carousel slide carousel-fade" data-interval="false">
		    <!-- Indicators -->
		    <ol class="carousel-indicators">
		      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		      <li data-target="#myCarousel" data-slide-to="1"></li>
		      <li data-target="#myCarousel" data-slide-to="2"></li>
		      <li data-target="#myCarousel" data-slide-to="3"></li>
		      <li data-target="#myCarousel" data-slide-to="4"></li>
		      <li data-target="#myCarousel" data-slide-to="5"></li>
		      <li data-target="#myCarousel" data-slide-to="6"></li>
		    </ol>

		    <!-- Wrapper for slides -->
		    <div class="carousel-inner" role="listbox">

					<div class="item active">
		      	<img class="first-slide img-responsive" src="images/study-abroad/carousel/Vietnam1.jpg">
						<div class="carousel-caption container-fluid">
							<div class="container">
								<p class="body caption">At the Vietnam Center, experience the country’s sights, sounds, weather, food, culture, people, lights, and, well, everything.</p>
							</div>
						</div>
					</div>

		      <div class="item">
		        <img class="second-slide img-responsive" src="images/study-abroad/carousel/Vietnam2.jpg">
						<div class="carousel-caption container-fluid">
							<div class="container">
								<p class="body caption">With optional short trips, students can travel to either beautiful or culturally significant sites. Most of the time, it’ll be both.</p>
							</div>
						</div>
					</div>

		      <div class="item">
		         <img class="third-slide img-responsive" src="images/study-abroad/carousel/Vietnam3.jpg">
						 <div class="carousel-caption container-fluid">
	 						<div class="container">
	 							<p class="body caption">Even with course outlines and trip itineraries, there’s still no way for us to prepare you for every highlight or unexpected new friend.</p>
	 						</div>
	 					</div>
	 				</div>

		      <div class="item">
		        <img class="fourth-slide img-responsive" src="images/study-abroad/carousel/Rome1.jpg">
						<div class="carousel-caption container-fluid">
							<div class="container">
								<p class="body caption">With programs across the globe, Loyola lets you choose the experience that fits your passions and your education.</p>
							</div>
						</div>
					</div>

		      <div class="item">
		         <img src="images/study-abroad/carousel/Rome2.jpg">
						 <div class="carousel-caption container-fluid">
	 						<div class="container">
	 							<p class="body caption">Every semester, students make their home at the John Felice Rome Center, an old convent nestled among orange trees.</p>
	 						</div>
	 					</div>
	 				</div>

		      <div class="item">
		       <img class="fifth-slide img-responsive" src="images/study-abroad/carousel/Rome3.jpg">
					 <div class="carousel-caption container-fluid">
 						<div class="container">
 							<p class="body caption">Students won’t get the traditional tourist experience. They’ll be meeting experts, educators, professionals, and every other type of local.</p>
 						</div>
 					</div>
 				</div>

		    </div>
				<!-- Carousel wrapper close -->
		    <!-- Left and right controls -->
		    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		      <span class="sr-only">Previous</span>
		    </a>
		    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		      <span class="sr-only">Next</span>
		    </a>
		  </div>
