         <!-- panel - canvas-intro -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h1 class="display">
				See the world. <br>
				Change the world.</h1>
			<p class="body intro">Study abroad and you'll broaden your horizons. Your new world view means you'll grow as a person as you explore new cultures, make a difference and create memories for a lifetime.</p>
		</div>
		<div class="col-md-12 m-t-30 p-l-0 p-r-0">
			<div class="col-md-6 table-content">
				<div class="row">
					<div class="col-md-10 p-l-0">
						<img src="images/study-abroad/global-center-images/rome-tiberis-1000x560.jpg">
					</div>
				</div>
				<div class="row">
					<h3>Rome</h3>
					<p class="body">The John Felice Rome Center (JFRC) is a fully-equipped American campus near both Vatican City and Rome's historic center. Founded in 1962, the JFRC serves students of any major seeking a new perspective about their place in a rapidly-changing world.</p>
				</div>
				<div class="vertical-rule-left"></div>
			</div>

			<div class="col-md-6 table-content">
				<div class="row">
					<div class="col-md-10 p-l-0">
						<img src="images/study-abroad/global-center-images/vietnam-scooters-1000x560.jpg">
					</div>
				</div>
				<div class="row">
					<h3>Vietnam</h3>
					<p class="body">Loyola’s Vietnam Center in Ho Chi Minh City, where you can explore an emerging region full of life and adventure. Students will be immersed in beauty and culture of Southeast Asia through service learning and academic excursions.</p>
				</div>
				<div class="vertical-rule-left"></div>
			</div>
		</div>
	</div>
</div>
