<!-- panel - canvas-divider -->





		<!-- wrapper - max-width: 1170px -->

<div class="container-fluid" id="item-grid-wrapper">
  <div class="row-fluid no-space">
    <div class="span12 intro">
      <h3>The stories behind the souvenirs</h3>
        <p class="intro-medium">A bobblehead doll. A basic white turban. A collection of maps. Those are just a few of the keepsakes that Loyola students have brought back from their study abroad adventures. But the items are more than simple souvenirs; they’re reminders of a time spent in a foreign land learning about different cultures. We asked eight students to talk about their study abroad mementos and to discuss the deeper meaning behind the items. Click on the yellow “i” icons below to learn more.</p><div class="row-fluid"><!-- items - row 01 --><!-- item - student 01 - WALSH -->
  <div class="span3 grid-item mobile-phone-portrait-hidden">
    <img src="/media/lucedu/studyabroad/onething/one-thing-grid-01.jpg">

      <!-- modal button -->
      <a href="#myModalOne" role="button" class="btn info-button" data-toggle="modal"  onClick="ga('send', 'event', 'Study Abroad - One Thing Canvas', 'Popup', 'Walsh');" />i</a>

      <!-- modal -->
      <div id="myModalOne" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <div class="span50">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Modal header</h3>
              <img src="/media/lucedu/studyabroad/onething/01-walsh-modal-500-672.jpg">
              <h4 class="list-head">Tarrajna Walsh</h4>
              <p class="description location">Class of 2015</br>
Major: International Studies</p>
              <p class="description">Studied in Beijing (fall 2014) </p>
          </div>
          <div class="span50 story">
            <h4>Chinese name has special meaning</h4>
            <p>I brought back a painting of the characters that make up my Chinese name. Acquiring a Chinese name takes time because you need a native speaker who knows you well enough to choose something that fits your personality or the meaning of your name in English; I was given my name by my Chinese language professor. I got my keepsake from a man who was painting names at the Summer Palace in Beijing. The experience reminds me that China possesses a rich history, and having a Chinese name only begins to scratch the surface of such a fascinating culture.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">X</button>
        </div>
      </div>
    </div>

    <!-- item - mobile - row 01 - student 01 -->
    <div class="span3 grid-item mobile-phone-portrait-display">
      <div class="modal-header span50">
        <img src="/media/lucedu/studyabroad/onething/01-one-thing-scroll-mobile.png">
          <h4 class="list-head">Tarrajna Walsh</h4>
          <p class="description location">Class of 2015</br>
Major: International Studies</p>
	  <p class="description">Class of 2015, <span class="mobile-hide">Studied in Beijing (fall 2014)</span></p>
      </div>
      <div class="span50 story">
        <h4>Chinese name has special meaning</h4>
        <p><span class="image-inline"><img src="/media/lucedu/studyabroad/onething/01-walsh-mobile-180-180.jpg"></span>I brought back a painting of the characters that make up my Chinese name. Acquiring a Chinese name takes time because you need a native speaker who knows you well enough to choose something that fits your personality or the meaning of your name in English; I was given my name by my Chinese language professor. I got my keepsake from a man who was painting names at the Summer Palace in Beijing. The experience reminds me that China possesses a rich history, and having a Chinese name only begins to scratch the surface of such a fascinating culture.</p>
      </div>
  </div><!-- item - student 02 - LANTTO -->
  <div class="span3 grid-item mobile-phone-portrait-hidden">
    <img src="/media/lucedu/studyabroad/onething/one-thing-grid-02.jpg">

      <!-- modal button -->
      <a href="#myModalTwo" role="button" class="btn info-button" data-toggle="modal" onClick="ga('send', 'event', 'Study Abroad - One Thing Canvas', 'Popup', 'Lantto');">i</a>

      <!-- modal -->
      <div id="myModalTwo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <div class="span50">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Modal header</h3>
              <img src="/media/lucedu/studyabroad/onething/02-lantto-modal-500-672.jpg">
              <h4 class="list-head">Katey Lantto</h4>
              <p class="description location">Class of 2017</br>Majors: Philosophy, Anthropology</p>
              <p class="description">Studied in Rome (fall 2014 and spring 2015)</p>
          </div>
          <div class="span50 story">
            <h4>Pope bobblehead is powerful reminder</h4>
            <p>I usually don’t buy souvenirs, but I had to get a bobblehead of Papa Francesco. I bought it during my first semester as a gag gift for my uncle, but it turns out the whole family loved it! So at the end of my second semester I bought another pope bobblehead that now sits on a bookshelf at home. Even more special, I got it blessed by Pope Francis at my last Sunday papal audience. It helps me remember how life is a balance of everything—from humor to faith, to friends and family, it can all exist together.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">X</button>
        </div>
      </div>
    </div>

    <!-- item - mobile - row 01 - student 02 -->
    <div class="span3 grid-item mobile-phone-portrait-display">
      <div class="modal-header span50">
        <img src="/media/lucedu/studyabroad/onething/02-one-thing-pope-francis-mobile.png">
          <h4 class="list-head">Katey Lantto</h4>
          <p class="description location">Class of 2017</br>Majors: Philosophy, Anthropology</p>
	  <p class="description">Studied in Rome (fall 2014 and spring 2015)</p>
      </div>
      <div class="span50 story">
        <h4>Pope bobblehead is powerful reminder</h4>
        <p><span class="image-inline"><img src="/media/lucedu/studyabroad/onething/02-lantto-mobile-180-180.jpg"></span>I usually don’t buy souvenirs, but I had to get a bobblehead of Papa Francesco. I bought it during my first semester as a gag gift for my uncle, but it turns out the whole family loved it! So at the end of my second semester I bought another pope bobblehead that now sits on a bookshelf at home. Even more special, I got it blessed by Pope Francis at my last Sunday papal audience. It helps me remember how life is a balance of everything—from humor to faith, to friends and family, it can all exist together.</p>
      </div>
  </div><!-- item - student 03 - RODRIGUEZ -->
  <div class="span3 grid-item mobile-phone-portrait-hidden">
    <img src="/media/lucedu/studyabroad/onething/one-thing-grid-03.jpg">

      <!-- modal button -->
      <a href="#myModalThree" role="button" class="btn info-button" data-toggle="modal" onClick="ga('send', 'event', 'Study Abroad - One Thing Canvas', 'Popup', 'Rodriguez');">i</a>

      <!-- modal -->
      <div id="myModalThree" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <div class="span50">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Modal header</h3>
              <img src="/media/lucedu/studyabroad/onething/03-rodriguez-modal-500-672.jpg">
              <h4 class="list-head">Cristina Rodriguez</h4>
              <p class="description location">Class of 2017</br> Majors: Biology, Anthropology</p>
              <p class="description">Studied in Vietnam (fall 2014)</p>
          </div>
          <div class="span50 story">
            <h4>Postcards put focus on life’s moments</h4>
            <p>I bought a postcard in every city or village in Vietnam I traveled to as well as every country I visited in Southeast Asia. Usually, I purchased the postcards from local shops and street markets, and the images represent my experience in each country or city. I ended up with over 20 postcards from 20 different places. I decided to collect them because I realized I was spending too much time taking pictures instead of actually enjoying my travels. I learned the importance of living and experiencing the moment—rather than worrying about capturing the moment.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">X</button>
        </div>
      </div>
    </div>

    <!-- item - mobile - row 01 - student 03 -->
    <div class="span3 grid-item mobile-phone-portrait-display">
      <div class="modal-header span50">
        <img src="/media/lucedu/studyabroad/onething/03-one-thing-postcards-mobile.png">
          <h4 class="list-head">Cristina Rodriguez</h4>
          <p class="description location">Class of 2017</br> Majors: Biology, Anthropology</p>
	  <p class="description">Studied in Vietnam (fall 2014)</p>
      </div>
      <div class="span50 story">
        <h4>Postcards put focus on life’s moments</h4>
        <p><span class="image-inline"><img src="/media/lucedu/studyabroad/onething/03-rodriguez-mobile-180-180.jpg"></span>I bought a postcard in every city or village in Vietnam I traveled to as well as every country I visited in Southeast Asia. Usually, I purchased the postcards from local shops and street markets, and the images represent my experience in each country or city. I ended up with over 20 postcards from 20 different places. I decided to collect them because I realized I was spending too much time taking pictures instead of actually enjoying my travels. I learned the importance of living and experiencing the moment—rather than worrying about capturing the moment.</p>
      </div>
  </div><!-- item - student 04 - CREAMER -->
  <div class="span3 grid-item mobile-phone-portrait-hidden">
    <img src="/media/lucedu/studyabroad/onething/one-thing-grid-04.jpg">

      <!-- modal button -->
      <a href="#myModalFour" role="button" class="btn info-button" data-toggle="modal" onClick="ga('send', 'event', 'Study Abroad - One Thing Canvas', 'Popup', 'Creamer');">i</a>

      <!-- modal -->
      <div id="myModalFour" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <div class="span50">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Modal header</h3>
              <img src="/media/lucedu/studyabroad/onething/04-creamer-modal-500-672.jpg">
              <h4 class="list-head">Brendan Creamer</h4>
              <p class="description location">Class of 2016</br> Major: Marketing</p>
              <p class="description">Studied in Rome (spring 2015)</p>
          </div>
          <div class="span50 story">
            <h4>Maps are far more than pieces of paper</h4>
            <p>I brought back maps from every place that I visited: Rome, Florence, Venice, Pompeii, Cinque Terre, Barcelona, Girona, Thessaloniki, Litochoro, Istanbul, Prague, Munich, and Copenhagen. They are sentimental because I actually used these maps while traveling. Some of them have suggestions scribbled from locals or from friends who marked where they wanted to go; I also would catalog places we visited. I didn’t have a smart phone, so the maps weren’t just souvenirs—they were necessities everywhere I went. They taught me when to aimlessly wander through a foreign city with no final destination versus relying on technology or a GPS.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">X</button>
        </div>
      </div>
    </div>

    <!-- item - mobile - row 01 - student 04 -->
    <div class="span3 grid-item mobile-phone-portrait-display">
      <div class="modal-header span50">
        <img src="/media/lucedu/studyabroad/onething/04-one-thing-map-mobile.png">
          <h4 class="list-head">Brendan Creamer</h4>
          <p class="description location">Class of 2016</br> Major: Marketing</p>
	  <p class="description">Studied in Rome (spring 2015)</p>
      </div>
      <div class="span50 story">
        <h4>Maps are far more than pieces of paper</h4>
        <p><span class="image-inline"><img src="/media/lucedu/studyabroad/onething/04-creamer-mobile-180-180.jpg"></span>I brought back maps from every place that I visited: Rome, Florence, Venice, Pompeii, Cinque Terre, Barcelona, Girona, Thessaloniki, Litochoro, Istanbul, Prague, Munich, and Copenhagen. They are sentimental because I actually used these maps while traveling. Some of them have suggestions scribbled from locals or from friends who marked where they wanted to go; I also would catalog places we visited. I didn’t have a smart phone, so the maps weren’t just souvenirs—they were necessities everywhere I went. They taught me when to aimlessly wander through a foreign city with no final destination versus relying on technology or a GPS.</p>
      </div>
  </div></div><!-- end items - row 01 --><div class="row-fluid"><!-- items - row 02 --><!-- item - student 05 - COFFEY -->
  <div class="span3 grid-item mobile-phone-portrait-hidden">
    <img src="/media/lucedu/studyabroad/onething/one-thing-grid-05.jpg">

      <!-- modal button -->
      <a href="#myModalFive" role="button" class="btn info-button" data-toggle="modal" onClick="ga('send', 'event', 'Study Abroad - One Thing Canvas', 'Popup', 'Coffey');">i</a>

      <!-- modal -->
      <div id="myModalFive" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <div class="span50">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Modal header</h3>
              <img src="/media/lucedu/studyabroad/onething/05-coffey-modal-500-672.jpg">
              <h4 class="list-head">Michael Coffey</h4>
              <p class="description location">Class of 2017</br>Majors: Latin, History</p>
              <p class="description">Studied in Tunisia (May-June 2014)</p>
          </div>
          <div class="span50 story">
            <h4>Turban a symbol of curiosity, openness</h4>
            <p>While sitting in a cafe in Tozeur, Tunisia, I was approached by a local man who seemed fascinated by me. Surprisingly, we were able to find a common language—German—despite neither of us being native speakers. After I ran through all the German I learned in high school, I left the man (and our awkward conversation) behind. I then ducked into a nearby trinket shop, where I was badgered into buying this turban. Today, the turban reminds me of the man’s curiosity and the marked contrast between the openness of the people of Tunisia and the closed nature of people in the United States.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">X</button>
        </div>
      </div>
    </div>

    <!-- item - mobile - row 02 - student 05 -->
    <div class="span3 grid-item mobile-phone-portrait-display">
      <div class="modal-header span50">
        <img src="/media/lucedu/studyabroad/onething/05-one-thing-turban-mobile.png">
          <h4 class="list-head">Michael Coffey</h4>
          <p class="description location">Class of 2017</br>Majors: Latin, History</p>
	  <p class="description">Studied in Tunisia (May-June 2014)</p>
      </div>
      <div class="span50 story">
        <h4>Turban a symbol of curiosity, openness</h4>
        <p><span class="image-inline"><img src="/media/lucedu/studyabroad/onething/05-coffey-mobile-180-180.jpg"></span>While sitting in a cafe in Tozeur, Tunisia, I was approached by a local man who seemed fascinated by me. Surprisingly, we were able to find a common language—German—despite neither of us being native speakers. After I ran through all the German I learned in high school, I left the man (and our awkward conversation) behind. I then ducked into a nearby trinket shop, where I was badgered into buying this turban. Today, the turban reminds me of the man’s curiosity and the marked contrast between the openness of the people of Tunisia and the closed nature of people in the United States.</p>
      </div>
  </div><!-- item - student 06 - D'AMORE -->
  <div class="span3 grid-item mobile-phone-portrait-hidden">
    <img src="/media/lucedu/studyabroad/onething/one-thing-grid-06.jpg">

      <!-- modal button -->
      <a href="#myModalSix" role="button" class="btn info-button" data-toggle="modal" onClick="ga('send', 'event', 'Study Abroad - One Thing Canvas', 'Popup', 'DAmore');">i</a>

      <!-- modal -->
      <div id="myModalSix" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <div class="span50">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Modal header</h3>
              <img src="/media/lucedu/studyabroad/onething/06-damore-modal-500-672.jpg">
              <h4 class="list-head">Taylor D’Amore</h4>
              <p class="description location">Class of 2016</br> Major: Information Systems and Operations Management</p>
              <p class="description">Studied in Cordoba, Spain (June 2014)</p>
          </div>
          <div class="span50 story">
            <h4>Olive oil brings families together</h4>
            <p>During my study abroad experience, I lived with a host family in Cordoba, Spain. My host father sold olive oil for a local farm, so I brought back several bottles of oil to give to my mother. Besides being absolutely delicious, the olive oil represents the importance and weight of family in their culture, as the gift was not from my host parents to me, it was specifically for my mother. My family returned the kindness when we had my host brother over at our home for Thanksgiving several months later—and we added plenty of olive oil to the menu.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">X</button>
        </div>
      </div>
    </div>

    <!-- item - mobile - row 02 - student 06 -->
    <div class="span3 grid-item mobile-phone-portrait-display">
      <div class="modal-header span50">
        <img src="/media/lucedu/studyabroad/onething/06-one-thing-olive-oil-mobile.png">
          <h4 class="list-head">Taylor D’Amore</h4>
          <p class="description location">Class of 2016</br> Major: Information Systems and Operations Management</p>
	  <p class="description">Studied in Cordoba, Spain (June 2014)</p>
      </div>
      <div class="span50 story">
        <h4>Olive oil brings families together</h4>
        <p><span class="image-inline"><img src="/media/lucedu/studyabroad/onething/06-damore-mobile-180-180.jpg"></span>During my study abroad experience, I lived with a host family in Cordoba, Spain. My host father sold olive oil for a local farm, so I brought back several bottles of oil to give to my mother. Besides being absolutely delicious, the olive oil represents the importance and weight of family in their culture, as the gift was not from my host parents to me, it was specifically for my mother. My family returned the kindness when we had my host brother over at our home for Thanksgiving several months later—and we added plenty of olive oil to the menu.</p>
      </div>
  </div><!-- item - student 07 - HANNA -->
  <div class="span3 grid-item mobile-phone-portrait-hidden">
    <img src="/media/lucedu/studyabroad/onething/one-thing-grid-07.jpg">

      <!-- modal button -->
      <a href="#myModalSeven" role="button" class="btn info-button" data-toggle="modal" onClick="ga('send', 'event', 'Study Abroad - One Thing Canvas', 'Popup', 'Hanna');">i</a>

      <!-- modal -->
      <div id="myModalSeven" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <div class="span50">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Modal header</h3>
              <img src="/media/lucedu/studyabroad/onething/07-hanna-modal-500-672.jpg">
              <h4 class="list-head">Elizabeth Hanna</h4>
              <p class="description location">Class of 2017</br> Major: Biology</p>
              <p class="description">Studied in Belize (January 2015)</p>
          </div>
          <div class="span50 story">
            <h4>Hot sauce connects friends and food</h4>
            <p>The people of Belize eat hot sauce with everything. There was this one brand that was ubiquitous— called Marie Sharp’s. They don’t carry it in the United States. Though this may be a simple and unusual souvenir, that hot sauce brought me closer with all the people on the trip because we used to challenge each other to see how hot we could handle our food and laugh when someone couldn’t take the heat.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">X</button>
        </div>
      </div>
    </div>

    <!-- item - mobile - row 02 - student 07 -->
    <div class="span3 grid-item mobile-phone-portrait-display">
      <div class="modal-header span50">
        <img src="/media/lucedu/studyabroad/onething/07-one-thing-hot-sauce-mobile.png">
          <h4 class="list-head">Elizabeth Hanna</h4>
          <p class="description location">Class of 2017</br> Major: Biology</p>
	  <p class="description">Studied in Belize (January 2015)</p>
      </div>
      <div class="span50 story">
        <h4>Hot sauce connects friends and food</h4>
        <p><span class="image-inline"><img src="/media/lucedu/studyabroad/onething/07-hanna-mobile-180-180.jpg"></span>The people of Belize eat hot sauce with everything. There was this one brand that was ubiquitous— called Marie Sharp’s. They don’t carry it in the United States. Though this may be a simple and unusual souvenir, that hot sauce brought me closer with all the people on the trip because we used to challenge each other to see how hot we could handle our food and laugh when someone couldn’t take the heat.</p>
      </div>
  </div><!-- item - student 08 - ABRIANI -->
  <div class="span3 grid-item mobile-phone-portrait-hidden">
    <img src="/media/lucedu/studyabroad/onething/one-thing-grid-08.jpg">

      <!-- modal button -->
      <a href="#myModalEight" role="button" class="btn info-button" data-toggle="modal" onClick="ga('send', 'event', 'Study Abroad - One Thing Canvas', 'Popup', 'Abriani');">i</a>

      <!-- modal -->
      <div id="myModalEight" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <div class="span50">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Modal header</h3>
              <img src="/media/lucedu/studyabroad/onething/08-abriani-modal-500-672.jpg">
              <h4 class="list-head">Steven Abriani</h4>
              <p class="description location">Class of 2015 </br>Major: International Film and Media Production</p>
              <p class="description">Studied in Santiago, Chile (May 2014)</p>
          </div>
          <div class="span50 story">
            <h4>$1.50 sweater has priceless memories</h4>
            <p>My most cherished souvenir would have to be the massive gray cardigan I bought at a Chilean flea market for $1.50. When I first saw it I could picture the hefty old man who must have loved this sweater but had to give it away for whatever reason. I couldn’t resist buying a piece of history in another man’s life. My friends teased me about it, but in the end it was a great purchase because it kept me warm at night. So I learned to trust my instincts—and that value and sentiment can be found in the simplest things.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">X</button>
        </div>
      </div>
    </div>

    <!-- item - mobile - row 02 - student 08 -->
    <div class="span3 grid-item mobile-phone-portrait-display">
      <div class="modal-header span50">
        <img src="/media/lucedu/studyabroad/onething/08-one-thing-sweater-mobile.png">
          <h4 class="list-head">Steven Abriani</h4>
          <p class="description location">Class of 2015 </br>Major: International Film and Media Production</p>
	  <p class="description">Studied in Santiago, Chile (May 2014)</p>
      </div>
      <div class="span50 story">
        <h4>$1.50 sweater has priceless memories</h4>
        <p><span class="image-inline"><img src="/media/lucedu/studyabroad/onething/08-abriani-mobile-180-180.jpg"></span>My most cherished souvenir would have to be the massive gray cardigan I bought at a Chilean flea market for $1.50. When I first saw it I could picture the hefty old man who must have loved this sweater but had to give it away for whatever reason. I couldn’t resist buying a piece of history in another man’s life. My friends teased me about it, but in the end it was a great purchase because it kept me warm at night. So I learned to trust my instincts—and that value and sentiment can be found in the simplest things.</p>
      </div>
  </div></div><!-- end items - row 02 -->    </div><!-- end span12 -->
  </div><!-- end row-fluid -->
</div><!-- end container-fluid -->
