<!-- panel - canvas-3-col-imgs -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label display-large">What’s your study abroad moment?</h5>
		</div>
		<div class="col-md-4 table-content">
			<img src="images/study-abroad/students-w-quotes/study-abroad-khan.jpg"/>
			<h5 class="label">Samia Khan</h5>
			<!-- <p body explainer> Nursing</p> -->
			<p class="explainer">Global Brigades program in Honduras</p>
			<p class="body">"I got the wonderful opportunity to experience a diverse culture, directly interact with patients—and practice my Spanish as well!"</p>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="images/study-abroad/students-w-quotes/study-abroad-davis.jpg"/>
			<h5 class="label">Zac Davis</h5>
			<!-- <p body explainer>Philosophy and Theology</p> -->
			<p class="explainer">John Felice Rome Center and Beijing Center</p>
			<p class="body">"Giving Pope Francis a high five as he drove by in the Popemobile…and watching the sunrise over the Great Wall of China."</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="images/study-abroad/students-w-quotes/study-abroad-rodriguez.jpg"/>
			<h5 class="label">Cristina Rodriguez</h5>
			<!-- <p body explainer>Anthropology and Sociology</p> -->
			<p class="explainer">Vietnam Center</p>
			<p class="body">"I remember looking over the side of the boat at the crystal clear water—and then jumping in. One of the best weekends of my life."
				<!-- <a class="cta"> Read more</a> -->
			</p>
			<div class="vertical-rule-left"></div>
		</div>
	</div>
</div>
