<!-- panel - canvas-tabs -->
<div id="green-sustainability" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12 table-content">
                	<!--<h5 class="label display black">Other ADMISSION SITES</h5>-->
              <div id="content-tabs">
    					<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        				<li class="active category"><a href="#highlight-1" data-toggle="tab"><span></span>Freshman</a></li>
        				<li class="category"><a href="#highlight-2" data-toggle="tab"><span></span>Transfer</a></li>
        				<li class="category"><a href="#highlight-3" data-toggle="tab"><span></span>International</a></li>
    					</ul>
							<div id="my-tab-content" class="tab-content">
							<div class="tab-pane fade active in" id="highlight-1">
								<div class="col-md-12">
                      <h3 class="standalone">First-year housing</h3>
								      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor.
                      <img src="images/lsc-campus-d1.png"/>
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-2">
								<div class="col-md-12">
                      <h3 class="standalone">Transfer housing</h3>
								      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor.
                      <a href="http://placehold.it"><img src="http://placehold.it/1000x560"></a>
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-3">
								<div class="col-md-12">
											<h3 class="standalone">International housing</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor.
											<a href="http://placehold.it"><img src="http://placehold.it/1000x560"></a>
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							</div><!-- my-tab-content END -->
					</div>
		</div>
	</div>
</div>
