<!-- panel - canvas-tabs -->
<div id="green-ies" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12 table-content">
			<h5 class="label display-large">Canvas panel headline here</h5>
			<div class="col-md-9">
			<img src="images/green/ies.jpg">
		</div>
			<div class="col-md-3">
				<div class= "ug-tips-list">
				<ul class="ug-tips-columns">
					<li style="list-style:none;" class="m-b-20"><span class="circle-wrapper"><span class="circle">1</span></span><h4>The Ecodome</h4>More than a pretty facade</li>
					<li style="list-style:none;" class="m-b-20"><span class="circle-wrapper"><span class="circle">2</span></span><h4>Clean energy lab</h4>The future of fuel</li>
					<li style="list-style:none;" class="m-b-20"><span class="circle-wrapper"><span class="circle">3</span></span><h4>Geothermal system</h4>Using the Earth's energy</li>
					<li style="list-style:none;" class="m-b-20"><span class="circle-wrapper"><span class="circle">4</span></span><h4>Aquaponics</h4>A symbiotic system</li>
				</ul>
			</div>
		  <p class="m-l-15"> <a class="cta"> Read more </a></p>
		</div>

	</div>
</div>
</div>
