<!-- panel - canvas-3-col-imgs -->
<div id="green-voices" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label m-b-20">Canvas panel headline here</h5>
		</div>
		<div class="col-md-4 table-content">
			<img src="http://placehold.it/1000x560"/>
			<h4>Magdalena Nykaza</h4>
			<p class="explainer">Institute of Environment Sustainabiliy</p>
			<p class="body">"I can definitely say that my best memories were made at the gardens on campus. Having so much green space on an urban campus is a privilege."</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="http://placehold.it/1000x560"/>
			<h4>Nancy Tuchman, PhD</h4>
			<p class="explainer">Founding Director, Institute of Environment Sustainabiliy</p>
			<p class="body">“Sustaining the health of our environment is the critical issue of the next generation. It’s a Jesuit way of thinking, and it’s an issue of responsibility. We see environmental issues as social justice issues.”</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="http://placehold.it/1000x560"/>
			<h4>Hedgeline is here.</h4>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a></p>
		</div>
	</div>
</div>
