<!-- panel - canvas-tabs -->
<div id="green-ies" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12 table-content">
			<h5 class="label m-b-20">Canvas panel headline here</h5>
			<img src="images/green/ies.jpg">
              <div id="content-tabs">
    					<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        				<li class="active category"><a href="#highlight-7" data-toggle="tab"><span></span>The Ecodome</a></li>
        				<li class="category"><a href="#highlight-8" data-toggle="tab"><span></span>Clean Energy Lab </a></li>
        				<li class="category"><a href="#highlight-9" data-toggle="tab"><span></span>International</a></li>
								<li class="category"><a href="#highlight-10" data-toggle="tab"><span></span>International</a></li>
    					</ul>
							<div id="my-tab-content" class="tab-content">
							<div class="tab-pane fade active in" id="highlight-7">
								<div class="col-md-12">
                      <h3 class="standalone">The Ecodome</h3>
								      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc.</p>
                      <img src="images/green/green-ies-1.jpg">
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-8">
								<div class="col-md-12">
                      <h3 class="standalone">The clean energy lab</h3>
								      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc.</p>
                      <img src="images/green/green-ies-2.jpg">
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-9">
								<div class="col-md-12">
											<h3 class="standalone">Geothermal system</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc.</p>
											<img src="images/green/green-ies-3.jpg">s
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-10">
							<div class="col-md-12">
										<h3 class="standalone">Aquaponics</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc.</p>
										<img src="images/green/green-ies-4.jpg">
									</div>
						</div><!-- tab-pane - highlight-1 END -->
							</div><!-- my-tab-content END -->
					</div>
		</div>
	</div>
</div>
