<!-- panel - canvas-6-col-icons -->
<div id="green-icons" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12 table-content">
		<div class="number col-sm-2 table-content">
			<div class="icon"></div>
			<h5 class="bold">Transportation</h5>
			<p class="body small"> Low-impact travel options</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-2 table-content">
			<div class="vertical-rule-right"></div>
			<div class="icon"></div>
			<h5 class="bold">Energy</h5>
			<p class="body small">A "Net-Zero" energy plan</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-2 table-content">
		<div class="vertical-rule-right"></div>
			<div class="icon"></div>
			<h5 class="bold">Food</h5>
			<p class="body small">Locally-sourced, campus-grown</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-2 table-content">
		<div class="vertical-rule-right"></div>
			<div class="icon"></div>
			<h5 class="bold">Waste</h5>
			<p class="body small">Recyclemania!</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-2 table-content">
		<div class="vertical-rule-right"></div>
			<div class="icon"></div>
			<h5 class="bold">Water</h5>
			<p class="body small">Managing and conserving a precious resource</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-2 table-content">
		<div class="vertical-rule-right"></div>
			<div class="icon"></div>
			<h5 class="bold">Biodiversity</h5>
			<p class="body small">Protecting fragile ecosystems</p>
		</div>
	</div>
</div>
