<!-- panel - canvas-intro -->
<div id="green-intro" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h1 class="display">Hedgeline is here.</h1>
			<p class="body intro">Whether in your dorm room, dining on campus, or just taking a walk, Loyola's using the latest technology to protect our planet everywhere you go. The water you drink, the food you eat, the energy you use, even the stuff you throw away&mdash;it's all evidence of our commitment to sustainability.</p>
		</div>
	</div>
</div>
