<!-- panel - canvas-tabs -->
<div id="green-ies" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12 table-content">
			<h5 class="label display-large">Institute for Environmental Sustainability (IES)</h5>
			<p class="body">The new Institute of Environmental Sustainability combines academics and research with sustainable agriculture and community living. And it does it all in one amazing facility.</p>
			<div class="col-md-9">
			<img src="images/green/ies-map.png">
		</div>
			<div class="col-md-3">
				<div class="ug-map-key table-content">
					<ul class="ug-tips-columns">
					<li style="list-style:none;" class="m-t-20;"><span class="circle">1</span><h5 class="bold">The Ecodome</h5>More than a pretty facade</li>
					<li style="list-style:none;" class="m-t-20"><span class="circle">2</span><h5 class="bold">Clean energy lab</h5>The future of fuel</li>
					<li style="list-style:none;" class="m-t-20"><span class="circle">3</span><h5 class="bold">Geothermal system</h5>Using the Earth's energy</li>
					<li style="list-style:none;" class="m-t-20"><span class="circle">4</span><h5 class="bold">Aquaponics</h5>A symbiotic system</li>
				</ul>
			</div>
		  <p class="body m-t-10 m-l-20"> <a href="http://www.luc.edu/sustainability/iescanvas/" class="cta"> Read more </a></p>
			</div>
		</div>
	</div>
</div>
