<!-- panel - canvas-tabs -->
<div id="green-sustainability" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12 table-content">
			<h5 class="label m-b-20">Canvas panel headline here</h5>
              <div id="content-tabs">
    					<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        				<li class="active category"><a href="#highlight-1" data-toggle="tab"><span></span>Transportation</a></li>
        				<li class="category"><a href="#highlight-2" data-toggle="tab"><span></span>Energy</a></li>
        				<li class="category"><a href="#highlight-3" data-toggle="tab"><span></span>Food</a></li>
								<li class="category"><a href="#highlight-4" data-toggle="tab"><span></span>Waste</a></li>
        				<li class="category"><a href="#highlight-5" data-toggle="tab"><span></span>Water</a></li>
        				<li class="category"><a href="#highlight-6" data-toggle="tab"><span></span>Biodiversity</a></li>
    					</ul>
							<div id="my-tab-content" class="tab-content">
							<div class="tab-pane fade active in" id="highlight-1">
								<div class="col-md-12">
                      <h3 class="standalone">Transportation</h3>
								      <p>FPO content. Will show a version of the sustainability map. <a href="http://www.luc.edu/media/lucedu/sustainability-new/pdfs/LSC_Static_3D_Sustainability_Map_Summer_2014.pdf">Here</a></p>
                      <img src="images/green/lsc-campus-d3.png"/>
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-2">
								<div class="col-md-12">
                      <h3 class="standalone">Energy</h3>
								      <p>FPO content. Will show a version of the sustainability map. <a href="http://www.luc.edu/media/lucedu/sustainability-new/pdfs/LSC_Static_3D_Sustainability_Map_Summer_2014.pdf">Here</a></p>
                      <img src="images/green/lsc-campus-d3.png"/>
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-3">
								<div class="col-md-12">
											<h3 class="standalone">Food</h3>
											<p>FPO content. Will show a version of the sustainability map. <a href="http://www.luc.edu/media/lucedu/sustainability-new/pdfs/LSC_Static_3D_Sustainability_Map_Summer_2014.pdf">Here</a></p>
											<img src="images/green/lsc-campus-d3.png"/>
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-4">
								<div class="col-md-12">
											<h3 class="standalone">Waste</h3>
											<p>FPO content. Will show a version of the sustainability map. <a href="http://www.luc.edu/media/lucedu/sustainability-new/pdfs/LSC_Static_3D_Sustainability_Map_Summer_2014.pdf">Here</a></p>
											<img src="images/green/lsc-campus-d3.png"/>
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-5">
								<div class="col-md-12">
											<h3 class="standalone">Water</h3>
											<p>FPO content. Will show a version of the sustainability map. <a href="http://www.luc.edu/media/lucedu/sustainability-new/pdfs/LSC_Static_3D_Sustainability_Map_Summer_2014.pdf">Here</a></p>
											<img src="images/green/lsc-campus-d3.png"/>
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-6">
								<div class="col-md-12">
											<h3 class="standalone">Biodiversity</h3>
											<p>FPO content. Will show a version of the sustainability map. <a href="http://www.luc.edu/media/lucedu/sustainability-new/pdfs/LSC_Static_3D_Sustainability_Map_Summer_2014.pdf">Here</a></p>
											<img src="images/green/lsc-campus-d3.png"/>
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							</div><!-- my-tab-content END -->
					</div>
		</div>
	</div>
</div>
