<!-- panel - canvas-image-overlay-partial -->
<div id="green-story" class="container-fluid canvas-base fullbleed">
	<div class="partial-overlay">
		<div class="container">
			<div class="bg-overlay col-lg-4 col-sm-6">
				<div class="canvas-content" style="padding-top:20px;">
					<h5 class="label display-large reverse">Make a real difference</h5>
					<p class="body">You don’t need to wait for a degree to start helping the planet. Find out how Loyola’s STEP class lets students start researching and fixing problems—now.</p>
						<a href="http://www.luc.edu/sustainability/stories/archive/01-22-15-step-profile.shtml"><button type="submit" class="btn-overlay cta">Read More</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
