<!-- panel - canvas-intro -->
<div id="green-intro" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h1 class="display">We get our green on every day</h1>
			<p class="body intro">Whether in your dorm room, dining on campus, or just taking a walk, Loyola's using the latest technology to protect our planet everywhere you go. The water you drink, the food you eat, the energy you use, even the stuff you throw away&mdash;it's all evidence of our commitment to sustainability.</p>
		</div>
		<div class="col-md-12 table-content space
		">
		<div class="number first-number col-md-2 table-content">
			<div class="icon"> <img src="images/green/transportation.png"> </div>
			<h5 class="label-small bold">Transportation</h5>
			<p class="body small"> Low-impact travel options</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-md-2 table-content">
			<div class="vertical-rule-right"></div>
			<div class="icon"> <img src="images/green/energy.png"> </div>
			<h5 class="label-small bold">Energy</h5>
			<p class="body small">A "Net-Zero" energy plan</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-md-2 table-content">
		<div class="vertical-rule-right"></div>
			<div class="icon"> <img src="images/green/food.png"> </div>
			<h5 class="label-small bold">Food</h5>
			<p class="body small">Locally-sourced, campus-grown</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-md-2 table-content">
		<div class="vertical-rule-right"></div>
			<div class="icon"> <img src="images/green/waste.png"> </div>
			<h5 class="label-small bold">Waste</h5>
			<p class="body small">Recycling and composting</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-md-2 table-content">
		<div class="vertical-rule-right"></div>
			<div class="icon"> <img src="images/green/water.png"> </div>
			<h5 class="label-small bold">Water</h5>
			<p class="body small">Managing and conserving a precious resource</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-md-2 table-content">
		<div class="vertical-rule-right"></div>
			<div class="icon"> <img src="images/green/biodiversity.png"> </div>
			<h5 class="label-small bold">Biodiversity</h5>
			<p class="body small">Protecting fragile ecosystems</p>
		</div>
		</div>
	</div>
</div>
