<!-- panel - quote overlay -->
<div class="quote container-fluid">
	<div class="row">
			<div class="container canvas-content blockquote-spacing">
				<div class="col-md-2 bigquote-left">
					<img src="images/site/blockquote-L.png">
				</div>
				<div class="col-md-8">
					<blockquote>
						<p>
							<span class="small-quote">&ldquo;</span>It’s not like a lot of other classes I’ve taken. You have freedom to actually choose what you want to do and pursue that. <span class="small-quote">&rdquo;</span>
						</p>
					<cite>— John Barber <a class="cta" href="http://www.luc.edu/sustainability/stories/archive/01-22-15-step-profile.shtml">read more</a></cite>
					</blockquote>
				</div>
				<!-- <div class="blockquote-right"> -->
				<div class="col-md-2 bigquote-right">
					<img src="images/site/blockquote-R.png">
				</div>
			</div>
		</div>
</div>
