<!-- panel - canvas-4-col-numbers -->
<div id="green-numbers" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label display-large">By the numbers</h5>
			<div class="number col-sm-3 table-content">
				<h1 class="display number">19<span class="glyphs"> million</span></h1>
				<p class="body">gallons of rainwater that Loyola diverts annually from Chicago’s sewers</p>
				<div class="vertical-rule-left"></div>
			</div>
		<div class="number col-sm-3 table-content">
			<div class="vertical-rule-right"></div>
			<h1 class="display number">31,000</h1>
			<p class="body">square-foot greenhouse for teaching, research and plant production</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-2 table-content">
		<div class="vertical-rule-right"></div>
			<h1 class="display number">111</h1>
			<p class="body">plastic soda bottles make up each chair at Engrained Café</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-3 table-content">
			<div class="vertical-rule-right"></div>
			<h1 class="display number first-number">55,000<span class="glyphs">+</span></h1>
			<p class="body">square feet of green roofs at Loyola, the most of any college in the Midwest</p>
			<div class="vertical-rule-left"></div>
		</div>
	</div>
</div>
