<!-- panel - quote overlay -->
<div class="quote container-fluid">
	<div class="row">
			<div class="container canvas-content blockquote-spacing">
				<div class="col-md-2 bigquote-left">
					<img src="images/site/blockquote-L.png">
				</div>
				<div class="col-md-8">
					<blockquote>
						<p>
							<span class="small-quote">&ldquo;</span>I can definitely say that my best memories were made at the gardens on campus. Having so much green space on an urban campus is a privilege. <span class="small-quote">&rdquo;</span>
						</p>
					<cite>— Magdalena Nykaza</cite>
					</blockquote>
				</div>
				<!-- <div class="blockquote-right"> -->
				<div class="col-md-2 bigquote-right">
					<img src="images/site/blockquote-R.png">
				</div>
			</div>
		</div>
</div>
