<!-- panel - canvas-tabs -->
<div id="green-sustainability" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12 table-content">
			<h5 class="label display-large">Canvas panel headline here</h5>
              <div id="content-tabs">
    					<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        				<li class="active category"><a href="#highlight-1" data-toggle="tab"><span></span>Transportation</a></li>
        				<li class="category"><a href="#highlight-2" data-toggle="tab"><span></span>Energy</a></li>
        				<li class="category"><a href="#highlight-3" data-toggle="tab"><span></span>Food</a></li>
								<li class="category"><a href="#highlight-4" data-toggle="tab"><span></span>Waste</a></li>
        				<li class="category"><a href="#highlight-5" data-toggle="tab"><span></span>Water</a></li>
        				<li class="category"><a href="#highlight-6" data-toggle="tab"><span></span>Biodiversity</a></li>
    					</ul>
							<div id="my-tab-content" class="tab-content">
							<div class="tab-pane fade active in" id="highlight-1">
								<div class="col-md-12">
                      <h3 class="standalone">Transportation</h3>
								      <p>FPO content. Will show a version of the sustainability map. <a href="http://www.luc.edu/media/lucedu/sustainability-new/pdfs/LSC_Static_3D_Sustainability_Map_Summer_2014.pdf">Here</a></p>
											<ul class="content-schematic">
												<li class="content-schematic-image"><span class="number-circle-small four-one">1</span><span class="number-circle-small four-two">2</span><span class="number-circle-small four-three">3</span><span class="number-circle-small four-four">4</span><span class="number-circle-small four-five">5</span><img src="images/res-life/lsc_campus_full_1800.jpg"/></li>
											</ul>
											<div class="number ug-map-key col-sm-2 table-content">
												<ul class="ug-tips-columns">
												<span class="circle">1</span>
												<h5 class="bold">Loyola CTA Station</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal-style rooms</li>
													<li class="res-life">Convenient access to student center, public transportation</li>
												</ul>
											</ul>
										</div>
												<div class="vertical-rule-left"></div>
												<div class="number ug-map-key col-sm-2 table-content">
													<div class="vertical-rule-right"></div>
													<ul class="ug-tips-columns">
													<span class="circle">2</span>
												<h5 class="bold">Charging Stations</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal-style rooms</li>
													<li class="res-life">Two-story entertainment lounge</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="vertical-rule-left"></div>
											<div class="number ug-map-key col-sm-2 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">3</span>
												<h5 class="bold">Car sharing</h5>
												<ul class="res-life">
													<li class="res-life">Pickup and drop off</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="number ug-map-key col-sm-2 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">4</span>
												<h5 class="bold">ChainLinks</h5>
												<ul class="res-life">
													<li class="res-life">Student-run bicycle rental and repair shop</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="number ug-map-key col-sm-2 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">5</span>
												<h5 class="bold">Campus shuttle</h5>
												<ul class="res-life">
													<li class="res-life">Student-run bicycle rental and repair shop</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-2">
								<div class="col-md-12">
                      <h3 class="standalone">Energy</h3>
								      <p>FPO content. Will show a version of the sustainability map. <a href="http://www.luc.edu/media/lucedu/sustainability-new/pdfs/LSC_Static_3D_Sustainability_Map_Summer_2014.pdf">Here</a></p>
											<ul class="content-schematic">
												<li class="content-schematic-image"><span class="number-circle-small four-one">1</span><span class="number-circle-small four-two">2</span><span class="number-circle-small four-three">3</span><span class="number-circle-small four-four">4</span><span class="number-circle-small four-five">5</span><img src="images/res-life/lsc_campus_full_1800.jpg"/></li>
											</ul>
											<div class="number ug-map-key col-sm-1 table-content">
												<ul class="ug-tips-columns">
												<span class="circle">1</span>
												<h5 class="bold">Loyola CTA Station</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal-style rooms</li>
												</ul>
											</ul>
										</div>
												<div class="vertical-rule-left"></div>
												<div class="number ug-map-key col-sm-1 table-content">
													<div class="vertical-rule-right"></div>
													<ul class="ug-tips-columns">
													<span class="circle">2</span>
												<h5 class="bold">Charging Stations</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal-style rooms</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="vertical-rule-left"></div>
											<div class="number ug-map-key col-sm-1 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">3</span>
												<h5 class="bold">Car sharing</h5>
												<ul class="res-life">
													<li class="res-life">Pickup and drop off</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="number ug-map-key col-sm-1 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">4</span>
												<h5 class="bold">ChainLinks</h5>
												<ul class="res-life">
													<li class="res-life">Student-run bicycle rental and repair shop</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="number ug-map-key col-sm-1 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">5</span>
												<h5 class="bold">Campus shuttle</h5>
												<ul class="res-life">
													<li class="res-life">Student-run bicycle rental and repair shop</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="number ug-map-key col-sm-1 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">6</span>
												<h5 class="bold">Campus shuttle</h5>
												<ul class="res-life">
													<li class="res-life">Student-run bicycle rental and repair shop</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="number ug-map-key col-sm-1 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">7</span>
												<h5 class="bold">Campus shuttle</h5>
												<ul class="res-life">
													<li class="res-life">Student-run bicycle rental and repair shop</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="number ug-map-key col-sm-1 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">8</span>
												<h5 class="bold">Campus shuttle</h5>
												<ul class="res-life">
													<li class="res-life">Student-run bicycle rental and repair shop</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-3">
								<div class="col-md-12">
											<h3 class="standalone">Food</h3>
											<p>FPO content. Will show a version of the sustainability map. <a href="http://www.luc.edu/media/lucedu/sustainability-new/pdfs/LSC_Static_3D_Sustainability_Map_Summer_2014.pdf">Here</a></p>
											<ul class="content-schematic">
												<li class="content-schematic-image"><span class="number-circle-small six-one">1</span><span class="number-circle-small six-two">2</span><span class="number-circle-small six-three">3</span><span class="number-circle-small six-four">4</span><span class="number-circle-small six-five">5</span><img src="images/res-life/lsc_campus_full_1800.jpg"/></li>
											</ul>
											<div class="number ug-map-key col-sm-2 table-content">
												<ul class="ug-tips-columns">
												<span class="circle">1</span>
												<h5 class="bold">Winthrop garden</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal-style rooms</li>
													<li class="res-life">Convenient access to student center, public transportation</li>
												</ul>
											</ul>
										</div>
												<div class="vertical-rule-left"></div>
												<div class="number ug-map-key col-sm-2 table-content">
													<div class="vertical-rule-right"></div>
													<ul class="ug-tips-columns">
													<span class="circle">2</span>
												<h5 class="bold">Container gardens</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal-style rooms</li>
													<li class="res-life">Two-story entertainment lounge</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="vertical-rule-left"></div>
											<div class="number ug-map-key col-sm-2 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">3</span>
												<h5 class="bold">Farmer's market</h5>
												<ul class="res-life">
													<li class="res-life">Pickup and drop off</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="number ug-map-key col-sm-2 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">4</span>
												<h5 class="bold">"Engrained" green cafe</h5>
												<ul class="res-life">
													<li class="res-life">Student-run bicycle rental and repair shop</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="number ug-map-key col-sm-2 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">5</span>
												<h5 class="bold">Vegewater community garden</h5>
												<ul class="res-life">
													<li class="res-life">Student-run bicycle rental and repair shop</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-4">
								<div class="col-md-12">
											<h3 class="standalone">Waste</h3>
											<p>FPO content. Will show a version of the sustainability map. <a href="http://www.luc.edu/media/lucedu/sustainability-new/pdfs/LSC_Static_3D_Sustainability_Map_Summer_2014.pdf">Here</a></p>
											<ul class="content-schematic">
												<li class="content-schematic-image"><span class="number-circle-small seven-one">1</span><span class="number-circle-small seven-two">2</span><span class="number-circle-small seven-three">3</span><img src="images/res-life/lsc_campus_full_1800.jpg"/></li>
											</ul>
											<div class="number ug-map-key col-sm-2 table-content">
												<ul class="ug-tips-columns">
												<span class="circle">1</span>
												<h5 class="bold">Winthrop garden</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal-style rooms</li>
													<li class="res-life">Convenient access to student center, public transportation</li>
												</ul>
											</ul>
										</div>
												<div class="vertical-rule-left"></div>
												<div class="number ug-map-key col-sm-2 table-content">
													<div class="vertical-rule-right"></div>
													<ul class="ug-tips-columns">
													<span class="circle">2</span>
												<h5 class="bold">IES</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal-style rooms</li>
													<li class="res-life">Two-story entertainment lounge</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="vertical-rule-left"></div>
											<div class="number ug-map-key col-sm-2 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">3</span>
												<h5 class="bold">Compost and recycling</h5>
												<ul class="res-life">
													<li class="res-life">Pickup and drop off</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-5">
								<div class="col-md-12">
											<h3 class="standalone">Water</h3>
											<p>FPO content. Will show a version of the sustainability map. <a href="http://www.luc.edu/media/lucedu/sustainability-new/pdfs/LSC_Static_3D_Sustainability_Map_Summer_2014.pdf">Here</a></p>
											<ul class="content-schematic">
												<li class="content-schematic-image"><span class="number-circle-small seven-one">1</span><span class="number-circle-small seven-two">2</span><span class="number-circle-small seven-three">3</span><span class="number-circle-small seven-four">4</span><span class="number-circle-small seven-five">5</span><img src="images/res-life/lsc_campus_full_1800.jpg"/></li>
											</ul>
											<div class="number ug-map-key col-sm-2 table-content">
												<ul class="ug-tips-columns">
												<span class="circle">1</span>
												<h5 class="bold">Winthrop garden</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal-style rooms</li>
													<li class="res-life">Convenient access to student center, public transportation</li>
												</ul>
											</ul>
										</div>
												<div class="vertical-rule-left"></div>
												<div class="number ug-map-key col-sm-2 table-content">
													<div class="vertical-rule-right"></div>
													<ul class="ug-tips-columns">
													<span class="circle">2</span>
												<h5 class="bold">Container gardens</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal-style rooms</li>
													<li class="res-life">Two-story entertainment lounge</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="vertical-rule-left"></div>
											<div class="number ug-map-key col-sm-2 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">3</span>
												<h5 class="bold">Farmer's market</h5>
												<ul class="res-life">
													<li class="res-life">Pickup and drop off</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="number ug-map-key col-sm-2 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">4</span>
												<h5 class="bold">"Engrained" green cafe</h5>
												<ul class="res-life">
													<li class="res-life">Student-run bicycle rental and repair shop</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="number ug-map-key col-sm-2 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">5</span>
												<h5 class="bold">Vegewater community garden</h5>
												<ul class="res-life">
													<li class="res-life">Student-run bicycle rental and repair shop</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-6">
								<div class="col-md-12">
											<h3 class="standalone">Biodiversity</h3>
											<p>FPO content. Will show a version of the sustainability map. <a href="http://www.luc.edu/media/lucedu/sustainability-new/pdfs/LSC_Static_3D_Sustainability_Map_Summer_2014.pdf">Here</a></p>
											<ul class="content-schematic">
												<li class="content-schematic-image"><span class="number-circle-small six-one">1</span><span class="number-circle-small six-two">2</span><span class="number-circle-small six-three">3</span><span class="number-circle-small six-four">4</span><span class="number-circle-small six-five">5</span><img src="images/res-life/lsc_campus_full_1800.jpg"/></li>
											</ul>
											<div class="number ug-map-key col-sm-2 table-content">
												<ul class="ug-tips-columns">
												<span class="circle">1</span>
												<h5 class="bold">Winthrop garden</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal-style rooms</li>
													<li class="res-life">Convenient access to student center, public transportation</li>
												</ul>
											</ul>
										</div>
												<div class="vertical-rule-left"></div>
												<div class="number ug-map-key col-sm-2 table-content">
													<div class="vertical-rule-right"></div>
													<ul class="ug-tips-columns">
													<span class="circle">2</span>
												<h5 class="bold">Container gardens</h5>
												<ul class="res-life">
													<li class="res-life">Traditonal-style rooms</li>
													<li class="res-life">Two-story entertainment lounge</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="vertical-rule-left"></div>
											<div class="number ug-map-key col-sm-2 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">3</span>
												<h5 class="bold">Farmer's market</h5>
												<ul class="res-life">
													<li class="res-life">Pickup and drop off</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="number ug-map-key col-sm-2 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">4</span>
												<h5 class="bold">"Engrained" green cafe</h5>
												<ul class="res-life">
													<li class="res-life">Student-run bicycle rental and repair shop</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
											<div class="number ug-map-key col-sm-2 table-content">
											<div class="vertical-rule-right"></div>
											<ul class="ug-tips-columns">
											<span class="circle">5</span>
												<h5 class="bold">Vegewater community garden</h5>
												<ul class="res-life">
													<li class="res-life">Student-run bicycle rental and repair shop</li>
												</ul>
											</ul>
												<div class="vertical-rule-left"></div>
											</div>
										</div>
							</div><!-- tab-pane - highlight-1 END -->
							</div><!-- my-tab-content END -->
					</div>
		</div>
	</div>
</div>
