/* PAGES */

article .grid [class*="col-"],
article .grid [class*="col-"],
article .grid img, {
	margin: 0;
	padding: 0;
	background: none;
}

#header.ug-header, #ug-nav.container-fluid {  width: 100%; }

#header.ug-header { top: 0; }

#header, footer  { z-index: 10000; }

footer { position: fixed !important; }

div#wrapper {
  min-height: 1000px;
  width: 100%;
  margin: 0;
  padding: 0 0 50px 0;
}

header { margin: 0; }

article {
  position: fixed;
  top: 0 ;
  left: 0;
  width: 100%;
  min-height: 100%;
  -moz-box-shadow: 0 0 12px #666;
  -webkit-box-shadow: 0 0 12px #666;
  z-index:99999;
  background: #ffffff;
}

article.explore-study-abroad { min-height: 2500px; height: 2500px; }

/* GALLERY IMAGES */

article figure {
	background: transparent;
	position: fixed;
	top: 250px;
	min-height: 400px;
	left: 35%;
	margin: 0;
	padding: 0;
}

figure img {
	display: block;
}

.panoramic img {
  display: block;
  float: left;
  margin: 20px;
  padding: 20px;
  width: auto;
  height: auto;
  border: 15px;
  background: $gray-extra-light;
  box-shadow: 0px 0px 25px rgba(0,0,0,.65);
}

/* GALLERY TEXT */

.column {
	margin: 0 0 0 50px;
	padding: 0 0 0 0;
	border: none;
}

.text {
	margin: 250px 0 0 0;
	padding: 0 0 0 100px;
}

.text p {
  font-size: 1.15em;
  margin: 10px 0;
	width: 350px;
}



@media screen and (min-width:1350px) {

.panoramic img { width: 900px; }

}

.chapter header {
	position: absolute;
	left: 50%;
	top: 100%;
	margin: 0 0 0 -480px !important;
	width: 960px;
	height: 20%;
}

.chapter header p {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.centered {
	text-align: center;
}
