/* PAGES */

/* HEADER CUSTOM FOR PARALLAX - OVERRIDE FOR PARALLAX */

#header.ug-header, #ug-nav.container-fluid { position: fixed; width: 100%; }

#header.ug-header { top: 0; }

#header, footer  { z-index: 10000; }

div#wrapper {
  min-height: 1000px;
  width: 100%;
  margin: 0;
  padding: 0 0 50px 0;
}

/* GENERAL - STRUCTURE - BASE */

header { margin: 0; }

article .grid [class*="col-"],
article .grid [class*="col-"],
article .grid img, {
	margin: 0;
	padding: 0;
	background: none;
}

article {
  position: fixed;
  top: 0 ;
  left: 0;
  width: 100%;
  height: 70%;
  min-height: 70%;
  -moz-box-shadow: 0 0 12px #666;
  -webkit-box-shadow: 0 0 12px #666;
  z-index:99999;
  background: #ffffff;
}

article.explore-study-abroad { min-height: 2500px; height: 2500px; }

article figure {
	background: transparent;
	position: fixed;
	top: 250px;
	min-height: 400px;
	left: 35%;
	margin: 0;
	padding: 0;
  @include media-breakpoint-down(lg) {
    left: 45%;
  }
}

.column {
	margin: 0 0 0 50px;
	padding: 0 0 0 0;
  width: 30%;
	border: none;
  @include media-breakpoint-down(lg) {
    width: 40%;
  }
}

/* GALLERY IMAGES - LOCATION - BG - BASE */

figure img { display: block; }

.panoramic img {
  display: block;
  float: left;
  margin: 20px;
  padding: 20px;
  width: 35vw;
  height: auto;
  border: 15px;
  background: $gray-extra-light;
  box-shadow: 0px 0px 25px rgba(0,0,0,.65);
  @media screen and (min-width:1350px) { .panoramic img { width: 45vw; } }
  @include media-breakpoint-down(lg) {
    margin: 10px 15px;
    padding: 15px;
    width: 42vw;
  }
}

/* HEADLINE BOXES - BASE */

.text {
	margin: 250px 0 0 0;
	padding: 0 0 0 100px;
}

.text p {
  font-size: 1.15em;
  margin: 10px 0;
	width: 350px;
}

.chapter header {
	position: absolute;
	left: 50%;
	top: 100%;
	margin: 0 0 0 -550px;
	width: 1100px;
	height: 20%;
  @include media-breakpoint-down(lg) {
    width: 100%;
    margin: 0 0 0 -50%;
  }
}

.chapter header p {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

/*=====================================
CUSTOM STYLES
=====================================*/

/* CTA WRAPPER - POSITION - TYPOGRAPHY */

header.explore-cta-wrapper {
  position: absolute;
  top: -200px;
  left: 50%;
  right: 50%;
  height: 300px;
}

.explore-cta {
	margin: 0 auto;
	padding: 20px 30px;
	width: 100%;
  height: auto;
  border: solid 2px $patina;
  border-radius: 5px;
  background-color: rgba(0,0,0,.75);
  box-shadow: 0px 0px 15px $bg-overlay;
  @include media-breakpoint-down(lg) {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 20px 2%;
  }
}

.explore-cta h1, .explore-cta h2, .explore-cta h5 {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Antenna Black', sans-serif;
  font-size: 2.25vw;
  line-height: 1.15;
  letter-spacing: -0em;
  color: $gray-extra-light;
  text-align: left;
  text-shadow: none;
}

.explore-cta h1 { margin: 0 0 5px; }

#explore-intro-wrapper-video .explore-cta h1 { font-size: 2.125vw; text-align: center; margin: 0; }

#explore-intro-wrapper-video .explore-cta .cta { font-family: 'Antenna Black', sans-serif !important; }


#explore-intro-wrapper-video h6 { text-align: center; }

#explore-study-abroad-wrapper.explore-cta h5,
#explore-study-abroad-wrapper.explore-cta h1,
#explore-study-abroad-wrapper.explore-cta p.body { text-align: left !important; }

#explore-study-abroad-wrapper.explore-cta h5 { font-family: 'Antenna', sans-serif; font-size: .95em; letter-spacing:.015em; }

#explore-study-abroad-wrapper.explore-cta p.body { margin-top: 10px; margin-bottom: 15px; }

#explore-apply-visit-info-wrapper .explore-cta h1 { text-align: center; }

.explore-cta p.body.intro { font-size: 1.15em; line-height: 1.65; width: 100%; }

.explore-cta p.body a { font-size: 80% !important; }

.explore-cta p { margin: 0; letter-spacing: .025em; }

.explore-cta p a.cta {
  color: lighten($patina, 5%) !important;
  text-transform: uppercase;
  font-size: 85%;
  letter-spacing: .015em;
}

/* CTA BUTTON */

.explore-cta-button {
	position: relative;
	margin: 15px auto 0 !important;
	padding: 0;
	width: 60px;
	height: 60px;
	color: $gray-extra-light;
	text-align: center;
	border: solid 2px $patina;
	border-radius: 50%;
	background-color: rgba(0,0,0,.9);
	opacity: .85;
  @include media-breakpoint-down(lg) {
    margin: 5px auto 0 !important;
    width: 50px;
    height: 50px;
  }
}

.explore-cta-button:hover{ cursor: pointer; }
.explore-cta-button.apply {margin: 50px auto 0 !important;}

.explore-cta-button img {
	position: relative;
	top: 55%;
	transform: translateY(-50%);
	margin: auto auto;
	padding: 0;
	width: 75%;
	height: 55%;
  opacity: .95;
}

button h5.label { margin: 2px 0 0; text-align: center; }

/* IMAGE GRID - IMAGE GRID TITLE BOX */

article .grid .col-xs-12 .col-xs-3:first-of-type {
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

article .grid .col-xs-12 .col-xs-3 {
  @include media-breakpoint-down(lg) {
    width: 33.333%
  }
}

.grid {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  color: $gray-light;
  background-color: $gray-dark;
}

.grid-title-box {
  position: relative;
}

.grid-title-box:before {
  display: block;
  content: "";
  width: auto;
  padding-top: 56.25%;
  background: url(../images/explore/explore-grid-dark-small.png) repeat;
}

.grid-title-box-text {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
}

.grid-title-box-text h5 { text-align: centered; }

.grid.parallax .footercard { color: $gray-extra-dark; }

/* IMAGE GRID - TYPOGRAPHY */

#explore-service-grid .grid-title-box, #explore-life-grid .grid-title-box {
  background-image:url("../images/explore/title-box-campus.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

#explore-life-grid .grid-title-box {
  background-image:url("../images/explore/title-box-campus.png");
}

#explore-service-grid .grid-title-box h5.label, #explore-life-grid .grid-title-box h5.label {
  margin: 0;
  padding: 0;
  font-size: 1em !important;
  line-height: 1.15;
  color: darken($gray-light, 10%);
  text-transform: uppercase;
  text-align: left;
}

#explore-service-grid .grid-title-box h5.label a, #explore-life-grid .grid-title-box h5.label a {
  font-family: 'Antenna Black', sans-serif !important;
  font-size: 2em !important;
  color: darken($gray-light, 3%);
}

/* BUTTON - CUSTOM */

#explore-apply-visit-info-wrapper button {
  padding: 5px 20px;
  width: 100%;
  border: solid 1px $patina;
  border-radius: 20px;
  background: rgba(0,0,0,.35);
  h5 {
    font-family: 'Antenna Bold', sans-serif;
    color: darken($gray-light,10%) !important; }
  transition: all .2s;
}

#explore-apply-visit-info-wrapper button:hover {
  background: rgba(0,0,0,.65);
  color: darken($gray-light,10%)
}

#explore-apply-visit-info-wrapper button:focus {
  outline: none !important;
  outline-offset: 0;
}

#explore-apply-visit-info-wrapper h5.label { color: darken($gray-light,10%); }

#explore-apply-visit-info-wrapper h5.label:hover { color: darken($gray-light,10%); }

/* NUMBERS */

.number.display { font-family: 'Antenna Comp' !important; font-size: 8em; }

/* VIDEO */

.explore-video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* IMAGES - PANELS */

#explore-intro              { top: 0px; }
#explore-why-loyola         { top: 0px; }
#explore-service-grid       { top: 0px; }
#explore-social-justice     { top: 0px; }
#explore-academics-chicago  { top: 0px; }
#explore-study-abroad       { top: 0px; }
#explore-life-grid          { top: 0px; }
#explore-residential-life   { top: 0px; }
#explore-cost-value         { top: 0px; }
#explore-apply-visit-info   { top: 0px; }

#explore-why-loyola:before,
#explore-service-grid:before,
#explore-social-justice:before,
#explore-academics-chicago:before,
#explore-study-abroad:before,
#explore-life-grid:before,
#explore-residential-life:before,
#explore-cost-value:before,
#explore-apply-visit-info:before {
  background: url("../images/explore/explore-grid-dark-small.png") repeat;
}

#explore-intro .explore-cta-button img { background-image: none; cursor: pointer; }

#explore-why-loyola         { background-image:url("../images/explore/explore-why-loyola-2400-2400.jpg"); background-size: 100% auto; background-repeat: no-repeat; }
#explore-social-justice     { background-image:url("../images/explore/explore-social-justice-2400-2400.jpg"); background-size: 100% auto; background-repeat: no-repeat; }
#explore-academics-chicago  { background-image:url("../images/explore/explore-academics-chicago-2400-2400.jpg"); background-size: 100% auto; background-repeat: no-repeat; }
#explore-study-abroad       { background-image:url("../images/explore/explore-study-abroad-gray-2400-deep.jpg"); background-size: 100% auto; background-repeat: no-repeat; }
#explore-cost-value         { background-image:url("../images/explore/explore-value-2400-2400.jpg"); background-size: 100% auto; background-repeat: no-repeat; }
#explore-residential-life   { background-image:url("../images/explore/explore-residential-life-2400-2400.jpg"); background-size: 100% auto; background-repeat: no-repeat; }
#explore-apply-visit-info   { background-image:url("../images/explore/explore-apply-visit-info-2400-2400.jpg"); background-size: 100% auto; background-repeat: no-repeat; }

#explore-why-loyola,
#explore-social-justice,
#explore-academics-chicago,
#explore-study-abroad,
#explore-cost-value,
#explore-residential-life,
#explore-apply-visit-info {
  @include media-breakpoint-down(lg) {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
}

/* HEADLINE - READOUTS - MARGIN - WIDTH */

/* PAGE 01 */
#explore-intro-wrapper-video > div.explore-cta,
#explore-why-loyola-wrapper > div.explore-cta,
#explore-social-justice-wrapper > div.explore-cta,
#explore-academics-chicago-wrapper > div.explore-cta,
#explore-study-abroad-wrapper > div.explore-cta,
#explore-residential-life-wrapper > div.explore-cta,
#explore-cost-value-wrapper > div.explore-cta {
  margin: 0 auto 0 !important;
  width: 100% !important;
}

/* HEADLINE - READOUTS - POSITION - CUSTOM WIDTH */

/* PAGE 01 */
#explore-intro-wrapper-video[style] { top: 70vh !important; }
#explore-intro-wrapper-video > div.explore-cta { width: 100% !important; }
/* PAGE 02 */
#explore-why-loyola-wrapper[style] { top: 70vh !important; }
#explore-why-loyola-wrapper > div.explore-cta { width: 100% !important; }
/* PAGE 03 */
#explore-social-justice-wrapper[style] { top: 70vh !important; }
#explore-social-justice-wrapper > div.explore-cta { width: 100% !important; }
/* PAGE 04 - SOCIAL JUSTICE GRID */
/* PAGE 05 */
#explore-academics-chicago-wrapper[style] { top: 70vh !important; }
#explore-academics-chicago-wrapper > div.explore-cta { width: 100% !important; }
/* PAGE 06 */
#explore-study-abroad-wrapper[style] { top: 400px !important; margin-top: 20px !important; }
#explore-study-abroad-wrapper > div.explore-cta { width: 30% !important; }
/* PAGE 07 */
#explore-residential-life-wrapper[style] { top: 70vh !important; }
#explore-residential-life-wrapper > div.explore-cta { width: 100% !important; }
/* PAGE 08 - RESIDENTIAL LIFE GRID */
/* PAGE 09 */
#explore-cost-value-wrapper[style] { top: 70vh !important; }
#explore-residential-life-wrapper > div.explore-cta { width: 100% !important; }
/* PAGE 09 */
#explore-apply-visit-info-wrapper[style] { top: 70vh !important; }
#explore-apply-visit-info-wrapper > div.explore-cta { width: 100% !important; }

/* END CSS */
