/* ====================
CSS FOR MOBILE - 580PX
=====================*/

@media only screen
and (max-device-width : 1024px) {

/* BACKGROUND */

body,
body #wrapper,
#navbar ul,
#ug-footer-cta-wrapper,
#ug-nav.container-fluid,
#ug-cta.container-fluid,
#ug-explore.container-fluid,
#navbar-footer,
#ug-social-wrapper {
	background: $gray-light !important;
	background-color: $gray-light !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* POSITION */

body #wrapper { padding: 0; height: 1px !important; min-height: 1px !important; max-height: 1px !important; }

#content, #content article { display: none !important; height: 0 !important; position: relative !important; }

#ug-footer-cta-wrapper {
	position: relative;
	bottom: 0 !important;
	width: 100% !important;
	z-index: 10000 !important;
}

#ug-footer-address-wrapper {
	min-height: auto !important;
	height: auto !important;
}

#ug-nav.container-fluid,
#ug-cta.container-fluid,
#ug-explore.container-fluid {
	padding: 0;
	width: 100%;
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#ug-cta.container-fluid,
#ug-explore.container-fluid {
	display: block !important;
	margin: 0 1% 15px !important;
	width: 98% !important;
}

#ug-nav.container-fluid .container,
#ug-nav.container-fluid .row,
#ug-cta.container-fluid .container,
#ug-cta.container-fluid .row,
#ug-explore.container-fluid .container,
#ug-explore.container-fluid .row {
	margin: 0 !important;
	padding: 0 !important;
	background: transparent !important;
}

#ug-nav.container-fluid {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

#ug-nav.container-fluid {
	top: 0 !important;
	margin-top: 50px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#ug-nav #navbar {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

#ug-nav #navbar, #footer #ug-cta ul#nav { width: 100% !important; }

#ug-nav ul, #ug-cta ul, #ug-explore ul {
	float: left !important;
	margin: 0 !important;
	width: 100% !important;
}

#ug-nav ul li,
#ug-cta ul li,
#ug-explore li {
	float: left !important;
	border-radius: 3px !important;
	background-color: darken($patina, 12%) !important;
	transition: all .2s;
}

#ug-nav ul li a:hover,
#ug-nav ul li a:active,
#ug-cta ul li a:hover,
#ug-explore ul li a:hover {
	background-color: darken($patina, 15%) !important;
}

#ug-cta #ug-social-wrapper ul li { background-color: darken($gray, 12%) !important; }

#ug-nav ul li a,
#ug-cta ul li a,
#ug-explore li a {
	padding: 60px 0 !important;
	font-size: .95em !important;
	color: $gray-light !important;
	text-align: center !important;
	border-left: none !important;
}

#ug-nav ul li,
#ug-nav ul li a,
#ug-cta ul li,
#ug-cta ul li a,
#ug-explore ul li,
#ug-explore ul li a {
	border-left: none !important;
	border-bottom: none !important;
}

#ug-nav ul li a span { display: none !important; }

#ug-nav ul li {
	margin: 2% !important;
	padding: 8px 2% !important;
	width: 46% !important;
}

#ug-cta ul li {
	margin: 1% !important;
  padding: 6px 1.5% !important;
	width: 23% !important;
}

#ug-explore ul li {
	margin: 0 1% !important;
	padding: 8px 2% !important;
	width: 98% !important;
}

#ug-nav ul li a,
#ug-cta ul li a,
#ug-explore ul li a {
	padding: 10px 0 !important;
}

#ug-nav ul li:hover,
#ug-cta ul li:hover,
#ug-explore ul li:hover {
	box-shadow: 0px 0px 3px rgba(0,0,0,.5) !important;
}

#ug-cta ul.social { float: left !important; margin: 0 auto !important; }

#ug-social-wrapper ul li { height: 45px !important; width: 45px !important; border-radius: 50% !important; }

/* TYPOGRAPHY */

#ug-nav ul li { font-size: 15px !important; }

#ug-nav ul li a,
#ug-cta ul li a,
#ug-explore ul li a {
	font-family: 'Antenna Bold', sans-serif !important;
	font-size: 1em !important;
	letter-spacing: .015em;
}

/* HOME IMAGE */

#home-mobile-image {
	display: block;
	margin: 0 0 10px 0;
	padding: 0 5px;
	width: 100%;
	overflow: hidden;
}

#home-mobile-image img {
	position: relative;
	margin: -50px 0 0px;
}

}

@media only screen /* IPAD PRO - IPAD */
and (min-device-width : 768px)
and (max-device-width : 1366px)
and (-webkit-min-device-pixel-ratio: 2)  {
	.container, .container-fluid { width: 100% !important; }
	#header.ug-header { padding: 20px 0 15px 0; }
	.ug-global-nav { display: block; }
	.ug-global-nav-wrapper-mobile { display: block !important; }
	.ug-global-nav-wrapper-mobile .ug-global-nav { display: block; }
	#ug-nav.container-fluid { margin-top: 0 !important; }
	#home-mobile-image { height: 300px; }
	#home-mobile-image img { position: relative; top: -120px; }
	#ug-nav ul li { margin: 8px 2% !important;  }
	#ug-nav.container-fluid { margin-top: 0 !important; }
	#home-mobile-image { height: 300px; }
	#home-mobile-image img { position: relative; top: -120px; }
	#footer-address .container .row { padding-left: 15px; padding-right: 15px; }
	body.grid.parallax.touch[style] { height: 100% !important; }
	#social.social-gold li { width: 45px !important; height: 45px !important; }
}

@media only screen /* IPAD PRO - IPAD */
and (min-device-width : 768px)
and (max-device-width : 1366px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2)  {
	#ug-nav ul li { margin: 0 2% !important; }
	#social.social-gold li { width: 35px !important; height: 35px !important; }
}


@media only screen /* IPAD - PORTRAIT */
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1) {
	#home-mobile-image { padding: 0 10px; height: 530px; }
	#home-mobile-image img { position: relative; top: -95px; }
	#ug-social-wrapper { width: 100%; }
	#social.social-gold li { width: 45px !important; height: 45px !important; }
	#social.social-gold li a.icon-fb { background-position: -5px 0 !important; }
	#social.social-gold li a.icon-fb:hover { background-position: -5px 0 !important; }
	#social.social-gold li a.icon-fl { background-position: -5px 8.85% !important; }
	#social.social-gold li a.icon-fl:hover { background-position: -5px 8.85% !important; }
	#social.social-gold li a.icon-gg { background-position: -5px 18% !important; }
	#social.social-gold li a.icon-gg:hover { background-position: -5px 18% !important; }
	#social.social-gold li a.icon-ig { background-position: -5px 27% !important; }
	#social.social-gold li a.icon-ig:hover { background-position: -5px 27% !important; }
	#social.social-gold li a.icon-li { background-position: -5px 36.15% !important; }
	#social.social-gold li a.icon-li:hover { background-position: -5px 36.15% !important; }
	#social.social-gold li a.icon-pi { background-position: -5px 45.25% !important; }
	#social.social-gold li a.icon-pi:hover { background-position: -5px 45.25% !important; }
	#social.social-gold li a.icon-tw { background-position: -5px 54.25% !important; }
	#social.social-gold li a.icon-tw:hover { background-position: -5px 54.25% !important; }
	#social.social-gold li a.icon-wp { background-position: -5px 63.65% !important; }
	#social.social-gold li a.icon-wp:hover { background-position: -5px 63.65% !important; }
	#social.social-gold li a.icon-yt { background-position: -5px 72.75% !important; }
	#social.social-gold li a.icon-yt:hover { background-position: -5px 72.75% !important; }
}

@media only screen /* IPAD - PORTRAIT */
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1) {
	#ug-nav ul li { margin: 8px 2% !important; }
	#social.social-gold li { width: 45px !important; height: 45px !important; }
}

/* MOSTLY HOMEPAGE IMAGE */

@media only screen /* IPAD PRO - PORTRAIT */
and (max-device-width : 1024px)
and (orientation : portrait) {
	#home-mobile-image { padding: 0 10px; height: 850px; }
	#home-mobile-image img { position: relative; top: -40px; }
	#ug-cta #ug-social-wrapper ul li { width: 52px !important; height: 52px !important; }
	#ug-cta #ug-social-wrapper ul li a { background-size: 120% !important; }
}

@media only screen /* IPAD PRO - LANDSCAPE */

and (min-device-width : 1024px)
and (max-device-width : 1366px)
and (orientation : landscape) {
	#home-mobile-image { padding: 0 15px; height: 530px; }
	#home-mobile-image img { position: relative; top: -210px; }
}

@media only screen /* IPAD - LANDSCAPE */
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1) {
	#home-mobile-image { padding: 0 10px; height: 320px; }
	#home-mobile-image img { position: relative; top: -150px; }
}

@media only screen /* IPHONE 5 - PORTRAIT */
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
	#home-mobile-image { padding: 0 10px; height: 170px; }
	#home-mobile-image img { position: relative; top: -10px; }
	#ug-nav ul li a, #ug-cta ul li a, #ug-explore ul li a { font-size: .85em !important; }
	#ug-nav ul li a, #ug-cta ul li a, #ug-explore ul li a {
		padding-top: .5% !important;
		padding-bottom: .5% !important;
	}
}

@media only screen /* IPHONE 5 - LANDSCAPE */
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
	#home-mobile-image { display: none; }
	#ug-nav ul li a, #ug-cta ul li a, #ug-explore ul li a {
		padding-top: .5% !important;
		padding-bottom: .5% !important;
	}
	#ug-explore ul li { margin: 1% 2% !important; }
	#ug-cta ul { margin: 1% !important; }
	#ug-cta.container-fluid, #ug-explore.container-fluid { margin: 0 1% 5px 0 !important; }
	#ug-social-wrapper { display: none; }
}

@media only screen /* IPHONE 6 - PORTRAIT */
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
	#home-mobile-image { height: 250px; }
	#ug-cta ul li a {
		padding-top: 6% !important;
		padding-bottom: 6% !important;
	}
}

@media only screen /* IPHONE 6 PLUS - PORTRAIT */
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : portrait) {
	#home-mobile-image { height: 330px; }
}

@media only screen /* IPHONE 6 - LANDSCAPE */
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {
	#ug-nav #navbar { padding-bottom: 0 !important; }
	#ug-nav ul li, #ug-cta ul li, #ug-explore ul li {
		margin-top: 1% !important;
		margin-bottom: 1% !important;
	}
	#ug-nav ul li a, #ug-cta ul li a, #ug-explore ul li a {
		padding-top: .5% !important;
		padding-bottom: .5% !important;
	}
	#home-mobile-image { display: none; }
	#ug-social-wrapper { display: none; }
}

@media only screen /* IPHONE 6 PLUS - LANDSCAPE */
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : landscape) {
	#ug-nav #navbar { padding-bottom: 0 !important; }
	#ug-nav ul li, #ug-cta ul li, #ug-explore ul li {
		margin-top: 1% !important;
		margin-bottom: 1% !important;
	}
	#ug-nav ul li a, #ug-cta ul li a, #ug-explore ul li a {
		padding-top: .5% !important;
		padding-bottom: .5% !important;
	}
	#home-mobile-image { display: none; }
	#ug-social-wrapper { display: none; }
}

/* NEW MOBILE WITH BACKGROUND IMAGE */

@media only screen
and (max-device-width : 736px) {

#home-mobile-image { display: none; }

body.parallax:before {
	content: "";
	background: url("../images/backgrounds/bg-grid-light-small.png") repeat;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	opacity: 1;
}

body.parallax { background: url('/images/backgrounds/bg-shield-dark.jpg') no-repeat center center fixed !important; }

body,
body #wrapper,
#navbar ul,
#ug-footer-cta-wrapper,
#ug-nav.container-fluid,
#ug-cta.container-fluid,
#ug-explore.container-fluid,
#navbar-footer,
#ug-social-wrapper {
	background: none !important;
	background-color: none !important;
}

#ug-cta #ug-social-wrapper ul li { background-color: $gray-dark !important; }

}

/* CSS END */
