/* EXPLORE SIMPLE */

#main-content-canvas.explore-simple-wrapper {
  background: white !important;
  background-color: white !important;
  background-image: none !important;
}

#explore-simple {
  margin: 70px auto 30px;
  width: 70%;
}

.explore-simple-module {
  background: red;
}
