#quiz {
  position: relative;
  margin: 30px 0 50px;
  width: calc(100% - 50px);
  @include media-breakpoint-down (md) {
    width: 95%;
  }
}

#quiz h2 {
	font-family: "Antenna Bold", sans-serif;
  line-height: 1.4;
  min-height: 60px;
  text-transform: none;
}

#quiz button {
	height: inherit;
	float: right;
	margin-top: 10px;
	margin-right: 5px;
	padding: 4px 12px 4px 12px;
	font-family: "Antenna Bold", "Arial", sans-serif;
	font-size: .75em;
	font-weight: bold;
	font-style: normal;
	color: $maroon;
	text-align: left;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-shadow: none;
	background-color: white;
	background-image: none;
	border: 1px $maroon solid;
	border-radius: 30px;
	outline: white;
	text-decoration: none;
	-moz-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	cursor: pointer;
}

#quiz button:hover {
  color: lighten($maroon, 10%);
  	border: 1px lighten($maroon, 10%) solid;
}

#quiz button:disabled {
  opacity: 0.5;
  background: white;
  color: $bg-overlay;
  cursor: default;
	border: $bg-overlay;
}

#question { margin: 15px 0; width: 100%; }

#question h2 {
  display: block;
  margin: 10px 0 25px;
  font-weight: 600;
  font-size: 20px;
}

#question input[type=radio] {
	display: none;
}

#question label {
  display: inline-block;
  margin: 4px;
  padding: 8px;
  background: #e1e1e1;
  color: black;
  width: calc(25% - 8px);
  min-width: 100px;
  cursor: pointer;
	font-size: .9em;
	text-transform: none;
  @include media-breakpoint-down (md) {
    width: 100%;
  }
}

#question label:hover {
  background: $bg-overlay-light;
}

#question input[type=radio]:checked + label {
  background: $bg-overlay;
  color: #fff;
}

#quiz-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
		background: white;
  top: -4px;
  left: 0px;
  width: 100%;
  height: calc(100% - 0px);
  @include media-breakpoint-down (md) {
    width: 110%;
  }
}

#quiz-results-message {
  display: block;
  color: $bg-overlay-extra-dark;
  font-size: 20px;
  font-weight: bold;
  margin-top: 3em;
}

#quiz-results-score {
  display: block;
  color: $bg-overlay-dark;
  font-size: 20px;
}

#quiz-results-score b {
  color: $bg-overlay-extra-dark;
  font-weight: 600;
  font-size: 20px;
}
