/*================================================
B3 - CANVAS - IMAGES - CUSTOM PER CANVAS - 062717
================================================*/

/* NAME: */
/* LOCATION:  */
/* PURPOSE: */
/* EXAMPLE:*/

/*================================================
================================================*/

/* .partial-overlay surrounds the .bg-overlay that only covers part of the fullbleed image */

#martyrs ul li a:visited, #martyrs ul li a:visited, #martyrs p a:visited, #martyrs p a:visited, #martyrs ul li a:hover, #martyrs ul li a:hover, #martyrs p a:hover, #martyrs p a:hover, #martyrs .nav a:visited, #martyrs .nav a:hover, #martyrs .nav a:focus{
	background-color: #fff !important;
}

#martyrs .nav > li > a:focus, .nav > li > a:hover { background-color: #fff !important;}

#tabs\20 img > li > a { background-color: #fff !important; }

#martyrs ul li a {padding-left: 0 !important;}

#martyrs .nav-pills>li {
	width: 10%;
	float: left;
}

#martyrs .nav-pills>li{
	filter: grayscale(100%);
}

#martyrs .nav-pills>li:hover {
	filter: grayscale(0%)!important;
}

#martyrs .nav-pills>li:active {
	opacity: 1 !important;
}

li.category.active { opacity: 1 !important; filter: grayscale(0%)!important;}

#tabs\20 img > li:nth-child(7) > a {
	width: 170%;
}

.wall img {
	margin-top:-90px !important;
	z-index: 10 !important;
	position: relative;
}

.back img {
	z-index: -100000;
}

#accordion > div > div.panel-heading > h5 > a > i {color: $gray;}

#collapseQuiz p.body {padding-bottom: 5px;}

.rule-bottom-mobile {
	@include media-breakpoint-down (md) {
		display: block;
		padding: 0 0 30px;
    border-bottom: 1px solid #e1e1e1;
	}
	@include media-breakpoint-up (md){
		display:none;
	}
}

#canvas-navbar.navbar {
	@include media-breakpoint-down (md){
		display: none;
	}
}

#ihm-calendar .panel-body .col-md-6 {
	@include media-breakpoint-down (md) {
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

.container#canvas-navigation .navbar-nav li a {
	@include media-breakpoint-down (lg) {
		padding: 15px 15px;
		font-size: .85em;
	}
}

#content-tabs {
	@include media-breakpoint-down (md) {
	display: none;
	}
}

.inset-image {
	width: 15%;
	float: left;
	margin-right: 2%;
}

hr { border-color:$gray-light !important; margin-top: 25px; margin-bottom: 25px;}
