/*================================================
B3 - CANVAS - IMAGES - CUSTOM PER CANVAS - 062717
================================================*/

/* NAME: */
/* LOCATION:  */
/* PURPOSE: */
/* EXAMPLE:*/

/*================================================
================================================*/

/* .partial-overlay surrounds the .bg-overlay that only covers part of the fullbleed image */

.fullbleed .partial-overlay {
	margin-top: -31.3888%;
}

@media (max-width: 991px) {
.fullbleed .partial-overlay {
	margin-top: -40.3888%;
}
}

@media (max-width: 768px) {
.fullbleed .partial-overlay {
	margin-top: -50%;
}
}

@media (max-width: 543px) {
.fullbleed .partial-overlay {
	margin-top: -80.6%;
}
}

.fullbleed .partial-overlay .bg-overlay { padding: 30px; }

div.bg-overlay.col-lg-4.col-sm-6.offset-lg-4 {
	right:0px;
}

.fullbleed .partial-overlay .bg-overlay-dark { padding: 30px; }

/* delete this once we know we don't need it */

/*

.partial-overlay.col-sm-2,
.partial-overlay.col-sm-3,
.partial-overlay.col-sm-4,
.partial-overlay.col-sm-5,
.partial-overlay.col-sm-6,
.partial-overlay.col-sm-7,
.partial-overlay.col-sm-8,
.partial-overlay.col-sm-9,
.partial-overlay.col-sm-10,
.partial-overlay.col-sm-11,
.partial-overlay.col-sm-12 {
	padding: 30px;
	margin-top: 31.3888%;
}

@media (max-width: 768px) {
	.partial-overlay.col-sm-2,
	.partial-overlay.col-sm-3,
	.partial-overlay.col-sm-4,
	.partial-overlay.col-sm-5,
	.partial-overlay.col-sm-6,
	.partial-overlay.col-sm-7,
	.partial-overlay.col-sm-8,
	.partial-overlay.col-sm-9,
	.partial-overlay.col-sm-10,
	.partial-overlay.col-sm-11,
	.partial-overlay.col-sm-12 {
		margin-top: 50%;
}
}

@media (max-width: 543px) {
	.partial-overlay.col-sm-2,
	.partial-overlay.col-sm-3,
	.partial-overlay.col-sm-4,
	.partial-overlay.col-sm-5,
	.partial-overlay.col-sm-6,
	.partial-overlay.col-sm-7,
	.partial-overlay.col-sm-8,
	.partial-overlay.col-sm-9,
	.partial-overlay.col-sm-10,
	.partial-overlay.col-sm-11,
	.partial-overlay.col-sm-12 {
		margin-top: 80.6%;
}
}

*/

#ihm-martyrs.fullbleed {
  position: relative;
  margin: 0;
  padding: 0;
  background: url("http://placehold.it/1801x735");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: 50% 0 !important;
  overflow: hidden !important;
}

@media (max-width: 991px) {
#ihm-martyrs.fullbleed {
	background-size: 150%;
	height: 80%;
}

.mobile-divide {
  display: inline-block;
	width: 96%;
	min-height: 1px;
  border-bottom: solid 1px #d5d5d5;
  margin-left: 15px;
	margin-bottom: 30px;
  margin-top: 30px;
}
}

@media (max-width: 768px) {
#ihm-martyrs.fullbleed {
	background-size: 125%;
	}
}

@media (max-width: 543px)	{
#ihm-martyrs.fullbleed {
	background-size: 200%;
	}
}

#ihm-martyrs.fullbleed:before {
  margin: 0;
  padding: 0;
  padding-top: 31.3888%;
  content: "";
  width: 100%;
}

@media (max-width: 991px) {
#ihm-martyrs.fullbleed:before {
	padding-top: 40.3888%;
	}
}

@media (max-width: 768px) {
#ihm-martyrs.fullbleed:before {
	padding-top: 50%;
	}
}

@media (max-width: 543px) {
#ihm-martyrs.fullbleed:before {
	padding-top: 80.6%;
	}
}

#ihm-martyrs.fullbleed { background: url('/images/ihm/ihm-martyr-award-angel.jpg'); }

#id.fullbleed {
	height:450px;
	background-position-y:30% !important;
}

/* END */
