/*================================================
B3 - CANVAS - IMAGES - CUSTOM PER CANVAS - 062717
================================================*/

/* NAME: */
/* LOCATION:  */
/* PURPOSE: */
/* EXAMPLE:*/

/*================================================
================================================*/

/* .partial-overlay surrounds the .bg-overlay that only covers part of the fullbleed image */

#martyrs ul li a:visited, #martyrs ul li a:visited, #martyrs p a:visited, #martyrs p a:visited, #martyrs ul li a:hover, #martyrs ul li a:hover, #martyrs p a:hover, #martyrs p a:hover, #martyrs .nav a:visited, #martyrs .nav a:hover, #martyrs .nav a:focus{
	background-color: #fff !important;
}

#martyrs .nav > li > a:focus, #martyrs .nav > li > a:hover { background-color: #fff !important;}

#tabs\20 img > li > a { background-color: #fff !important; }

#martyrs ul li a {padding-left: 0 !important;}

#martyrs .nav-pills>li {
	width: 10%;
	float: left;
}

#martyrs .nav-pills>li{
	filter: grayscale(100%);
}

#martyrs .nav-pills>li:hover {
	filter: grayscale(0%)!important;
}

#martyrs .nav-pills>li:active {
	opacity: 1 !important;
}

li.category.active { opacity: 1 !important; filter: grayscale(0%)!important;}

#tabs\20 img > li:nth-child(7) > a {
	width: 170%;
}

.wall img {
	margin-top:-90px !important;
	z-index: 10 !important;
	position: relative;
}

.back img {
	z-index: -100000;
}

#accordion > div > div.panel-heading > h5 > a > i {color: $gray;}

#collapseQuiz p.body {padding-bottom: 5px;}

.rule-bottom-mobile {
	@include media-breakpoint-down (md) {
		display: block;
		margin-top:-20px;
		margin-bottom:-20px;
		padding: 0 0 30px;
    border-bottom: 1px solid #e1e1e1;
	}
	@include media-breakpoint-up (lg){
		display:none;
	}
}

#canvas-navbar.navbar {
	@include media-breakpoint-down (md){
		display: none;
	}
}

#ihm-calendar .panel .col-md-6 {
	@include media-breakpoint-down (md) {
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

.container#canvas-navigation .navbar-nav li a {
	@include media-breakpoint-down (lg) {
		padding: 15px 10px;
		font-size: .85em;
	}
}

#content-tabs {
	@include media-breakpoint-down (md) {
	display: none;
	}
}

.inset-image {
	width: 15%;
	float: left;
	margin-right: 2%;
	@include media-breakpoint-down (xs) {
		width:30%;
	}
}

hr { border-color:$gray-light !important; margin-top: 25px; margin-bottom: 25px;}

.rule-bottom {
	padding: 0;
	border-bottom: 1px solid $gray-light;
}

nav#global.navbar.navbar-inverse {
	margin-bottom: 20px;
}

button.accordion {font-family: "Antenna Bold", sans-serif; font-size: 1em !important;}

.panel { border: none; }

.panel {
    transition: 0.2s ease-out;
}

button.accordion.small { background: #fff; border-bottom: 1px solid $gray-light;}

.width10 {
    float: left;
    width: 9.5% !important;
    margin: .25% .25% .25% .25%;
    background-color: #eee;
    height: 280px;
    padding: 5px;
		@include media-breakpoint-down (xl) {
			width: 19% !important;
	    margin: .25% .5% .5% .25%;
	    background-color: #eee;
	    height: 180px;
	    padding: 10px;
		}
		@include media-breakpoint-down (lg) {
			width: 19% !important;
			margin: .25% .5% .5% .25%;
			background-color: #eee;
			height: 220px;
			padding: 10px;
		}
		@include media-breakpoint-down (md) {
			height: 240px;
		}
		@include media-breakpoint-down (sm) {
			width: 48% !important;
			margin: 1% 1% 1% 1%;
			background-color: #eee;
			height: 180px;
			padding: 10px;
		}
		@include media-breakpoint-down (xs) {
			width: 98% !important;
			margin: 2%;
			background-color: #eee;
			height: 180px;
			padding: 10px;
		}
}

.social-icons img {
		width: 12%; padding-top: 10px;
		@include media-breakpoint-down (lg) {
			width: 14%;
		}
		@include media-breakpoint-down (md) {
			width: 14%;
		}
		@include media-breakpoint-down (sm) {
			width: 7%;
		}
		@include media-breakpoint-down (xs) {
			width: 7%;
		}
}


.social-icons img { opacity: 0.4;}

.social-icons img:hover { opacity: 0.3;}

.width10 h6 {margin-top: 10px; font-size: .875em; }

h6 span.small {color: $gray-extra-dark;}

p.explainer span.unital {font-style: normal!important;}

#global-links > li:hover { color: #c1c1c1;}

.card.hide {
	@include media-breakpoint-down (md) {
		display:none !important;
	}
}

#ihm-loyolan-stories .card {
	@include media-breakpoint-up (sm)
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	@include media-breakpoint-down (xs)
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#sub-header #masthead h2.label-chapter.display {
	@include media-breakpoint-down (sm) {
		font-size: 2.5em;
	}
}

#ihm-mobile img {
	margin-left: 10%;
	width: 80%;
}

#footer-content .row {
	@include media-breakpoint-down (sm) {
	margin-right: 10px;
	margin-left: 10px;
	}
}
