#main-content #interior-wrapper .alpha {
	padding-left: 0;
}

.no-rule {
	border: none !important;
}

#main-content #interior-wrapper .reverse {
	color: white !important;
}

#main-content #interior-wrapper h3.reverse {
	margin-bottom: 0 !important;
}

#main-content #interior-wrapper hr.interior-rule-bold {
	margin-top: 0;
	border-width: 5px;
	border-color: $gray-extra-dark;
}

#main-content #interior-wrapper {
	padding-bottom: 30px;
	background: $white;
}

#interior-navigation {
	margin:10px 0 0 0;
	list-style: none;
	li {
		padding: 0 0 5px;
		border-bottom: solid 1px $gray-light;
	}
}

#main-content #interior-wrapper #centerColumn.col-md-9 {
	padding-right: 0;
}

#main-content #interior-wrapper #leftColumn h5.category {
	margin: 0;
}

#main-content #interior-wrapper #accordion h4.subhead {
	font-family: 'Antenna Light', sans-serif !important;
	text-transform: uppercase;
	font-size: 1.5em;
}

#main-content #interior-wrapper #interior-pano-image img {
	margin: 0;
}

#interior-intro.col-sm-12 {
	padding: 0 30px 0 0;
	border-right: solid 1px $gray-light
}

#interior-intro h1.display {
	font-family: 'Antenna Black', sans-serif !important;
	font-size: 6em;
	line-height: 1;
	text-transform: uppercase;
}

#interior-intro .label {
	font-family: 'Antenna Light', sans-serif !important;
	margin-top: 0;
}

/* INTERIOR ACCORDION */

#main-content #interior-wrapper #interior-intro #accordion .panel-body {
	padding-bottom: 0;
	margin-bottom: 40px;
}

#main-content #interior-wrapper #accordion .panel-heading .accordion-toggle:before {
	/* symbol for open accordions */
	font-family: 'Glyphicons Halflings';
	content: "\e114";
	float: right;
	color: $patina;
	-moz-transition: rotate .2s ease;
	-webkit-transition: rotate .2s ease;
	-o-transition: rotate .2s ease;
	transition: rotate .2s ease;
}

#main-content #interior-wrapper #accordion .panel-heading .accordion-toggle.collapsed:before {
	/* symbol for open accordions */
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
}

/* INTERIOR TABS */

#main-content #interior-wrapper #interior-intro #content-tabs ul {
	margin: 30px 0 0 0 !important;
}

#main-content #interior-wrapper #interior-intro #content-tabs .nav-tabs {
	border-bottom: none;
}

#main-content #interior-wrapper #interior-intro #content-tabs ul li.tab-list-item {
	float: left;
	margin: 20px 0 0 0;
	padding: 20px 0 0 0;
	border-top: solid 1px $gray-dark;
}

#main-content #interior-wrapper #interior-intro #content-tabs #tabs > li.active a {
	font-family: 'Antenna Black', sans-serif !important;
	letter-spacing: .075em;
	color: $white;
}

#main-content #interior-wrapper #interior-intro #content-tabs #tabs > li.active a,
#main-content #interior-wrapper #interior-intro #content-tabs #my-tab-content.tab-content.col-sm-12 {
	background: $gold !important;
}

#main-content #interior-wrapper #interior-intro #content-tabs #my-tab-content.tab-content.col-sm-12 {
	padding: 60px;
}

#main-content #interior-wrapper #tabs > li a {
	background: -moz-linear-gradient(top, $gold-dark 90%, $gold-extra-dark 95%, $gold-extra-dark 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, $gray 90%, $gold-extra-dark 95%, $gold-extra-dark 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, $gold-dark 90%, $gold-extra-dark 95%, $gold-extra-dark 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CE9501', endColorstr='#825E01',GradientType=0 ); /* IE6-9 */
	border-bottom-color: $gold-extra-dark;
}

#interior-wrapper ul > li.tab-list-item .body.endnote {
	border-top: solid 1px darken($gold-dark, 3%);
}

#interior-wrapper ul > li.tab-list-item .circle {
	display: table;
	margin: 0;
	padding: 0;
	width: 40px;
	height: 40px;
	color: $white;
	border-radius: 50%;
	background: $gray-extra-dark;
}

#interior-wrapper ul > li.tab-list-item .circle.span  {
	display: table-cell;
	float: left;
	margin: auto;
	padding: auto;
	width: 100%;
	height: auto;
	vertical-align: middle;
	text-align: center;
}

/* END - BUTTONS */