
/* ===============================================
FONT-SIZE - RESET ============================= */

a { color: $patina-dark; cursor:pointer !important; }

a:link {
	outline: none;
	outline-offset: 0;
	cursor:pointer;
}

a:visited, a:hover, a:focus {
	outline: none;
	outline-offset: 0;
	color: darken($patina, 5%);
	text-decoration: none;
	cursor:pointer;
}

p a, article.content p a {
	line-height: 1;
	color: $patina-dark;
	outline: none;
	outline-offset: 0;
	text-decoration: none;
	background-image: url('<t4 type="media" id="406288" formatter="path/*"/>');
	background-repeat: no-repeat;
	background-repeat: repeat-x;
	background-position: 0 100%;
	cursor:pointer;
}

#accordion p a, article.content p a {
	background-image: none;
}

p a { font-weight: bold; }

a:hover, article.content p a:hover { color: $patina; cursor: pointer !important; }

p.body.intro { font-size: 1.5em }

p.body.explainer { margin: -5px 0 10px 0; }

/* ===============================================
HEADERS - ORGANIZING LABELS =================== */

h1.display {
	font-family: 'Antenna Black', sans-serif;
	font-size: 5em;
  word-spacing: 0.1em;
}

h1.pagelayout {
	font-size: 2.25em;
	text-transform:uppercase;
}

h1, h2, h3 {
	margin: 10px 0;
	padding: 0;
	font-family: "Antenna Black", sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1.15;
	letter-spacing: .015em;
	text-transform: uppercase;
}

.canvas-content h5.label.display-large, .grid .col-xs-3 h5.label.display-large.reverse {
	margin-bottom: 20px;
	font-size: 3em;
	line-height: 1.125;
}

.grid .col-xs-3 h5.label.display-large.reverse {
	margin-bottom: 5px;
	@media (max-width: 1400px) {
		font-size: 1.5em;
	}
}

.canvas-content .bg-overlay h5.label { margin: 0 !important; }

li.bg-overlay-dark { margin: 4px 0;}

h5.light { margin-top: -4px; margin-bottom: 8px; font-size: .925em;}

p.explainer {line-height: 1.45;}

body.canvas p.intro span.leadin { display: inline-block; margin-top: 60px; font-size: 3em; line-height: 0; }

/* ===============================================
NUMBERS ===================================== */

.number { font-family: 'Antenna Comp', sans-serif; margin: 20px 0; }

.number.display { font-family: 'Antenna Comp'; margin: 10px 0 0; }

.number.display p.body { margin: 0 0 20px 0; line-height: 1; }

.number h1.display	{ margin: -12px 0 -10px 0; font-size: 12em; line-height: .95; letter-spacing: 0em; }
	@media (max-width: 600px) { .number h1.display { font-size: 7em } .number.display h1.display { font-size: 4em; } }

.number p.body	{ margin: 0 0 -2px 0; font-size: .875em; }

.canvas-content .number h1.display {
	@include media-breakpoint-down(lg) {
		font-size: 8.5em;
	}
}

.number p.body	{ display: block; margin: 15px 0 -2px 0; font-family: 'Antenna', sans-serif; font-size: .875em; }

span.drop-cap { font-family: 'Antenna Comp'; text-transform: uppercase; font-size: 4.5em; line-height:1;}

.glyphs {font-size: 0.6em; letter-spacing: 0.001em; }

/* ===============================================
TABS ========================================= */

ul#tabs.nav.nav-pills {
	margin: 40px 0 10px 0;
}

#tabs > li { list-style-image: none !important; }


#tabs > li a {
	top: 1px;
	display: inline;
	font-family: "Antenna Bold", "Arial", sans-serif;
	font-size: .75em;
	font-weight: bold;
	font-style: normal;
	color: $patina;
	text-align: left;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-shadow: none;
	background-color: white;
	background-image: none;
	border: 1px $patina solid;
	border-radius: 30px;
	outline: white;
	text-decoration: none;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	cursor: pointer;
	margin-right: 10px;
}

#tabs > li.active a {
	color: $white !important;
	background: $patina-dark;
	border: 1px $patina solid;
}

#tabs > li a:hover {
	color: $patina !important ;
	background-color: lighten($bg-overlay, 80%);
	cursor: pointer;
}


#tabs.reverse > li a {
	top: 1px;
	display: inline;
	font-family: 'Antenna Bold', sans-serif !important;
	font-weight: 200;
	font-size: 1.1em;
	font-weight: normal;
	color: $white;
	text-transform: uppercase;
	line-height: 1;
	border-radius: 100px;
	list-style-type: none !important;
	list-style-image: none !important;
	background: $bg-overlay;
	margin-right: 20px;
	border-style: solid;
	border-width: 2px;
	border-color:$patina-dark;
}

#tabs.reverse > li.active a {
	color: $white;
	background: $patina-dark;
	border-style: solid;
	border-width: 2px;
	border-color:$patina-dark;
}


.icon { width: 60%; margin-bottom:10px; border-radius: 100%; }

.icon-number { width: 20px; margin-bottom:10px; height: 20px; border-radius: 100%; font-size: 1.25em;}

ul.res-life {font-size: .825em; text-transform: none; list-style: square; margin-bottom: 0px; }

li.res-life {list-style: square; margin: 7px 12px;}

/* ===============================================
CTAS - BUTTON ================================= */

.cta-wrapper {
	display: inline-block;
	margin: 10px 0 0 0;
	padding: 0;
	width: 100%;
	background: rgba(0,0,0,0);
}

button { margin: 0 0 10px 0; }

p a.cta { font-size: .75em; }

.container.canvas-content p a.cta {
	margin-left: 0;
	font-size: .75em;
}

input[type="file"] {
	margin: 30px 0 0;
	padding: 10px !important;
	width: 100%;
	font-size: .65em;
	text-transform: uppercase !important;
	background-color: $gray-extra-light;
}

.btn-overlay.cta {
	margin: 0;
	width: inherit;
	height: inherit;
	padding: 4px 12px 4px 12px;
	font-family: "Antenna Bold", "Arial", sans-serif;
	font-size: .75em;
	font-weight: bold;
	font-style: normal;
	color: $patina;
	text-align: left;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-shadow: none;
	background-color: lighten($bg-overlay, 20%);
	background-image: none;
	border: 1px $patina solid;
	border-radius: 30px;
	outline: white;
	text-decoration: none;
	-moz-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	cursor: pointer;
}

.btn-overlay.cta:hover,
.btn-overlay.cta:active,
.btn-overlay.cta:visited {
	color: lighten($patina, 10%) ;
	background-color: lighten($bg-overlay, 10%);
	cursor: pointer;
}

#accordion .btn-overlay.cta { background-color: white; }

#accordion .btn-overlay.cta:active,
.btn-overlay{
	color: lighten($patina, 10%) ;
	background-color: lighten($bg-overlay, 10%);
	cursor: pointer;
}

#accordion .number h1.display { font-size: 8em; }


#ug-body .btn-overlay.cta { background-color: white; padding: 10px;}

#ug-body .btn-overlay.cta:active,
.btn-overlay{
	color: lighten($patina, 10%) ;
	background-color: lighten($bg-overlay, 10%);
	cursor: pointer;
}


.xl {font-size:12em !important; margin-bottom:-30px !important;}

/* ===============================================
BLOCKQUOTES ========================================== */

blockquote, blockquote p, #page-content blockquote, #page-content blockquote p  {
	display: inline-block;
	margin: 20px 0 30px !important;
	padding: 0 !important;
	width: 100%;
	max-width: 100%;
	font-family: 'Antenna Bold', san-serif;
	font-size: 1.35em;
	font-weight: 700;
	font-style: none;
	letter-spacing: 0em;
	line-height: 1.6;
	color: $gray-extra-dark;
	border-left: 0;
	border-top: none 0;
	border-bottom: none 0;
}

blockquote p, #page-content blockquote p { margin: 0 0 10px !important; padding: 0; }
	@media (max-width: 414px) { blockquote, blockquote p { font-size: 1.05em; line-height: 1.85; } }

blockquote cite {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Antenna', san-serif;
	font-size: .7em;
	font-weight: 100;
	font-style: normal;
	letter-spacing: 0;
	line-height: 1.45;
	text-transform: uppercase;
}

blockquote cite a {
	font-family: 'Antenna Bold', san-serif;
	font-weight: bold;
	color: $patina-dark;
}

blockquote .cta { margin: 0px; }

.bigquote-left {
	margin-top:1.7em;
	opacity:0.1;
	@include media-breakpoint-down(md) {
		display: none;
	}
}

.bigquote-right {
	top: 1.7em;
	opacity:0.08;
	@include media-breakpoint-down(md) {
		display: none;
	}
}

.small-quote {
	@include media-breakpoint-up(md) {
		display:none;
	}
	@include media-breakpoint-down(md) {
		display:inline-block;
	}
}

/* ===============================================
CTAS ========================================== */

p a.cta {
	margin-left: 0;
	font-family: "Antenna Bold", "Arial", sans-serif;
	font-weight: bold;
	letter-spacing: -.025em;
	text-decoration: none;
	background: none;
	background-color: none;
	background-image: none !important;
	cursor: pointer;
	color: $patina-dark;
}

.cta:hover { background: none; color: $patina;  }

/* ===============================================
ADJUSTMENT ==================================== */

.col-xs-12.padding-left-right-0,
.col-sm-12.padding-left-right-0,
.col-md-12.padding-left-right-0,
.col-lg-12.padding-left-right-0 { padding-left: 0 !important; padding-right: 0 !important; }

/* ===============================================
EQUATION ======================================== */

.equation { color: $gray;
	  font-size: .95em;
		font-family: "Antenna Bold";
    display: table-cell;
    vertical-align: bottom;
		width: 100%;
		height:100px;
		margin-top:10px;
		margin-bottom: -20px;
}

.award { font-size: 8.5em; color: $white; font-family: 'Antenna Comp', sans-serif; font-weight: 600; text-align: right; }

.average { font-size: 1.25em; color: $white; font-family: "Antenna Bold"; font-weight: 400; text-transform: uppercase; margin-top:-10px; text-align: right; margin-bottom: 30px; }

.large { font-size: 4em; font-family: 'Antenna Comp', sans-serif; vertical-align: text-bottom;}

.right { text-align: right; }

.bottom-line.vertical-rule-right { border-color: $gray; margin-top: 20px; }

.equation-rule { border-bottom: solid 1px $gray; height: 40px; }

.horizontal-rule { border-bottom: solid 2px $gray-extra-light; height: 40px; margin-bottom: 10px;}

.light-rule { margin: 30px 0 35px; border-bottom: solid 1px $gray; }

.mobile-rule { border-bottom: solid 2px $gray-extra-light; height: 40px; margin-bottom:30px; }

p.body.footnote { color: $gray; font-size: .9em;}

.cost { font-size: 1.2em;}

.antenna {font-family: "Antenna Bold"; text-transform: uppercase; font-weight: 100;}

.light-gray {color:$gray;}

#cost-tuition h5 {padding-bottom: 30px;}

#cost-tuition h3 {font-size: 170%;}

/* ===============================================
TABLES ======================================== */

#cost-tuition table, th, tr, td,
#page-content table, #page-content th, #page-content tr, #page-content td,
#page-content table th, #page-content table tr, #page-content table td {
	padding: 8px 6px 7px;
	font-family: 'Antenna', san-serif;
	font-size: 1em;
	line-height: 1.35;
	letter-spacing: .015em;
	padding: 20px 20px 20px 0px;
}

#cost-tuition table, #page-content table,  {
	margin: 0px;
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
}

#cost-tuition tr, #page-content tr, #page-content table tr { border:none; }

#cost-tuition tr th, #page-content tr th {
	font-weight: bold;
	letter-spacing: .5px;
	color: $gray-extra-light;
	text-transform: uppercase;
  border-bottom: solid 1px $gray-light;
	border-right: none;
	border-left: none;
	font-size: 1.2em;
	background: none;
}

#cost-tuition td, #page-content td, #page-content td {
	vertical-align: top;
	width: auto;
	border:none;
	color: $gray-extra-light;
	font-family: 'arial', sans-serif;
	border-bottom: solid .5px $gray;
	padding-bottom: 15px;
}

#cost-tuition .table > tbody > tr > th {
	border-top: solid .5px #272727;
}

table, th, tr, td,
#page-content table, #page-content th, #page-content tr, #page-content td,
#page-content table th, #page-content table tr, #page-content table td {
	padding: 8px 6px 7px;
	font-family: 'Antenna', san-serif;
	font-size: .925em;
	font-weight: 100;
	line-height: 1.35;
	letter-spacing: .015em;
}

#cost-tuition .table > tbody > tr > th,

table, #page-content table,  {
	margin: 20px 0;
	border-collapse: collapse;
	border-spacing: 0;
}

tr, #page-content tr, #page-content table tr { border-left: solid 1px #cccccc; border-right: solid 1px #cccccc; }

tr th, #page-content tr th {
	font-weight: bold;
	letter-spacing: .5px;
	color: #eeeeee;
	text-transform: uppercase;
	border-right: solid 1px #cccccc;
	background: #888888;
}

td, #page-content td, #page-content td {
	vertical-align: top;
	width: 100px;
	border-right: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
}

.blog-hide { color:darken($gray-light, 8%); }

#resources .icon img {
	width: 100%;
	margin-top:-10px;
}

#resources h5 {
	margin-top:0px;
}

#resources a:hover img  {
	opacity: 0.8;
}

#cost-resources h5.label { margin-top: 0px;}

span.inset  {
	width: 28%;
	float:left;
	margin-right:5%;
}

#cost-resources .col-md-12 {
	margin-bottom: 20px;
}

#resources {background-color: $gray-extra-light; }

#resources .canvas-content {padding: 40px; }

/* ===============================================
CSS END ======================================= */
