/* INTERIOR-TABS */

#main-content #interior-wrapper #interior-body #content-tabs ul {
	margin: 30px 0 0 0 !important;
}

#main-content #interior-wrapper #interior-body #content-tabs .nav-tabs {
	border-bottom: none;
}

#main-content #interior-wrapper #interior-body #content-tabs ul li.tab-list-item {
	float: left;
	margin: 20px 0 0 0;
	padding: 20px 0 0 0;
	border-top: solid 1px $gray-dark;
}

#main-content #interior-wrapper #interior-body #content-tabs #tabs > li.active a {
	font-family: 'Antenna Black', sans-serif !important;
	letter-spacing: .075em;
	color: $gold-extra-dark;
}

#main-content #interior-wrapper #interior-body #content-tabs #tabs > li.active a,
#main-content #interior-wrapper #interior-body #content-tabs #my-tab-content.tab-content.col-sm-12 {
	background: $gold !important;
}

#main-content #interior-wrapper #interior-body #content-tabs #my-tab-content.tab-content.col-sm-12 {
	padding: 60px;
}

#main-content #interior-wrapper #tabs > li a {
	background: -moz-linear-gradient(top, $gold-dark 90%, $gold-extra-dark 95%, $gold-extra-dark 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, $gray 90%, $gold-extra-dark 95%, $gold-extra-dark 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, $gold-dark 90%, $gold-extra-dark 95%, $gold-extra-dark 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CE9501', endColorstr='#825E01',GradientType=0 ); /* IE6-9 */
	border-bottom-color: $gold-extra-dark;
}

#interior-wrapper ul > li.tab-list-item .body.endnote {
	border-top: solid 1px darken($gold-dark, 3%);
}

#interior-wrapper ul > li.tab-list-item .circle,
#accordion .panel-heading > h4 > a > span.circle {
	display: table;
	margin: 0;
	padding: 0;
	width: 35px;
	height: 35px;
	font-family: 'Antenna Black', sans-serif !important;
	font-size: 1.125em;
	color: $white;
	border-radius: 50%;
	border: 3px solid $white;
	background: $gray-extra-dark;
}

#accordion .panel-heading > h4 > a > span.circle {
	float: left;
	margin-top: -8px;
	margin-right: 6px;
	font-family: 'Antenna Bold', sans-serif !important;
	font-size: .725em;
	background: $gray-extra-dark;
	border: 3px solid $gold;
}

#interior-wrapper ul > li.tab-list-item .circle span,
#accordion .panel-heading > h4 > a > span.circle span {
	display: table-cell;
	float: none;
	margin: 0;
	padding: 2px 0 0 0;
	width: 100%;
	height: auto;
	vertical-align: middle;
	text-align: center;
}

/* END - INTERIOR-TABS */

/* NUMBER STYLING --SCHEMATIC */

 .number-circle-small  {
	display: block;
	margin: 0;
	padding: 10px;
	width: 40px;
	height: 40px;
	font-family: 'Antenna Bold', sans-serif !important;
	font-weight: bold;
	font-weight: 700;
	font-style: none;
	font-size: 1.2em;
	line-height: .9;
	letter-spacing: 0em;
	color: #FFF;
	text-align: center;
	border-radius: 20px;
	border: 2px;
	border-color: $white;
	border-style: solid;
	background-color: #272727;
	box-shadow: 0px 0px 6px rgba(0,0,0,.5)
}

.number-circle-small.one-one,
.number-circle-small.one-two,
.number-circle-small.one-three,
.number-circle-small.one-four,
.number-circle-small.one-five,
.number-circle-small.one-six,
.number-circle-small.two-one,
.number-circle-small.two-two,
.number-circle-small.three-one,
.number-circle-small.three-two,
.number-circle-small.three-three,
.number-circle-small.four-one,
.number-circle-small.four-two,
.number-circle-small.four-three,
.number-circle-small.four-four,
.number-circle-small.four-five,
.number-circle-small.five-one,
.number-circle-small.five-two,
.number-circle-small.five-three,
.number-circle-small.five-four,
.number-circle-small.five-five,
.number-circle-small.five-six,
.number-circle-small.five-six-2,
.number-circle-small.five-six-3,
.number-circle-small.five-six-4,
.number-circle-small.five-six-5,
.number-circle-small.five-six-6,
.number-circle-small.five-seven,
.number-circle-small.five-eight,
.number-circle-small.five-nine,
.number-circle-small.six-one,
.number-circle-small.six-two,
.number-circle-small.six-three,
.number-circle-small.six-four,
.number-circle-small.six-five,
.number-circle-small.seven-one,
.number-circle-small.seven-one-2,
.number-circle-small.seven-one-3,
.number-circle-small.seven-two,
.number-circle-small.seven-three,
.number-circle-small.seven-three-2,
.number-circle-small.seven-four,
.number-circle-small.eight-one,
.number-circle-small.eight-two,
.number-circle-small.eight-two-2,
.number-circle-small.eight-two-3,
.number-circle-small.eight-three,
.number-circle-small.eight-three-2,
.number-circle-small.eight-four,
.number-circle-small.eight-four-2,
.number-circle-small.nine-one,
.number-circle-small.nine-two,
.number-circle-small.nine-three,
 {
	position: absolute;
}

.number-circle-small.one-one	{ top: 13%; left: 64%; }
.number-circle-small.one-two	{ top: 26%; left: 60%; }
.number-circle-small.one-three { top: 32%; left: 64%; }
.number-circle-small.one-four	{ top: 40%; left: 69%; }
.number-circle-small.one-five	{ top: 73%; left: 28%; }
.number-circle-small.one-six	{ top: 88%; left: 24%; }
.number-circle-small.two-one	{ top: 41%; left: 68%; }
.number-circle-small.two-two	{ top: 65%; left: 80%; }
.number-circle-small.three-one	{ top: 24%; left: 91%; }
.number-circle-small.four-one	{ top: 89%; left: 37%; }
.number-circle-small.four-two	{ top: 69%; left: 56%; }
.number-circle-small.four-three { top: 52%; left: 58%; }
.number-circle-small.four-four { top: 42%; left: 59%; }
.number-circle-small.four-five { top: 41%; left: 47%; }
.number-circle-small.five-one	{ top: 49%; left: 2%; }
.number-circle-small.five-two { top: 53%; left: 30%; }
.number-circle-small.five-three { top: 45%; left: 39%; }
.number-circle-small.five-four	{ top: 22%; left: 47%; }
.number-circle-small.five-five { top: 59%; left: 21%; }
.number-circle-small.five-six { top: 64%; left: 35%; }
.number-circle-small.five-six-2 { top: 35%; left: 22%; }
.number-circle-small.five-six-3 { top: 45%; left: 39%; }
.number-circle-small.five-six-4 { top: 58%; left: 46%; }
.number-circle-small.five-six-5 { top: 26%; left: 61%; }
.number-circle-small.five-six-6 { top: 22%; left: 56%; }
.number-circle-small.five-seven { top: 44%; left: 49%; }
.number-circle-small.five-eight { top: 63%; left: 56%; }
.number-circle-small.five-nine { top: 18%; left: 59%; }
.number-circle-small.six-one	{ top: 68%; left: 14%; }
.number-circle-small.six-two	{ top: 73%; left: 28%; }
.number-circle-small.six-three { top: 90%; left: 34%; }
.number-circle-small.six-four	{ top: 17%; left: 60%; }
.number-circle-small.six-five	{ top: 41%; left: 88%; }
.number-circle-small.seven-one	{ top: 90%; left: 35%; }
.number-circle-small.seven-one-2	{ top: 37%; left: 28%; }
.number-circle-small.seven-one-3	{ top: 22%; left: 59%; }
.number-circle-small.seven-two	{ top: 61%; left: 19%; }
.number-circle-small.seven-three { top: 48%; left: 42%; }
.number-circle-small.seven-three-2 { top: 28%; left: 62%; }
.number-circle-small.seven-four { top: 18%; left: 29%; }
.number-circle-small.eight-one	{ top: 37%; left: 13%; }
.number-circle-small.eight-two	{ top: 67%; left: 38%; }
.number-circle-small.eight-two-2	{ top: 26%; left: 42%; }
.number-circle-small.eight-two-3	{ top: 22%; left: 59%; }
.number-circle-small.eight-three { top: 33%; left: 22%; }
.number-circle-small.eight-three-2 { top: 7%; left: 41%; }
.number-circle-small.eight-four { top: 20%; left: 32%; }
.number-circle-small.eight-four-2 { top: 19%; left: 65%; }
.number-circle-small.nine-one { top: 69%; left: 15%; }
.number-circle-small.nine-two { top: 20%; left: 57%; }
.number-circle-small.nine-three { top: 29%; left: 67%; }


ul.content-schematic { display: block; position: relative; padding-bottom: 10px; height: 600px; list-style: none; overflow: hidden; } /* ADJUSTS HEIGHT OF VIEWABLE SPACE */

ul.content-schematic li { display: block; background-color: rgba(0,0,0,0); }

.schematic-description-top { position: absolute; top: 5px; } /* ADJUSTS POSITION OF SCHEMATIC DESCRIPTION - POINT 1 */

ul.content-schematic li.content-schematic-image { width: 100%; position: absolute; background-color: rgba(0,0,0,0); } /* ADJUSTS POSITION OF SCHEMATIC */

.ug-map-key span.circle {
    display: table-cell;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    font-family: 'Antenna Black', sans-serif;
    text-align: center;
    content: "";
    color: #f1f1f1;
    background: #000;
    border-radius: 50%;
}
