.col-md-9 {
	@include media-breakpoint-down(sm) { padding-left: 0; padding-right: 0; }
}

#res-life-video, #chicago-video, #cost-video, #outcomes-video, #green-video, #study-abroad-video {
	@include media-breakpoint-down(sm) { display:none; }
}

.carousel-caption { @include media-breakpoint-down(sm) { display: none; } }

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev { @include media-breakpoint-down(xs) { top: 35%; } }

#top-panel-mobile {
	@include media-breakpoint-up (md) {display: none;}
	@include media-breakpoint-down (sm) {display: block;}
	.fluid { padding: 0px !important;}
	img {margin: 0px;}
 }

.blog-hide {
	@include media-breakpoint-down (lg) {display: none;}
}

.vertical-rule-right,
.vertical-rule-left {
	@include media-breakpoint-up(md){
		display: inline-block;
	}
	@include media-breakpoint-down(sm) {
		padding-top: 15px;
		margin-top: 20px;
		border: solid 1px #e1e1e1;
	}
	@include media-breakpoint-down(sm) {
	display: none;
	}
}

.canvas-content {
	@include media-breakpoint-down (sm) {
    padding: 20px;
		}
	h1.display {
		@include media-breakpoint-down (sm) {
	    font-size: 4em;
		}
		@include media-breakpoint-down (xs) {
				font-size: 2.25em;
			}
		}
	h5.label.display-large {
		@include media-breakpoint-down (md) {
				font-size: 2.5em;
			}
		@include media-breakpoint-down (xs) {
				font-size: 2em;
			}
		}
	p.body.intro {
	@include media-breakpoint-down (sm) {
			font-size: 1.25em;
		}
	}
}

.space {
	@include media-breakpoint-up (lg) {
		height: 30px;
	}
	@include media-breakpoint-down (md) {
		display: none;
	}
}
////* NUMBERS */////

.number.col-sm-2,
.number.col-md-2,
.number.col-sm-3,
.number.col-sm-4,
.number.col-sm-5,
.number.col-sm-6 {
		@include media-breakpoint-down(lg) {
			h5.label-small{
				font-size: 1.05vw;
			}
		}
		@include media-breakpoint-down(md) {
		h1.display.number {
			font-size: 7em;
		}
		p.body.small {
			font-size: 100% !important;
		}
		h5.label-small{
			font-size: 1em;
		}
	}
		@include media-breakpoint-down(sm) {
		margin: 0;
		padding: 0;
		width: 100%;
		h1.display.number {
			padding-top: 15px;
			margin-top: 20px;
			border-top: solid 1px $gray-light;
		}
		h1.display.first-number {
    	margin-top: 0 !important;
    	padding-top: 0;
    	border-top: 0 none !important;
		}
	}
}

.number.col-md-2 {
	@include media-breakpoint-down (md) {
		float:left;
		width: 33.333%;
	}
		img {
			width: 100%;
			margin: 10px 0 5px;
	}
	@include media-breakpoint-down (sm) {
		float:left;
		img { width: 50%; }
	}
}

///////* IMGS *////////

.col-sm-4
	img {
	@include media-breakpoint-down(sm) {
	padding-top: 40px;
	margin-top: 30px;
	border-top: solid 1px $gray-light;
	}
}

.col-sm-4.first-column
	img {
 	@include media-breakpoint-down(sm) {
 	margin-top: 0 !important;
 	padding-top: 0;
 	border-top: 0 none !important;
	}
 }

.third-column .vertical-rule-right,
.third-column .vertical-rule-left {
  	@include media-breakpoint-down(lg) {
  	border: 0 none !important;
 		}
  }

 .light-rule {
	 @include media-breakpoint-down (sm) {
		 display: none;
	 }
 }

///////* CAROUSEL FIX *///////

.container-fluid.carousel {
		@include media-breakpoint-down(md){
				padding-right: 0px;
				padding-left: 0px;
				p.body {
					font-size: .9em;
					line-height: 1.65;
			}
		}
}

///////* MAP *///////

ul.content-schematic {
	@include media-breakpoint-down(lg){
		height: 500px;
	}
	@include media-breakpoint-down(md){
		height: 400px;
	}
	@include media-breakpoint-down(sm){
		height: 330px;
	}
	@include media-breakpoint-down(xs){
		height: 230px;
	}
}

.number-circle-small {
	@include media-breakpoint-down(md){
		padding: 7px;
		width: 30px;
		height: 30px;
		border: 1px;
	}
	@include media-breakpoint-down(sm){
		padding: 6px;
		width: 25px;
		height: 25px;
		border: 1px;
		font-size: .925em;
	}
}

#tabs > li {
	@include media-breakpoint-down (sm) {
    width: 100%;
	}
}
#tabs > li  a {
	@include media-breakpoint-down (sm){
		font-size: .75em;
		display: block;
		text-align: center;
	}
}

ul#tabs.nav.nav-pills {
		@include media-breakpoint-down (sm){
			margin: 30px 0 0 0;
		}
}

.nav-pills>li+li {
  @include media-breakpoint-down (sm){

	}
}

.ug-map-key {
	@include media-breakpoint-down (lg) {
		display: none;
	}
}

#mobile {
	@include media-breakpoint-up (xl) {
		display: none;
	}
	#accordion span.circle {
		@include media-breakpoint-down (lg){
	  display: table-cell;
    margin: -5px 10px;
    padding: 6px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
		font-size: 1em;
    font-family: 'Antenna Black', sans-serif;
    text-align: center;
    content: "";
    color: $gray-extra-light;
    background: #000;
		border:$white;
		}
	}
	.col-sm-12 {
		padding: 0px;
	}
}

.small-circle, .square, .triangle, .hexagon, .diamond, .square-green {
	@include media-breakpoint-down(md){
		float:left; margin-right: 10px;
	}
}

.green-map.col-sm-2 {
	@include media-breakpoint-down(md){
		width:100%;
	}
}

span.hexagon {
    @include media-breakpoint-down(md) {
			 margin-top: 5px;
		 }
}

.col-md-3 .ug-ies-key {
	@include media-breakpoint-down (md){
		margin-top: -100px;
	}
	@include media-breakpoint-down (sm){
    margin-top: -30px;
		margin-left: 0px;
	}
}


.green-map {
 	.vertical-rule-right {
		@include media-breakpoint-down (md){
			display:none;
		}
	}
	@include media-breakpoint-down (md) {
		margin-top: 4px;
	}
}

.first {
@include media-breakpoint-down (lg) {
	margin-top: 20px;
	}
}

#green-intro {
	.number.col-md-2.fourth-column {
		@include media-breakpoint-down (md) {
		.vertical-rule-right {display:none !important;}
		}
	}
	.number.col-md-2 {
		@include media-breakpoint-down (sm) {
			width:75%;
			margin-right:10px;
			margin-bottom: 20px;
		}
	}
}

////////* GRID *////////

.grid .col-xs-3 {
	@include media-breakpoint-down(md){
		width: 33.33333%;
	}
	@include media-breakpoint-down(sm){
		width:50%;
	}
	@include media-breakpoint-down(xs){
		width:100%;
		.hide {display:none;}
	}
	h5.label {
		@include media-breakpoint-up(xl){
			font-size: 2em;
		}
		@include media-breakpoint-down(lg){
			font-size: 1.5em;
		}
	}
}

@include media-breakpoint-up(sm){
	.hide { display:inline-block !important; }
}

////////* COST *////////

#content-tabs ul {
	@include media-breakpoint-up(sm) {
		padding: 4px 0 10px 0;
	}
}


.bottom-line.vertical-rule-right {
	@include media-breakpoint-down(md){
		display:none !important;
	}
}

.mobile-rule {
	@include media-breakpoint-up(lg){
		display: none;
	}
	@include media-breakpoint-down(md){
		display: inline-block;
	}
}

.col-md-5.table-content {
	@include media-breakpoint-down(md){
		margin-bottom:40px;
	}
	@include media-breakpoint-down(sm){
		margin-left:-20px;
	}
}

.average, .award {
 	@include media-breakpoint-down(md){
		text-align:left;
	}
}

.large {
	@include media-breakpoint-down (lg) {
		font-size: 3.5em;
	}
	@include media-breakpoint-down (md) {
		font-size: 4.5em;
	}
}

.award {
	@include media-breakpoint-down (lg) {
		font-size: 6.5em;
	}
	@include media-breakpoint-down (md) {
		font-size: 8.5em;
	}
}

.table {
	@include media-breakpoint-down (sm) {
		margin: 0px;
	}
}

.horizontal-rule {
	@include media-breakpoint-down (sm) {
		margin-bottom: 40px;
	}
}

#cost-tuition .col-md-12  {
	padding-left: 5px;
	padding-right: 5px;
}

#cost-tuition td, #page-content td, #page-content td {
	@include media-breakpoint-down (sm) {
	border-bottom: solid .5px #272727;
	}
}

#cost-resources {
	.col-md-3 {
		@include media-breakpoint-down (md){
			.vertical-rule-right {
				display:none;
			}
			 padding-top: 15px;
			 border-top: solid 1px $gray-light;
			 span.inset {
				 width:10%;
				 margin-bottom: 10px;
			 }
		}
		@include media-breakpoint-down (sm){
			padding-left: 0;
		}
	}
	.first-column { border-top: none !important;}
	.col-md-12 {
		@include media-breakpoint-down (md){
			margin-bottom: 0px;
		}
	}
}

#resources {
	.col-md-2 {
			@include media-breakpoint-down (md){
				width:50%;
				float:left;
				.icon img {
					margin-top: 0;
					width: 75%;
					}
				}
	}
	.col-md-8 {
		@include media-breakpoint-down (md){
			width:100%;
			float: left;
			padding: 20px 0 0 0;
			border-top: solid 1px $gray-light;
			.vertical-rule-right {
				display:none;
			}
		}
	}
}


/* END - CANVAS-NUMBERS */
