/* UG FRAMEWORK */

.no-rule { border: none !important; }

body { padding-top: 0; }

body {
	background-color: darken($gray-light, 15%);
	background-image: url('../images/texture-transparent.png');
}

body a { cursor: default !important; }

/* WRAPPERS - MAIN CONTENT */

#wrapper {
	background-color: lighten($gray-dark, 5%);
	background-image: url('../images/texture-transparent.png');
	background-repeat: repeat;	
	@include media-breakpoint-down(md) {
		background: $gray-dark;	
	}
}

#interior-wrapper-left, #interior-wrapper-center, #interior-wrapper-right { padding: 30px; }

/* MAIN CONTENT */

#main-content {
    display: block !important;
    padding-left: 0;
    padding-right: 0;
    margin-top: 35px;
    margin-bottom: 35px;
    min-height: 300px;
    height: 100%;
    background-color: transparent;
}

#main-content #interior-wrapper {
	margin: 0;
	padding-bottom: 0 0 30px;
	background: $gold;
}

/* COLUMNS */

#leftColumn, #centerColumn, #rightColumn {
	float: left;
	margin: 0;
	padding: 0;
@include media-breakpoint-down(sm) {
	float: none;
	}
}

#interior-intro h1.display {
@include media-breakpoint-down(sm) {
	font-size: 1em !important;
	}
}

/* COLUMN ADJUST */

#main-content #interior-wrapper #centerColumn.col-md-9 {
	padding-right: 0;
	background: $white;
}

/* UG-HEADER */

#header.ug-header {
	position: relative;
	margin: 0;
	padding: 30px 0 20px;
	height: auto;
	background: $gold;
		@include media-breakpoint-down(md) { padding: 10px 15px 5px; }
}

#header #wordmark-wrapper { padding-left: 0; }

#header #wordmark-wrapper {
	@include media-breakpoint-down(md) { max-width: 175px; }
}

#header #wordmark, #footer-address #wordmark-tag {
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
    width: auto !important;
}

/* FOOTER */

footer, footer .container-fluid { padding: 0; }

footer .col-sm-9 { padding-left: 0; }

footer .col-sm-3 { padding-right: 0; }

#footer-address {
    padding: 20px 0 30px;
    background-color: $gold;
}

#footer-address .vcard { font-size: .9em; }

/* UG-NAV - UG-CTA */

#ug-nav.container-fluid {
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    0px 2px 2px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         0px 2px 2px 0px rgba(0, 0, 0, 0.35);
}

#ug-nav.container-fluid,
#ug-cta.container-fluid {
	position: relative;
	padding-top: 0;
	padding-bottom: 0;
	background: $gray-extra-dark;
@include media-breakpoint-down(sm) {
	padding: 0;
	.container, .row {
	@include media-breakpoint-down(sm) {
		margin: 0;
		padding: 0;
	}
	}
}
}

#ug-nav #navbar { float: left; width: 100% }
#ug-cta #navbar { float: left; width: 80% }

#ug-social-wrapper { /* SEE UG-SOCIAL */
	float: left !important;
	margin: 0;
	padding: 0;
	width: 20%;
}

#ug-nav #nav {
	@include media-breakpoint-down(sm) {
		margin: 0;
		padding: 0;
	}
}

#ug-nav ul li,
#ug-nav ul li a,
#ug-cta ul li,
#ug-cta ul li a {
	font-family: 'Antenna Bold', sans-serif;
	font-size: 1.125em;
	color: $gray;
	text-transform: uppercase;
	border-left: 2px solid darken($gray, 50%);
	transition: background-color .25s;
@include media-breakpoint-down(sm) {
	border-left: none;
	border-bottom: solid 1px darken($gray, 50%);
}
}

#ug-nav ul li,
#ug-cta ul li { margin: 0; }

#ug-nav ul li a,
#ug-cta ul li a {
	padding: 20px 25px;
	border-left: solid 1px $gray-dark;
	span {
		@include media-breakpoint-down(md) { display: none; }		
	}
@include media-breakpoint-down(sm) {
	border-left: none;
}
}

#ug-nav ul li:hover,
#ug-nav ul li a:hover,
#nav-cta ul li:hover,
#ug-cta ul li a:hover {
	color: $gray-extra-light;
	background-color: darken($patina, 10%);
}

/* UG FRAMEWORK - GLOBAL NAV - GLOBAL SEARCH */

.ug-global-nav-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

.ug-global-nav, .ug-global-search {
	float: right;
	margin: 0;
	width: 100%;
	height: 100%;
	font-size: 1.5rem;
	color: $patina-dark;
	background: $patina;
}

.ug-global-nav-wrapper span {
	display: inline-table;
	margin: auto auto;
	width: 50% !important;
	content: "";
}

.ug-global-nav-wrapper span:before {
	margin-right: 25%;
}

.ug-global-nav-wrapper span:after {
	margin-right: 25%;
}

.ug-global-search { background: darken($patina, 5%); color: darken($patina-dark, 4%); }

.ug-global-nav-wrapper-desktop {
	@include media-breakpoint-down(md) { display: none; }
}

.ug-global-nav-wrapper-mobile {
	display: none;
	@include media-breakpoint-down(md) {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		width: auto;
	@include media-breakpoint-down(sm) {
		width: auto;
	}
	@include media-breakpoint-down(sm) {
		right: 0;
	}
	}
}


/*********************/

/* CTA-BOX - EXPLORE */

#interior-cta { padding: 0; background: $white; }

.cta-explore { margin: 20px 0 0 0; padding: 0; background: none; overflow: visible; }

.cta-explore h5 {
	margin: -45px auto 0;
	padding: 10px;
	letter-spacing: .075em;
	color: $white;
	text-align: center;
	border-top: solid 4px $gray-extra-dark;
	border-radius: 0 0 4px 4px;
	background: $gray-extra-dark;
}

.cta-explore .cta-circle {
	display: table;
	margin: 0 auto;
	padding: 0;
	width: 80px;
	height: 80px;
}

.cta-explore .cta-circle span {
	display: table-cell;
	margin: 0 auto;
	width: 100%;
	height: auto;
	color: $white;
	vertical-align: middle;
	text-align: center;
	border-radius: 50% 50% 0 0;
	background: $gray-extra-dark;
}

.cta-explore .cta-circle span:before {
	display: table;
	margin: -20px auto 0;
	font-family: 'Glyphicons Halflings';
	content: "\e113";
	font-size: 1.65em;
	float: none;
	color: $white;
}

/* END - UG FRAMEWORK */