/* EXPLORE SIMPLE */

#explore-simple {
  box-sizing: border-box;
  margin: 70px auto 30px;
  width: 70%;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.explore-simple-wrapper {
  background: url("../images/backgrounds/bg-grid-dark-small.png") repeat !important;
  background-color: rgba(0,0,0,.5) !important;
}

.explore-simple-module {
  margin: 20px 0 30px;
  border-radius: 3px;
  background: rgba(255,255,255,.65);
  @include media-breakpoint-down(sm) {
    margin: 10px 0 20px;
  }
  img {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 20px;
    height: auto;
    background: none;
    @include media-breakpoint-down(sm) {
      padding: 15px;
    }
    @include media-breakpoint-down(sm) {
      padding: 12px;
    }
  }
  h1 {
    margin: 5px 15px;
    font-size: 3.5vw;
    line-height: 1.15;
    color: $gray-extra-dark;
    text-align: center;
    /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65); */
    @include media-breakpoint-down(lg) {
      font-size: 5vw;
    }
    @include media-breakpoint-down(md) {
      font-size: 7vw;
    }
    @include media-breakpoint-down(sm) {
      font-size: 8vw;
    }
    @include media-breakpoint-down(xs) {
      font-size: 8vw;
    }
  }
}

h1.display-large.display-mobile {
  margin: 0 15px 10px;
  @include media-breakpoint-down(lg) {
    font-size: 3vw;
  }
  @include media-breakpoint-down(md) {
    font-size: 4vw;
  }
  @include media-breakpoint-down(sm) {
    font-size: 6vw;
  }
  @include media-breakpoint-down(xs) {
    font-size: 6vw;
  }
}

#explore-simple h5.label {
  margin: 0 15px 10px;
  font-family: 'Antenna', sans-serif;
  font-size: 1.5vw;
  line-height: 1.35;
  letter-spacing: -.015em;
  color: $gray-extra-dark;
  text-align: center;
  @include media-breakpoint-down(lg) {
    font-size: 1.75vw;
  }
  @include media-breakpoint-down(md) {
    font-size: 2.25vw;
  }
  @include media-breakpoint-down(sm) {
    font-size: 3vw;
  }
  @include media-breakpoint-down(xs) {
    font-size: 3.5vw;
  }
}

#explore-simple-tour .row { margin: 0; }

#explore-simple .explore-cta-button {
	position: relative;
	margin: 0 auto 0 !important;
	padding: 0;
	width: 50px;
	height: 50px;
	color: $gray-extra-light;
	text-align: center;
	border: solid 2px darken($patina, 12%);
	border-radius: 50%;
	background-color: none;
	opacity: .85;
  @include media-breakpoint-down(lg) {
    margin: 5px auto 0 !important;
    width: 40px;
    height: 40px;
  }
  @include media-breakpoint-down(xs) {
    margin: 0 auto 0 !important;
    width: 35px;
    height: 35px;
  }
}

#explore-simple .explore-cta-button img,
#explore-simple .explore-simple-module .explore-cta-button img {
  background: none rgba(0,0,0,0) !important;
  background-color: rgba(0,0,0,0) !important;
  box-shadow: none;
}

#explore-simple .explore-cta-button:hover{ cursor: pointer; }
#explore-simple .explore-cta-button.apply {
  margin: 50px auto 0 !important;
}

#explore-simple .explore-cta-button img,
#explore-simple .explore-simple-module .explore-cta-button img,
#explore-simple .explore-cta-button a img {
	position: relative;
	top: 55%;
	transform: translateY(-50%);
	margin: auto auto;
	padding: 0;
	width: 75%;
	height: 55%;
  opacity: .95;
}

.explore-simple-module[class*='col-'] {
  padding: 0 0 20px 0;
  @include media-breakpoint-down(xs) {
    padding: 0 0 15px 0;
  }
}

.explore-simple-module .btn-overlay.cta, #explore-simple  a button {
  margin: 20px 0 0 0;
  padding: 6px 15px;
  width: 100%;
  font-size: .95em;
  text-align: center;
  background-color: rgba(0,0,0,.5);
  @include media-breakpoint-down(xs) {
    margin: 15px 5% 0;
    width: 90%;
  }
}

/* CTA AND LINKS */

#explore-simple-cta a button {
  margin: 40px 0 20px 0;
  padding: 8px 15px 6px;
  width: 100%;
  font-size: 1.25em;
  @include media-breakpoint-down(md) {
    margin: 20px 0 0 0;
  }
}

#explore-simple-links {
  margin: 20px 0;
  @include media-breakpoint-down(xs) {
    margin: 20px 0;
  }
}

#explore-simple-links h5.label { text-align: center; }

#explore-simple-links h2.display-small {
  margin-bottom: 20px;
  width: 100%;
  font-size: 1.5em;
  color: $gray-extra-dark;
  @include media-breakpoint-down(xs) {
    margin-bottom: 10px;
    font-size: 1.25em;
  }
}

#explore-simple-links h5.label { margin: 15px 0; }

#explore-simple-links h5.label,
#explore-simple-links h5.label a {
  font-size: 1.175em;
  font-family: 'Antenna Black', sans-serif;
  letter-spacing: .015em;
  color: darken($patina, 12%);
  text-shadow: none;
  transition: all .2s;
  &:hover { color: lighten($patina, 10%); }
  @include media-breakpoint-down(xs) {
    font-size: 1.015em;
    margin: 0 15px;
  }
}

#explore-simple-links h5.label a {
  @include media-breakpoint-down(xs) {
    float: left;
    margin: 5px auto;
    width: 100%;
  }
}

#explore-simple-links span.bullet {
  display: inline;
  margin: 0 5px;
  color: darken($gray, 10%);
  @include media-breakpoint-down(xs) {
    display: none;
  }
}

/* CSS END */
