/*================================================
B3 - FRAMEWORK - SLIDER - 053017
================================================*/

@charset "UTF-8";
/* CSS Document */

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 120%;
	margin: auto;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition: opacity 5s;
  -moz-transition: opacity 5s;
  -o-transition: opacity 5s;
  transition: opacity 5s;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-caption { padding:10px;}

#myCarousel.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important; }

#myCarousel ol li {
  display:none; }

#myCarousel.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important; }

.carousel-caption { text-align: left; }

.carousel-caption {
    background-color: rgba(0,0,0,.6);
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

#myCarousel-1 .canvas-content {padding: 0px;}

#myCarousel-1 .container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important; }

#myCarousel-1 ol li {
  display:none; }

#myCarousel-1 .container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important; }


#myCarousel .canvas-content {padding: 0px;}

#Slider .carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
	margin: auto;
}

 html.wf-museosans-n5-active.wf-museosans-n3-active.wf-museoslab-n5-active.wf-museoslab-n7-active.wf-minionpro-n4-active.wf-myriadpro-n7-active.wf-myriadpro-n4-active.wf-active body div#Slider.container.canvas-content.carousel.slide.carousel-fade div.carousel-inner a.right.carousel-control{ width: 30px; right: 0px; background-image:none; }

html.wf-museosans-n5-active.wf-museosans-n3-active.wf-museoslab-n5-active.wf-museoslab-n7-active.wf-minionpro-n4-active.wf-myriadpro-n7-active.wf-myriadpro-n4-active.wf-active body div#Slider.container.canvas-content.carousel.slide.carousel-fade div.carousel-inner a.left.carousel-control { width: 30px; left: 0px; background-image:none; }

#Slider {height: 400px; }

#Slider ol li:before, #page-content article.content ol li:before {
    content: none; }

body {background-color: #fff; }

html.wf-museosans-n5-active.wf-museosans-n3-active.wf-museoslab-n5-active.wf-museoslab-n7-active.wf-minionpro-n4-active.wf-myriadpro-n7-active.wf-myriadpro-n4-active.wf-active body div#Slider.container.canvas-content.carousel.slide.carousel-fade div.carousel-inner a.left.carousel-control span.glyphicon.glyphicon-chevron-left { color: #888;}

html.wf-museosans-n5-active.wf-museosans-n3-active.wf-museoslab-n5-active.wf-museoslab-n7-active.wf-minionpro-n4-active.wf-myriadpro-n7-active.wf-myriadpro-n4-active.wf-active body div#Slider.container.canvas-content.carousel.slide.carousel-fade div.carousel-inner a.right.carousel-control span.glyphicon.glyphicon-chevron-right{ color: #888;}



#Slider-Mobile .carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
	margin: auto;
}

html.wf-museosans-n5-active.wf-museosans-n3-active.wf-museoslab-n5-active.wf-museoslab-n7-active.wf-minionpro-n4-active.wf-myriadpro-n7-active.wf-myriadpro-n4-active.wf-active body div#Slider-Mobile.container.canvas-content.carousel.slide.carousel-fade div.container.carousel-inner a.left.carousel-control { width: 30px; left: 0px; background-image:none; }

html.wf-museosans-n5-active.wf-museosans-n3-active.wf-museoslab-n5-active.wf-museoslab-n7-active.wf-minionpro-n4-active.wf-myriadpro-n7-active.wf-myriadpro-n4-active.wf-active body div#Slider-Mobile.container.canvas-content.carousel.slide.carousel-fade div.container.carousel-inner a.right.carousel-control { width: 30px; right: 0px; background-image:none; }

#Slider-Mobile ol li:before, #page-content article.content ol li:before {
    content: none; }

body {background-color: #fff; }

html.wf-museosans-n5-active.wf-museosans-n3-active.wf-museoslab-n5-active.wf-museoslab-n7-active.wf-minionpro-n4-active.wf-myriadpro-n7-active.wf-myriadpro-n4-active.wf-active body div#Slider-Mobile.container.canvas-content.carousel.slide.carousel-fade div.container.carousel-inner a.left.carousel-control span.glyphicon.glyphicon-chevron-left { color: #888;}

html.wf-museosans-n5-active.wf-museosans-n3-active.wf-museoslab-n5-active.wf-museoslab-n7-active.wf-minionpro-n4-active.wf-myriadpro-n7-active.wf-myriadpro-n4-active.wf-active body div#Slider-Mobile.container.canvas-content.carousel.slide.carousel-fade div.container.carousel-inner a.right.carousel-control span.glyphicon.glyphicon-chevron-right { color: #888;}
