.card-hover {
  position: relative;
  width: 31%;
  float: left;
  margin-left: 1.5%;
  margin-bottom: 1.5%;
  @include media-breakpoint-down(md) {
    width: 48%;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
    margin-left: 0%;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  height: 200%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,.85) !important;
  display: block;
  position: absolute;
  top:0;
  bottom:0;
}

.card-hover:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1em;
  font-family: "Antenna Bold", sans-serif;
  letter-spacing: .015em;
  line-height: 1.85;
  position: absolute;
  top: 15%;
  left: 10%;
  right: 10%;
  @include media-breakpoint-down (lg) {
    font-size: .95em;
  }
}

.text span.antenna {
  display: block;
  margin: 5px 0 0;
  font-family: "Antenna";
  font-size: .85em;
  margin-top: 10px;
}

.card-hover img {margin-bottom: 0 !important;}
