@charset "UTF-8";
/* CSS Document */

/* CSS - SOCIAL */

#ug-social-wrapper {
	float: right;
	@include media-breakpoint-down(sm) {
		padding: 0 15px;
		width: auto;
	}
	@include media-breakpoint-down(xs) {
		padding: 10px 25px;
	}
}

#social.social-gold {
	float: right !important;
	margin: 10px 0 0 0;
	padding: 0;
	@include media-breakpoint-down(xs) {
	margin: 0;
	}
}

#social.social-gold li {
	float: left;
	margin: 0 0 0 10px;
	padding: 0;
	width: 40px;
	height: 40px;
	list-style: outside none none;
	border: none;
	border-radius: 20px;
	background-color: lighten($gray-dark, 5%);
	overflow: hidden;
}

#social.social-gold li a:hover { background-color: darken($patina, 2%); }

#social.social-gold li a {
	display: block;
	margin: 0 !important;
	padding: 0;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	border: none;
	border-radius: 0;
	background: url("../images/site/ug-social-icons-patina@2X.png") no-repeat scroll 0 0 $gray;
	background-size: 100%;
	opacity: 1;
}

#social.social-gold li a:hover {
	transition: background-color 0.2s ease-in 0s, opacity 0.2s ease-in 0s;
	-webkit-transition: background-color 0.2s ease-in 0s, opacity 0.2s ease-in 0s;
	-moz-transition: background-color 0.2s ease-in 0s, opacity 0.2s ease-in 0s;
	-ms-transition: background-color 0.2s ease-in 0s, opacity 0.2s ease-in 0s; /* IE10 is actually unprefixed */
	-o-transition: background-color 0.2s ease-in 0s, opacity 0.2s ease-in 0s;
	transition: background-color 0.2s ease-in 0s, opacity 0.2s ease-in 0s;
	background-color: lighten($patina, 5%);
	opacity: .8;
}
#social.social-gold li a.icon-fb {
  background-position: 0 0;
}
#social.social-gold li a.icon-fb:hover {
  background-position: 0 0;
}
#social.social-gold li a.icon-fl {
  background-position: -1px 8.85%;
}
#social.social-gold li a.icon-fl:hover {
  background-position: -1px 8.85%;
}
#social.social-gold li a.icon-gg {
  background-position: 1px 18%;
}
#social.social-gold li a.icon-gg:hover {
  background-position: 1px 18%;
}
#social.social-gold li a.icon-ig {
  background-position: 0 27%;
}
#social.social-gold li a.icon-ig:hover {
  background-position: 0 27%;
}
#social.social-gold li a.icon-li {
  background-position: 0 36.15%;
}
#social.social-gold li a.icon-li:hover {
  background-position: 0 36.15%;
}
#social.social-gold li a.icon-pi {
  background-position: -1px 45.25%;
}
#social.social-gold li a.icon-pi:hover {
  background-position: -1px 45.25%;
}
#social.social-gold li a.icon-tw {
  background-position: 0 54.25%;
}
#social.social-gold li a.icon-tw:hover {
  background-position: 0 54.25%;
}
#social.social-gold li a.icon-wp {
  background-position: 0 63.65%;
}
#social.social-gold li a.icon-wp:hover {
  background-position: 0 63.65%;
}
#social.social-gold li a.icon-yt {
  background-position: 0 72.75%;
}
#social.social-gold li a.icon-yt:hover {
  background-position: 0 72.75%;
}

/* END - SOCIAL */
