h1, h2, h3 { word-spacing: .2em; }

h4, h5, h6 { word-spacing: .15em; }

h1 {
	font-size:2.15em;
	letter-spacing: -0.01em;
	line-height:1.3;
}

h2 {
	width: 80%;
}

#ug-body h1.basic {
	font-size:2.15em;
	letter-spacing: -0.01em;
	line-height:1.3;
}

#ug-body h1.label {
	font-size:1em;
	font-family: "Antenna", sans-serif;
	padding-bottom: 10px;
}

#ug-body p.body.intro { font-size: 1.45em; line-height: 1.7em; }

/* INTERIOR TYPOGRAPHY */
span.leadin {
	display: inline;
	margin: 50px 5px 0 0;
	font-family: 'Antenna Black', sans-serif;
	font-size: 6em;
	line-height: 2;
	text-transform: uppercase;
}

.body {
	margin: 0 0 15px;
	line-height: 1.85;
}

#main-content #interior-wrapper .reverse {
	color: white !important;
}

#main-content #interior-wrapper h3.reverse {
	margin-bottom: 0 !important;
}

#main-content #interior-wrapper #leftColumn h5.category,
#main-content #interior-wrapper #rightColumn h5.category {
	margin: 0;
}

h5.label.maroon {
	font-size: 1em;
}

#interior-intro .label {
	font-family: 'Antenna Light', sans-serif !important;
	margin: 0 0 3px;
}

#interior-intro h1.display,
.ug-body h2.display {
	font-family: 'Antenna Black', sans-serif !important;
	font-size: 6em;
	line-height: 1;
	text-transform: uppercase;
}

#ug-body h2.display {
	font-family: 'Antenna Black', sans-serif;
	font-size: 2.75em;
}

#ug-body h2.display.process-headline {
	font-family: 'Antenna Black', sans-serif;
	font-size: 6em;
	line-height: 1;
	text-transform: uppercase;
}

#accordion h2.display.process-headline-small {
	margin: 0;
	font-family: 'Antenna Black', sans-serif;
	margin-top: 30px;
	width: 80%;
	font-size: 1.65em;
	line-height: 1.35;
	text-transform: uppercase;
}
/* INTERIOR-IMAGES */
#main-content #interior-wrapper #interior-pano-image {
	float: left;
	margin: 0;
	padding: 15px;
	background: $gray-extra-dark;
}

#main-content #interior-wrapper #interior-pano-image img {
	margin: 0;
}
/* END - INTERIOR-TYPOGRAPHY - INTERIOR-IMAGES */
/* TIPS - FAST FIVE */
#ug-tips {
	float: left;
	margin: 30px 0 0;
	padding: 30px 0 0;
	width: 100%;
	border-top: solid 1px darken($gray-light, 5%);
}

#ug-tips .col-md-1 {
	padding: 0;
}

#ug-tips .ug-tips-icon {
	margin: 0;
	padding: 0;
	width: 100% !important;
	border-radius: 50%;
	background: $patina;
	@include media-breakpoint-down(md) {
		display: none;
	}
}

#ug-tips .ug-tips-icon:after {
	display: table;
	width: 100%;
	content: "";
}

#ug-tips .ug-tips-icon img {
	display: table-cell;
	padding: 10% 10% 2%;
	width: 100%;
	vertical-align: middle;
}

#ug-tips.learn p.list,
#ug-tips.learn p.recommend,
#ug-tips.list p.learn,
#ug-tips.list p.recommend,
#ug-tips.recommend p.learn,
#ug-tips.recommend p.list {
	display: none;
}

#ug-tips.recommend li {
	display: inline;
}

#ug-tips li p {
	text-transform: none;
	font-size: 1.25em;
}

#ug-tips ul {
	margin: 0 0 0 5px;
	padding: 0;
	list-style-type: none;
}

#ug-tips.list ul {

	list-style-type:square;
	list-style-position: outside;
}
#ug-tips.list li{display: list-item;}
#ug-tips.list li p{margin:0;padding:0;}
#ug-tips ul > li {
	position: relative;
	padding-left: 20px;
	font-family: 'Antenna', sans-serif;
	font-size: 0.85em;
	line-height: 1.65;
}

#ug-tips ul > li:before {
	content: "■";
	position: absolute;
	top: 1px;
	left: 5px;
	font-size: 0.85em;
	color: lighten($gray, 10%);
}

.ug-tips-list {
	display: block;
	float: left !important;
}

.ug-tips-list p {
	display: inline;
}

.ug-tips-list ul li {
	margin: 5px 0 0;
}

.ug-tips-list a {
	margin: 0 0 0 2px;
}

.ug-tips-list a.cta {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: $patina;
	display:inline-block;
}

.ug-tips-list span {
	position: relative;
	top: 8.85%;
	transform: translateY(-8.85%);
	margin: auto auto;
	padding: 0;
}

.ug-tips-list span:before {
	padding: 0 0 0 25%;
	font-family: 'Glyphicons Halflings';
	font-size: 0.85em;
	content: "\e080";
	color: $gray-extra-light;
}

.ug-tips-list span.circle-wrapper {
	display: none;
	margin: 0 auto 10px;
	padding: 0 !important;
	width: 100%;
}

#ug-tips.recommend li span.circle-wrapper {
	display: block;
}

.ug-tips-list span.circle-wrapper:before,
.ug-tips-list span.circle:before {
	padding: 0;
	content: "";
}

.ug-tips-list span.circle {
	display: table-cell;
	margin: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	font-family: 'Antenna Black', sans-serif;

	text-align: center;
	content: "";
	color: $gray-extra-light;
	background: $patina;
	border-radius: 50%;
}

#ug-tips .ug-tips-list > ul.ug-tips-columns li {
	margin-left: 10px;
	padding-left: 10px;
	font-size: 0.75em;
	line-height: 1.65;

	text-align: left;
	border-left: solid 1px $gray-light;
}
#ug-tips.recommend .ug-tips-list > ul.ug-tips-columns li p{	text-transform: uppercase;	font-size: 1em;}

#ug-tips.learn ul.ug-tips-columns li,
#ug-tips.list ul.ug-tips-columns li {
	border-left: none;
	width: 100%;
}

#ug-tips .ug-tips-list > ul.ug-tips-columns li:before {
	display: block;
	content: "";
}

#ug-tips .ug-tips-label {
	margin: 10px 0 0;
	font-family: 'Antenna Black', sans-serif;
	font-size: 0.55em;
	line-height: 1.45;
	text-transform: uppercase;
	text-align: center;
}

#ug-tips .ug-tips-q-and-a p {
	width: 80%;
}

ul li a, p a {
	color:darken($patina, 8%);
	background: none;
	background-image: none !important;
}

ul li a:hover, ul li a:focus, p a:hover, p a:focus {
	color:$patina;
}

ul li a:visited, ul li a:visited, p a:visited, p a:visited {
	color:darken($patina, 8%);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color:$patina-dark;
	background:none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color:darken($patina, 5%);
}

table {
	width:100%;
}

td {
	color:black;
}

a:link {
	color:darken($patina, 8%);
}

div > table.stacktable.large-only > tbody > tr > td {
	color:$gray-extra-light;
}

#interior-wrapper-right div.aside-number.number.table-content h1 {
	font-size:5em;
  padding-top: 20%;
	padding-bottom: 8%;
	border-top: solid 1px #5f5f5f;
}

#interior-wrapper-right div.number h1 {
	font-size:7em;
  padding-top: 15%;
	padding-bottom: 8%;
}

#interior-wrapper-right .number p {
	margin-top: 0px;
}

#interior-wrapper-right div.aside-icon .col-md-3 {
    border-top: solid 1px #5f5f5f;
		padding-top: 5%;
}


.nav a:visited, .nav a:hover, .nav a:focus {
  color:darken($patina, 5%);
}

#inset-nav ul li h5 a, #inset-nav ul li h5 a:visited {
  font-family: "Antenna", sans-serif;
	    color:darken($patina, 8%);
}

#interior-wrapper-right .aside-icon img{
		width: 70%;
}

#interior-wrapper-right .number p.explainer {
    margin-top: 5px;
		font-size: 80%;
}

#interior-wrapper-right > div:nth-child(4) > p {margin-top: 5px !important;}

#interior-wrapper-right h1.number.display.large { font-size: 7em; }

#interior-wrapper-right h1.number.display.small { font-size: 5em !important; }

.ug-tips-list ul.ug-tips-columns li.col-sm-2.circle-wrapper {display:none;}

[style] p a, ul a, ol a {
	font-weight:normal !important;
}
