/* INTERIOR-SVG */

.statistic svg {
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 90%;
}

.grid-wrapper.grid-four-quarters-half.ug-majors.content .statistic svg { float: left; top: 15px; width: 50%; height: 85%; }

.grid-wrapper.grid-four-quarters-half.ug-majors.content .statistic { float: left; width: 100%; }

.grid-wrapper.grid-four-quarters-half.ug-majors.content .statistic svg .st1,
.grid-wrapper.grid-four-quarters-half.ug-majors.content .statistic svg .st2,
.grid-wrapper.grid-four-quarters-half.ug-majors.content .statistic svg .st3,
.grid-wrapper.grid-four-quarters-half.ug-majors.content .statistic svg .st4,
.grid-wrapper.grid-four-quarters-half.ug-majors.content .statistic svg .st5,
.grid-wrapper.grid-four-quarters-half.ug-majors.content .statistic svg .st6 {
	-webkit-transition: fill .25s ease-in-out;
	-moz-transition: fill .25s ease-in-out;
	-o-transition: fill .25s ease-in-out;
	transition: fill .25s ease-in-out;
}

.grid-wrapper.grid-four-quarters-half.ug-majors.content:hover .statistic svg .st6 { fill:$patina; }

.grid-wrapper.grid-four-quarters-half.ug-majors.content:hover .statistic svg .st1,
.grid-wrapper.grid-four-quarters-half.ug-majors.content:hover .statistic svg .st2,
.grid-wrapper.grid-four-quarters-half.ug-majors.content:hover .statistic svg .st3,
.grid-wrapper.grid-four-quarters-half.ug-majors.content:hover .statistic svg .st4,
.grid-wrapper.grid-four-quarters-half.ug-majors.content:hover .statistic svg .st5 { fill:$gold; }

.st0 { font-family:'Antenna Comp', sans-serif !important; font-weight: bold; }
.st1 { font-size:325.4253px; }
.st2 { letter-spacing:-11; }
.st3 { font-family:'Antenna Black', sans-serif !important; }
.st4 { font-size:43.25px; }
.st5 { letter-spacing:-1; }
.st6 { fill:#eeb111; }

/* END - INTERIOR-SVG */