@charset "UTF-8";
/* CSS Document */


/* GLOBAL NAV */

.ug-global-search.active {
	background-color: rgba(0,0,0,.7);
	color: black;
}

.ug-global-nav.active {
	background-color: rgba(0,0,0,.7);
	color: black;
}

/* MAIN-SIDEBAR */

#want-to-dropdown{display:none;}

#main-sidebar #first-menu {
	visibility: visible !important;
	overflow: visible !important;
	overflow: scroll !important;
	margin: 30px 0 0;
	padding: 30px 30px 200px 30px;
	height: 100vh;
}

#main-sidebar[style] {
	background: rgba(0,0,0,.35);
	overflow: scroll !important;
	@include media-breakpoint-down(sm) {
		width: 300px !important;
	}
}

#main-sidebar h5.label { color: $patina-dark; }

#main-sidebar .panel-collapse.collapse { margin: 0 0 10px 0px; }

#main-sidebar ul li, #main-sidebar ul li a {
	margin: 0;
	padding: 5px 0 4px;
	width: 100%;
	list-style: none;
	font-family: "Antenna", sans-serif;
	font-size: 1em;
	line-height: 1.5;
	letter-spacing: .015em;
	color: $gray;
	text-transform: none;
}

#main-sidebar ul li {
	padding: 0 0 10px 0;
	margin: 0 0 11px 0;
	font-size: 1em;
	border-bottom: solid 1px darken($gray-dark, 5%);
}

#main-sidebar ul li:last-of-type {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}

#main-sidebar .panel-heading h4 span a {
	display: block;
	width: 90% !important;
	padding: 3px 5px 3px 0;
	color: darken($patina, 12%);
	transition: color .25s;
}

#main-sidebar .panel-heading h4 span a:hover { color: darken($patina, 5%); }

#main-sidebar ul li a:hover,
#main-sidebar ul li a:visited,
#main-sidebar ul li p a:hover,
#main-sidebar ul li p a:visited { color: $patina; }

#main-sidebar .dropdown { margin: 0; }

#main-sidebar ul.sub-menu {
	margin: 5px 0 0 40px;
}

#main-sidebar #sub-menu h5.label {
	margin-top: 30px;
	margin-bottom: 10px;
}

#sub-menu ul > h5 > a {
	font-family: 'Antenna', sans-serif;
	font-size: 1.025em;
	color: darken($patina, 12%) !important;
}

#main-sidebar ul.sub-menu li {
	margin: 0;
	padding: 5px 0 0;
	list-style-type: square;
	border-bottom: none;
}

/* MAIN-SIDEBAR - ACCORDIONS */

#main-sidebar div.panel-heading {
	margin: 0;
	padding: 10px 0;
	border-bottom: none;
	@include media-breakpoint-down(sm) {
		padding: 5px 0;
	}
}

#main-sidebar div.panel-heading h4.subhead {
	font-family: "Antenna Bold", sans-serif;
	@include media-breakpoint-down(sm) {
		font-size: 1em;
	}
}

#main-sidebar div.panel-heading .subhead { top: 4px; margin: 0; text-transform: uppercase; }

#main-sidebar .panel-group { margin: 0 2em 0; }

#main-sidebar .panel-group a { color: darken($patina, 12%); }

#main-sidebar .panel-group ul { margin-left: 20px; }

#main-sidebar .panel-group ul li, #main-sidebar .panel-group ul li a { color: darken($patina, 12%); }

#main-sidebar .panel-heading a i {
	padding: 5px; color: darken($patina, 15%);
	width: 25px;
	height: 25px;
	border-radius: 2px;
	background: darken($gray-extra-dark, 5%);
	-webkit-text-stroke: 1px rgba(0,0,0,.35) !important;
	transition: all .25s;
}

.glyphicon-remove:before { -webkit-text-stroke: 3px darken($gray-extra-dark, 10%) !important; }

#main-sidebar .panel-heading a:hover i {
	color: darken($patina, 3%);
	background-color: rgba(0,0,0,.15);
}

#main-sidebar .panel {
	margin-left: 2em;
	margin-right: 2em;
	padding: 0;
	background-color: transparent !important;
	box-shadow: none;
	-webkit-box-shadow: none;
}

#main-sidebar #first-menu { margin-top: 70px; }

#main-sidebar #first-menu .panel { margin: 0; display: block; }

#main-sidebar .panel-body { padding: 0; }

#main-sidebar .panel-body ul { margin-top: 5px; }

#overlay { background-color: $bg-overlay-dark; height: 800px; }

#main-sidebar .panel-group .panel-heading+.panel-collapse > .panel-body { border-top: none; }

#main-sidebar .panel-group#search-input { margin: 0 0 15px; }

#main-sidebar .panel-group#sub-menu { margin-top: 20px; }

#main-sidebar .panel-group#sub-menu ul { margin: 0; list-style-type: none; }

#main-sidebar .panel-group#sub-menu ul li {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	font-size: .9em;
	border-bottom: solid 1px $gray-dark;
}

#compass {
	width: 25%;
	margin-bottom: 1em;
	margin-left: 0.2em;
}

#fly > div.row {
	position: absolute;
	bottom: 50px;
	width: 100%;
	font-family: "Antenna", sans-serif;
}

#cta-1,
#cta-2,
#cta-3 {
	margin-bottom: 5px;
	background-color: rgba(255,255,255,0.6);
	width: 100%;
}

#main-sidebar .but-text {
	color: #5f5f5f;
	font-size: 1em;
}

#main-sidebar .but-text a {
	margin-left: 33px;
	text-transform: uppercase;
}

#cta-1:hover,
#cta-2:hover,
#cta-3:hover {
	background-color: rgba(255,255,255,0.9);
}

#search-input input::placeholder,
#search-input input:placeholder-shown,
#search-input input[type="text"] {
	color: darken($patina, 12%) !important;
	font-size: .975em !important;
	text-transform: uppercase !important;
}

#search-input .btn {
	background-color: darken($patina, 12%);
	color: $patina-dark;
}

input[type="email"], input[type="password"], input[type="text"],
#search-input input[type="text"],
#search-input input[type="text"]::placeholder {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 42px;
	margin: 0;
	padding: 0 17px;
	font-family: "Antenna", sans-serif !important;
	color: darken($patina, 12%);
	border-radius: 3px 0 0 3px !important;
	border-color: darken($patina, 25%);
	background: rgba(0,0,0,.275);
}

#search-input input[type="text"]::placeholder { padding: 0; }

#search-input input[type="submit"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 12px 0 9px;
	width: 50px !important;
	height: 42px !important;
	border-radius: 0 3px 3px 0 !important;
	border-color: darken($patina, 25%);
	font-family: 'Antenna Bold', sans-serif;
	font-size: 32px;
	line-height: 1.3;
	background: rgba(0,0,0,.5);
	background-image:url("../images/homepage/homepage-arrow-left-patina.png") !important;
	background-repeat: no-repeat;
	background-size: 25%;
	background-position: 50% 50%;
	color: darken($patina, 12%);
	transition: all .25s;
}

#search-input input[type="submit"]:focus {
	outline: none !important;
	border-color: darken($patina, 25%);
	box-shadow: 0 0 10px $patina;
}

#search-input input[type="submit"]:hover {
	background-color: rgba(0,0,0,.75);
	color: $patina-dark;
}

::-webkit-input-placeholder { /* Chrome, Safari */
   color: darken($patina, 12%) !important;
	 text-overflow: ellipsis !important;
   font-size: 32px;
}

:-moz-placeholder { /* Firefox 18- */
   color: darken($patina, 12%) !important;
	 text-overflow: ellipsis !important;
   font-size: 32px;
	 height: 42px !important;
}

::-moz-placeholder { /* Firefox 19+ */
  color: darken($patina, 12%) !important;
	text-overflow: ellipsis !important;
  font-size: 32px;
}

#search-input input:-moz-placeholder,
:-ms-input-placeholder { /* Internet Explorer */
  color: darken($patina, 12%) !important;
	text-overflow: ellipsis !important;
  font-size: 32px;
	height: 42px !important;
	background: #000000;
	background-color: #000000;
}

#main-sidebar .panel-group img { margin-left: 2em; }

#internalmenu {
	/* (#febc18) */
	float: left;
	font-family: "Antenna Bold", sans-serif;
	font-size: 0.87em;
	letter-spacing: 0.2px;
	color: black;
	text-transform: uppercase;
	margin: 0 0 0 -25px;
	padding: 0 18px 19px 13px;
}

#internalmenu ul{ list-style: none; }

ul.sub-menu li { border: none !important; }
