/* INTERIOR-TABS */

#main-content #interior-wrapper #interior-body #content-tabs ul {
	margin: 30px 0 0 0 !important;
}

#main-content #interior-wrapper #content-tabs ul { border-bottom: none !important; }

#main-content #interior-wrapper #interior-body #content-tabs .nav-tabs {
	border-bottom: none;
}

#main-content #interior-wrapper #interior-body #content-tabs ul li.tab-list-item {
	float: left;
	margin: 20px 0 0 0;
	padding: 20px 0 0 0;
}

/* #main-content #interior-wrapper #interior-body #content-tabs #tabs > li.active a {
	font-family: 'Antenna Black', sans-serif !important;
	letter-spacing: .075em;
	color: $gold-extra-dark;
}

/* #main-content #interior-wrapper #interior-body #content-tabs #my-tab-content.tab-content.col-sm-12 {
	background: $gold !important;
}

#main-content #interior-wrapper #interior-body #content-tabs #my-tab-content.tab-content.col-sm-12 {
	padding: 60px;
}

/* #main-content #interior-wrapper #tabs > li a {
/* background: -moz-linear-gradient(top, $gold-dark 90%, $gold-extra-dark 95%, $gold-extra-dark 100%); /* FF3.6-15 */
/*		background: -webkit-linear-gradient(top, $gray 90%, $gold-extra-dark 95%, $gold-extra-dark 100%); /* Chrome10-25,Safari5.1-6 */
/*		background: linear-gradient(to bottom, $gold-dark 90%, $gold-extra-dark 95%, $gold-extra-dark 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CE9501', endColorstr='#825E01',GradientType=0 ); /* IE6-9 */
/*	border-bottom-color: $gold-extra-dark; */
/* } */


#interior-wrapper ul > li.tab-list-item .body.endnote {
	border-top: solid 1px darken($gold-dark, 3%);
}

#interior-wrapper ul > li.tab-list-item .circle,
#accordion .panel-heading > h4 > a > span.circle {
	display: table;
	margin: 0;
	padding: 0;
	width: 35px;
	height: 35px;
	font-family: 'Antenna Black', sans-serif !important;
	font-size: 1.125em;
	color: $white;
	border-radius: 50%;
	border: 3px solid $white;
	background: $gray-extra-dark;
}

#accordion .panel-heading > h4 > a > span.circle {
	float: left;
	margin-top: -8px;
	margin-right: 6px;
	font-family: 'Antenna Bold', sans-serif !important;
	font-size: .725em;
	background: $gray-extra-dark;
	border: 3px solid $gold;
}

#interior-wrapper ul > li.tab-list-item .circle span,
#accordion .panel-heading > h4 > a > span.circle span {
	display: table-cell;
	float: none;
	margin: 0;
	padding: 2px 0 0 0;
	width: 100%;
	height: auto;
	vertical-align: middle;
	text-align: center;
}

#main-content #interior-wrapper #interior-body #transfer #content-tabs ul {
	margin: 0px 0 10px 0 !important;
}

/* END - INTERIOR-TABS */

/* NUMBER STYLING --SCHEMATIC */

 .number-circle-small {
	display: block;
	margin: 0;
	padding: 11px;
	width: 40px;
	height: 40px;
	font-family: 'Antenna Bold', sans-serif !important;
	font-weight: bold;
	font-weight: 700;
	font-style: none;
	font-size: 1.2em;
	line-height: .9;
	letter-spacing: 0em;
	color: #FFF;
	text-align: center;
	border-radius: 20px;
	border: 1px;
	border-color: $white;
	border-style: solid;
	background-color: #272727;
	box-shadow: 0px 0px 6px rgba(0,0,0,.5)
}

.small-circle {
	width: 30px;
	height: 30px;
	background: $maroon;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display:block;
	margin-bottom: 10px;
}

.small-circle.key {
	width: 22px;
	height: 22px;
	background: $maroon;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display:block;
	margin-bottom: 10px;
}

.square {
	width: 26px;
	height: 26px;
	background: black;
	display: block;
	margin-bottom: 10px;
}

.square.key {
	width: 20px;
	height: 20px;
	background: black;
	display: block;
	margin-bottom: 10px;
}

.square-green {
	width: 26px;
	height: 26px;
	background: green;
	display: block;
	margin-bottom: 10px;
}

.square-green.key {
	width: 20px;
	height: 20px;
	background: green;
	display: block;
	margin-bottom: 10px;
}

.triangle {
	width: 0;
	height: 0;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 28px solid yellowgreen;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
}

.triangle.key {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid yellowgreen;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
}

.hexagon {
	width: 27px;
	height: 17px;
	background: $patina;
	position: relative;
	margin-top: 4px;
	margin-bottom: 4px;
	display: block;
	margin-bottom: 15px;
	z-index: 1;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -6px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 6px solid $patina;
	z-index: 1;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -6px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-top: 6px solid $patina;
	z-index: 1;
}

.hexagon.key {
	width: 22px;
	height: 12px;
	background: $patina;
	position: relative;
	margin-top: 4px;
	margin-bottom: 4px;
	display: block;
	margin-bottom: 15px;
	z-index: 1;
}
.hexagon.key:before {
	content: "";
	position: absolute;
	top: -6px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 6px solid $patina;
	z-index: 1;
}
.hexagon.key:after {
	content: "";
	position: absolute;
	bottom: -6px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-top: 6px solid $patina;
	z-index: 1;
}

.diamond {
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-bottom-color: $gold;
	position: relative;
	top: -12px;
	display: block;
	margin-top: -5px;
	margin-bottom: 7px;
	z-index: 1;
}
.diamond:after {
	content: '';
	position: absolute;
	left: -16px;
	top: 16px;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-top-color: $gold;
	z-index: 1;
}

.diamond.key {
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-bottom-color: $gold;
	position: relative;
	top: -12px;
	display: block;
	margin-top: -5px;
	margin-bottom: 7px;
	z-index: 1;
}
.diamond.key:after {
	content: '';
	position: absolute;
	left: -12px;
	top: 12px;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-top-color: $gold;
	z-index: 1;
}

.green-map { margin-top: 30px; }

.green-map p { line-height: 1.4; }


.number-circle-small.one-one,
.number-circle-small.one-two,
.number-circle-small.one-three,
.number-circle-small.one-four,
.number-circle-small.one-five,
.number-circle-small.one-six,
.number-circle-small.two-one,
.number-circle-small.two-two,
.number-circle-small.three-one,
.number-circle-small.three-two,
.number-circle-small.three-three,
.four-one,
.four-two,
.four-three,
.four-four,
.four-five,
.five-one,
.five-two,
.five-three,
.five-three,
.five-four,
.five-five,
.five-six,
.five-six-2,
.five-six-3,
.five-six-4,
.five-six-5,
.five-six-6,
.five-seven,
.five-eight,
.five-nine,
.six-one,
.six-two,
.six-three,
.six-four,
.six-five,
.seven-one,
.seven-one-2,
.seven-one-3,
.seven-two,
.seven-three,
.seven-three-2,
.seven-four,
.eight-one,
.eight-two,
.eight-two-2,
.eight-two-3,
.eight-three,
.eight-three-2,
.eight-four,
.eight-four-2,
.nine-one,
.nine-two,
.nine-three,
 {
	position: absolute;
}

.number-circle-small.one-one	{ top: 13%; left: 64%; }
.number-circle-small.one-two	{ top: 26%; left: 60%; }
.number-circle-small.one-three { top: 32%; left: 64%; }
.number-circle-small.one-four	{ top: 40%; left: 69%; }
.number-circle-small.one-five	{ top: 73%; left: 28%; }
.number-circle-small.one-six	{ top: 88%; left: 24%; }
.number-circle-small.two-one	{ top: 41%; left: 68%; }
.number-circle-small.two-two	{ top: 65%; left: 80%; }
.number-circle-small.three-one	{ top: 24%; left: 91%; }
.four-one	{ top: 87%; left: 37%; }
.four-two	{ top: 66%; left: 49%; }
.four-three { top: 59%; left: 57%; }
.four-four { top: 44%; left: 59%; }
.four-five { top: 41%; left: 46%; }
.five-one	{ top: 43%; left:  1%; }
.five-two { top: 47%; left: 30%; }
.five-three { top: 45%; left: 39%; }
.five-four	{ top: 22%; left: 47%; }
.five-five { top: 61%; left: 20%; }
.five-six { top: 64%; left: 35%; }
.five-six-2 { top: 32%; left: 17%; }
.five-six-3 { top: 45%; left: 36%; }
.five-six-4 { top: 58%; left: 47%; }
.five-six-5 { top: 26%; left: 61%; }
.five-six-6 { top: 21%; left: 56%; }
.five-seven { top: 42%; left: 47%; }
.five-eight { top: 68%; left: 49%; }
.five-nine { top: 18%; left: 59%; }
.six-one	{ top: 70.5%; left: 15%; }
.six-two	{ top: 68%; left: 28%; }
.six-three { top: 87%; left: 34%s; }
.six-four	{ top: 19%; left: 58%; }
.six-five	{ top: 44%; left: 88%; }
.seven-one	{ top: 90%; left: 35%; }
.seven-one-2	{ top: 37%; left: 28%; }
.seven-one-3	{ top: 23%; left: 59%; }
.seven-two	{ top: 68%; left: 19%; }
.seven-three { top: 52%; left: 42%; }
.seven-three-2 { top: 31%; left: 55%; }
.seven-four { top: 18%; left: 28%; }
.eight-one	{ top: 33%; left: 11%; }
.eight-two	{ top: 67%; left: 38%; }
.eight-two-2	{ top: 24%; left: 38%; }
.eight-two-3	{ top: 14%; left: 59%; }
.eight-three { top: 21%; left: 32%; }
.eight-three-2 { top: 24%; left: 58%; }
.eight-four { top: 27%; left: 20%; }
.eight-four-2 { top: 6%; left: 40%; }
.nine-one { top: 70.5%; left: 15%; }
.nine-two { top: 21%; left: 57%; }
.nine-three { top: 29%; left: 67%; }

ul.content-schematic { display: block; position: relative; padding-bottom: 10px; height: 600px; list-style: none; overflow: hidden; } /* ADJUSTS HEIGHT OF VIEWABLE SPACE */

ul.content-schematic li { display: block; background-color: rgba(0,0,0,0); }

.schematic-description-top { position: absolute; top: 5px; } /* ADJUSTS POSITION OF SCHEMATIC DESCRIPTION - POINT 1 */

ul.content-schematic li.content-schematic-image { width: 100%; position: absolute; background-color: rgba(0,0,0,0); } /* ADJUSTS POSITION OF SCHEMATIC */

.ug-map-key span.circle {
    display: table-cell;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    font-family: 'Antenna Black', sans-serif;
    text-align: center;
    content: "";
    color: #f1f1f1;
    background: #000;
    border-radius: 50%;
}

#tabs li.category.hide {
	display: none !important;
}

#green-sustainability h5 {
	margin-top: 0;
}
