#splash-video_html5_api {
	@include media-breakpoint-down(sm) { display:none; }
}

.vertical-rule-right,
.vertical-rule-left {
	@include media-breakpoint-up(md){
		display:inline-block;
	}
	@include media-breakpoint-down(sm) {
		padding-top: 15px;
		margin-top: 20px;
		border: solid 1px #e1e1e1;
	}
}

////* NUMBERS */////

.number.col-sm-2,
.number.col-sm-3,
.number.col-sm-4,
.number.col-sm-5,
.number.col-sm-6 {
		@include media-breakpoint-down(md) {
		h1.display.number {
			font-size: 6em;
		}
		p.body.small {
			font-size: 100% !important;
		}
	}
		@include media-breakpoint-down(sm) {
		margin: 0;
		padding: 0 15px;
		h1.display.number {
			padding-top: 15px;
			margin-top: 20px;
			border-top: solid 1px $gray-light;
		}
		h1.display.first-number {
    margin-top: 0 !important;
    padding-top: 0;
    border-top: 0 none !important;
		}
	}
}

///////* IMGS *////////

.col-sm-4
	img {
	@include media-breakpoint-down(sm) {
	padding-top: 40px;
	margin-top: 30px;
	border-top: solid 1px $gray-light;
	}
}

.col-sm-4.first-column.table-content{
 	@include media-breakpoint-down(sm) {
 	margin-top: 0 !important;
 	padding-top: 0;
 	border-top: 0 none !important;
	}
 }


///////* CAROUSEL FIX *///////

.container-fluid.carousel {
			@include media-breakpoint-down(md){
				padding-right: 0px;
				padding-left: 0px;
				p.body {
					font-size: .9em;
					line-height: 1.25;
				}
			}
}

///////* MAP *///////

ul.content-schematic {
	@include media-breakpoint-down(md){
		height: 400px;
	}
}

.number-circle-small {
	@include media-breakpoint-down(md){
		padding: 7px;
		width: 30px;
		height: 30px;
		border: 1px;
	}
}

////////* GRID *////////

.grid .col-xs-3 {
	@include media-breakpoint-down(md){
		width: 33.33333%;
	}
	@include media-breakpoint-down(sm){
		width:50%;
	}
	@include media-breakpoint-down(xs){
		width:100%;
		.hide {display:none;}
	}
}

/* END - CANVAS-NUMBERS */
