#ug-nav.container-fluid,
#ug-cta.container-fluid,
#ug-explore.container-fluid {
	@include media-breakpoint-down(sm) {
		padding: 0;
		-webkit-box-shadow: none;
    	-moz-box-shadow: none;
    	box-shadow: none;
	.container, .row {
		@include media-breakpoint-down(sm) {
			margin: 0;
			padding: 0;
			background: transparent;
		}
	}
	}
}

#ug-nav {
	@include media-breakpoint-down(sm) {
		-webkit-box-shadow: none;
    	-moz-box-shadow: none;
    	box-shadow: none;
		background-color: $white !important;
	}
}

#ug-nav #navbar {
	@include media-breakpoint-down(sm) {
		padding-top: 70px !important;
		padding-bottom: 10px;
	}
}

#ug-nav ul, #ug-cta ul, #ug-explore ul { margin: 0; }

#ug-nav ul li a,
#ug-cta ul li a,
#ug-explore li a {
	@include media-breakpoint-down(sm) {
		padding: 60px 0;
		font-size: .95em;
		text-align: center;
		border-left: none;
	}
}

#ug-cta ul li a {
	@include media-breakpoint-down(sm) {
		padding: 20px 0;
		font-size: .8em;
	}
}

#ug-explore ul li a {
	@include media-breakpoint-down(sm) {
		padding: 10px 0;
		font-size: 1em;
	}
}

#ug-nav ul li:hover,
#ug-cta ul li:hover,
#ug-explore ul li:hover {
	@include media-breakpoint-down(sm) {
		box-shadow: 2px 2px 3px rgba(0,0,0,.5)
	}
}
