<div class="panel">
	<div class="panel-heading">
		<h4 class="subhead">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#transition-child" href="#collapseTransitionFour"><span class="circle"><span>D</span></span>Attend new student orientation<span class="date">Early May - Registration deadline: May 31 ???</span></a> 
		</h4>
	</div>
	<div id="collapseTransitionFour" class="panel-collapse collapse">
		<div class="panel-body">
			<h3 class="standalone">Headline here</h3>
			<img src="http://placehold.it/1800x735"/>
			<p class="caption-box"></p>
				<ul>
					<li>Two-day, overnight orientation is the start of your unique Loyola Experience. You’ll meet your academic advisor and learn about academics, and you’ll build community by making friends and exploring extracurricular opportunities.</li>
					<li>For your convenience, the program is offered at various times during the summer. Placement assessments, if needed, must taken in advance.</li>
					<li>Parents/guests attend a different program that focuses on helping you be successful at college</li>
				</ul>
			</p>
		</div>
	</div>
</div>