<div class="panel">
	<div class="panel-heading">
		<h4 class="subhead">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#transition-child" href="#collapseTransitionFive"><span class="circle"><span>E</span></span>Submit medical records<span class="date">???</span></a> 
		</h4>
	</div>
	<div id="collapseTransitionFive" class="panel-collapse collapse">
		<div class="panel-body">
			<p class="body">
				The state of Illinois requires proof of immunzation. Students enrolled in seven or more credit hours must record their immunization history in LOCUS and submit supporting documents to the Wellness Center before the 10th day of the term.
			</p>
		</div>
	</div>
</div>