<div class="panel">
	<div class="panel-heading">
		<h4 class="subhead">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#transition-child" href="#collapseTransitionTwo"><span class="circle"><span>B</span></span>Search loan and financing options<span class="date">Beginning April 15</span></a> 
		</h4>
	</div>
	<div id="collapseTransitionTwo" class="panel-collapse collapse">
		<div class="panel-body">
			<h3 class="standalone">If you plan to finance remaining costs with a loan, options are available:</h3>
			<p class="body">
				<ul class="m-t-30">
					<h5 class="category">Parent Loan for Undergraduate Students</h5>
					<li>Borrowed from the federal government by a parent(s)/guardian(s)</li>
					<li>Repayable 10 years after the loan is applied to the student account.</li>
				</ul>
			</p>
			<p class="body">
				<ul class="m-t-30">
					<h5 class="category">Alternate student loan</h5>
					<li>Financed through private lenders</li>
					<li>Repayable over 10 years, beginning six months after you are no longer enrolled at least part-time</li>
					<li>Most undergraduate students need a co-signer.</li>
				</ul>
			</p>
			<p class="body">
				<ul class="m-t-30">
					<h5 class="category">iPlan</h5>
					<li>(Tip) Keep us informed: We may be able to re-evaluate your financial aid award if your family experiences a substantial change in circumstances that affects your financial situation for the academic year.</li>
				</ul>
			</p>
		</div>
	</div>
</div>