<div class="panel">
	<div class="panel-heading">
		<h4 class="subhead">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#apply-child" href="#collapseApplyTwo"><span class="circle"><span>B</span></span>Explore all avenues of financial assistance<span class="date">October 1 - June 30</span></a>  
		</h4>
		<div id="collapseApplyTwo" class="panel-collapse collapse">
			<div class="panel-body">
				<h2 class="display process-headline-small">Don't wait around...there's free money out there</h2>
				<p class="body">
					<ul>
						<li>Submit the Free Application for Federal Student Aid (FAFSA) as soon as possible to receive federal, state, and institutional grants, work-study, and loans. Loyola’s school code: 00170</li>
						<li>Carefully review the Student Aid Report, which you'll receive in the US mail or at the FAFSA web site. The information is used to calculate your Expected Family Contribution—a key component in determining the maximum Financial Aid Award that Loyola can provide.</li>
						<li>Some applicants need to verify information. If needed, you’ll be notified in your To-Do List in LOCUS.</li>
						<li>Students are encouraged to research all scholarship opportunities, even those offered by organizations and foundations outside Loyola.</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>
