<div class="panel">
	<div class="panel-heading">
		<h4 class="subhead">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#transition-child" href="#collapseTransitionOne"><span class="circle"><span>A</span></span>Sign up for on-campus room and board<span class="date">After making your admission deposit</span></a> 
		</h4>
	</div>
	<div id="collapseTransitionOne" class="panel-collapse collapse">
		<div class="panel-body">
			<h3 class="standalone">Headline here</h3>
			<div class="col-md-4">
				<img src="http://placehold.it/400x400"/>
				<p class="caption-box">Here is a caption lorem ipsum unum hereum lorem.</p>
			</div>
			<div class="col-md-4">
				<img src="http://placehold.it/400x400"/>
				<p class="caption-box">Here is a caption lorem ipsum unum hereum lorem.</p>
			</div>
			<div class="col-md-4">
				<img src="http://placehold.it/400x400"/>
				<p class="caption-box">Here is a caption lorem ipsum unum hereum lorem.</p>
			</div>
			<div class="col-md-12">
				<ul>
					<li>Loyola offers an array of residence halls and options. After you make your admission deposit, notify us of your housing preferences in LOCUS.</li>
					<li>Full-time, first- and second-year students are required to live in Loyola Residence Life housing and use a University meal plan. Waivers, howver, may be granted if you plan to live at home with parent(s)/legal guardian(s).</li>
					<li>Convenient, flexible all-access or fixed-amount meal plans are available, guaranteeing a value whether you eat on campus three times a week or three times a day.</li>
				</ul>
			</div>
		</div>
	</div>
</div>