<div class="panel">
	<div class="panel-heading">
		<h4 class="subhead">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#apply-child" href="#collapseApplyThree"><span class="circle"><span>C</span></span>Apply for Loyola merit scholarships<span class="date">February 1</span></a>  
		</h4>
		<div id="collapseApplyThree" class="panel-collapse collapse">
			<div class="panel-body">
				<h3 class="standalone">Headline here</h3>
				<p class="body">
					<ul>
						<li>Students admitted by February 1 will be automatically considered for merit scholarships without regard to need. No additional application is required.</li>
						<li>Merit awards are renewable for up to three years for undergraduates.</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>