<div class="panel">
	<div class="panel-heading">
		<h4 class="subhead">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#apply-child" href="#collapseApplyThree"><span class="circle"><span>C</span></span>Apply for Loyola merit scholarships<span class="date dark">February 1</span></a>  
		</h4>
		<div id="collapseApplyThree" class="panel-collapse collapse">
			<div class="panel-body">
				<h2 class="display process-headline-small">You've done some great work. Apply early for your potential reward.</h2>
				<p class="body">
					<ul>
						<li>Students admitted by February 1 will be automatically considered for merit scholarships without regard to need. No additional application is required.</li>
						<li>Merit awards are renewable for up to three years for undergraduates.</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>
