<div class="panel">
	<div class="panel-heading">
		<h4 class="subhead">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#transition-child" href="#collapseTransitionSeven"><span class="circle"><span>G</span></span>Prepare for your Loyola Experience<span class="date">Late July</span></a> 
		</h4>
	</div>
	<div id="collapseTransitionSeven" class="panel-collapse collapse">
		<div class="panel-body">
			<img src="http://placehold.it/1800x735"/>
			<p class="body">
				<ul>
					<li>Everything you need to know—your new address, what to bring and not, and where to go and when, and more—will be available on LOCUS in late July.</li>
					<li>If special accomodations are needed, contact the Office of Residence Life.</li>
				</ul>
			</p>
		</div>
	</div>
</div>