<div class="panel">
	<div class="panel-heading">
		<h4 class="subhead">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#apply-child" href="#collapseApplyOne"><span class="circle"><span>A</span></span>Complete the free online application<span class="date dark"and merit schoalrships</span></a>
		</h4>
		<div id="collapseApplyOne" class="panel-collapse collapse">
			<div class="panel-body">
				<h2 class="display process-headline-small">You took all those tests for a reason, now tell us how you did</h2>
				<p class="body">
					<ul>
						<li><span class="lead-in">REQUIRED:</span> Send official high school transcript(s) from each school attended; Send standardized test score(s): ACT (school code 1064) SAT (school code 1412); Seek teacher/counselor recommendation (letter or online form)</li>
						<li><span class="lead-in">OPTIONAL:</span> Essay; Resume; zeemee.com profile</li>
						<li>Students admitted by February 1 will be automatically considered for merit scholarships without regard to need. No additional application is required.</li>
						<li>Merit awards are renewable for up to three years for undergraduates.</li>
					</ul>
					<a href=""><a href='#'><button type="submit" class="btn-overlay cta">Start your Application</button></a> </a>
				</p>
			</div>
		</div>
	</div>
</div>
