<div class="panel">
	<div class="panel-heading">
		<h4 class="subhead">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#transition-child" href="#collapseTransitionSix"><span class="circle"><span>F</span></span>Complete your federal student loans<span class="date">Beginning May 15</span></a> 
		</h4>
	</div>
	<div id="collapseTransitionSix" class="panel-collapse collapse">
		<div class="panel-body">
			<h5 class="category">To receive federal loans, you must:</h5>
			<p class="body">
				<ul>
					<li>Complete Online Entrance Loan Counseling if you’re a first-time borrower.</li>
					<li>Sign the Master Promissory Note (MPN), which is your legal commitment to repay borrowed federal loan money.</li>
				</ul>
			</p>
		</div>
	</div>
</div>