<div class="panel">
	<div class="panel-heading">
		<h4 class="subhead">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#transition-child" href="#collapseTransitionThree"><span class="circle"><span>C</span></span>Take placement exams<span class="date">Before orientation</span></a> 
		</h4>
	</div>
	<div id="collapseTransitionThree" class="panel-collapse collapse">
		<div class="panel-body">
			<h3 class="standalone">Headline here</h3>
			<p class="body intro">
				These assessments help place you in the math, foreign langugage, writing, or dance courses that best fit your skill level. You'll be notfied by mail if your required to take placement exams.
			</p>
		</div>
	</div>
</div>