<div class="panel no-rule">
	<div class="panel-heading parent">
		<h4 class="subhead label display">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="circle"><span>2</span></span>Visit for a firsthand look<span class="date">Beginning in May</span></a>
		</h4>
	</div>
	<div id="collapseTwo" class="panel-collapse collapse">
		<div class="panel-body">
			<h5 class="label display">Headline here here here lorem ipsum lorem ipsum</h5>
			<p class="body"><p>
				We encourage you to visit both campuses, especially if your areas of interest include majors located downtown: Education, Social Work, Business Administration, Computer Science, Criminal Justice and Communication.
			</p>
			<p class="body">
				Ideal itineraries for visiting both campuses are:
			</p>
			<ul>
				<li>10am Lake Shore visit (10am-12pm) followed by 2:15pm Water Tower Tour (2:15pm-3:00pm)</li>
				<li>12pm Water Tower tour (12pm-12:45pm) followed by Lake Shore visit (2pm-4pm)</li>
			</ul>
			<div class="panel-group" id="apply-child">
				<div class="panel">
					<div class="panel-heading">
						<h4 class="subhead">
							<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#apply-child" href="#collapseVisitOne"><span class="circle"><span>A</span></span>Lake Shore Campus</a>
						</h4>
						<div id="collapseVisitOne" class="panel-collapse collapse">
							<div class="panel-body">
								<p class="body">
									Come learn more about Loyola on the university’s beautiful <a href="http://luc.edu/undergrad/about/ourcampuses/universities-in-chicago.html">Lake Shore Campus</a>. Your visit will include a tour of the campus with a current student and an information
									presentation highlighting the university and the admission and financial aid process.
								</p>
								<p class="body">
									<ul>
										<li>Location: The Undergraduate Admission Office is located in the Sullivan Center for Student Services</li>
										<li>Days/times available: Weekday visits are offered at 10am and 2pm each day. On busy weekdays we also offer a noon session. Saturday visits are offered at 9:30am and 11am during the school year and 10am during the summer. Please allow 2 hours for a full visit of campus.</li>
									</ul>
									<p>
										<a href='#'><button type="submit" class="btn-overlay cta">Register for Lake Shore Campus tours</button></a>
									</p>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">
						<h4 class="subhead">
							<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#apply-child" href="#collapseVisitTwo"><span class="circle"><span>B</span></span>Water Tower Campus</a>
						</h4>
						<div id="collapseVisitTwo" class="panel-collapse collapse">
							<div class="panel-body">
								<p class="body">
									With a current Loyola student as your guide, visit academic facilities, the Terry Student Center, and more at the <a href="http://luc.edu/undergrad/about/ourcampuses/water-tower-campus/chicago-universities.html">Water Tower Campus</a>. Unfortunately, we cannot offer a view of a residence hall room on this tour.
								</p>
								<p class="body">
									<ul>
										<li>Location: Tours depart from the Undergraduate Admission Office on the second floor in the Schreiber Center.</li>
										<li>Days/times available: Monday-Friday at 12pm and 2:15pm</li>
									</ul>
									<p>
										<a href='#'><button type="submit" class="btn-overlay cta">Register for Water Tower Campus tours</button></a>
									</p>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<p>
				During the fall and spring semester, when classes are in session, Loyola shuttle passes are available in the Undergraduate Admission Office. If the shuttle is not running, we are happy to provide driving or public transportation directions.
			</p>
			<p>
				Loyola strives for its campus to be accessible to all individuals. If you need disability-related accommodations, please contact us at <a href="mailto:visitloyola@luc.edu">visitloyola@luc.edu</a>.
			</p>
		</div>
	</div>
</div>
