<div class="panel no-rule">
	<div class="panel-heading m-t-15 m-b-15 parent">
		<h4 class="subhead label display">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="circle"><span>2</span></span>Visit for a firsthand look<span class="date">Beginning in May</span></a> 
		</h4>
	</div>
	<div id="collapseTwo" class="panel-collapse collapse">
		<div class="panel-body">
			<h3 class="standalone">Headline here</h3>
			<img src="http://placehold.it/1800x735"/>
			<p class="caption-box">Here is a caption lorem ipsum unum hereum lorem.</p>
			<p class="body">	
				Campus life is vibrant at Loyola. A strong sense of community 
connects our student body of over 11,000 undergraduate 
students. The Loyola Experience is about making memories, 
connecting with new friends, and taking advantage of 
everything Chicago has to offer.
			</p>
		</div>
	</div>
</div>