<div class="panel no-rule">
	<div class="panel-heading m-t-15 m-b-15 parent">
		<h4 class="subhead subhead label display">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="circle"><span>5</span></span>Pay for your education<span class="date">Lorem ipsum unum</span></a> 
		</h4>
	</div>
	<div id="collapseFive" class="panel-collapse collapse">
		<div class="panel-body">
			<h3 class="standalone">Headline here</h3>
			<p class="body m-b-20">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim.
			</p>
			<div class="col-md-4">
				<img src="http://placehold.it/400x400"/>
				<p class="caption-box">Lorem</p>
			</div>
			<div class="col-md-4">
				<img src="http://placehold.it/400x400"/>
				<p class="caption-box">Lorem</p>
			</div>
			<div class="col-md-4">
				<img src="http://placehold.it/400x400"/>
				<p class="caption-box">Lorem</p>
			</div>
		</div>
	</div>
</div>