<div class="panel-group no-rule">
	<div class="panel panel-default">
		<div class="panel-heading parent">
			<h4 class="subhead label display">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseApplyParent"><span class="circle"><span>3</span></span>Apply<span class="date">Beginning in August</span></a> 
			</h4>
		</div>
		<div id="collapseApplyParent" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="panel-group" id="apply-child">
					@@include('process-03-apply-01.html')
					@@include('process-03-apply-02.html')
					@@include('process-03-apply-03.html')
				</div>
			</div>
		</div>
	</div>
</div>