<div class="panel-group" id="accordion">
	<div class="panel panel-default no-rule">
		<div class="panel-heading m-t-15 m-b-15 parent">
			<h4 class="subhead label display">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTransitionParent"><span class="circle"><span>6</span></span>Welcome to Loyola<span class="date">Classes begin August ??</span></a> 
			</h4>
		</div>
		<div id="collapseTransitionParent" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="panel-group" id="transition-child">
					@@include('process-06-transition-01.html') <!-- accordion-transition-child -->
					@@include('process-06-transition-01.html') <!-- accordion-transition-child -->
					@@include('process-06-transition-01.html') <!-- accordion-transition-child -->
					@@include('process-06-transition-01.html') <!-- accordion-transition-child -->
					@@include('process-06-transition-01.html') <!-- accordion-transition-child -->
					@@include('process-06-transition-01.html') <!-- accordion-transition-child -->
					@@include('process-06-transition-01.html') <!-- accordion-transition-child -->
				</div>
			</div>
		</div>
	</div>
</div>