<div class="panel no-rule">
	<div class="panel-heading parent">
		<h4 class="subhead label display">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="circle"><span>2</span></span>Visit for a firsthand look<span class="date">Beginning in May</span></a>
		</h4>
	</div>
	<div id="collapseTwo" class="panel-collapse collapse">
		<div class="panel-body">
			<p class="body">Campus life is vibrant at Loyola. A strong sense of community connects our diverse student body. The Loyola Experience is about making memories, connecting with new friends, and taking advantage of everything Chicago has to offer.</p>
<h3>
Lake Shore Campus<br>
</h3>
<p>
	Come learn more about Loyola on the university’s beautiful <a href="http://luc.edu/undergrad/about/ourcampuses/universities-in-chicago.html">Lake Shore Campus</a>. Your visit will include a tour of the campus with a current student and an information presentation highlighting the university and the admission and financial aid process.
</p>
<ul>
	<li>
	<strong>Location:</strong> The Undergraduate Admission Office is located in the Sullivan Center for Student Services
	</li>
	<li>
	<strong>Days/times available:</strong> Weekday visits are offered at 10am and 2pm each day. On busy weekdays we also offer a noon session. Saturday visits are offered at 9:30am and 11am during the school year and 10am during the summer. Please allow 2 hours for a full visit of campus.
	</li>
</ul>
<p>
	<a href='cta'>Register for a visit.</a> <strong><br></strong>
</p>
<h3>
Water Tower Campus
</h3>
<p>
	With a current Loyola student as your guide, visit academic facilities, the Terry Student Center, and more at the <a href="http://luc.edu/undergrad/about/ourcampuses/water-tower-campus/chicago-universities.html">Water Tower Campus</a>. Unfortunately, we cannot offer a view of a residence hall room on this tour.
</p>
<ul>
	<li>
	<strong>Location:</strong> Tours depart from the Undergraduate Admission Office on the second floor in the Schreiber Center.
	</li>
	<li>
	<strong>Days/times available</strong>: Monday-Friday at 12pm and 2:15pm<br>
	</li>
</ul>
<p>
	<a href='cta'>Register for Water Tower Campus tours.</a>
</p>
<h4>
Visiting Both the Lake Shore and Water Tower Campuses
</h4>
<p>
	We encourage you to visit both campuses, especially if your areas of interest include these majors located downtown: Schools of Education, Social Work, Business Administration, and Communication, as well as majors in computer science and criminal justice. Ideal itineraries for visitng both campuses are:
</p>
<ul>
	<li>
	<strong>10am Lake Shore visit (10am-12pm) followed by 2:15pm Water Tower Tour (2:15pm-3:00pm)<br>
	OR</strong>
	</li>
	<li>
	<strong>12pm Water Tower tour (12pm-12:45pm) followed by Lake Shore visit (2pm-4pm)</strong>
	</li>
</ul>
<p>
	During the fall and spring semester, when classes are in session we have Loyola shuttle passes available in the Undergraduate Admission Office. If the shuttle is not running, we are happy to provide driving or public transportation directions.
</p>
<p>
	If you need disability-related accommodations, please contact us at <a href="mailto:visitloyola@luc.edu">visitloyola@luc.edu</a>.
</p>


		</div>
	</div>
</div>
