<div class="panel no-rule">
	<div class="panel-heading m-t-15 m-b-15 parent">
		<h4 class="subhead subhead label display">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><span class="circle"><span>4</span></span>Check your status<span class="date">After submitting your application</span></a> 
		</h4>
	</div>
	<div id="collapseSix" class="panel-collapse collapse">
		<div class="panel-body">
			<h3 class="standalone">Headline here</h3>
			<p class="body m-b-20">
				When you’re a newly admitted student, your status page is your home page, allowing you to track the key next steps on your road to enrollment.
			</p>
			<div class="col-md-4">
				<img src="http://placehold.it/400x400"/>
				<p class="caption-box">Here is a caption lorem ipsum unum hereum lorem.</p>
			</div>
			<div class="col-md-4">
				<img src="http://placehold.it/400x400"/>
				<p class="caption-box">Here is a caption lorem ipsum unum hereum lorem.</p>
			</div>
			<div class="col-md-4">
				<img src="http://placehold.it/400x400"/>
				<p class="caption-box">Here is a caption lorem ipsum unum hereum lorem.</p>
			</div>
		</div>
	</div>
</div>