<div class="panel no-rule">
	<div class="panel-heading parent">
		<h4 class="subhead label display">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="circle"><span>3</span></span>Apply now<span class="date">Deadline herehere</span></a>
		</h4>
	</div>
	<div id="collapseThree" class="panel-collapse collapse">
		<div class="panel-body">
			<h5 class="label display">You took all those tests for a reason, now tell us how you did</h5>
				<p class="body m-b-20">
					<h5 class="">REQUIRED</h5>
					<ul>
						<li>Send official high school transcript(s) from each school attended</li>
						<li>Send standardized test score(s): ACT (school code 1064) SAT (school code 1412)</li>
						<li>Seek teacher/counselor recommendation (letter or online form)</li>
					<ul>
					<h5 class="">OPTIONAL</h5>
					<ul>
						<li>Essay</li>
						<li>Resume</li>
						<li>zeemee.com profile</li>
					</ul>
					<p class="body endnote">
						Students admitted by February 1 will be automatically considered for merit scholarships without regard to need. No additional application is required.
						Merit awards are renewable for up to three years for undergraduates.
					</p>
					<a href=""><a href='#'><button type="submit" class="btn-overlay cta">Start your Application</button></a></a>
				</p>
		</div>
	</div>
</div>
