<div class="panel-group" id="accordion">
	<div class="panel panel-default no-rule">
		<div class="panel-heading m-t-15 m-b-15 parent">
			<h4 class="subhead label display">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTransitionParent"><span class="circle"><span>6</span></span>Welcome to Loyola<span class="date">Classes begin August ??</span></a> 
			</h4>
		</div>
		<div id="collapseTransitionParent" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="panel-group" id="transition-child">
					@@include('road-accordion-08-room-transition-child.html')										<!-- accordion-transition-child-08 -->
					@@include('road-accordion-09-loans-transition-child.html')									<!-- accordion-transition-child-09 -->
					@@include('road-accordion-10-placement-exams-transition-child.html')				<!-- accordion-transition-child-10 -->
					@@include('road-accordion-11-orientation-transition-child.html')						<!-- accordion-transition-child-11 -->
					@@include('road-accordion-12-records-transition-child.html')								<!-- accordion-transition-child-12 -->
					@@include('road-accordion-13-complete-federal-loans-transition-child.html')	<!-- accordion-transition-child-13 -->
					@@include('road-accordion-14-loyola-experience-transition-child.html')			<!-- accordion-transition-child-14 -->
				</div>
			</div>
		</div>
	</div>
</div>