<div class="panel no-rule">
	<div class="panel-heading parent">
		<h4 class="subhead label display">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="circle"><span>4</span></span>Check your status<span class="date">After submitting your application</span></a>
		</h4>
	</div>
	<div id="collapseFour" class="panel-collapse collapse">
		<div class="panel-body">
			<h5 class="label display">Next Steps</h5>
			<p class="body m-b-20">
				Once you've applied, your status page allows you to follow your road to enrollment, including making your deposit.
			</p>
			<a href=""><a href='#'><button type="submit" class="btn-overlay cta">Check Your Status</button></a></a>
		</div>
	</div>
</div>
