<div id="transfer" class="panel no-rule">
	<div class="panel-heading parent">
		<h4 class="subhead label display">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"><span class="circle"><span>1</span></span>Explore<span class="date">Transferring your lorem ipsum</span></a>
		</h4>
	</div>
	<div id="collapseSeven" class="panel-collapse collapse">
		<div class="panel-body">
			<h5 class="label display">How many credits will you have when entering Loyola?</h5>
			<p>Loyola University Chicago strives to be a transfer-friendly school and accepts credit from over 1,400 institutions. College credit will be evaluated for all admitted transfer students who have sent in official transcripts.&nbsp;</p>

			<div id="content-tabs">
				<ul id="tabs" class="nav nav-pills" data-tabs="pills">
				<li class="category"><a href="#highlight-1" data-toggle="tab"><span></span>29 or fewer</a></li>
				<li class="category"><a href="#highlight-2" data-toggle="tab"><span></span>30 or more</a></li>
				</ul>
				<div id="my-tab-content" class="tab-content">
					<div class="tab-pane fade in active" id="highlight-1">
				<div class="col-md-12">
					<h4 class="subhead">YOU WILL FOLLOW LOYOLA’S CORE CURRICULUM</h4>
					<table style="transfer">
						<tr>
							<th>Credits</th>
							<th>Knowledge area</th>
							<th>No. of courses</th>
						</tr>
					<tr>
						<td class=""><span class="right">3</span></td>
						<td><span class="antenna">ARTISTIC KNOWLEDGE AND EXPERIENCE</span></td>
						<td><span class="glyphicon glyphicon-record"></span></td>
					</tr>
					<tr>
						<td class=""><span class="right">3</span></td>
						<td><span class="antenna">COLLEGE WRITING SEMINAR</span></td>
						<td><span class="glyphicon glyphicon-record"></span></td>
					</tr>
					<tr>
						<td class=""><span class="right">6</span></td>
						<td><span class="antenna">HISTORICAL KNOWLEDGE</span></td>
						<td><span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span></td>
					</tr>
					<tr>
						<td class=""><span class="right">6 </span></td>
						<td><span class="antenna">LITERARY KNOWLEDGE AND EXPERIENCE</span></td>
						<td><span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span></td>
					</tr>
					<tr>
						<td class=""><span class="right">3</span></td>
						<td><span class="antenna">QUANTITATIVE ANALYSIS</span> </td>
						<td><span class="glyphicon glyphicon-record"></span></td>
					</tr>
					<td class=""><span class="right">6</span></td>
					<td><span class="antenna">SCIENTIFIC LITERACY</span></td>
					<td><span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span></td>
				</tr>
				<tr>
					<td class=""><span class="right">6</span></td>
					<td><span class="antenna">SOCIETAL AND CULTURAL KNOWLEDGE</span></td>
					<td><span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span></td>
				</tr>
				<tr>
					<td class=""><span class="right">6 </span></td>
					<td><span class="antenna">PHILOSOPHICAL KNOWLEDGE</span></td>
					<td><span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span></td>
				</tr>
				<tr>
					<td class=""><span class="right">6</span></td>
					<td><span class="antenna">THEOLOGICAL AND RELIGIOUS STUDIES</span> </td>
					<td><span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span></td>
				</tr>
				<tr>
					<td class=""><span>3</span></td>
					<td><span class="antenna">ETHICS</span></td>
					<td><span class="glyphicon glyphicon-record"></span></td>
				</tr>
				<tr class="last">
					<td class="last"><span class="right antenna">48</span></td>
					<td class="last"><span class=""></span></td>
					<td class="last"><span class="antenna">16</span</td>
				</tr>
				</table>
				<p class="body explainer m-t-20">Visit our&nbsp;<a href="SiteManager?ctfn=publish&amp;fnno=30&amp;chid=30&amp;lang=en&amp;sid=104462">credit transfer page</a>&nbsp;for guidelines and more information.</p>
			</div>
		</div><!-- tab-pane - highlight-2 END -->
				<div class="tab-pane fade" id="highlight-2">
				<div class="col-md-12">
					<p class="body explainer"> You have a choice: </p>
					<div class="panel-group" id="transfer-child">
						<div class="panel">
							<div class="panel-heading">
									<h4 class="subhead"><a class="accordion-toggle collapsed" data-parent="#transfer-child" data-toggle="collapse" href="#collapseChoiceOne" aria-expanded="false"><span class="circle"><span>A</span></span>COMPLETE ILLINOIS GENERAL EDUCATION CORE</a></h4>
											<div class="panel-collapse collapse" id="collapseChoiceOne" aria-expanded="false" style="height: 0px;">
												<div class="panel-body">
													<table style="transfer">
														<tr>
															<th>Credits</th>
															<th>Knowledge area</th>
															<th>No. of courses</th>
														</tr>
													<tr>
														<td><span class="right">9</span></td>
														<td><span class="antenna">COMMUNICATION</span></td>
														<td><span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span></td>
													</tr>
													<tr>
														<td><span class="right">3</span></td>
														<td><span class="antenna">MATHEMATICS</span></td>
														<td><span class="glyphicon glyphicon-record"></span></td>
													</tr>
													<tr>
														<td><span class="right">6</span></td>
														<td><span class="antenna">HISTORICAL KNOWLEDGE</span></td>
														<td><span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span></td>
													</tr>
													<tr>
														<td><span class="right">7–8 </span></td>
														<td><span class="antenna">PHYSICAL AND LIFE SCIENCES</span></td>
														<td><span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span></td>
													</tr>
													<tr>
														<td><span class="right">9</span></td>
														<td><span class="antenna">HUMANITIES AND FINE ARTS</span> </td>
														<td><span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span></td>
													</tr>
													<td><span class="right">9</span></td>
													<td><span class="antenna">SOCIAL AND BEHAVIORAL SCIENCES</span></td>
													<td><span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span></td>
												</tr>
												<tr class="last">
													<td class="last"><span class="right antenna">37–41</span></td>
													<td class="last"><span class=""></span></td>
													<td class="last"><span class="right antenna">12–13</span></td>
												</tr>
												</table>
											</div>
													<h4 class="subhead">...and satisfy the University's mission requirement.</h4>
													<ul class="transfer">
													<li class="transfer"><span class="antenna">PHIL 190 OR THEO 190 </span> plus <span class="antenna">One more course</span> if you have previously passed <strong>zero or one</strong> mission-related course </li>
													<li class="transfer"><span class="antenna">PHIL 190 OR THEO 190 </span> if you have previously passed <strong>two or three </strong> mission-related course </li>
													<li class="transfer"><span class="antenna">None </span>if you have previously passed <strong>four or more</strong> mission-related course </li>
												</ul>
											</div>
										</div>
									</div>
								</div>
									<div class="panel-group" id="transfer-child">
										<div class="panel">
											<div class="panel-heading">
												<h4 class="subhead"><a class="accordion-toggle collapsed" data-parent="#transfer-child" data-toggle="collapse" href="#collapseChoiceTwo" aria-expanded="false"><span class="circle"><span>B</span></span>COMPLETE LOYOLA'S CORE CURRICULUM</a></h4>
													<div class="panel-collapse collapse" id="collapseChoiceTwo" aria-expanded="false">
														<div class="panel-body">
															<table style="transfer">
																<tr>
																	<th>Credits</th>
																	<th>Knowledge area</th>
																	<th>No. of courses</th>
																</tr>
															<tr>
																<td><span class="right">3</span></td>
																<td><span class="antenna">ARTISTIC KNOWLEDGE AND EXPERIENCE</span></td>
																<td><span class="glyphicon glyphicon-record"></span></td>
															</tr>
															<tr>
																<td><span class="right">3</span></td>
																<td><span class="antenna">COLLEGE WRITING SEMINAR</span></td>
																<td><span class="glyphicon glyphicon-record"></span></td>
															</tr>
															<tr>
																<td><span class="right">6</span></td>
																<td><span class="antenna">HISTORICAL KNOWLEDGE</span></td>
																<td><span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span></td>
															</tr>
															<tr>
																<td><span class="right">6 </span></td>
																<td><span class="antenna">LITERARY KNOWLEDGE AND EXPERIENCE</span></td>
																<td><span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span></td>
															</tr>
															<tr>
																<td><span class="right">3</span></td>
																<td><span class="antenna">QUANTITATIVE ANALYSIS</span> </td>
																<td><span class="glyphicon glyphicon-record"></span></td>
															</tr>
															<td><span class="right">6</span></td>
															<td><span class="antenna">SCIENTIFIC LITERACY</span></td>
															<td><span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span></td>
														</tr>
														<tr>
															<td><span class="right">6</span></td>
															<td><span class="antenna">SOCIETAL AND CULTURAL KNOWLEDGE</span></td>
															<td><span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span></td>
														</tr>
														<tr>
															<td><span class="right">6 </span></td>
															<td><span class="antenna">PHILOSOPHICAL KNOWLEDGE</span></td>
															<td><span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span></td>
														</tr>
														<tr>
															<td><span class="right">6</span></td>
															<td><span class="antenna">THEOLOGICAL AND RELIGIOUS STUDIES</span> </td>
															<td><span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span></td>
														</tr>
														<tr>
															<td><span class="right">3</span></td>
															<td><span class="antenna">ETHICS</span></td>
															<td><span class="glyphicon glyphicon-record"></span></td>
														</tr>
														<tr class="last">
															<td class="last"><span class="right antenna">48</span></td>
															<td class="last"><span class=""></span></td>
															<td class="last"><span class="right antenna">16</span</td>
														</tr>
														</table>
														</div>
													</div>
												</div>
													<p class="body explainer m-t-20">Visit our&nbsp;<a href="SiteManager?ctfn=publish&amp;fnno=30&amp;chid=30&amp;lang=en&amp;sid=104462">credit transfer page</a>&nbsp;for guidelines and more information.</p>
									</div>
								</div>
							</div>
						</div><!-- tab-pane - highlight-2 END -->
				</div>
			</div>
	</div>
</div>
