<div class="panel no-rule">
	<div class="panel-heading parent">
		<h4 class="subhead label display">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Transitions</a>
		</h4>
	</div>
	<div id="collapseFour" class="panel-collapse collapse">
		<div class="panel-body">
			<p class="body">A student-run group that meets weekly to aid first-year students who may not know how to get involved on campus, are unsure of where they belong, or simply might be missing the comforts of home.</p>
		</div>
	</div>
</div>
