<div class="panel no-rule">
	<div class="panel-heading parent">
		<h4 class="subhead label display">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">First-year programs</a>
		</h4>
	</div>
	<div id="collapseOne" class="panel-collapse collapse">
		<div class="panel-body">
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut lectus malesuada, dignissim nunc quis, ornare sapien. Phasellus at molestie sapien, eu ultrices purus. Sed iaculis leo nisl, vitae hendrerit sem ullamcorper id. Maecenas a ipsum dui. Integer nec neque rhoncus, hendrerit erat id, fermentum mi.</p>
			<ul>
				<li>Text - Our common summer reading for all first-year students.</li>
				<li>Essay Contest—Opportunity for first-years to reflect and write about the Text, and compete to win free textbooks for Spring semester, AND be the speaker at the March Lecture Series.</li>
				<li>Communities in Conversation—Speakers, workshops, films and discussions offered throughout the school year focused on the themes of the Text.</li>
				<li>Loyola Break Activities—Programming and events that are held on or around campus during holiday and university breaks.</li>
			</ul>
		</div>
	</div>
</div>
