<div class="panel no-rule">
	<div class="panel-heading parent">
		<h4 class="subhead label display">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Univ 102 - Loyola Seminars</a>
		</h4>
	</div>
	<div id="collapseThree" class="panel-collapse collapse">
		<div class="panel-body">
			<p class="body">Unique one-credit academic seminars are offered for first-years in the Spring semester.</p>
			<ul>
				<li>Continue striving for first-year success in this small, seminar-style class</li>
				<li>Get to know a faculty member from one of your areas of interest</li>
				<li>Gain more exposure to the Ignatian approach to learning: experience, critical reflection and action</li>
				<li>Explore a major field of study while studying a unique and intriguing topic</li>
				<li>Participate in a class that lets you ask questions about your academic transition to college</li>
				<li>Deepen your connection to Loyola University Chicago</li>
				<li>Stay engaged and excited about your education!</li>
			</ul>
			<p class="body m-t-20"><a href="http://www.luc.edu/sto/first-yearexperience/loyolaseminar/">More information</a> about seminars schedule for 2017-18</p>
		</div>
	</div>
</div>
