<div class="panel no-rule">
	<div class="panel-heading parent">
		<h4 class="subhead label display">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Loyola 360</a>
		</h4>
	</div>
	<div id="collapseTwo" class="panel-collapse collapse">
		<div class="panel-body">
			<p class="body">This First-Year Student Retreat is held at the Loyola University Retreat and Ecology Campus (LUREC) 360 Retreat Dates for 2016–17:</p>
			<h6 class="category">360 retreat dates for 2016-17</h6>
			<ul>
				<li>Month 00</li>
				<li>Month 00</li>
				<li>Month 00</li>
				<li>Month 00</li>
			</ul>
			<p class="body explainer m-t-10">Financial assistance is available. Contact <a href="mailto:lschwer@luc.edu">Lauren Schwer</a> for more information.</p>
		</div>
	</div>
</div>
