<div class="panel no-rule">
	<div class="panel-heading parent">
		<h4 class="subhead label display">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Sophomore and junior years of high school</a>
		</h4>
	</div>
	<div id="collapseOne" class="panel-collapse collapse">
		<div class="panel-body">
			<h5 class="label display">Shape your future in a supportive community</h5>
			<p class="body">At Loyola, you will explore your interests, pursue your passions and leave transformed. Whether you invest your time in research, community service or internships, you will be prepared to launch your career with confidence. Learn more about what undergraduate life is like.</p>
			<ul>
				<li><a href="">Find a major that suits your interests.</a></li>
				<li><a href="">Check out our Campus</a></li>
				<li><a href="">Explore all that living in Chicago offers</a></li>
				<li><a href="">Look into studying abroad</a></li>
				<li><a href="">Find a Club, group or organization that you can participate in</a></li>
				<li><a href="">Read the success stories of people just like you</a></li>
			</ul>
		</div>
	</div>
</div>
