<!-- panel - canvas-image-overlay -->
<div id="cost-tuition" class="container-fluid" style="background: #272727; padding: 50px 0;">
	<div class="container canvas-content">
		<div class="col-md-12">
      <h5 class="label display-large reverse">The bottom line</h5>
			<div class="col-sm-3 table-content">
					<h3 class="bold reverse">Cost</h3>
					<p class="body cost reverse">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.</p>
				</div>
			<div class="col-sm-5 table-content">
						<div class="bottom-line vertical-rule-right"></div>
						<div class="equation col-xs-12">
							<div class="col-xs-7"><h5 class="equation">Tuition</h5></div>
							<div class="col-xs-5 right"><span class="large">$40,700</span></div>
						</div>
						<div class="equation col-xs-12">
							<div class="col-xs-7"><h5 class="equation">Fees</h5></div>
							<div class="col-xs-5 right"><span class="large">$1,300</span></div>
						</div>
						<div class="equation col-xs-12">
							<div class="col-xs-7"><h5 class="equation">Room and Board</h5></div>
							<div class="col-xs-5 right"><span class="large">$14,110</span></div>
						</div>
							<div class="col-xs-12 horizontal-rule"></div>
						<div class="equation col-xs-12">
							<div class="col-xs-7"><h5 class="equation">Estimated Expense</h5></div>
							<div class="col-xs-5 right"><span class="large">$56,110</span></div>
						</div>
			</div>
			<div class="col-sm-4 table-content">
				<div class="bottom-line vertical-rule-right"></div>
				<h1 class="award">$27,250</h1>
				<h4 class="average">Average award</h4>
				<p class="body footnote">Lorem ipsum footnote here and here. More lorem and lorem ipsum notes.</p> <p class="body footnote">NOTE: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
		  </div>
    </div>
	</div>
</div>
