<!-- panel - quote overlay -->
<div id="cost-quote" class="container-fluid bg-overlay">
	<div class="container canvas-content" style="padding: 50px 0;">
		<div class="col-md-12">
		<blockquote>
					<p class="reverse">
						This is a blockquote breakout, ipsum dolor sit amet. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit ipsum dolor sit.
					</p>
					<cite class="reverse">— Blockquote cite, CEO<a class="cta" style="margin-left: 10px; color: #eeb111; background: none;" href="javascript:void(0);" title="Title herehere">Link here</a></cite>
				</blockquote>
		</div>
		</div>
	</div>
