<!-- panel - quote overlay -->
<!-- <div id="cost-quote" class="quote container-fluid bg-overlay"> -->
<div class="quote container-fluid">
	<div class="container canvas-content blockquote-spacing">
		<div class="col-md-8">
			<blockquote>
				<p>
					This is a blockquote breakout, ipsum dolor sit amet. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit ipsum dolor sit.
				</p>
			<cite>— Blockquote cite, CEO<a class="cta" style="margin-left: 10px; color: #eeb111; background: none;" href="javascript:void(0);" title="Title herehere">Link here</a></cite>
			</blockquote>
		</div>
	</div>
</div>
