<!-- panel - canvas-image-overlay -->
<div id="cost-tuition" class="container-fluid" style="background: #272727; padding: 50px 0;">
	<div class="container canvas-content">
		<div class="col-md-12">
      <h5 class="label display-large reverse">The bottom line</h5>
			<div class="col-md-3 table-content">
					<h3 class="bold reverse">Cost</h3>
					<p class="body cost reverse">It’s easy to get confused when it comes to financing an education, so let’s start at the beginning, and go from there.</p>
				</div>
			<div class="col-md-5 table-content">
						<div class="bottom-line vertical-rule-right"></div>
						<div class="equation col-xs-12">
							<div class="col-xs-7"><h5 class="equation">Tuition</h5></div>
							<div class="col-xs-5 right"><span class="large">$41,720</span></div>
						</div>
						<div class="equation col-xs-12">
							<div class="col-xs-7"><h5 class="equation">Fees</h5></div>
							<div class="col-xs-5 right"><span class="large">$1,300</span></div>
						</div>
						<div class="equation col-xs-12">
							<div class="col-xs-7"><h5 class="equation">Room and Board</h5></div>
							<div class="col-xs-5 right"><span class="large">$13,880</span></div>
						</div>
							<div class="col-xs-12 equation-rule"></div>
						<div class="equation col-xs-12">
							<div class="col-xs-7"><h5 class="equation">Estimated Expense</h5></div>
							<div class="col-xs-5 right"><span class="large">$56,900</span></div>
						</div>
			</div>
			<div class="col-xs-12 mobile-rule"></div>
			<div class="col-md-4 table-content">
				<div class="bottom-line vertical-rule-right"></div>
				<div class="col-sm-12">
					<h1 class="award">$27,250</h1>
					<h4 class="average">Average award</h4>
					<p class="body footnote">Lorem ipsum footnote here and here. More lorem and lorem ipsum notes.</p> <p class="body footnote">NOTE: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
		  </div>
    </div>
		<div class="col-xs-12 horizontal-rule"></div>
		<div class="col-sm-12 m-t-30">
			<h3 class="bold reverse">Scholarships</h3>
			<p class="body cost reverse">Whether you’re coming from high school, community college, or another country, Loyola can connect you to the right resources.</p>
						<div id="content-tabs">
							<ul id="tabs" class="reverse nav nav-pills" data-tabs="pills">
							<li class="active category"><a href="#highlight-1" data-toggle="tab"><span></span>Freshman</a></li>
							<li class="category"><a href="#highlight-2" data-toggle="tab"><span></span>Transfer</a></li>
							</ul>
							<div id="my-tab-content" class="tab-content">
								<div class="tab-pane fade active in" id="highlight-1">
									<div class="col-md-12">
										<table style="scholarships table-responsive" class="stacktable large-only">
											<tbody>
  										<tr>
    										<th>Scholarship</th>
    										<th>Description</th>
    										<th>Award</th>
		  								</tr>
		  								<tr>
		    								<td><span class="antenna">Freshman Merit Scholarships</span></td>
		    								<td><span class="light-gray">Presidential, Damen, Loyola, Trustee and Dean’s. Awarded to incoming freshman at time of admission based on a student’s academic performance.</span></td>
		    								<td>$17,000–$22,000</td>
		  								</tr>
		  								<tr>
												<td><span class="antenna">Catholic Heritage Award</span></td>
		    								<td><span class="light-gray">This award (awarded for four years of consecutive, full-time enrollment) is made to new freshmen graduating from a Catholic high school within the Archdiocese of Chicago or the Diocese of Joliet.</span></td>
		    								<td>$2,500</td>
		  								</tr>
											<tr>
												<td><span class="antenna">Jesuit Heritage Award</span></td>
		    								<td><span class="light-gray">This award (awarded for four years of consecutive, full-time enrollment) is made to new freshmen graduating from a Jesuit high school.</span></td>
		    								<td>$2,500</td>
		  								</tr>
											<tr>
												<td><span class="antenna">Senn High School Scholars</span></td>
												<td><span class="light-gray">Five awards of varying amounts via a selective process to admitted first year students from Senn High School. Undocumented students are invited to apply as well.</span></td>
												<td>Varies</td>
											</tr>
											<tr>
												<td><span class="antenna">School of Education Half-Tuition Scholarship</span></td>
												<td><span class="light-gray">Two half-tuition scholarships are offered to incoming freshman entering the School of Education. Applicants must have a composite score of 25 or higher on the ACT or equivalent SAT score and a 3.4 high school GPA or higher. This scholarship may not be combined with another academic award and will replace any previously awarded scholarship.</span> </td>
												<td>Half tuition</td>
											</tr>
											<tr>
												<td><span class="antenna">National Merit/National Achievement Finalists</span></td>
												<td><span class="light-gray">One full-tuition scholarship is available to students who have been named National Merit/National Achievement finalists by the National Merit Corporation. Qualified students should submit a copy of their award letter from the National Merit Corporation as their application for one of these scholarships by March 1. Any National Merit/National Achievement finalist who does not receive one of the full-tuition scholarships may receive a Loyola-sponsored $2,000 scholarship.</span> </td>
												<td>$2,000</td>
											</tr>
											<tr>
												<td><span class="antenna">Jesuit, Blessed Virgin Mary (BVM) and Sisters of Christian Charity High School Half Tuition Scholarships</span></td>
												<td><span class="light-gray">These scholarships are awarded to one student from each Jesuit, B.V.M., Sisters of Christian Charity high school in the United States, Canada and Puerto Rico. Candidates must be nominated by their high school principal or their designate (one nomination per school).</span> </td>
												<td>Half tuition</td>
											</tr>
											<tr>
												<td><span class="antenna">Ignatian Scholarship</span></td>
												<td><span class="light-gray">The Ignatian Scholarship is an invite-only full tuition scholarship awarded in the freshman year. Applicants must have a minimum ACT composite of 33 or higher or a minimum combined SAT R score of 1490, and a cumulative high school GPA of a 3.5 or higher on a 4.0 scale. Candidates for this scholarship must attend a mandatory on-campus interview with faculty and administrators.</span> </td>
												<td>Full tuition</td>
											</tr>
											<tr>
												<td><span class="antenna">Martin J. Svaglic Humanities Scholarship</span></td>
												<td><span class="light-gray">Two scholarships will be awarded to qualified new freshman or transfer students who have been admitted into one the following areas in the humanities: Classical Studies, Communication, English, Fine and Performing Arts, History, Journalism, Mondern Languages, Philosophy, Theology, or Theatre.</span> </td>
												<td>$2,500</td>
											</tr>
											<tr>
												<td><span class="antenna">Gannon Scholars</span></td>
												<td><span class="light-gray">Ten scholarships are awarded annually to students who demonstrate outstanding leadership, scholarship, and service and who will advance the mission of the Gannon Center for Women and Leadership. Applicants chosen as semi-finalists will be expected to participate in a Skype or on-campus interview in the spring.</span> </td>
												<td>$8,000</td>
											</tr>
											<tr>
												<td><span class="antenna">Elaine Bruggemeier Debate Scholarships</span></td>
												<td><span class="light-gray">These scholarships are awarded to students with previous debate or forensic experience who plan to participate in the inter-collegiate debate program at Loyola. Loyola sponsors a policy debate program that competes in NDT and CEDA. Scholarship amounts will vary.</span> </td>
												<td>Varies</td>
											</tr>
											<tr>
												<td><span class="antenna">Cristo Rey Scholars Program</span></td>
												<td><span class="light-gray">Students attending Cristo Rey Network schools around the country are invited to apply to join the next class of Cristo Rey Scholars. Starting the summer before entering Loyola, Cristo Rey Scholars engage in a dynamic program to enrich their academic, social, spiritual, community, and professional experiences in college.</span> </td>
												<td>????</td>
											</tr>
											<tr>
												<td><span class="antenna">Magis Scholarship</span></td>
												<td><span class="light-gray">Loyola offers two scholarships for admitted transfer and freshman with undocumented status. MAGIS scholarships cover tuition, on campus room and board, and mandatory student fees. These scholarships are highly selective and finalist will be required to attend an on-campus interview.</span> </td>
												<td>????</td>
											</tr>
											<tr>
												<td><span class="antenna">Rambler Award</span></td>
												<td><span class="light-gray">This award is for new incoming freshman and will be in recognition of the student's academic achievements and commitment to service and leadership. Students eligible for any of Loyola's merit scholarships are not eligible for the Rambler Award.</span> </td>
												<td>$7,500</td>
											</tr>
											<tr>
												<td><span class="antenna">Rachel Carson Scholarship</span></td>
												<td><span class="light-gray">Four scholarships awarded to students admitted to the Institute of Envrironmental Sustainability (IES), providing opportunities for students to learn about nature by studying in nature through summer coursework at Loyola’s Retreat and Ecology Campus (LUREC).</span> </td>
												<td>$2,500</td>
											</tr>
											<tr>
												<td><span class="antenna">Mooney Education Scholarship</span></td>
												<td><span class="light-gray">One scholarship awarded to an incoming student admitted into the School of Education and have a commitment to urban education.</span> </td>
												<td>$10,000</td>
											</tr>
											<tr>
												<td><span class="antenna">Plocieniak Scholarship</span></td>
												<td><span class="light-gray">Scholarship awarded to incoming student who is fluent in Polish. Students are required to sit for an exam that test your ability to read, write and translate the Polish language as part of this scholarship application process.</span> </td>
												<td>$1,000</td>
											</tr>
										</tbody>
										</table>
										<table class="stacktable stacktable small-only table m-l-0">
											<tbody>
												<tr class="">
				    								<th class="st-head-row" colspan="2">Freshman Merit Scholarships</th>
												</tr>
												<tr class="">
				    								<td><span class="light-gray">Presidential, Damen, Loyola, Trustee and Dean’s. Awarded to incoming freshman at time of admission based on a student’s academic performance.</span></td>
				    								<td>$17,000–$22,000</td>
												</tr>
												<tr class="">
						    						<th class="st-head-row" colspan="2">Catholic Heritage Award</th>
												</tr>
												<tr class="">
													<td><span class="light-gray">This award (awarded for four years of consecutive, full-time enrollment) is made to new freshmen graduating from a Catholic high school within the Archdiocese of Chicago or the Diocese of Joliet.</span></td>
			    								<td>$2,500</td>
												</tr>
												<tr class="">
														<th class="st-head-row" colspan="2">Jesuit Heritage Award</th>
												</tr>
												<tr class="">
													<td><span class="light-gray">This award (awarded for four years of consecutive, full-time enrollment) is made to new freshmen graduating from a Jesuit high school.</span></td>
													<td>$2,500</td>
												</tr>
												<tr class="">
														<th class="st-head-row" colspan="2">Senn High School Scholars</th>
												</tr>
												<tr class="">
													<td><span class="light-gray">Five awards of varying amounts via a selective process to admitted first year students from Senn High School. Undocumented students are invited to apply as well.</span></td>
													<td>Varies</td>
												</tr>
												<tr class="">
														<th class="st-head-row" colspan="2">School of Education Half-Tuition Scholarship</th>
												</tr>
												<tr class="">
													<td><span class="light-gray">Two half-tuition scholarships are offered to incoming freshman entering the School of Education. Applicants must have a composite score of 25 or higher on the ACT or equivalent SAT score and a 3.4 high school GPA or higher. This scholarship may not be combined with another academic award and will replace any previously awarded scholarship.</span> </td>
													<td>Half tuition</td>
												</tr>
												<tr class="">
														<th class="st-head-row" colspan="2">National Merit/National Achievement Finalists</th>
												</tr>
												<tr class="">
													<td><span class="light-gray">One full-tuition scholarship is available to students who have been named National Merit/National Achievement finalists by the National Merit Corporation. Qualified students should submit a copy of their award letter from the National Merit Corporation as their application for one of these scholarships by March 1. Any National Merit/National Achievement finalist who does not receive one of the full-tuition scholarships may receive a Loyola-sponsored $2,000 scholarship.</span> </td>
													<td>$2,000</td>
												</tr>
												<tr class="">
														<th class="st-head-row" colspan="2">Jesuit, Blessed Virgin Mary (BVM) and Sisters of Christian Charity High School Half Tuition Scholarships</th>
												</tr>
												<tr class="">
													<td><span class="light-gray">These scholarships are awarded to one student from each Jesuit, B.V.M., Sisters of Christian Charity high school in the United States, Canada and Puerto Rico. Candidates must be nominated by their high school principal or their designate (one nomination per school).</span> </td>
													<td>Half tuition</td>
												</tr>
												<tr class="">
														<th class="st-head-row" colspan="2">Ignatian Scholarship</th>
												</tr>
												<tr class="">
													<td><span class="light-gray">The Ignatian Scholarship is an invite-only full tuition scholarship awarded in the freshman year. Applicants must have a minimum ACT composite of 33 or higher or a minimum combined SAT R score of 1490, and a cumulative high school GPA of a 3.5 or higher on a 4.0 scale. Candidates for this scholarship must attend a mandatory on-campus interview with faculty and administrators.</span> </td>
													<td>Full tuition</td>
												</tr>
												<tr class="">
														<th class="st-head-row" colspan="2">Martin J. Svaglic Humanities Scholarship</th>
												</tr>
												<tr class="">
													<td><span class="light-gray">Two scholarships will be awarded to qualified new freshman or transfer students who have been admitted into one the following areas in the humanities: Classical Studies, Communication, English, Fine and Performing Arts, History, Journalism, Mondern Languages, Philosophy, Theology, or Theatre.</span> </td>
													<td>$2,500</td>
												</tr>
												<tr class="">
														<th class="st-head-row" colspan="2">Gannon Scholars</th>
												</tr>
												<tr class="">
													<td><span class="light-gray">Ten scholarships are awarded annually to students who demonstrate outstanding leadership, scholarship, and service and who will advance the mission of the Gannon Center for Women and Leadership. Applicants chosen as semi-finalists will be expected to participate in a Skype or on-campus interview in the spring.</span> </td>
													<td>$8,000</td>
												</tr>
												<tr class="">
														<th class="st-head-row" colspan="2">Elaine Bruggemeier Debate Scholarships</th>
												</tr>
												<tr class="">
													<td><span class="light-gray">These scholarships are awarded to students with previous debate or forensic experience who plan to participate in the inter-collegiate debate program at Loyola. Loyola sponsors a policy debate program that competes in NDT and CEDA. Scholarship amounts will vary.</span> </td>
													<td>Varies</td>
												</tr>
												<tr class="">
														<th class="st-head-row" colspan="2">Cristo Rey Scholars Program</th>
												</tr>
												<tr class="">
													<td><span class="light-gray">Students attending Cristo Rey Network schools around the country are invited to apply to join the next class of Cristo Rey Scholars. Starting the summer before entering Loyola, Cristo Rey Scholars engage in a dynamic program to enrich their academic, social, spiritual, community, and professional experiences in college.</span> </td>
													<td>????</td>
												</tr>
												<tr class="">
														<th class="st-head-row" colspan="2">Magis Scholarship</th>
												</tr>
												<tr class="">
													<td><span class="light-gray">Loyola offers two scholarships for admitted transfer and freshman with undocumented status. MAGIS scholarships cover tuition, on campus room and board, and mandatory student fees. These scholarships are highly selective and finalist will be required to attend an on-campus interview.</span> </td>
													<td>????</td>
												</tr>
												<tr class="">
														<th class="st-head-row" colspan="2">Rambler Award</th>
												</tr>
												<tr class="">
													<td><span class="light-gray">This award is for new incoming freshman and will be in recognition of the student's academic achievements and commitment to service and leadership. Students eligible for any of Loyola's merit scholarships are not eligible for the Rambler Award.</span> </td>
													<td>$7,500</td>
												</tr>
												<tr class="">
														<th class="st-head-row" colspan="2">Rachel Carson Scholarship</th>
												</tr>
												<tr class="">
													<td><span class="light-gray">Four scholarships awarded to students admitted to the Institute of Envrironmental Sustainability (IES), providing opportunities for students to learn about nature by studying in nature through summer coursework at Loyola’s Retreat and Ecology Campus (LUREC).</span> </td>
													<td>$2,500</td>
												</tr>
												<tr class="">
														<th class="st-head-row" colspan="2">Mooney Education Scholarship</th>
												</tr>
												<tr class="">
													<td><span class="light-gray">One scholarship awarded to an incoming student admitted into the School of Education and have a commitment to urban education.</span> </td>
													<td>$10,000</td>
												</tr>
												<tr class="">
														<th class="st-head-row" colspan="2">Plocieniak Scholarship</th>
												</tr>
												<tr class="">
													<td><span class="light-gray">Scholarship awarded to incoming student who is fluent in Polish. Students are required to sit for an exam that test your ability to read, write and translate the Polish language as part of this scholarship application process.</span> </td>
													<td>$1,000</td>
												</tr>
				  						</tbody>
										</table>
									</div>
						</div><!-- tab-pane - highlight-1 END -->
						<div class="tab-pane fade" id="highlight-2">
							<div class="col-md-12">
								<table style="scholarships" class="stacktable large-only">
									<tr>
										<th>Scholarship</th>
										<th>Description</th>
										<th>Award</th>
									</tr>
								<tr>
									<td><span class="antenna">Martin J. Svaglic Humanities Scholarship </span></td>
									<td><span class="light-gray">Two scholarships will be awarded to qualified new freshman or transfer students who have been admitted into one the following areas in the humanities: Classical Studies, Communication, English, Fine and Performing Arts, History, Journalism, Modern Languages, Philosophy, Theology, or Theatre.</span></td>
									<td>$2,500</td>
								</tr>
								<tr>
									<td><span class="antenna">Magis Scholarship</span></td>
									<td><span class="light-gray">Loyola offers two scholarships for admitted transfer and freshman with undocumented status. MAGIS scholarships cover tuition, on campus room and board, and mandatory student fees. These scholarships are highly selective and finalist will be required to attend an on-campus interview.</span></td>
									<td>????</td>
								</tr>
								<tr>
									<td><span class="antenna">Transfer Merit Scholarships</span></td>
									<td><span class="light-gray">Presidential, Trustee , Academic, Deans and Rambler. Awarded to incoming transfers at time of admission based on a student’s academic performance.</span></td>
									<td>$9,000–$17,000</td>
								</tr>
								<tr>
									<td><span class="antenna">Phi Theta Kappa Scholarship </span></td>
									<td><span class="light-gray">Awarded to students with PTK membership and a minimum 2.0 GPA.</span></td>
									<td>$1,500</td>
								</tr>
								<tr>
									<td><span class="antenna">City Colleges of Chicago Star Scholar Award</span></td>
									<td><span class="light-gray">Awarded to students enrolled at the City Colleges of Chicago who are Star Scholars and complete their AA or AS prior to enrolling at Loyola.</span> </td>
									<td>$5,000</td>
								</tr>
							</table>
							<table class="stacktable stacktable small-only table">
								<tbody>
									<tr class="">
											<th class="st-head-row" colspan="2">Martin J. Svaglic Humanities Scholarship </th>
									</tr>
									<tr class="">
										<td><span class="light-gray">Presidential, Trustee , Academic, Deans and Rambler. Awarded to incoming transfers at time of admission based on a student’s academic performance.</span></td>
										<td>$9,000–$17,000</td>
									</tr>
									<tr class="">
											<th class="st-head-row" colspan="2">Magis Scholarship</th>
									</tr>
									<tr class="">
										<td><span class="light-gray">Loyola offers two scholarships for admitted transfer and freshman with undocumented status. MAGIS scholarships cover tuition, on campus room and board, and mandatory student fees. These scholarships are highly selective and finalist will be required to attend an on-campus interview.</span></td>
										<td>????</td>
									</tr>
									<tr class="">
											<th class="st-head-row" colspan="2">Transfer Merit Scholarships</th>
									</tr>
									<tr class="">
										<td><span class="light-gray">Presidential, Trustee , Academic, Deans and Rambler. Awarded to incoming transfers at time of admission based on a student’s academic performance.</span></td>
										<td>$9,000–$17,000</td>
									</tr>
									<tr class="">
											<th class="st-head-row" colspan="2">Phi Theta Kappa Scholarship</th>
									</tr>
									<tr class="">
										<td><span class="light-gray">Awarded to students with PTK membership and a minimum 2.0 GPA.</span></td>
										<td>$1,500</td>
									</tr>
									<tr class="">
											<th class="st-head-row" colspan="2">City Colleges of Chicago Star Scholar Award</th>
											<tr class="">
												<td><span class="light-gray">Awarded to students enrolled at the City Colleges of Chicago who are Star Scholars and complete their AA or AS prior to enrolling at Loyola.</span> </td>
												<td>$5,000</td>
											</tr>
									</tr>
								</tbody>
							</table>
						</div>
					</div><!-- tab-pane - highlight-2 END -->
				</div>
			</div>
		</div>
	</div>
</div>
</div>
