<!-- panel - canvas-3-col-imgs -->
<div id="cost-resources" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label display-large">Resources to help you out</h5>
		</div>
		<div class="col-sm-3 table-content">
			<span class="inset"><img src="images/icons/calculator.png"/></span> <h5 class="label">Paying for college </h5>
			<p class="body">A good place to start is the <a href="#"> Net Price Calculator</a>. The tool gives an estimate of what you can expect to pay while taking classes at Loyola. </p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-sm-3 table-content">
			<div class="vertical-rule-right"></div>
			<h5 class="label">Student Aid </h5>
			<p class="body">One of the first steps toward being considered for financial aid is to complete the Free Application for Federal Student Aid or <a href="https://fafsa.ed.gov/fafsa.ed.gov">FAFSA.</a></p>
			<p class="body"><a class="cta">MAP Grants</a> </br>
			<a href"https://studentaid.ed.gov/sa/" class="cta"> federal student aid</a></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-sm-3 table-content">
			<div class="vertical-rule-right"></div>
			<h5 class="label">Loans</h5>
			<p class="body">Loans can come from a number of sources and can have a wide range of interest rates and fees. Loans must be paid back.</p>
			<p class="body"><a href="https://studentloans.gov/myDirectLoan/index.action" class="cta"> federal student loans</a> </br>
			<a href="https://www.nslds.ed.gov/nslds/nslds_SA/"class="cta"> National Student Loan Data System</a></p>
		</div>
		<div class="col-sm-3 table-content">
			<div class="vertical-rule-right"></div>
			<h5 class="label">Work Study</h5>
			<p class="body">Work-study is an excellent option for eligible students to earn up to $2,000/year through campus and community-based employment.</p>
			<p class="body"><a class="cta">Federal Work Study Program</a>
			<a class="cta">summer employment</a></p>
		</div>
	</div>
</div>
