<!-- panel - canvas-3-col-imgs -->
<div id="cost-resources" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label display-large">Resources to help you out</h5>
		</div>
		<div class="col-md-4 table-content">
			<p class="body">Use our Net Price Calculator<a class="cta"> Here</a></p>
			<p class="body">Submit your FAFSA (Federal Application for Student Aid)<a href="https://fafsa.ed.gov/" class="cta"> Here</a></p>
			<p class="body">Review more about federal student aid<a href"https://studentaid.ed.gov/sa/" class="cta"> Here</a></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<p class="body">Review more about federal student loans<a href="https://studentloans.gov/myDirectLoan/index.action" class="cta"> Here</a></p>
			<p class="body">Use the National Student Loan Data System (NSLDS)<a href="https://www.nslds.ed.gov/nslds/nslds_SA/"class="cta"> Here</a></p>
			<p class="body">Check out Scholarships<a class="cta"> Here</a></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<p class="body">Investigate MAP Grants<a class="cta"> Here</a></p>
			<p class="body">Look into the Federal Work Study Program<a class="cta"> Here</a></p>
			<p class="body">Find out about summer employment<a class="cta"> Here</a></p>
		</div>
	</div>
</div>
