<!-- panel - quote overlay -->
<!-- <div id="cost-quote" class="quote container-fluid bg-overlay"> -->
<div class="quote container-fluid canvas-base">
	<div class="row">
			<div class="container canvas-content blockquote-spacing">
				<div class="col-md-2 bigquote-left">
					<img src="images/site/blockquote-L.png">
				</div>
				<div class="col-md-8">
					<blockquote>
						<p>
							<span class="small-quote">&ldquo;</span>My scholarship allowed me to stay at Loyola&mdash;a place I really value. It feels like home here.<span class="small-quote">&rdquo;</span>
						</p>
					<cite><a href="https://www.youtube.com/watch?v=EdBmgBibNX0&feature=youtu.be" class="cta">Watch video</a></cite>
				</blockquote>
				</div>
				<!-- <div class="blockquote-right"> -->
				<div class="col-md-2 bigquote-right">
					<img src="images/site/blockquote-R.png">
				</div>
			</div>
		</div>
</div>
