<!-- panel - canvas-3-col-imgs -->
<div id="cost-resources" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label m-b-20">Resources to help you out</h5>
		</div>
		<div class="col-md-4 table-content">
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="cta"> Read more</a></p>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="cta"> Read more</a></p>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="cta"> Read more</a></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="cta"> Read more</a></p>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="cta"> Read more</a></p>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="cta"> Read more</a></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="cta"> Read more</a></p>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="cta"> Read more</a></p>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="cta"> Read more</a></p>
		</div>
	</div>
</div>
