<!-- panel - canvas-intro -->
<div id="cost-intro" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h1 class="display">Benefits to last a lifetime</h1>
			<p class="body intro">A Loyola degree is an investment in your future. Loyola is committed to helping students through the financial aid process. Our financial aid team will work with you to customize an aid package best suited to you and your family. </p>
		</div>
		<div class="col-md-12">
			<div class="number col-sm-4 table-content">
				<h1 class="display number"> <span class="glyphs"> no.</span> 47</h1>
				<p class="body">Best value in the nation</p>
			</div>
			<div class="number col-sm-4 table-content">
				<div class="vertical-rule-right"></div>
				<h1 class="display number">82<span class="glyphs">%</span></h1>
				<p class="body">Of undergraduates agree or strongly agree their Loyola education was a good investment</p>
				<div class="vertical-rule-left"></div>
			</div>
			<div class="number col-sm-4 table-content">
				<div class="vertical-rule-right"></div>
				<h1 class="display number first-number">97<span class="glyphs">%</span></h1>
				<p class="body">Of freshman students in 2016 received grants or scholarships</p>
				<div class="vertical-rule-left"></div>
			</div>
		</div>
	</div>
</div>
