<!-- panel - canvas-3-col-imgs -->
<div id="cost-voices" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label display-large">Why does your hard work matter?</h5>
		</div>
		<div class="col-md-4 table-content">
			<img src="images/cost/cost-addy-menayang.jpg"/>
			<h5 class="label">Addy Menayang</h5>
			<p class="body explainer">Journalism</p>
			<p class="body">"It was a big burden that was taken off my shoulders and my mother’s shoulders, and I was very thankful."</p>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="images/cost/cost-paulette-saldana.jpg"/>
			<h5 class="label">Paulette Saldana</h5>
			<p class="body explainer">Biology</p>
			<p class="body">"It felt great knowing that someone, who doesn’t know me, believes in my ability and my capacity to succeed."</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="images/cost/cost-rachel-davies.jpg"/>
			<h5 class="label">Rachel Davies</h5>
			<p class="body explainer">Education</p>
			<p class="body">"I’ve tried really hard to make this work, and in turn I feel like Loyola has worked really hard for me."</p>
			<div class="vertical-rule-left"></div>
		</div>
	</div>
</div>
