<!-- panel - canvas-intro -->
<div id="cost-intro" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h1 class="display">Benefits to last a lifetime</h1>
			<p class="body intro">A Loyola degree is an investment in your future. And 91 percent of our first-year students receive financial assistance. (Do we want to include Top 50 Best Value stat in the intro?) Our financial aid team will work with you to customize an aid package best suited to you and your family.</p>
		</div>
		<div class="col-md-12">
			<div class="number col-sm-4 table-content">
				<h1 class="display number first-number">91%</h1>
				<p class="body">Of first-year students receive financial assistance</p>
				<div class="vertical-rule-left"></div>
			</div>
			<div class="number col-sm-4 table-content">
				<div class="vertical-rule-right"></div>
				<h1 class="display number">82%</h1>
				<p class="body">Of undergraduates agree or strongly agree their Loyola education was a good investment</p>
				<div class="vertical-rule-left"></div>
			</div>
			<div class="number col-sm-4 table-content">
				<div class="vertical-rule-right"></div>
				<h1 class="display number">80%</h1>
				<p class="body">Of undergraduates say Loyola prepared them well or very well for graduate school</p>
			</div>
		</div>
	</div>
</div>
