<!-- panel - canvas-3-col-imgs -->
<div id="cost-voices" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label m-b-20">Canvas panel headline here</h5>
		</div>
		<div class="col-md-4 table-content">
			<img src="http://placehold.it/1000x560"/>
			<h4>Addy Menayang, '00</h4>
			<p class="body explainer">Journalism</p>
			<p class="body">"It was a big burden that was taken off my shoulders and my mother’s shoulders, and I was very thankful that there were people that wanted to support my plans."<a class="cta"> Read more</a></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="http://placehold.it/1000x560"/>
			<h4>Rachel Davies, '00</h4>
			<p class="body explainer">Education</p>
			<p class="body">"I’ve tried really hard to make this work, and in turn I feel like Loyola has worked really hard for me."<a class="cta"> Read more</a></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-4 table-content">
			<div class="vertical-rule-right"></div>
			<img src="http://placehold.it/1000x560"/>
			<h4>Devon Langston, '00</h4>
			<p class="body explainer">English Language and Literature</p>
			<p class="body">"I think that when [my grandparents] see that I’ve received scholarships, they’re very happy and they’re very proud that other people are recognizing the gift that they see in me."<a class="cta"> Read more</a></p>
		</div>
	</div>
</div>
