<!-- panel - canvas-intro -->
<div id="cost-intro" class="container-fluid canvas-base" style="background: #cccccc">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h1 class="display">Benefits to last a lifetime</h1>
			<p class="body intro" style="font-size: 1.5em;">A Loyola degree is an investment in your future. And 91 percent of our first-year students receive financial assistance. Our financial aid team will work with you to customize an aid package best suited to you and your family.<a class="cta"> Read more</a></p>
		</div>
	</div>
</div>
