<!-- panel - canvas-3-col-imgs -->
<div id="resources" class="container-fluid canvas-base">
	<div class="container canvas-content">
	<div class="col-md-12 table-content space">
             <h5 class="label">You might also be interested in...</h5>
		<div class="number first-number col-md-2 table-content">
			<div class="icon"><img src="images/icons/clock.png"/></div>
			<h5 class="label-small bold"><a href="">Life at Loyola</a></h5>
			<p class="body small"> </p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-md-2 table-content">
			<div class="vertical-rule-right"></div>
			<div class="icon"> <img src="images/icons/leaf.png"/></div>
			<h5 class="label-small bold">Sustainability</h5>
			<p class="body small"></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-md-2 table-content">
		<div class="vertical-rule-right"></div>
			<a href=""><div class="icon"><img src="images/icons/hancock.png"/></a></div>
			<h5 class="label-small bold">Chicago</h5>
			<p class="body small"></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-md-2 table-content">
		<div class="vertical-rule-right"></div>
			<div class="icon"><img src="images/icons/globe.png"/></div>
			<h5 class="label-small bold">Study Abroad</h5>
			<p class="body small"></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-md-2 table-content">
		<div class="vertical-rule-right"></div>
			<div class="icon"><img src="images/icons/grad-cap.png"/></div>
			<h5 class="label-small bold">Alumni Outcomes</h5>
			<p class="body small"></p>
			<div class="vertical-rule-left"></div>
		</div>
	   </div>
      </div>
</div>
