<!-- SOCIAL JUSTICE PAGE -->
<article id="explore-social-justice" class="title-page chapter fullscreen" data-height="1000">
	<header id="explore-social-justice-wrapper" class="explore-cta-wrapper" style="height: 450px !important;">
		<div class="explore-cta">
			<h1>Social justice</h1>
			<p class="body intro display black reverse">Lorem ipsum unum hereum lorem ipsum greek type here. Lorem ipsum unum hereum lorem ipsum greek type here. Lorem ipsum unum hereum lorem ipsum greek type here. <a class="cta" href="">Learn more</a></p>
		</div>
	</header>
</article>
