<!-- SOCIAL JUSTICE PAGE -->
<article id="explore-academics-chicago" class="title-page chapter fullscreen" data-height="1000">
	<header id="explore-academics-chicago-wrapper" class="explore-cta-wrapper" style="height: 450px !important;">
		<div class="explore-cta">
			<h5 class="label reverse">Chicago headline here</h5>
			<h1 class="number display reverse">000 employers</h1>
			<p class="body intro display black reverse">Think of it as a really big classroom. Chicago is home to Fortune 500 companies with global reach and start-ups with high tech futures. Here, the learning adventure never stops. <a class="cta" href="">Learn more</a></p>
		</div>
	</header>
</article>
