<!-- LIFE - SERVICE - TOUR PAGE -->
<article id="explore-life-grid" class="title-page chapter fullscreen" data-height="800">
	<div class="grid">
		<div class="col-xs-12">
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-brush.jpg"></div>
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-lurec.jpg"></div>
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-kickball.jpg"></div>
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-wolf-sign.jpg"></div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-fans.jpg"></div>
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-flag.jpg"></div>
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-high-five.jpg"></div>
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-hammer.jpg"></div>
		</div>
		<div class="col-xs-12">
			<div class="grid-title-box">
				<div class="grid-title-box-text">
					<div class="col-md-12">
						<h1 class="display-large reverse">Take a tour</h1>
					</div>
					<div class="col-md-12">
						<div class="col-md-6">
							<a href="###"><button type="submit" class="btn-overlay cta tour-button-left" href="###">Take a virtual tour</button></a>
						</div>
						<div class="col-xs-6">
							<a href="###"><button type="submit" class="btn-overlay cta tour-button-right" href="###">Register for a campus tour</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-parade.jpg"></div>
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-train.jpg"></div>
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-theater.jpg"></div>
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-el-stop.jpg"></div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-kayak.jpg"></div>
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-mural.jpg"></div>
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-dance.jpg"></div>
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-nurse.jpg"></div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-stoop.jpg"></div>
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-festival.jpg"></div>
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-weeds.jpg"></div>
			<div class="col-xs-3"><img src="images/explore-life-service/1000-560-paint.jpg"></div>
		</div>
	</div>
</article>
