<article id="explore-apply-visit-info" class="title-page chapter fullscreen" data-height="1000">
	<header id="explore-apply-visit-info-wrapper" class="explore-cta-wrapper" style="height: 450px !important;">
		<div class="explore-cta">
			<h1>CTA headline</h1>
			<div class="row m-t-20">
				<div class="col-md-4"><button><h5 class="label">Apply now</h5></button></div>
				<div class="col-md-4"><button><h5 class="label">Come visit</h5></button></div>
				<div class="col-md-4"><button><h5 class="label">Get info</h5></button></div>
			</div>
			<div class="row m-t-30">
				<h5 class="label reverse">Tagline here for Loyola University Chicago</h5>
			</div>
		</div>
	</header>
</article>
