<!-- SOCIAL JUSTICE PAGE -->
<article id="explore-academics-chicago" class="title-page chapter fullscreen" data-height="800">
	<header id="explore-academics-chicago-wrapper" class="explore-cta-wrapper" style="height: 450px !important;">
		<div class="explore-cta">
			<!-- <h4 class="reverse text-center uppercase">Welcome to Chicago otherwise known as campus</h4> -->
			<h1 class="display-large reverse">525+ employers</h1>
			<p class="body intro display reverse">Welcome to Chicago, otherwise known as our extended campus, where hundreds of organizations have given our students internships. Home to Fortune 500 companies with global reach, start-ups with big ambitions, and non-profits making a difference—here, the adventure never stops. <a class="cta" href="">Learn more</a></p>
		</div>
	</header>
</article>
