<article id="explore-study-abroad" data-google="XS-650">
	<div class="interior">
		<div class="column">
			<header>
				<h1>
					Rome
				</h1>
			</header>
			<div class="text">
				<h1 class="display location reverse">Rome</h1>
				<h1 class="display location reverse">Vietnam</h1>
				<p class="body bold uppercase reverse">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus.
				</p>
			</div>
		</div>
		<figure class="panoramic" style="min-height: 1100px">
			<img src="images/explore/explore-study-abroad-gallery-01.jpg" alt="page-00-image-01"/>
			<img src="images/explore/explore-study-abroad-gallery-02.jpg" alt="page-00-image-02"/>
			<img src="images/explore/explore-study-abroad-gallery-03.jpg" alt="page-00-image-03"/>
			<img src="images/explore/explore-study-abroad-gallery-04.jpg" alt="page-00-image-04"/>
			<img src="images/explore/explore-study-abroad-gallery-05.jpg" alt="page-00-image-05"/>
<!--
			<img src="images/explore/explore-study-abroad-gallery-06.jpg" alt="page-00-image-06"/>
			<img src="images/explore/explore-study-abroad-gallery-07.jpg" alt="page-00-image-07"/>
			<img src="images/explore/explore-study-abroad-gallery-08.jpg" alt="page-00-image-08"/>
			<img src="images/explore/explore-study-abroad-gallery-09.jpg" alt="page-00-image-09"/>
-->
		</figure>
	</div>
</article>
