<article id="explore-residential-life" class="title-page chapter fullscreen" data-height="800">
	<header id="explore-residential-life-wrapper" class="explore-cta-wrapper" style="height: 450px !important;">
		<div class="explore-cta">
			<h1>On the move</h1>
			<p class="body intro display reverse">There’s always someplace to be: class, the lab, flag football, an internship, dinner with friends. Having someplace to be is the start of building a community and a home, and there is definitely no shortage of opportunities for that at Loyola. <a class="cta" href="">Learn more</a></p>
		</div>
	</header>
</article>
