<!-- EXPLORE COVER -->
<div id="explore-simple visible-xs">
	<div class="col-xs-6">
		<img src="http://placehold.it/1000x560">
		<h1 class="display-large reverse">Possibilities come as often as trains</h1>
		<h5 class="label reverse">Meet Chicago, our extended campus</h5>
	</div>
	<div class="col-xs-6">
		<img src="http://placehold.it/1000x560">
		<h1 class="display-large reverse">Possibilities come as often as trains</h1>
		<h5 class="label reverse">Meet Chicago, our extended campus</h5>
	</div>
	<div class="col-xs-6">
		<img src="http://placehold.it/1000x560">
		<h1 class="display-large reverse">Possibilities come as often as trains</h1>
		<h5 class="label reverse">Meet Chicago, our extended campus</h5>
	</div>
	<div class="col-xs-6">
		<img src="http://placehold.it/1000x560">
		<h1 class="display-large reverse">Possibilities come as often as trains</h1>
		<h5 class="label reverse">Meet Chicago, our extended campus</h5>
	</div>
	<div class="col-xs-6">
		<img src="http://placehold.it/1000x560">
		<h1 class="display-large reverse">Possibilities come as often as trains</h1>
		<h5 class="label reverse">Meet Chicago, our extended campus</h5>
	</div>
	<div class="col-xs-6">
		<img src="http://placehold.it/1000x560">
		<h1 class="display-large reverse">Possibilities come as often as trains</h1>
		<h5 class="label reverse">Meet Chicago, our extended campus</h5>
	</div>
</div>
<!-- CHICAGO PAGE -->
