<!-- FULL IMAGE PAGE -->
<article id="explore-why-loyola" class="title-page chapter fullscreen" data-height="1000">
	<header class="explore-cta-wrapper" style="height: 450px !important;">
		<div id="explore-why-loyola-wrapper" class="explore-cta">
			<h1>Why Loyola</h1>
			<p class="body intro display black reverse">A Loyola education means you'll be ready to lead with a purpose. Your college experience will provide life lessons in the classroom and beyond. You'll learn to think globally and act locally. <a class="cta" href="">Learn more</a></p>
		</div>
	</header>
</article>
