<!-- FULL IMAGE PAGE -->
<article id="explore-service-grid" class="title-page chapter fullscreen" data-height="1000">
		<div class="grid">
			<div class="col-xs-12">
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-brush-2.jpg"></div>
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-candle.jpg"></div>
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-garden-2.jpg"></div>
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-hammer.jpg"></div>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-garden.jpg"></div>
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-high-five.jpg"></div>
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-magis.jpg"></div>
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-mulch-1.jpg"></div>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-mural-1.jpg"></div>
				<div class="col-xs-3 p-l-20 p-r-20"><h5 class="label">Social Justice at Loyola</h5></div>
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-orange.jpg"></div>
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-nurse.jpg"></div>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-paint.jpg"></div>
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-mulch-2.jpg"></div>
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-poet.jpg"></div>
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-rake.jpg"></div>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-labre.jpg"></div>
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-stairs.jpg"></div>
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-wafer.jpg"></div>
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-sandwich-3.jpg"></div>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-sandwich-2.jpg"></div>
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-wafer.jpg"></div>
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-mural-2.jpg"></div>
				<div class="col-xs-3"><img src="images/explore/social-justice-grid/social-justice-grid-weeds.jpg"></div>
			</div>
		</div>
</article>
