<article id="explore-apply-visit-info" class="title-page chapter fullscreen" data-height="800">
	<header id="explore-apply-visit-info-wrapper" class="explore-cta-wrapper" style="height: 450px !important;">
		<div class="explore-cta">
			<div class="row m-t-30">
				<div class="col-md-8 col-md-offset-2"><a href=""><button><h2>Apply Now</h2></button></a></div>
			</div>
			<div class="row m-t-30">
				<div class="col-md-8 col-md-offset-2"><a href=""><button><h2>Come visit</h2></button></a></div>
			</div>
			<div class="row m-t-30">
				<div class="col-md-8 col-md-offset-2"><a href=""><button><h2>Get info</h2></button></a></div>
			</div>
		</div>
	</header>
</article>
