<!-- CHICAGO PAGE -->
<article id="explore-academics-chicago" class="title-page chapter fullscreen" data-height="800">
	<header id="explore-academics-chicago-wrapper" class="explore-cta-wrapper" style="height: 450px !important;">
		<div class="explore-cta">
			<h1 class="display-large reverse">Not your typical college town</h1>
			<h5 class="label reverse">Fortune 500 companies, world-class museums, endless possibilities. Think of Chicago as a really big classroom.</h5>
		</div>
	</header>
</article>
