<!-- SOCIAL JUSTICE PAGE -->
<article id="explore-social-justice" class="title-page chapter fullscreen" data-height="800">
	<header id="explore-social-justice-wrapper" class="explore-cta-wrapper" style="height: 450px !important;">
		<div class="explore-cta">
			<h1>College with a conscience</h1>
			<p class="body intro display reverse">Social justice isn’t just for rock stars. If you’re the person we think you are – it’s for you. We know you want to make a difference in the world. Ready to get started? <a class="cta" href="">Learn more</a></p>
		</div>
	</header>
</article>
