<article id="slide-1" class="homeSlide" style="height: 1000px;">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-anchor-target="#slide-1"
    >
        <div class="hsContainer">
            <div class="hsContent">
                <h2>Article One <br>yes, article 1</h2>
            </div>
        </div>
    </div>
</article>
<article id="slide-2" class="homeSlide" style="height: 1000px;">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-anchor-target="#slide-2"
    >
        <div class="hsContainer">
            <div class="hsContent">
                <h2>Article Three <br>yes, article 3</h2>
            </div>
        </div>
    </div>
</article>
<article id="slide-3" style="height: 980px;">
    <div class="bcg scrollContainer" style="height: 980px;">
        <div class="spacer s2"></div>
        <div class="spacer s0" id="trigger1"></div>
        <div class="animated">
            <figure class="panoramic" style="margin: 0;">
                <img src="images/explore/explore-study-abroad-gallery-01.jpg" alt="page-00-image-01">
                <img src="images/explore/explore-study-abroad-gallery-02.jpg" alt="page-00-image-02">
                <img src="images/explore/explore-study-abroad-gallery-03.jpg" alt="page-00-image-03">
                <img src="images/explore/explore-study-abroad-gallery-04.jpg" alt="page-00-image-04">
                <img src="images/explore/explore-study-abroad-gallery-05.jpg" alt="page-00-image-05">
            </figure>
        </div>
        <div class="spacer s3"></div>
        <style>
            .scrollContainer { overflow-y: scroll; }
            .animated figure img { width: 50%; height: auto; }
        </style>
    </div>
</article>

