<!-- SOCIAL JUSTICE PAGE -->
<article id="explore-social-justice" class="title-page chapter fullscreen" data-height="1000">
	<header id="explore-social-justice-wrapper" class="explore-cta-wrapper" style="height: 450px !important;">
		<div class="explore-cta">
			<h1>Social justice</h1>
			<p class="body intro display black reverse">Prepare to be transformed in a community that values knowledge in the service of humanity. At Loyola, you'll learn to promote social justice and help change the world in everyday ways. <a class="cta" href="">Learn more</a></p>
		</div>
	</header>
</article>
