<!-- FULL IMAGE PAGE -->
<article id="explore-life-grid" class="title-page chapter fullscreen" data-height="1000">
	<div class="grid">
		<div class="col-xs-12">
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-2.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-3.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-4.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-5.jpg"></div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-1.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-6.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-7.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-8.jpg"></div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-9.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-10.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-11.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-12.jpg"></div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-13.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-14.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-15.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-16.jpg"></div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-17.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-18.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-19.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-20.jpg"></div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-9.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-10.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-11.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-12.jpg"></div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-2.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-3.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-4.jpg"></div>
			<div class="col-xs-3"><img src="images/res-life/photo-grid/student-life-grid-5.jpg"></div>
		</div>
	</div>
</article>
