<!-- STUDY ABROAD PAGE -->
<article id="explore-study-abroad" data-google="XS-650">
	<div class="interior">
		<div class="column">
			<header></header>
			<div class="text">
				<div id="explore-study-abroad-wrapper" class="explore-cta">
					<h1 class="display-small">Hear that? It's the world calling.</h1>
				</div>
			</div>
		</div>
		<figure class="panoramic" style="min-height: 800px">
			<img style="margin-top: 0;" src="images/explore/explore-study-abroad-gallery-01.jpg" alt="page-00-image-01"/>
			<img src="images/explore/explore-study-abroad-gallery-02.jpg" alt="page-00-image-02"/>
			<img src="images/explore/explore-study-abroad-gallery-03.jpg" alt="page-00-image-03"/>
			<img src="images/explore/explore-study-abroad-gallery-04.jpg" alt="page-00-image-04"/>
			<img src="images/explore/explore-study-abroad-gallery-05.jpg" alt="page-00-image-05"/>
		</figure>
	</div>
</article>
