<!-- FULL IMAGE PAGE -->
<article class="title-page chapter fullscreen" data-height="1000">
	<img src="images/explore/homepage-campus-north-1600-900.jpg" class="background" alt="homepage-campus-north-1600-900.jpg" />
	<header>
		<h4 class="category centered">
			Category label here here
		</h4>
		<h1 class="display">
			TITLE
		</h1>
		<p class="body intro">
			Lorem ipsum unum hereum lorum unum. Lorem ipsum unum hereum lorum unum. Lorem ipsum unum hereum lorum unum.
		</p>
		<h6 class="category centered">
			Somebody here
		</h6>
	</header>
</article>
