<!-- FULL IMAGE PAGE -->
<article id="explore-intro" class="title-page chapter fullscreen" data-height="800">
	<header id="explore-intro-wrapper" class="explore-cta-wrapper" style="height: 450px !important; z-index: 10000;">
		<div id="homepage-cta">
			<h1><a href="">Apply</a></h1>
			<h5 class="label reverse">Begin your Loyola Experience Today</h5>
		</div>
		<div class="explore-cta-button apply">
			<img src="images/homepage/homepage-arrow.png">
		</div>
		<p class="body display black reverse m-t-20">SCROLL TO LEARN MORE</p>
	</header>
</article>
