<article data-google="Summer">
			<div class="interior">
				<div class="column">
					<header>
						<h1>
							Headline here here
						</h1>
					</header>
					<div class="text">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
						<p class="footnotes">
							&#215; Label here<br />
							&#215; Location
						</p>
						<div class="numeral">
							N. 1
						</div>
					</div>
					<div class="extras">
						<a href="#" data-location="Portland" data-modal-id="pdx" data-year="2011"></a> <a href="#" data-camera="Minox" data-modal-id="minox" data-film="Minocolor 100"></a>
					</div>
				</div>
<!--column-->
				<figure style="min-height: 2700px">
					<img src="images/explore/small-images-01.jpg" alt="page-03-image-01" /> <img src="images/explore/small-images-02.jpg" alt="page-03-image-02" /> <img src="images/explore/small-images-03.jpg" alt="page-03-image-03" /> <img src="images/explore/small-images-04.jpg" alt="page-03-image-04" /> <img src="images/explore/small-images-05.jpg" alt="page-03-image-05" />
				</figure>
			</div>
<!--interior-->
		</article>
