<article id="explore-cost-value" class="title-page chapter fullscreen" data-height="800">
	<header id="explore-cost-value-wrapper" class="explore-cta-wrapper" style="height: 450px !important;">
		<div class="explore-cta">
			<h1>Focus on who you want to be not what</h1>
			<p class="body intro display reverse">You will be prepared for the future, learn how to solve life’s challenges and become a better citizen of the world. What could be more valuable than that? <a class="cta" href="">Learn more</a></p>
		</div>
	</header>
</article>
