<article id="explore-cost-value" class="title-page chapter fullscreen" data-height="800">
	<header id="explore-cost-value-wrapper" class="explore-cta-wrapper" style="height: 450px !important;">
		<div class="explore-cta">
			<h1>More than a degree</h1>
			<p class="body intro display reverse">Regardless of what path they choose, our students graduate with a global perspective, a strong sense of ethics, and the leadership skills to thrive. It’s all a part of a Jesuit education. <a class="cta" href="">Learn more</a></p>
		</div>
	</header>
</article>
