<!-- FULL IMAGE PAGE -->
<article id="explore-why-loyola" class="title-page chapter fullscreen" data-height="500">
	<header class="explore-cta-wrapper" style="height: 450px !important;">
		<div id="explore-why-loyola-wrapper" class="explore-cta">
			<h1>Why Loyola</h1>
			<p class="body intro display black reverse">A Loyola education means you’ll be transformed. Where does it begin? Is it on the quad? Or in the halls? Or by the lake? Is it on a trip to India? Or in the streets of Rome? Truth be told, it’s everywhere.
And it all starts from within. <a class="cta" href="">Learn more</a></p>
		</div>
	</header>
</article>
