<!-- FULL IMAGE PAGE -->

<style>
#explore-why-loyola:after,
#explore-social-justice:after,
#explore-academics-chicago:after,
#explore-study-abroad:after,
#explore-residential-life:after,
#explore-cost-value:after,
#explore-apply-visit-info:after {
    content: "";
    background: url('images/explore/explore-grid-dark-small.png') repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 1;
}
</style>

<article id="explore-why-loyola" class="title-page chapter fullscreen" data-height="500">
	<header id="explore-why-loyola-wrapper" class="explore-cta-wrapper" style="height: 450px !important;">
		<div class="explore-cta">
			<h1>Why Loyola?</h1>
		</div>
	</header>
</article>
