<article id="explore-residential-life" class="title-page chapter fullscreen" data-height="800">
	<header id="explore-residential-life-wrapper" class="explore-cta-wrapper" style="height: 450px !important;">
		<div class="explore-cta">
			<h1>Sunrises included</h1>
			<p class="body intro display black reverse">Grab hold of your college experience and don't let go. Create a new home where you'll be invited to live, learn and laugh in a community that celebrates your unique gifts. <a class="cta" href="">Learn more</a></p>
		</div>
	</header>
</article>
