<article data-google="XS-650">
			<div class="interior">
				<div class="column">
					<header>
						<h1>
							Label here
						</h1>
					</header>
					<div class="text">
						<div class="numeral">
							X. x
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus.
						</p>
						<p class="footnotes">
							&#215; Label here<br />
							&#215; Location
						</p>
					</div>
<!--text-->
				</div>
<!--column-->
				<div class="extras">
					<a href="#" data-location="Colorado" data-modal-id="colorado" data-year="2008"></a> <a href="#" data-camera="Horizon Perfekt" data-modal-id="horizon" data-film="Ilford 400"></a>
				</div>
				<figure class="panoramic" style="min-height: 1100px">
					<img src="images/explore/medium-images-01.jpg" alt="page-04-image-01" /> <img src="images/explore/medium-images-02.jpg" alt="page-04-image-02" /> <img src="images/explore/medium-images-03.jpg" alt="page-04-image-03" /> 
				</figure>
			</div>
<!--interior-->
		</article>
