<!-- CHICAGO PAGE -->
<article id="explore-academics-chicago" class="title-page chapter fullscreen" data-height="800">
	<header id="explore-academics-chicago-wrapper" class="explore-cta-wrapper" style="height: 450px !important;">
		<div class="explore-cta">
			<!-- <h4 class="reverse text-center uppercase">Welcome to Chicago otherwise known as campus</h4> -->
			<h1 class="display-large reverse">Chicago, our extended campus</h1>
			<h5 class="label"><a href="###">Lorem ipsum unum here lorem hereum <span>cta</span></a></h5>
		</div>
	</header>
</article>
