<!-- STUDY ABROAD PAGE -->
<article id="explore-study-abroad">
	<div class="interior">
		<div class="row">
			<div class="col-md-4">
			<div class="column">
				
				<div class="text">
					<div id="explore-study-abroad-wrapper" class="explore-cta">
						<h1 class="display-small reverse">The world is calling</h1>
						<h5 class="label reverse">Explore a new culture, and you'll likely return with a completely new perspective.</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<figure class="panoramic">
				<img style="margin-top: 0;" src="images/explore/explore-study-abroad-gallery-01.jpg" alt="page-00-image-01" />
				<img src="images/explore/explore-study-abroad-gallery-02.jpg" alt="page-00-image-02" />
				<img src="images/explore/explore-study-abroad-gallery-03.jpg" alt="page-00-image-03" />
				<img src="images/explore/explore-study-abroad-gallery-04.jpg" alt="page-00-image-04" />
				<img src="images/explore/explore-study-abroad-gallery-05.jpg" alt="page-00-image-05" />
			</figure>
		</div>
	</div>
	</div>
</article>
