<!-- FULL IMAGE PAGE -->
<article id="explore-intro" class="title-page chapter fullscreen" data-height="1000">
	<header id="explore-intro-wrapper" class="explore-cta-wrapper" style="height: 450px !important;">
		<div class="explore-cta">
			<h1>Explore</h1>
			<h5 class="label display reverse">Loyola University Chicago</h5>
		</div>
		<div class="explore-cta-button">
			<img src="images/homepage/homepage-arrow.png">
		</div>
		<p class="body display black reverse m-t-20">SCROLL TO VIEW</p>
	</header>
</article>
