<!-- CTA PAGE -->
<article id="explore-apply-visit-info" class="title-page chapter fullscreen" data-height="800">
	<header id="explore-apply-visit-info-wrapper" class="explore-cta-wrapper" style="height: 450px !important;">
		<div class="explore-cta">
			<div class="row m-t-30">
				<div class="col-md-8 col-md-offset-2">
					<a href="https://uao.luc.edu/apply/">
						<button>
							<h2>Apply Now</h2>
						</button>
					</a>
				</div>
			</div>
			<div class="row m-t-30">
				<div class="col-md-8 col-md-offset-2">
					<a href="http://www.luc.edu/undergrad_work/comevisit/">
						<button>
							<h2>Come visit</h2>
						</button>
					</a>
				</div>
			</div>
			<div class="row m-t-30">
				<div class="col-md-8 col-md-offset-2">
					<a href="https://uao.luc.edu/register/?id=09e1ac8b-c620-43cc-afe7-325cad54eec2">
						<button>
							<h2>Get info</h2>
						</button>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="margin-top: 50px;">
				<h2 class="display-small text-center">Learn more about</h2>
				<h5 class="label text-center">
					<a href="http://luc.edu/undergrad_work/valueofajesuiteducation/overview/">
						Social justice and service
					</a>
					<span class="bullet">&#8226;</span>
					<a href="http://www.luc.edu/undergrad_work/featurecontent/canvases/loyolaandchicago/">
						The city of Chicago
					</a>
				</h5>
				<h5 class="label text-center">
					<a href="http://www.luc.edu/undergrad_work/featurecontent/canvases/studyabroad/">
						Studying abroad
					</a>
					<span class="bullet">&#8226;</span>
					<a href="http://www.luc.edu/undergrad_work/featurecontent/canvases/residencelife/">
						Living on campus</a>
					</h5>
			</div>
		</div>
	</header>
</article>
