		<article class="title-page credits" data-google="Credits">
			<header>
				<p>
					ISSUE ONE<br />
					Winter MMXI
				</p>
				<h1>
					VOYAGER
				</h1>
				<p>
					AUTHOR<br />
					<a href="http://www.iancoyle.com">Ian Coyle</a> / <a href="mailto:icoyle@iancoyle.com">Inquires</a> 
				</p>
				<p>
					ABOUT ISSUE ONE<br />
					This inaugural issue is a personal retrospective<br />
					on the ideas of exploration and home. 
				</p>
				<p>
					NEXT ISSUE:<br />
					Spring MMXII 
				</p>
				<p>
					FOLLOW<br />
					Via <a href="http://vimeo.com/channels/editsquarterly" data-target="_blank">Vimeo</a> or <a href="http://twitter.com/editsquarterly" data-target="_blank">Twitter</a> 
				</p>
			</header>
			<hgroup>
				<h2>
					&diams;
				</h2>
				<h3>
					&clubs;
				</h3>
				<h4>
					&spades;
				</h4>
				<h5>
					&hearts;
				</h5>
			</hgroup>
		</article>