<!-- COVER PAGE -->
<article id="parallax-opener" class="title-page chapter fullscreen" data-height="1150">
	<img src="images/homepage/homepage-campus-north-1600-900.jpg" class="background" alt="homepage-campus-north-1600-900.jpg" />
	<header class="parallax-cta-wrapper" style="height: 450px !important;"><!-- main-content -->
		<div id="parallax-cta">
			<h1>Explore</h1>
			<h5 class="label reverse">Loyola University Chicago</h5>
		</div>
		<div id="parallax-cta-button">
			<img src="images/homepage/homepage-arrow.png">
		</div>
	</header>
</article>
