<!-- ug-nav-fixed -->
<nav class="container-fluid" id="ug-nav">
	<div class="container">
		<div class="row">
			<div id="navbar">
				<!-- build:headernav -->
				<ul id="nav" class="nav navbar-nav" role="navigation">
					<li><a href="">Freshman</a></li>
					<li><a href="">Transfer</a></li>
					<li><a href="">International</a></li>
					<li><a href="">Other<span class="hidden-md"> applicants</span></a>
				</ul>
				<!-- endbuild -->
			</div>
		</div>
	</div>
	<div class="ug-global-nav-wrapper ug-global-nav-wrapper-desktop">
		<a class="ug-global-search">
			<div class="glyphicon glyphicon-search search-open" id="search-icon"></div>
		</a>
		<a class="ug-global-nav">
			<div class="glyphicon glyphicon-menu-hamburger menu-open" id="menu-icon"></div>
		</a>
	</div>
</nav>
<div id="hidden-menu">
	<div class="ug-global-nav-wrapper ug-global-nav-wrapper-desktop">
		<a class="ug-global-search">
			<div class="glyphicon glyphicon-search search-open"></div>
		</a>
		<a class="ug-global-nav">
			<div class="glyphicon glyphicon-menu-hamburger side-menu-open"></div>
		</a>
	</div>
</div>
<div class="container-fluid" id="ug-explore">
	<div class="container">
		<div class="row">
			<div id="navbar">
				<ul id="nav" class="nav navbar-nav" role="navigation">
					<li><a href="/about_loyola.shtml">Explore</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
