<!-- panel - quote overlay -->
	<div class="quote container-fluid">
		<div class="row">
				<div class="container canvas-content blockquote-spacing">
					<div class="col-md-2 bigquote-left">
						<img src="images/site/blockquote-L.png">
					</div>
					<div class="col-md-8">
						<blockquote>
							<p>
								<span class="small-quote">&ldquo;</span>“It was everything that an undergraduate experience should be. It helped me understand who I was as a person and how I fit into the broader world.”
<span class="small-quote">&rdquo;</span>
							</p>
						<cite>— Daniel Patton (BA ’09)</cite>
						</blockquote>
					</div>
					<!-- <div class="blockquote-right"> -->
					<div class="col-md-2 bigquote-right">
						<img src="images/site/blockquote-R.png">
					</div>
				</div>
			</div>
	</div>
