<!-- panel - canvas-intro -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content p-b-30">
		<div class="col-md-12">
				<h1 class="display">Where do you <br>
					want to go?</h1>
				<p class="body intro">Discover the person you were meant to be. A Loyola education means you'll be an ethical leader with personal integrity. Your degree also gives you a competitive advantage in pursuing your career choices. And we'ill help you plan for graduating in four years, saving you time and money.</p>
				<h2 class="label m-b-30 m-t-30 p-t-20 p-l-15">Alumni stories</h2>
					<div class="row">
						<div class="col-md-4 table-content">
							<img src="images/outcomes/outcomes-mendoza.jpg"/>
							<h5 class="label">Clarisse Mendoza</h5>
								<p class="explainer">(JFRC Spring ’05, BA ’06)</p>
								<p class="explainer">Principal of Tindley Renaissance Academy</p>
								<p class="body">“People say at the end of the day it is just a job. But in keeping with my Jesuit upbringing, this is my calling. This is my vocation. And I couldn’t imagine myself doing anything else.”</p>
							<div class="vertical-rule-left"></div>
						</div>
						<div class="col-md-4 table-content">
							<div class="vertical-rule-right"></div>
							<img src="images/outcomes/outcomes-whittingham.jpg"/>
							<h5 class="label">Charles (Chuck) Whittingham</h5>
								<p class="explainer">(BS ’51)</p>
								<p class="explainer">Former publisher of LIFE magazine</p>
								<p class="body">“[R]eally the education you receive here and for which your parents have sacrificed will be your real treasure. It will be with you all your life wherever you go and whatever you may do.”</p>
							<div class="vertical-rule-left"></div>
						</div>
						<div class="col-md-4 table-content">
							<div class="vertical-rule-right"></div>
							<img src="http://placehold.it/1000x560"/>
							<h5 class="label">Susan Candiotti</h5>
								<p class="explainer">(BA ’76)</p>
								<p class="explainer">National correspondent for CNN</p>
								<p class="body">“Loyola helped instill a sense of the world around me and helped me see how each one of us can make a difference.”</p>
						</div>
					</div>
		</div>
	</div>
</div>
