<!-- panel - canvas-intro -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h1 class="display">Where do you want to go?</h1>
			<p class="body intro">Discover the person you were meant to be. A Loyola education means you'll be an ethical leader with personal integrity. Your degree also gives you a competitive advantage in pursuing your career choices. And we'ill help you plan for graduating in four years, saving you time and money.</p>
		</div>
	</div>
</div>
