<!-- panel - canvas-image-overlay-partial -->
<div id="outcomes-story-1" class="container-fluid canvas-base fullbleed">
	<div class="partial-overlay">
		<div class="container">
			<div class="bg-overlay col-lg-4 col-sm-6 offset-lg-4">
				<div class="canvas-content">
					<h3>Leading the (water) way</h3>
					<p class="body">
						Before graduating in 2009, George McGraw accidentally discovered his life’s mission: Making clean water a basic human right.</p>
				</div>
				<div><a href="###"><button type="submit" class="btn-overlay cta" href="http://www.luc.edu/loyolamagazine/almamatters/extraordinaryalumni/archive/georgemcgraw.shtml">Read More</button></a></div>
			</div>
		</div>
	</div>
</div>
