<!-- panel - canvas-intro -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content p-b-30">
		<div class="col-md-12">
				<h1 class="display">Where do you <br>
					want to go?</h1>
				<p class="body intro">Discover the person you were meant to be. A Loyola education means you'll be an ethical leader with personal integrity. Your degree also gives you a competitive advantage in pursuing your career choices. And we'ill help you plan for graduating in four years, saving you time and money.</p>
				<h2 class="label m-b-30 m-t-30 p-t-20 p-l-15">Alumni stories</h2>
					<div class="row">
						<div class="col-md-4 table-content">
							<img src="images/outcomes/outcomes-mendoza.jpg"/>
							<h5 class="label">Clarisse Mendoza</h5>
								<p class="explainer">(JFRC Spring ’05, BA ’06)</p>
								<p class="explainer">Principal of Tindley Renaissance Academy</p>
								<p class="body">“People say at the end of the day it is just a job. But in keeping with my Jesuit upbringing, this is my calling. This is my vocation. And I couldn’t imagine myself doing anything else.”</p>
							<div class="vertical-rule-left"></div>
						</div>
						<div class="col-md-4 table-content">
							<div class="vertical-rule-right"></div>
							<img src="images/outcomes/outcomes-patton.jpg"/>
							<h5 class="label">Steven McCullough</h5>
								<p class="explainer">(BBA ’89)</p>
								<p class="explainer">COO of Communities in Schools National Office</p>
								<p class="body">“My experience at Loyola has been foundational. I had really good mentors and friends that I still refer to as friends today.”</p>
							<div class="vertical-rule-left"></div>
						</div>
						<div class="col-md-4 table-content">
							<div class="vertical-rule-right"></div>
							<img src="images/outcomes/outcomes-patton.jpg"/>
							<h5 class="label">Candace Musick</h5>
								<p class="explainer">(BSW ’08, MSW ’09)</p>
								<p class="explainer">Youth development manager at The Night Ministry</p>
								<p class="body">“My first semester, I had Social Work 101. I remember after my first class going home and saying ‘This is it. This is what I need to do.”</p>
						</div>
					</div>
		</div>
	</div>
</div>
