<!-- panel - canvas-image-overlay-partial -->
<div id="outcomes-story-2" class="container-fluid canvas-base fullbleed">
	<div class="partial-overlay">
		<div class="container">
			<div class="bg-overlay col-lg-4 col-sm-6">
				<div class="canvas-content">
					<h3>Interning in history</h3>
					<p class="body">
						Michelle King talks about her time at Chicago’s Field Museum in Chicago and Washington’s Smithsonian National Air and Space Museum.</p>
				</div>
				<div><a href="###"><button type="submit" class="btn-overlay cta" href="http://www.luc.edu/loyolamagazine/stories/features/archive/internmichelleking.shtml">Read More</button></a></div>
			</div>
		</div>
	</div>
</div>
