<!-- panel - canvas-4-col-numbers -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content p-t-0">
		<div class="col-md-12 p-t-30">
			<!-- <h5 class="label m-b-20">Canvas panel headline here</h5> -->
		<div class="number col-sm-3 table-content">
			<h1 class="display number first-number">98<span style="font-size:0.7em">%</span></h1>
			<p class="body small">Graduates who are employed or pursuing graduate or professional schools within three months of graduation</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-3 table-content">
			<div class="vertical-rule-right"></div>
			<h1 class="display number">88<span style="font-size:0.7em">%</span></h1>
			<p class="body small">Graduates employed within three months</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-3 table-content">
		<div class="vertical-rule-right"></div>
			<h1 class="display number">525<span style="font-size:0.7em">+</span></h1>
			<p class="body small">Employers hired Loyola students for academic internships</p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-3 table-content">
		<div class="vertical-rule-right"></div>
			<h1 class="display number">44<span style="font-size:0.7em">%</span></h1>
			<p class="body small">Loyola graduates were employed before graduation</p>
		</div>
	</div>
</div>
