<!--icon-->
<div class="aside-icon">
  <div class="aside-image-panel icon-image ">
    <div class="col-md-3 number">
      <img src="images/sidebars/icon-book.png" />
    <h1 class="number display">00,000</h1>
    <p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="cta"> Read more</a></p>
  </div>
</div>
</div>

<!--number-->
  <div class="aside-number number table-content">
      <h1 class="number display">00,000</h1>
      <p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="cta"> Read more</a></p>
    </div>
