<!-- panel - canvas-2-col-numbers -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="rule-bottom col-md-12">
			<h5 class="label display-large">Our Freshman</h5>
			<div class="col-sm-6">
				<h1 class="display m-t-0 m-b-0" style="line-height: 1;"><span style="color: teal;">2,622</span> enrolled</h1>
				<span class="number read-out" style="color: #272727;">from 44 states and 57 foreign countries</span>
			</div>
			<div class="col-md-6">
				<div class="vertical-rule-right"></div>
				<h5 class="rule-bottom m-b-10 p-b-10"><span class="number read-out">3.74</span> average GPA</h5>
				<h5 class="rule-bottom m-b-10 p-b-10"><span class="number read-out">98%</span> received need-based financial assistance</span> </h5>
				<h5 class="rule-bottom m-b-10 p-b-10"><span class="number read-out">97%</span> received institutional grants and scholarships</h5>
				<p class="body explainer m-b-0">* 2016</p>
			</div>
		</div>
		<div class="col-md-12">
			<h1 class="display d-inline" style="line-height: 1;"><span style="color: teal;">$27,250</span></h1>
			<span class="number read-out" style="color: #272727;">average financial aid package</span>
		</div>
	</div>
</div>
