<!-- panel - canvas-intro -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h1 class="display">Facts at a glace</h1>
			<p class="body intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus pulvinar dolor, et volutpat purus faucibus in. Pellentesque malesuada, dolor vitae cursus porta, eros sapien bibendum orci, a facilisis leo nibh nec est.</p>
			@@include('./canvas-spacer.html') <!-- spacer -->
			<div class="row">
				<div class="col-md-2">
					<img src="images/glance/outcomes-mendoza.jpg"/>
				</div>
				<div class="col-md-10">
					<p class="body"><span class="drop-cap">Lorem ipsum unum hereum lorem</span></p>
				</div>
			</div>
		</div>
	</div>
</div>
