<!-- panel - canvas-image-overlay -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12 rule-bottom">
			<h5 class="label display-large">Our students</h5>
			<div class="col-sm-6">
				<h1 class="display m-t-0" style="line-height: 1;">16,673 enrolled in 2017</h1>
				<p class="body explainer m-b-0">* Including 11,420 undergraduates</p>
			</div>
			<div class="col-md-6">
				<div class="vertical-rule-right"></div>
				<h5 class="rule-bottom m-b-10 p-b-10"><span class="number read-out">39%</span> of our student body are students of color*</h5>
				<h5 class="rule-bottom m-b-10 p-b-10"><span class="number read-out">200+</span> student clubs and organizations</h5>
				<h5 class="rule-bottom m-b-10 p-b-10"><span class="number read-out">MORE THAN 30%</span> of our students study abroad</span> </h5>
				<h5 class="rule-bottom m-b-10 p-b-10"><span class="number read-out">MORE THAN 20%</span> spiritual and service clubs on campus</h5>
				<p class="body explainer m-b-0">* Approximate</p>
			</div>
		</div>
	</div>
</div>
