<!-- panel - canvas-image-overlay -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label display-large">Our students</h5>
			<div class="number col-sm-4 table-content">
				<h1 class="display number m-t-0" style="line-height: 1;">16,673</h1>
				<p class="body m-b-0">Total enrollment in 2017</p>
			</div>
			<div class="number col-sm-4 table-content">
				<img class="third-slide img-responsive" src="http://placehold.it/500x280.jpg">
				<p class="body m-b-0">50 states are represented in our student body</p>
				<div class="vertical-rule-right"></div>
			</div>
			<div class="number col-sm-4 table-content">
				<h1 class="display number m-t-0" style="line-height: 1;">16,673</h1>
				<p class="body m-b-0">Total enrollment in 2017</p>
			</div>
		</div>
	</div>
</div>
