<!-- panel - canvas-2-col-numbers -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label display-large">Our Faculty</h5>
			<div class="col-sm-6">
				<h1 class="display m-t-0 m-b-0" style="line-height: 1;"><span style="color: teal;">14:1</span></h1>
				<span class="number read-out" style="color: #272727;">student-faculty ratio</span>
			</div>
			<div class="col-sm-6">
				<div class="vertical-rule-right"></div>
				<h1 class="display m-t-0 m-b-0" style="line-height: 1;"><span style="color: teal;">600+</span></h1>
				<span class="number read-out" style="color: #272727;">full-time faculty members</span>
			</div>
		</div>
	</div>
</div>
