<!-- panel - canvas-image-overlay -->
<div id="cost-tuition" class="container-fluid" style="background: #272727; padding: 50px 0;">
	<div class="container canvas-content">
		<div class="col-md-12">
      <h5 class="label display-large reverse">Label here here</h5>
			<div class="col-md-3 table-content">
				<p class="body cost reverse">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus pulvinar dolor, et volutpat purus faucibus in. Pellentesque malesuada, dolor vitae cursus porta.</p>
			</div>
			<div class="col-md-4 table-content">
				<div class="bottom-line vertical-rule-right"></div>
				<div class="col-sm-12">
					<h1 class="award">$27,250</h1>
					<h4 class="average">Average award</h4>
					<p class="body footnote">Lorem ipsum footnote here and here. More lorem and lorem ipsum notes.</p> <p class="body footnote">NOTE: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
		  </div>
    </div>
	</div>
</div>
