<!-- panel - canvas-image-overlay -->
<div id="cost-tuition" class="container-fluid" style="background: #272727; padding: 50px 0;">
	<div class="container canvas-content">
		<div class="col-md-12">
      <h5 class="label display-large reverse">Label here here</h5>
			<div class="col-md-3 table-content">
				<p class="body cost reverse">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus pulvinar dolor, et volutpat purus faucibus in. Pellentesque malesuada, dolor vitae cursus porta.</p>
			</div>
			<div class="col-md-4 table-content">
				<div class="vertical-rule-right"></div>
				<div class="col-sm-12">
					<div class="col-md-8">
						<img class="majors" src="http://placehold.it/300x380"/>
					</div>
					<div class="col-md-4 p-l-0">
						<h1 class="display-large reverse">+</span>
						<h6 class="category reverse">Lorem ipsum footnote here and here. More lorem and lorem ipsum notes.</h6>
					</div>
				</div>
			</div>
    </div>
	</div>
</div>
