<!-- panel - canvas-intro -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h1 class="display">Facts at a glance</h1>
			<p class="body intro"></p>
			@@include('./canvas-spacer.html') <!-- spacer -->
				<div class="col-md-12 p-l-0 p-r-0">
					<h3 class="d-inline">Top university</h3><p class="body antenna-light uppercase d-inline p-l-10">Lorem ipsum unum hereum lorem</p>
					<div class="spacer-category p-l-0 p-r-0"></div>
				</div>
				<div class="col-md-12 p-l-0 p-r-0">
					<h3 class="d-inline">Top 40 MBA program</h3><p class="body antenna-light uppercase d-inline p-l-10">Quinlan School of Business</p>
					<div class="spacer-category p-l-0 p-r-0"></div>
				</div>
				<div class="col-md-12 p-l-0 p-r-0">
					<h3 class="d-inline">Phi Beta Kappa</h3><p class="body antenna-light uppercase d-inline p-l-10">One of only 8% of U.S. colleges and universities with a chapter</p>
					<div class="spacer-category p-l-0 p-r-0"></div>
				</div>
				<div class="col-md-12 p-l-0 p-r-0">
					<h3 class="d-inline">Carnegie Foundation</h3><p class="body antenna-light uppercase d-inline p-l-10">Recognized for community service and engagement</p>
					<div class="spacer-category p-l-0 p-r-0"></div>
				</div>
				<div class="col-md-12 p-l-0 p-r-0">
					<h3 class="d-inline">Sierra Club</h3><p class="body antenna-light uppercase d-inline p-l-10">7th Greenest College ("Cool Schools") in U.S.</p>
					<div class="spacer-category p-l-0 p-r-0"></div>
				</div>
		</div>
	</div>
</div>
