<!-- panel - canvas-map -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label display-large">Our Academic programs</h5>
      <p class="body intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit.</p>
    </div>
    <div class="col-md-12 m-t-10 m-b-10">
      <img src="images/glance/campus-map-full.jpg"/>
    </div>
		<div class="col-md-12">
      <ul class="ug-map-key m-t-0 m-l-0">
				<div class="col-md-3">
        	<li><span class="circle">1</span>School name here</li>
        	<li><span class="circle">2</span>School name here</li>
					<li><span class="circle">3</span>School name here</li>
				</div>
				<div class="col-md-3">
        	<li><span class="circle">4</span>School name here</li>
        	<li><span class="circle">5</span>School name here</li>
					<li><span class="circle">6</span>School name here</li>
				</div>
				<div class="col-md-3">
        	<li><span class="circle">7</span>School name here</li>
        	<li><span class="circle">8</span>School name here</li>
					<li><span class="circle">9</span>School name here</li>
				</div>
				<div class="col-md-3">
        	<li><span class="circle">10</span>School name here</li>
        	<li><span class="circle">11</span>School name here</li>
					<li><span class="circle">12</span>School name here</li>
				</div>
      </ul>
		</div>
  </div>
</div>
