</div>
<!-- build:aside -->
<div id="ug-tips" class="learn">
  <h3 class="standalone">This is a question that lorem herum lorem</h3>
  <div class="col-md-1">
    <div class="ug-tips-icon">
      <img src="images/icons/book.png" />
    </div>
    <p class="ug-tips-label recommend">Likely to recommend…</p>
    <p class="ug-tips-label list">The List</p>
    <p class="ug-tips-label learn">The Learning Curve</p>
  </div>
  <div class="col-md-11 ug-tips-list">
    <ul class="ug-tips-columns">
      <li class='col-sm-2'><span class='col-sm-2 circle-wrapper'><span class='circle'>1</span></span>
        <p>LI 1 THIS IS THE ANSWER Lorem ipsum sit amet, consectetur adipiscing elit lorem hereum lorem hereum. Lorem ipsum sit amet, consectetur adipiscing elit lorem hereum lorem hereum.</p> <a class='cta' href='###'><span></span></a></li>
    </ul>
  </div>
</div>
<div id="ug-tips" class="recommend">
  <h3 class="standalone">This is a headline for the five tips</h3>
  <div class="col-md-1">
    <div class="ug-tips-icon">
      <img src="images/icons/book.png" />
    </div>
    <p class="ug-tips-label recommend">Likely to recommend</p>
    <p class="ug-tips-label list">The List</p>
    <p class="ug-tips-label learn">The Learning Curve</p>
  </div>
  <div class="col-md-11 ug-tips-list">
    <ul class="ug-tips-columns">
      <li class='col-sm-2'><span class='col-sm-2 circle-wrapper'><span class='circle'>1</span></span>
        <p>LI 1&nbsp;Lorem ipsum sit amet, consectetur adipiscing elit lorem hereum lorem hereum.&nbsp;</p><a class='cta' href='###'><span></span></a></li>
      <li class='col-sm-2'><span class='col-sm-2 circle-wrapper'><span class='circle'>2</span></span>
        <p>LI 2&nbsp;Lorem ipsum sit amet, consectetur adipiscing elit lorem hereum lorem hereum.&nbsp;</p><a class='cta' href='###'><span></span></a></li>
      <li class='col-sm-2'><span class='col-sm-2 circle-wrapper'><span class='circle'>3</span></span>
        <p>LI 3&nbsp;Lorem ipsum sit amet, consectetur adipiscing elit lorem hereum lorem hereum.&nbsp;</p> <a class='cta' href='###'><span></span></a></li>
      <li class='col-sm-2'><span class='col-sm-2 circle-wrapper'><span class='circle'>3</span></span>
        <p>LI 3&nbsp;Lorem ipsum sit amet, consectetur adipiscing elit lorem hereum lorem hereum.&nbsp;</p> <a class='cta' href='###'><span></span></a></li>
      <li class='col-sm-2'><span class='col-sm-2 circle-wrapper'><span class='circle'>5</span></span>
        <p>LI 5&nbsp;Lorem ipsum sit amet, consectetur adipiscing elit lorem hereum lorem hereum.&nbsp;</p> <a class='cta' href='###'><span></span></a></li>
    </ul>
  </div>
</div>
<div id="ug-tips" class="list">
  <h3 class="standalone">List</h3>
  <div class="col-md-1">
    <div class="ug-tips-icon">
    <img src="images/icons/book.png" />
    </div>
    <p class="ug-tips-label recommend">Likely to recommend…</p>
    <p class="ug-tips-label list">The List</p>
    <p class="ug-tips-label learn">The Learning Curve</p>
  </div>
  <div class="col-md-11 ug-tips-list">
    <ul class="ug-tips-columns">
      <li class='col-sm-2'><span class='col-sm-2 circle-wrapper'><span class='circle'>1</span></span>
        <p>LI 1&nbsp;Lorem ipsum sit amet, consectetur adipiscing elit lorem adipiscing elit lorem.&nbsp;</p><a class='cta' href='###'><span></span></a></li>
      <li class='col-sm-2'><span class='col-sm-2 circle-wrapper'><span class='circle'>2</span></span>
        <p>LI 2&nbsp;Lorem ipsum sit amet, consectetur adipiscing elit lorem.&nbsp;</p><a class='cta' href='###'><span></span></a></li>
      <li class='col-sm-2'><span class='col-sm-2 circle-wrapper'><span class='circle'>3</span></span>
        <p>LI 3&nbsp;Lorem ipsum sit amet, consectetur adipiscing elit loremadipiscing elit lorem ipsum.&nbsp;</p> <a class='cta' href='###'><span></span></a></li>
      <li class='col-sm-2'><span class='col-sm-2 circle-wrapper'><span class='circle'>3</span></span>
        <p>LI 3&nbsp;Lorem ipsum sit amet, consectetur adipiscing elit lorem adipiscing elit lorem.&nbsp;</p> <a class='cta' href='###'><span></span></a></li>
      <li class='col-sm-2'><span class='col-sm-2 circle-wrapper'><span class='circle'>5</span></span>
        <p>LI 5&nbsp;Lorem ipsum sit amet, consectetur adipiscing elit lorem.&nbsp;</p> <a class='cta' href='###'><span></span></a></li>
    </ul>
  </div>
</div>
<!-- endbuild -->
</div>
</div>
</div>
<!-- rightColumn - aside -->
<div id="rightColumn" class="col-md-3 col-md-height col-lg-height">
  <div class="inside inside-full-height">
    <div id="interior-wrapper-right" class="col-md-12">
      @@include('./ug-lede-caption.html')
      <!-- build:rightcolumn -->
      @@include('./ug-sidebars/quotes/sidebar-quote.html')
      @@include('./ug-sidebars/numbers/sidebar-numbers.html')
      <!-- endbuild -->
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- interior-wrapper close -->
</div>
<!-- main-content -->
