<div id="interior-wrapper-right" class="col-md-12">
  <!-- build:ledecaption -->
  <div class="aside-caption">
    <p class="explainer">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus.
    </p>
  </div>
  <!-- endbuild -->
  <!-- build:rightcolumn -->
  <div class="aside-image">
    <div class="aside-image-panel">
      <div class="col-md-3"><img src="images/ug-profile.png" /></div>
    </div>
  </div>
  <div class="aside-quote">
    <blockquote>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.
    </blockquote>
    <cite>
              <p class="body">Sombody Namehere, Junior</p>
              <p class="explainer">Title Herehere</p>
            </cite>
  </div>
  <!-- endbuild -->
</div>
